<div class="content column-10">
  <div class="dashboard-header">
    <h1 class="h3 page-title">Email Notifications</h1>
  </div>
  <form name="emailSettings" autocomplete="off">
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <div class="form-group">
      <label for="platHost">Platform Host</label>
      <input id="platHost"
             type="text"
             class="form-control"
             name="platHost"
             ng-attr-placeholder="{{$ctrl.platformBuffer.publicSettings.platformHost ?
               $ctrl.platformBuffer.publicSettings.platformHost : 'app.rasterfoundry.com'}}"
             ng-model="$ctrl.platformBuffer.publicSettings.platformHost"
             required>
      <span class="error color-danger" ng-show="emailSettings.platHost.$error.required">required</span>
    </div>
    <div class="form-group">
      <label for="smtpUserName">SMTP User Name</label>
      <input id="smtpUserName"
             type="text"
             class="form-control"
             name="smtpUserName"
             ng-attr-placeholder="{{$ctrl.platformBuffer.publicSettings.emailSmtpUserName.length ?
               $ctrl.platformBuffer.publicSettings.emailSmtpUserName : 'user@example.com'}}"
             ng-model="$ctrl.platformBuffer.publicSettings.emailSmtpUserName"
             required>
      <span class="error color-danger" ng-show="emailSettings.smtpUserName.$error.required">required</span>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password"
             type="password"
             class="form-control"
             name="password"
             placeholder="******"
             ng-model="$ctrl.platformBuffer.privateSettings.emailPassword"
             required>
      <span class="error color-danger" ng-show="emailSettings.password.$error.required">required</span>
    </div>
    <div class="form-group">
      <label for="emailfrom">From Field Email Address</label>
      <input id="emailfrom"
             type="email"
             class="form-control"
             name="emailfrom"
             ng-attr-placeholder="{{$ctrl.platformBuffer.publicSettings.emailFrom ?
                 $ctrl.platformBuffer.publicSettings.emailFrom : 'noreply@example.com'}}"
             ng-model="$ctrl.platformBuffer.publicSettings.emailFrom"
             required>
      <span class="error color-danger" ng-show="emailSettings.emailfrom.$error.required">required</span>
      <span class="error color-danger" ng-show="emailSettings.emailfrom.$error.email">invalid email</span>
    </div>
    <div class="form-group">
      <label for="emailFromDisplayName">From Field Display Name</label>
      <input id="emailFromDisplayName"
             type="string"
             class="form-control"
             name="emailFromDisplayName"
             ng-attr-placeholder="{{$ctrl.platformBuffer.publicSettings.emailFromDisplayName ?
                 $ctrl.platformBuffer.publicSettings.emailFromDisplayName : $ctrl.appName}}"
             ng-model="$ctrl.platformBuffer.publicSettings.emailFromDisplayName"
             required>
      <span class="error color-danger" ng-show="emailSettings.emailFromDisplayName.$error.required">required</span>
    </div>
    <div class="form-group">
      <label for="emailSupport">Support Email Address</label>
      <input id="emailSupport"
             type="email"
             class="form-control"
             name="emailSupport"
             ng-attr-placeholder="{{$ctrl.platformBuffer.publicSettings.emailSupport ?
                 $ctrl.platformBuffer.publicSettings.emailSupport : 'support@example.com'}}"
             ng-model="$ctrl.platformBuffer.publicSettings.emailSupport"
             required>
      <span class="error color-danger" ng-show="emailSettings.emailSupport.$error.required">required</span>
      <span class="error color-danger" ng-show="emailSettings.emailSupport.$error.email">invalid email</span>
    </div>
    <div class="form-group">
      <label for="smtpHost">SMTP Host</label>
      <input id="smtpHost"
             type="text"
             class="form-control"
             name="smtpHost"
             ng-attr-placeholder="{{$ctrl.platformBuffer.publicSettings.emailSmtpHost.length ?
               $ctrl.platformBuffer.publicSettings.emailSmtpHost : 'smtp.example.com'}}"
             ng-model="$ctrl.platformBuffer.publicSettings.emailSmtpHost"
             required>
     <span class="error color-danger" ng-show="emailSettings.smtpHost.$error.required">required</span>
    </div>
    <div class="form-group">
      <label for="port">SMTP Port</label>
      <input id="port"
             type="number"
             step="1"
             class="form-control"
             name="port"
             ng-attr-placeholder="{{$ctrl.platformBuffer.publicSettings.emailSmtpPort ?
               $ctrl.platformBuffer.publicSettings.emailSmtpPort : 465}}"
             ng-model="$ctrl.platformBuffer.publicSettings.emailSmtpPort"
             required>
     <span class="error color-danger" ng-show="emailSettings.port.$error.required">required</span>
    </div>
    <div class="form-group">
      <div class="label">SMTP Encryption Method</div>
        <rf-toggle radio="true"
                   value="$ctrl.platformBuffer.publicSettings.emailSmtpEncryption === 'ssl'"
                   on-change="$ctrl.setEncryptionMethod('ssl')"
                   class="encryption-toggle">
        <span>SSL</span>
        </rf-toggle>
        <rf-toggle radio="true"
                   value="$ctrl.platformBuffer.publicSettings.emailSmtpEncryption === 'tls'"
                   on-change="$ctrl.setEncryptionMethod('tls')"
                   class="encryption-toggle">
        <span>TLS</span>
        </rf-toggle>
        <rf-toggle radio="true"
                   value="$ctrl.platformBuffer.publicSettings.emailSmtpEncryption === 'starttls'"
                   on-change="$ctrl.setEncryptionMethod('starttls')"
                   class="encryption-toggle">
        <span>STARTTLS</span>
        </rf-toggle>
    </div>
    <div class="form-group">
      <div class="label">Subscriptions</div>
      <rf-toggle value="$ctrl.platformBuffer.publicSettings.emailIngestNotification"
                 on-change="$ctrl.onToggleChange('ingest')"
                 class="subscription-toggle">
        <span>Ingest Status</span>
      </rf-toggle>
      <rf-toggle value="$ctrl.platformBuffer.publicSettings.emailAoiNotification"
                 on-change="$ctrl.onToggleChange('aoi')"
                 class="subscription-toggle">
        <span>AOI Update</span>
      </rf-toggle>
      <rf-toggle value="$ctrl.platformBuffer.publicSettings.emailExportNotification"
                 on-change="$ctrl.onToggleChange('export')"
                 class="subscription-toggle">
        <span>Scene Export Status</span>
      </rf-toggle>
      <button type="button"
              class="btn btn-primary pull-right"
              ng-class="{'btn-danger': $ctrl.error }"
              ng-click="$ctrl.onSubmit()"
              ng-disabled="
                emailSettings.platHost.$error.required ||
                emailSettings.smtpUserName.$error.required ||
                emailSettings.password.$error.required ||
                emailSettings.emailfrom.$error.required ||
                emailSettings.emailfrom.$error.email ||
                emailSettings.emailFromDisplayName.$error.required ||
                emailSettings.emailSupport.$error.required ||
                emailSettings.emailSupport.$error.email ||
                emailSettings.smtpHost.$error.required ||
                emailSettings.port.$error.required">
        {{$ctrl.getButtonText()}}
      </button>
    </div>
  </form>
</div>
