<div class="content column-10">
  <div class="dashboard-header">
    <h1 class="h3 page-title">Email Notifications</h1>
  </div>
  <form name="emailSettings" autocomplete="off">
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <div class="form-group">
      <label for="plat-host">Platform Host</label>
      <input id="plat-host"
             type="text"
             class="form-control"
             name="platHost"
             ng-attr-placeholder="{{$ctrl.platformBuffer.publicSettings.platformHost ?
               $ctrl.platformBuffer.publicSettings.platformHost : 'app.rasterfoundry.com'}}"
             ng-model="$ctrl.platformBuffer.publicSettings.platformHost"
             required>
    </div>
    <div class="form-group">
      <label for="name">User Name</label>
      <input id="name"
             type="email"
             class="form-control"
             name="email"
             ng-attr-placeholder="{{$ctrl.platformBuffer.publicSettings.emailUser.length ?
               $ctrl.platformBuffer.publicSettings.emailUser : 'user@example.com'}}"
             ng-model="$ctrl.platformBuffer.publicSettings.emailUser"
             required>
      <span class="error color-danger" ng-show="emailSettings.email.$error.required">required</span>
      <span class="error color-danger" ng-show="emailSettings.email.$error.email">invalid email</span>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password"
             type="password"
             class="form-control"
             name="password"
             placeholder="******"
             ng-model="$ctrl.platformBuffer.privateSettings.emailPassword"
             required>
      <span class="error color-danger" ng-show="emailSettings.password.$error.required">required</span>
    </div>
    <div class="form-group">
      <label for="smtp">SMTP Host</label>
      <input id="smtp"
             type="text"
             class="form-control"
             name="smtp"
             ng-attr-placeholder="{{$ctrl.platformBuffer.publicSettings.emailSmtpHost.length ?
               $ctrl.platformBuffer.publicSettings.emailSmtpHost : 'smtp.example.com'}}"
             ng-model="$ctrl.platformBuffer.publicSettings.emailSmtpHost"
             required>
     <span class="error color-danger" ng-show="emailSettings.smtp.$error.required">required</span>
    </div>
    <div class="form-group">
      <label for="port">SMTP Port</label>
      <input id="port"
             type="number"
             step="1"
             class="form-control"
             name="port"
             ng-attr-placeholder="{{$ctrl.platformBuffer.publicSettings.emailSmtpPort ?
               $ctrl.platformBuffer.publicSettings.emailSmtpPort : 465}}"
             ng-model="$ctrl.platformBuffer.publicSettings.emailSmtpPort"
             required>
     <span class="error color-danger" ng-show="emailSettings.port.$error.required">required</span>
    </div>
    <div class="form-group">
      <div class="label">SMTP Encryption Method</div>
        <rf-toggle radio="true"
                   value="$ctrl.platformBuffer.publicSettings.emailSmtpEncryption === 'ssl'"
                   on-change="$ctrl.setEncryptionMethod('ssl')"
                   class="encryption-toggle">
        <span>SSL</span>
        </rf-toggle>
        <rf-toggle radio="true"
                   value="$ctrl.platformBuffer.publicSettings.emailSmtpEncryption === 'tls'"
                   on-change="$ctrl.setEncryptionMethod('tls')"
                   class="encryption-toggle">
        <span>TLS</span>
        </rf-toggle>
        <rf-toggle radio="true"
                   value="$ctrl.platformBuffer.publicSettings.emailSmtpEncryption === 'starttls'"
                   on-change="$ctrl.setEncryptionMethod('starttls')"
                   class="encryption-toggle">
        <span>STARTTLS</span>
        </rf-toggle>
     <span class="error color-danger" ng-show="emailSettings.port.$error.required">required</span>
    </div>
    <div class="form-group">
      <div class="label">Subscriptions</div>
      <rf-toggle value="$ctrl.platformBuffer.publicSettings.emailIngestNotification"
                 on-change="$ctrl.onToggleChange('ingest')"
                 class="subscription-toggle">
        <span>Ingest Status</span>
      </rf-toggle>
      <rf-toggle value="$ctrl.platformBuffer.publicSettings.emailAoiNotification"
                 on-change="$ctrl.onToggleChange('aoi')"
                 class="subscription-toggle">
        <span>AOI Update</span>
      </rf-toggle>
      <rf-toggle value="$ctrl.platformBuffer.publicSettings.emailExportNotification"
                 on-change="$ctrl.onToggleChange('export')"
                 class="subscription-toggle">
        <span>Scene Export Status</span>
      </rf-toggle>
      <button type="button"
              class="btn btn-primary pull-right"
              ng-class="{'btn-danger': $ctrl.error }"
              ng-click="$ctrl.onSubmit()"
              ng-disabled="
                emailSettings.email.$error.required ||
                emailSettings.email.$error.email ||
                emailSettings.password.$error.required ||
                emailSettings.smtp.$error.required">
        {{$ctrl.getButtonText()}}
      </button>
    </div>
  </form>
</div>
