.box-select-row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
  &.inline {
    display: block;
  }
  &.inline > rf-box-select-item {
    display: inline-flex;
    min-width: 100px;
  }
}

rf-box-select-item{
  position: relative;
  flex: 1;
  background: #eee;
  border: 1px solid #ddd;
  padding: 2rem 2rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 2rem 2rem 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.125s;
  h2, h3 {
    margin: 0 0 1rem 0;
  }
  .cta-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background: #ddd;
  }
  &.disabled {
    cursor: not-allowed;
  }
  &.disabled:hover {
    background: #eee;
  }
  &.disabled::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    background: rgba(255,255,255,0.5);
  }
  &.disabled::after {
    position: absolute;
    padding: 2px 12px;
    border-top-right-radius: 4px;
    background: #ddd;
    color: #999;
    content: 'Coming Soon';
    bottom: 0;
    left: 0;
  }
  &.selected {
    border: 1px solid #738FFC;
    background: #fafafa;
  }
  &.selected::before {
    position: absolute;
    padding: 2px 12px;
    border-top-right-radius: 4px;
    background: #738FFC;
    color: #fff;
    content: '\2713 \00a0 Selected';
    bottom: 0;
    left: 0;
  }
  &.small.selected::before {
    content: '\2713';
  }
}
.cta-flex-text {
  flex: 1;
  margin-bottom: 3rem;
}
.cta-button-row {
  margin: 1rem 0 2rem 0;
  line-height: 3.5;
}
