<div class="sidebar-header">
  <a class="btn sidebar-header-nav-btn" ui-sref="projects.edit.scenes">
    <i class="icon-arrow-left"></i>
  </a>
  <h5 class="sidebar-title">Browse Scenes</h5>
  <div class="header-controls">
    <button class="btn btn-default btn-small"
            type="button"
            ng-click="$ctrl.toggleFilterPane()">
      Sort/Filter
    </button>
  </div>
</div>
<div class="sidebar-project" ng-show="!$ctrl.activeScene">
  <ul class="sidebar-list">
    <li ng-if="$ctrl.$parent.project.isAOIProject && $ctrl.$parent.pendingSceneList.length">
      <div class="alert alert-secondary">
        <div class="alert-message">{{$ctrl.$parent.pendingSceneList.length}} scenes awaiting approval</div>
        <button class="alert-action" ui-sref="projects.edit.aoi-approve">Review Scenes</button>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="text">
          Select scenes and click <strong>Add Scenes</strong> to add to the project.
        </span>
      </div>
      <div class="btn-group fixedwidth">
        <button type="button"
                class="btn btn-primary"
                style="width: 12rem;"
                ng-click="$ctrl.sceneModal()">
          Add Scenes
        </button>
        <button type="button"
                class="btn dropdown-toggle"
                ng-class="{'btn-secondary': $ctrl.allSelected}"
                ng-click="$ctrl.selectAllScenes()">
          <i ng-class="{'icon-plus': !$ctrl.allSelected,
                       'icon-cross': $ctrl.allSelected}"></i>
        </button>
      </div>
    </li>
  </ul>
</div>
<div class="list-group" ng-if="$ctrl.lastSceneResult && $ctrl.projectScenesReady">
  <div class="list-group-item">
    <strong class="color-dark">{{$ctrl.lastSceneResult.count | number}} scenes found</strong>
  </div>
</div>
<div class="sidebar-scrollable list-group">
  <rf-scene-item
      ng-click="$ctrl.openSceneDetailModal(scene)"
      scene="scene"
      selected="$ctrl.isSelected(scene)"
      is-disabled="$ctrl.isInProject(scene)"
      on-select="$ctrl.setSelected(scene, selected)"
      ng-mouseenter="$ctrl.setHoveredScene(scene)"
      ng-mouseleave="$ctrl.removeHoveredScene()"
      ng-repeat="scene in $ctrl.sceneList track by scene.id">
  </rf-scene-item>
  <div class="sidebar-content">
    <button class="btn btn-block btn-secondary"
            ng-if="!$ctrl.loadingScenes && $ctrl.lastSceneResult && $ctrl.lastSceneResult.hasNext && !$ctrl.errorMsg"
            ng-click="$ctrl.getMoreScenes()">
      Load More Scenes
    </button>
  </div>
</div>
<div class="sidebar sidebar-extended map-filters"
     ng-show="$ctrl.showFilterPane && !$ctrl.activeScene">
  <rf-scene-filter-pane ng-if="$ctrl.filters"
                  data-opened="$ctrl.showFilterPane"
                  filters="$ctrl.filters"></rf-scene-filter-pane>
</div>
