<div class="sidebar-header">
  <a class="btn sidebar-header-nav-btn" ui-sref="projects.edit.scenes">
    <i class="icon-arrow-left"></i>
  </a>
  <h5 class="sidebar-title">Browse Scenes</h5>
  <div class="header-controls">
    <button class="btn btn-default btn-small"
            type="button"
            ng-click="$ctrl.toggleFilterPane()">
      Filters<span feature-flag="external-source-browse">/Repository</span>
    </button>
  </div>
</div>
<div class="sidebar-project" ng-show="!$ctrl.activeScene">
  <ul class="sidebar-list">
    <li ng-if="$ctrl.$parent.project.isAOIProject && $ctrl.$parent.pendingSceneList.length">
      <div class="alert alert-secondary">
        <div class="alert-message">{{$ctrl.$parent.pendingSceneList.length}} scenes awaiting approval</div>
        <button class="alert-action" ui-sref="projects.edit.aoi-approve">Review Scenes</button>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="text">
          Select scenes and click <strong>Add Scenes</strong> to add to the project.
        </span>
      </div>
      <div class="btn-group fixedwidth">
        <button type="button"
                class="btn btn-primary"
                style="width: 12rem;"
                ng-click="$ctrl.sceneModal()">
          Add Scenes
        </button>
        <button type="button"
                class="btn dropdown-toggle"
                ng-class="{'btn-secondary': $ctrl.allSelected}"
                ng-click="$ctrl.selectAllScenes()">
          <i ng-class="{'icon-plus': !$ctrl.allSelected,
                       'icon-cross': $ctrl.allSelected}"></i>
        </button>
      </div>
    </li>
  </ul>
</div>
<div class="list-group" ng-if="!$ctrl.fetchingScenes">
  <div class="list-group-item" ng-if="$ctrl.$ctrl.sceneCount">
    <strong class="color-dark">
      {{$ctrl.sceneCount}} scenes found. Showing {{$ctrl.sceneList.length}}.
    </strong>
  </div>
  <div class="list-group-item" ng-if="$ctrl.fetchError">
    <strong class="color-danger">
      There was an error fetching scenes
    </strong>
    <button type="button" class="btn btn-secondary"
            ng-click="$ctrl.fetchNextScenes()">
      Try again <i icon="icon-refresh"></i>
    </button>
  </div>
</div>
<div class="list-group" ng-if="$ctrl.fetchingScenes">
  <div class="list-group-item">
    <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetchingScenes}"
       ng-show="$ctrl.fetchingScenes"></i>
    <strong class="color-dark">
      Loading scenes...
    </strong>
  </div>
</div>
<div class="sidebar-scrollable list-group">
  <rf-scene-item
      scene="scene"
      repository="$ctrl.currentRepository"
      selected="$ctrl.isSelected(scene)"
      is-disabled="$ctrl.isInProject(scene)"
      on-select="$ctrl.setSelected(scene, selected)"
      ng-click="$ctrl.openSceneDetailModal(scene)"
      ng-mouseenter="$ctrl.setHoveredScene(scene)"
      ng-mouseleave="$ctrl.removeHoveredScene()"
      ng-repeat="scene in $ctrl.sceneList track by scene.id">
  </rf-scene-item>
  <img ng-attr-src="{{$ctrl.base64Uri}}">
  <div class="sidebar-content">
    <button class="btn btn-block btn-secondary"
            ng-show="$ctrl.sceneList.length"
            ng-disabled="!$ctrl.hasNext || $ctrl.fetchingScenes"
            ng-click="$ctrl.fetchNextScenes()">
      Load More Scenes
      <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetchingScenes}"
         ng-show="$ctrl.fetchingScenes"></i>
    </button>
  </div>
</div>
<div class="sidebar sidebar-extended sidebar-dark"
     ng-show="$ctrl.showFilterPane">
  <rf-scene-filter-pane
    data-opened="$ctrl.showFilterPane"
    data-repositories="$ctrl.repositories"
    on-repository-change="$ctrl.onRepositoryChange(fetchScenes, repository)"
    ></rf-scene-filter-pane>
</div>
