<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close"
            ng-click="$ctrl.dismiss()" ng-show="!$ctrl.resolve.requireSelection">
      <span aria-hidden="true">&times;</span>
    </button>
    <span class="badge"><i class="icon-project"></i></span>
    <h4 class="modal-title">
      {{$ctrl.resolve.content.title || 'Edit a project'}}
    </h4>
    <p>Select a project to color correct and mosaic within the editor.</p>
  </div>
  <div class="modal-body">
    <div class="text-right">
      <rf-search on-search="$ctrl.fetchPage(1, value)"
                 value="$ctrl.search"
                 placeholder="Search for projects"
                 auto-focus="true"></rf-search>
    </div>
    <rf-pagination-count
        start-index="$ctrl.pagination.startingItem"
        end-index="$ctrl.pagination.endingItem"
        total="$ctrl.pagination.count"
        item-name="users"
        ng-if="!$ctrl.currentQuery && $ctrl.pagination.count"
    >
      <span ng-if="$ctrl.search">while searching for <strong>{{$ctrl.search}}</strong></span>
    </rf-pagination-count>
    <div class="list-group">
      <rf-project-item
          project="project"
          ng-repeat="project in $ctrl.results"
          slim="true">
          <button class="btn btn-default" ng-click="$ctrl.setSelected(project)">Select</button>
      </rf-project-item>
    </div>
    <div class="list-group" ng-show="$ctrl.currentQuery">
      <span class="list-placeholder">
        <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></i>
      </span>
    </div>
    <div ng-if="!$ctrl.currentQuery && !$ctrl.results.length && !$ctrl.search"
          class="list-group">
      <span class="list-placeholder">
        You have not created any Projects.
      </span>
    </div>
    <div ng-if="!$ctrl.currentQuery && !$ctrl.results.length && $ctrl.search"
         class="list-group">
      <span class="list-placeholder">
        Unable to find any projects matching: <strong>{{$ctrl.search}}</strong>
      </span>
    </div>
    <rf-pagination-controls
        pagination="$ctrl.pagination"
        is-loading="$ctrl.currentQuery"
        on-change="$ctrl.fetchPage(value)"
        ng-show="!$ctrl.currentQuery && !ctrl.fetchError"
    ></rf-pagination-controls>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn"
            ng-click="$ctrl.dismiss()">
      Done
    </button>
  </div>
</div>
