.dropdown-menu-dark {
	background-color: $gray-dark;
	border-color: $gray;
	box-shadow: none;

	li a {
		color: $off-white;
		padding: 9px 20px;

		&:hover {
			background-color: $gray-darker;
			color: $off-white;
		}
	}

	li.divider {
		background-color: $gray-darker;
	}
}

.dropdown-menu {
	
	li.divider {
		margin: 4px 0;
	}
}