/**
 * To compile sass run the following line in the root directory
 * sass --watch assets/sass:assets/css --style compressed
**/

/**
 * Vendors
**/
/* @import
  "vendors/..."; */

/**
 * Utils
**/
@import
  "utils/mixins",
  "utils/variables";

/**
 * Base
**/
@import
  "base/normalize",
	"base/animation",
  "base/base",
  "base/helpers",
  "base/typography",
	"base/list",
	"base/grid";

/**
 * Layout
**/
@import
  "layout/container",
  "layout/main",
  "layout/navbar",
  "layout/header",
  "layout/sidebar",
  "layout/footer";

/**
 * Components
**/
@import
  "components/spacing",
  "components/button",
  "components/image",
  "components/form",
  "components/nav",
  "components/avatar",
  "components/dropdown",
  "components/tooltip",
  "components/modal",
  "components/close",
  "components/list-group",
  "components/filter",
  "components/panel",
  "components/badge",
  "components/map";

/**
 * Pages
**/
@import
  "pages/default"; 


/**
 * Vendors
**/
@import
  "vendors/nouislider"; 