build/
dist/
.tox/
__pycache__/
*.py[cod]
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.egg/
pip-log.txt
pip-delete-this-directory.txt
