numpy==1.11.1
boto3==1.3.1
airflow[async,celery,crypto,hive,password,postgres,s3,slack]==1.7.1.3
redis==2.10.5
pytest==2.9.2
pytest-runner==2.9
rasterio==0.36.0
pyproj==1.9.5
ipython==5.1.0
pyjwt==1.4.2
