.navbar {
  background: $white;
  border-bottom: 1px solid $shade-light;

  nav {

    a {
      color: $shade-normal;
      font-weight: 400;

      i {
        opacity: .5;
      }

      &:hover {
        color: $brand-primary;

        i {
          opacity: 1;
        }
      }
    }

    a.active {
      color: $brand-primary;
      background: none;

      i {
        opacity: 1;
      }
    }

    .open .dropdown-toggle {
      background: $white;
    }
  }

  .dropdown > a {
    border-color: $shade-light;
    border-radius: $border-radius-base;
  }

  .navbar-text,
  .navbar-detail-title {
    font-weight: 600;
    color: $shade-normal;
  }

  .detail-title-container {

    .detail-title-edit {
      opacity: 1;
      color: darken($shade-light, 15%);

      &:hover {
        color: #fff;
        background-color: darken($shade-light, 5%);
      }
    }
  }
}

.navbar .form-group.all-in-one {
  border-color: $shade-light;
  color: $shade-normal;

  .form-control {
    color: $shade-normal;

    &:hover,
    &:focus {
      background-color: inherit;
    }
  }

  .btn {
    border-color: $shade-light;
    color: rgba($shade-normal, .5);

    &:hover, &.hover,
    &:active, &.active,
    &:focus, &.focus {
      background-color: darken(#eee, 10%);
    }
  }
}

.primary nav a {
  text-transform: uppercase;
}

.navbar-vertical-divider {
  background-color: $shade-light;
}

.navbar.secondary-navbar {
  background: $white;
  border-color: $shade-light;

  nav a {
    text-transform: uppercase;
  }
}

// Deprecate in future
$logoBase64: #{'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MCA0OSI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGZpbGw9IiNCMjc4MzAiIGQ9Ik0yNC45NCAxNS43MmMwIDEuNTE4LTEuMjM4IDIuNzUtMi43NjYgMi43NS0xLjUyNyAwLTIuNzY0LTEuMjMyLTIuNzY0LTIuNzUgMC0xLjUyIDEuMjM3LTIuNzUgMi43NjQtMi43NSAxLjUyOCAwIDIuNzY2IDEuMjMgMi43NjYgMi43NXoiLz4KICAgIDxwYXRoIGZpbGw9IiM2OUE3MUMiIGQ9Ik0yMC42NyAzNy44NWMwIDQuMDY3LTMuMzE1IDcuMzYzLTcuNDA1IDcuMzYzUzUuODYgNDEuOTE3IDUuODYgMzcuODVzMy4zMTUtNy4zNjQgNy40MDUtNy4zNjQgNy40MDUgMy4yOTcgNy40MDUgNy4zNjRNNDkuNzcgMjYuOTdjMCAyLjIxOC0xLjgwOCA0LjAxNy00LjA0IDQuMDE3LTIuMjMgMC00LjAzNy0xLjgtNC4wMzctNC4wMTYgMC0yLjIxNyAxLjgwOC00LjAxNSA0LjAzOC00LjAxNSAyLjIzMiAwIDQuMDQgMS43OTggNC4wNCA0LjAxNk0yOS4wNSAxNC45NGMwIDEuMDktLjg4NyAxLjk3My0xLjk4MiAxLjk3M3MtMS45ODMtLjg4My0xLjk4My0xLjk3MmMwLTEuMDg3Ljg4OC0xLjk3IDEuOTgzLTEuOTcgMS4wOTUgMCAxLjk4Mi44ODMgMS45ODIgMS45N000Ljc4NCAxOC4xOGMwIDEuMDg4LS44ODggMS45Ny0xLjk4MyAxLjk3LTEuMDk0IDAtMS45OC0uODgyLTEuOTgtMS45NyAwLTEuMDkuODg2LTEuOTcyIDEuOTgtMS45NzIgMS4wOTYgMCAxLjk4NC44ODMgMS45ODQgMS45N00yNS43NTcgMS45NzJjMCAxLjA4OC0uODg3IDEuOTctMS45ODIgMS45N3MtMS45ODItLjg4Mi0xLjk4Mi0xLjk3QzIxLjc5My44ODIgMjIuNjggMCAyMy43NzUgMHMxLjk4Mi44ODMgMS45ODIgMS45NzJNNDcuODIzIDMzLjYxYzAgMS4wODgtLjg4NyAxLjk3LTEuOTgyIDEuOTctMS4wOTQgMC0xLjk4Mi0uODgyLTEuOTgyLTEuOTcgMC0xLjA5Ljg4OC0xLjk3MiAxLjk4My0xLjk3MiAxLjA5NiAwIDEuOTgzLjg4MyAxLjk4MyAxLjk3TTE3LjczNSAyMi41MmMwIDEuMDktLjg4NyAxLjk3Mi0xLjk4MiAxLjk3MnMtMS45ODItLjg4My0xLjk4Mi0xLjk3YzAtMS4wOS44ODgtMS45NzMgMS45ODMtMS45NzMgMS4wOTUgMCAxLjk4Mi44ODIgMS45ODIgMS45NyIvPgogICAgPHBhdGggZmlsbD0iI0ZGODIwRiIgZD0iTTE4LjE1OCAxMC4wNzRjMS44MDYgMy42NS4yOTcgOC4wNjMtMy4zNzMgOS44Ni0zLjY3IDEuNzk2LTguMTA3LjI5NS05LjkxNC0zLjM1NC0xLjgwNS0zLjY1LS4yOTUtOC4wNjMgMy4zNzQtOS44NiAzLjY3LTEuNzk2IDguMTA4LS4yOTQgOS45MTQgMy4zNTRNMzguNDc0IDQzLjE0NGMwIDEuNTItMS4yMzggMi43NS0yLjc2NSAyLjc1LTEuNTI4IDAtMi43NjYtMS4yMy0yLjc2Ni0yLjc1czEuMjM4LTIuNzUgMi43NjUtMi43NWMxLjUyNiAwIDIuNzY0IDEuMjMgMi43NjQgMi43NU0yOC40ODYgNDYuMTgzYzAgMS41Mi0xLjIzNyAyLjc1LTIuNzY0IDIuNzUtMS41MjggMC0yLjc2Ni0xLjIzLTIuNzY2LTIuNzUgMC0xLjUxOCAxLjIzOC0yLjc1IDIuNzY2LTIuNzUgMS41MjcgMCAyLjc2NCAxLjIzMiAyLjc2NCAyLjc1TTQyLjk4NSAyMi4wMTZjMCAxLjUxOC0xLjIzOCAyLjc1LTIuNzY1IDIuNzUtMS41MjcgMC0yLjc2NS0xLjIzMi0yLjc2NS0yLjc1IDAtMS41MiAxLjIzOC0yLjc1IDIuNzY1LTIuNzUgMS41MjcgMCAyLjc2NSAxLjIzIDIuNzY1IDIuNzVNMzkuMzEgOC41MDNjMCAxLjA4OC0uODg4IDEuOTctMS45ODMgMS45Ny0xLjA5NCAwLTEuOTgyLS44ODItMS45ODItMS45NyAwLTEuMDkuODg4LTEuOTcyIDEuOTgyLTEuOTcyIDEuMDk1IDAgMS45ODMuODg0IDEuOTgzIDEuOTczTTE2LjI4IDI4LjA5NGMwIDEuMDg4LS44ODcgMS45Ny0xLjk4MiAxLjk3cy0xLjk4My0uODgyLTEuOTgzLTEuOTdjMC0xLjA5Ljg4OC0xLjk3MiAxLjk4My0xLjk3MiAxLjA5NSAwIDEuOTgyLjg4MyAxLjk4MiAxLjk3Mk0zNy41NDYgMTMuOTEyYzAgMi4yMTgtMS44MDggNC4wMTYtNC4wNCA0LjAxNi0yLjIzIDAtNC4wMzctMS43OTgtNC4wMzctNC4wMTZzMS44MDctNC4wMTYgNC4wMzctNC4wMTYgNC4wNCAxLjc5OCA0LjA0IDQuMDE2Ii8+CiAgICA8cGF0aCBmaWxsPSIjNTNCNEZGIiBkPSJNMzYuMjkgMzguMjA0YzAgMS4wOS0uODg3IDEuOTcyLTEuOTgyIDEuOTcycy0xLjk4My0uODgzLTEuOTgzLTEuOTcyYzAtMS4wODguODg4LTEuOTcgMS45ODMtMS45NyAxLjA5NSAwIDEuOTgyLjg4MiAxLjk4MiAxLjk3TTI0LjIxMiA0Mi4yMDJjMCAxLjA4OC0uODg4IDEuOTcyLTEuOTgzIDEuOTcyLTEuMDk2IDAtMS45ODMtLjg4NC0xLjk4My0xLjk3MiAwLTEuMDkuODg3LTEuOTcyIDEuOTgyLTEuOTcyIDEuMDk0IDAgMS45ODIuODgzIDEuOTgyIDEuOTcyTTQ0LjA3NiA5LjY0YzAgMS4wOS0uODg4IDEuOTczLTEuOTgzIDEuOTczLTEuMDk0IDAtMS45ODItLjg4My0xLjk4Mi0xLjk3MiAwLTEuMDg3Ljg5LTEuOTcgMS45ODMtMS45NyAxLjA5NSAwIDEuOTgzLjg4MyAxLjk4MyAxLjk3TTMuOTY1IDI0LjEzYzAgMS4wOS0uODg4IDEuOTczLTEuOTgzIDEuOTczQy44ODcgMjYuMTAzIDAgMjUuMjIgMCAyNC4xM3MuODg3LTEuOTcgMS45ODItMS45NyAxLjk4My44ODIgMS45ODMgMS45N00yMS43NzQgOC41NzRjMCAxLjA4OC0uODg4IDEuOTctMS45ODMgMS45Ny0xLjA5NCAwLTEuOTgtLjg4Mi0xLjk4LTEuOTcgMC0xLjA5Ljg4Ni0xLjk3MiAxLjk4LTEuOTcyIDEuMDk2IDAgMS45ODQuODgzIDEuOTg0IDEuOTcyTTIxLjU5MyAzLjU2M2MwIDEuNTItMS4yNCAyLjc1LTIuNzY1IDIuNzUtMS41MjcgMC0yLjc2Ni0xLjIzLTIuNzY2LTIuNzUgMC0xLjUxOCAxLjI0LTIuNzUgMi43NjYtMi43NXMyLjc2NSAxLjIzMiAyLjc2NSAyLjc1TTI5LjU3OCAzNi44NDhjMCAyLjIxNy0xLjgwOCA0LjAxNS00LjAzOCA0LjAxNS0yLjIzIDAtNC4wNC0xLjc5OC00LjA0LTQuMDE1IDAtMi4yMTggMS44MS00LjAxNiA0LjA0LTQuMDE2czQuMDM4IDEuNzk4IDQuMDM4IDQuMDE2TTQ0LjkzIDM4LjI5NWMwIDIuMjE3LTEuODA3IDQuMDE2LTQuMDM3IDQuMDE2cy00LjA0LTEuNzk4LTQuMDQtNC4wMTVjMC0yLjIxOCAxLjgxLTQuMDE2IDQuMDQtNC4wMTZzNC4wMzggMS43OTcgNC4wMzggNC4wMTUiLz4KICAgIDxwYXRoIGZpbGw9IiNCMjc4MzAiIGQ9Ik05LjE2OCAyOS41NzZjMCAyLjIxOC0xLjgwOCA0LjAxNS00LjA0IDQuMDE1LTIuMjMgMC00LjAzNy0xLjc5Ni00LjAzNy00LjAxNFMyLjkgMjUuNTYgNS4xMyAyNS41NnM0LjAzOCAxLjc5OCA0LjAzOCA0LjAxNk0xOS41NzMgNDYuMjcyYzAgMS4wOS0uODg4IDEuOTcyLTEuOTgzIDEuOTcyLTEuMDk1IDAtMS45ODItLjg4My0xLjk4Mi0xLjk3MiAwLTEuMDg4Ljg4Ny0xLjk3IDEuOTgyLTEuOTdzMS45ODMuODgyIDEuOTgzIDEuOTdNMjcuOTk2IDEwLjIyYzAgMS41Mi0xLjIzOCAyLjc1LTIuNzY1IDIuNzUtMS41MjYgMC0yLjc2NC0xLjIzLTIuNzY0LTIuNzUgMC0xLjUxOCAxLjIzOC0yLjc1IDIuNzY1LTIuNzUgMS41MjggMCAyLjc2NiAxLjIzMiAyLjc2NiAyLjc1TTI0LjcyIDE1LjcyYzAgMS41MTgtMS4yMzcgMi43NS0yLjc2NCAyLjc1LTEuNTI3IDAtMi43NjUtMS4yMzItMi43NjUtMi43NSAwLTEuNTIgMS4yNC0yLjc1IDIuNzY2LTIuNzUgMS41MjcgMCAyLjc2NSAxLjIzIDIuNzY1IDIuNzVNNDkuNzg4IDIwLjkxYzAgMS4wOS0uODg4IDEuOTcyLTEuOTgzIDEuOTcyLTEuMDk1IDAtMS45ODItLjg4My0xLjk4Mi0xLjk3IDAtMS4wOS44ODctMS45NzMgMS45ODItMS45NzNzMS45ODMuODgyIDEuOTgzIDEuOTdNMzMuNTggNC4yODdjMCAyLjIxOC0xLjgwOCA0LjAxNi00LjAzOCA0LjAxNi0yLjIzIDAtNC4wNC0xLjc5OC00LjA0LTQuMDE2UzI3LjMxMy4yNyAyOS41NDMuMjdzNC4wMzggMS44IDQuMDM4IDQuMDE3Ii8+CiAgICA8cGF0aCBmaWxsPSIjMEI1RkJGIiBkPSJNMzQuNDYgMjQuODM3YzAgNC4wNjYtMy4zMTUgNy4zNjMtNy40MDUgNy4zNjNzLTcuNDA1LTMuMjk3LTcuNDA1LTcuMzYzYzAtNC4wNjcgMy4zMTUtNy4zNjMgNy40MDUtNy4zNjNzNy40MDUgMy4yOTYgNy40MDUgNy4zNjNNMzMuMTggNDYuMmMwIDEuMDktLjg4OCAxLjk3LTEuOTgzIDEuOTctMS4wOTUgMC0xLjk4My0uODgtMS45ODMtMS45NyAwLTEuMDkuODg4LTEuOTcyIDEuOTgzLTEuOTcyIDEuMDk1IDAgMS45ODIuODgzIDEuOTgyIDEuOTcyTTQyLjI1NyAzMS4wNmMwIDEuNTE4LTEuMjM4IDIuNzQ4LTIuNzY1IDIuNzQ4LTEuNTI3IDAtMi43NjUtMS4yMy0yLjc2NS0yLjc1IDAtMS41MTggMS4yMzgtMi43NSAyLjc2NS0yLjc1IDEuNTI3IDAgMi43NjUgMS4yMzIgMi43NjUgMi43NSIvPgogICAgPHBhdGggZmlsbD0iIzBCNUZCRiIgZD0iTTM2LjM0NSAzMi45NGMwIDEuNTItMS4yMzggMi43NS0yLjc2NSAyLjc1LTEuNTI3IDAtMi43NjUtMS4yMy0yLjc2NS0yLjc1IDAtMS41MTggMS4yMzgtMi43NSAyLjc2NS0yLjc1IDEuNTI3IDAgMi43NjUgMS4yMzIgMi43NjUgMi43NU0xMy43MzQgMjQuNTQ3YzAgMS41Mi0xLjIzOCAyLjc1LTIuNzY1IDIuNzUtMS41MjggMC0yLjc2Ni0xLjIzLTIuNzY2LTIuNzVzMS4yMzgtMi43NSAyLjc2NS0yLjc1YzEuNTI2IDAgMi43NjQgMS4yMyAyLjc2NCAyLjc1TTM4IDQuNjNjMCAxLjA5LS44ODggMS45NzItMS45ODIgMS45NzItMS4wOTUgMC0xLjk4My0uODgzLTEuOTgzLTEuOTcyIDAtMS4wODguODg4LTEuOTcgMS45ODMtMS45N0MzNy4xMTIgMi42NiAzOCAzLjU0IDM4IDQuNjNNNDcuODQyIDE1LjcyYzAgMi4yMTctMS44MDggNC4wMTUtNC4wNCA0LjAxNS0yLjIzIDAtNC4wMzctMS43OTgtNC4wMzctNC4wMTYgMC0yLjIyIDEuODA4LTQuMDE2IDQuMDM4LTQuMDE2IDIuMjMgMCA0LjA0IDEuNzk3IDQuMDQgNC4wMTUiLz4KICA8L2c+Cjwvc3ZnPgo='};

.brand {
  padding: 1rem 1.9rem;
  img {
    content: url($logoBase64);
    width: 50px;
    height: 3.9rem;
    max-width: none;
  }
}