.sidebar {

  .btn:not(.btn-square) {
    padding: .8rem 2rem;
  }

  .sidebar-header {

    .btn {
      font-size: 13px;
      padding: 7px 10px;
      text-transform: none;
      letter-spacing: 0;
    }
  }
}

.btn.sidebar-header-nav-btn {
  padding: 4px 1px !important;
  color: $text-base;
  border-color: $text-base;
}

.map-filters,
.sidebar-dark {
  background: $off-white;
  color: $text-base;

  h5, .h5,
  p,
  label {
    color: $text-base;
  }

  .sidebar-header {
    background: $shade-light;
    border-color: darken($border-color-default, 10%);

    .btn.sidebar-header-nav-btn {
      color: $text-base;
      border-color: $text-base;
    }
  }

  .header-controls .btn-default {
    @extend .btn-light;
    color: $text-base !important;
  }

  .sidebar-list-item {
    border-bottom-color: $border-color-default;

    &.selected {
      background-color: $off-white;
    }

    p.color-light {
      color: $text-base !important;
    }
  }
}