.sidebar {

  .btn {
    padding: .8rem 2rem;
  }
}

.btn.sidebar-header-nav-btn {
  padding: 4px 1px;
}

.map-filters,
.sidebar-dark {
  background: $off-white;

  h5, .h5,
  p {
    color: $text-base;
  }

  .sidebar-header {
    background: $shade-light;
    border-color: darken($border-color-default, 10%);
  }

  .header-controls .btn-default {
    @extend .btn-light;
  }

  .sidebar-list-item {
    border-bottom-color: $border-color-default;

    &.selected {
      background-color: $off-white;
    }

    p.color-light {
      color: $text-base !important;
    }
  }
}