.sidebar {

  .btn:not(.btn-square) {
    padding: .8rem 2rem;
  }

  .sidebar-header {

    .btn {
      font-size: 13px;
      padding: 7px 10px;
      text-transform: none;
      letter-spacing: 0;
    }
  }
}

.btn.sidebar-header-nav-btn {
  padding: 4px 1px !important;
  color: $text-base;
  border-color: $text-base;
}

