.filter-group {
  border-color: $border-color-default;
}

.filter {

  label {
    color: $text-base;
    font-weight: 700;
  }

  .selectize-control {
    width: 100%;
    margin-right: 0 !important;
  }

  .selectize-input {
    border: 1px solid $border-color-default;
    background-color: $white;
    color: $text-base;

    > input {
      color: $text-base;
    }
  }

  .searchselect-clear {
    background: $white;
    border-color: $border-color-default;
    width: 3rem;
    text-align: center;
    color: $text-base;
    align-self: stretch;
    border-radius: 0;
    margin-left: -1px;
    height: initial;
    z-index: 1;
    line-height: 32px;
  }

  .selectize-dropdown {
    background-color: $white;
    color: $text-base;

    .active {
      background-color: $off-white;
      color: $brand-primary
    }
  }

  .browse-source-drop-down {
    background: white;
    border: 1px solid $shade-light;
    padding: 11px 8px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 1.2rem;
    border-radius: $border-radius-base;
  }
}

.filter-adjust-input {
  background-color: $white;
  border-color: $border-color-default;
  color: $text-base;
}