.shapefilter-box {
    background: $white;
    border: 1px solid $border-color-default;
}

.shapefilter-text {
    color: $shade-dark;
}

.shapefilter-option {
    &:hover {
        background: $off-white;
    }
}

.shapefilter-actions {
    :not(last-child) {
        margin-left: 0.2em;
    }
}
