.rzslider {
  height: 30px;

  .rz-bar {
    background: $text-base;
    height: 7px;
  }

  .rz-pointer {
    top: -5px;
    border-radius: 50%;
    background-color: $brand-primary;
    width: 17px;
    height: 17px;
  }

  .rz-ticks .rz-tick {
    top: 2px;
    background-color: lighten($brand-primary, 10%);

    .rz-tick-value {
      color: $text-base;
    }
  }

  &.dark .rz-bubble {
    color: $text-base;
  }
}