<div class="panel-body">
  <div class="row">
    <div class="column noflex">
      <img ng-if="$ctrl.toolData.screenshots[0]"
       ng-src="{{$ctrl.toolData.screenshots[0].url}}"
       class="rounded-img item-img">
      <div ng-if="!$ctrl.toolData.screenshots.length"
           class="rounded-img item-img image-placeholder"
           style="height: 75px; width: 75px;">
      </div><br>
      <!-- Temporarily add execute btn until detail page designed -->
        <a ui-sref="lab.run({toolid: $ctrl.toolData.id})" class="btn btn-primary btn-tiny btn-block">Execute</a>
    </div>
    <div class="column">
      <h4 class="panel-title">{{$ctrl.toolData.title}}</h4>
      <p>{{$ctrl.toolData.description}}</p>
      <strong>Created by: Raster Foundry</strong>
    </div>
  </div>
</div>
