<div class="row content stack-sm">
  <div class="column-8">
    <div class="dashboard-header">
      <h1 class="h3 page-title">Profile</h1>
    </div>
    <form action="">
      <label for="upload-profile-picture">Profile picture</label>
      <div class="picture-section">
        <div class="form-group picture">
          <img ng-if="$ctrl.profile.picture" class="avatar md" ng-src="{{$ctrl.profile.picture}}">
          <div ng-if="!$ctrl.profile.picture" class="avatar md image-placeholder"></div>
        </div>
        <div class="picture-description">
          <div class="panel panel-info">
            <div class="panel-body">
              To change your profile picture, upload a new one to your {{$ctrl.providerName}} account
            </div>
          </div>
        </div>
      </div>

      <div ng-if="$ctrl.provider === 'google-oauth2'">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name"
                 type="text"
                 class="form-control"
                 placeholder="Name"
                 ng-attr-value="{{$ctrl.profile.name}}"
                 disabled
          >
        </div>
        <div class="form-group">
          <label for="username">Google Id</label>
          <input id="username"
                 type="text"
                 class="form-control"
                 ng-attr-value="{{$ctrl.profile.email}}"
                 disabled
          >
          <p class="help-block">Contact support to change your ID</p>
        </div>
        <button type="button"
                ng-click="$ctrl.updateGoogleProfile()"
                class="btn btn-primary btn-large">
          Go to Google profile settings
        </button>
      </div>

      <div ng-if="$ctrl.provider === 'auth0'">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text"
                 class="form-control"
                 ng-attr-value="{{$ctrl.profile.nickname}}"
                 disabled
          >
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" type="text"
                 class="form-control"
                 placeholder="Email"
                 ng-attr-value="{{$ctrl.profile.email}}"
          disabled
          >
          <p class="help-block">Contact support to change your username</p>
        </div>
        <button ng-if="$ctrl.provider === 'auth0'"
                class="btn btn-primary btn-large"
                ng-click="$ctrl.authService.changePassword()">
          Change Password
        </button>
      </div>
      <div ng-if="$ctrl.profile.user_metadata">
        <div class="form-group" ng-repeat="(id, field) in $ctrl.profile.user_metadata track by id">
          <label>{{field.label}}</label>
          <input type="text" class="form-control" ng-model="field.value">
        </div>
        <button ng-click="$ctrl.updateUserMetadata()" type="button" class="btn btn-primary btn-large">Update Profile</button>
      </div>
      <rf-feature-flag-overrides ng-if="$ctrl.env === 'development'"></rf-feature-flag-overrides>
    </form>
  </div>
</div>
