<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <h4 class="modal-title">
      Reclassify
    </h4>
    <p class="modal-subtitle">Determine how values will be reclassified</p>
    <h5>Old values:</h5>
    <p>Values from the input raster that should be reclassified.</p>
    <h5>New values:</h5>
    <p>The resulting value in the output raster for a given input value or range of input values</p>
  </div>
  <div class="modal-body">
    <div class="classification-data">
      <div class="classification-options">
        <div class="classification-opt">
          <span class="classification-opt-label">
            Classification method:
          </span>
          <button type="button" class="btn"
                  ng-click="$ctrl.equalInterval()">
            Equal Interval
          </button>
        </div>
        <div class="classification-opt">
          <label class="classification-opt-label">Classes:</label>
          <input type="number"
                 id="class-opt-class-count"
                 ng-model="$ctrl.classCount"
                 min="1"
                 ng-min="1"
                 ng-model-options="{debounce: 500, getterSetter: true}">
        </div>
      </div>

      <rf-reclassify-table
        classifications="$ctrl.breaks"
        on-classifications-change="$ctrl.updateBreaks(breakpoints)"
        on-breaks-change="$ctrl.updateBreaks(breakpoints)"
        on-no-gaps-overlaps-change="$ctrl.noGapsOverlaps = noGapsOverlaps"
        on-all-entries-valid-change="$ctrl.allEntriesValid = allEntriesValid" ></rf-reclassify-table>
    </div>
    <div class="classification-histogram">
      <div class="node-data-placeholder" ng-if="!$ctrl.histogram && !$ctrl.histogram.loading">
          <span class="icon icon-warning color-warning"></span>
          <div class="message">Fill out all input fields and apply changes to view a histogram</div>
      </div>
      <rf-reclassify-histogram
        ng-if="$ctrl.histogram && $ctrl.histogram.data"
        classifications="$ctrl.breaks"
        histogram="$ctrl.histogram.data"
        on-breakpoint-change="$ctrl.updateBreaks(breakpoints)">
      </rf-reclassify-histogram>
    </div>
  </div>
  <div class="modal-footer">
    <div class="bg-warning color-dark invalid-range-warning" ng-show="!$ctrl.noGapsOverlaps">
      Your classification has gaps or overlapping ranges.
    </div>
    <button type="button" class="btn btn-secondary"
            ng-click="$ctrl.dismiss()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.closeAndUpdate()">
      Update
    </button>
  </div>
</div>
