<div class="container-admin-header">
  <div class="admin-header">
    <div class="admin-logo">
    </div>
    <div class="admin-logo-text" ng-if="!$ctrl.fetching">
      <h1 class="admin-logo-name h3">
        {{$ctrl.platform.name}}
      </h1>
      <div>
        Platform Management
      </div>
    </div>
    <div class="admin-logo-text" ng-if="$ctrl.fetching">
      <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
    </div>
  </div>
  <div class="admin-tabs">
    <!-- <div class="admin-tab" -->
    <!-- ui-sref="admin.platform.metrics" -->
    <!-- ui-sref-active="active"> -->
    <!-- Metrics -->
    <!-- </div> -->
    <div class="admin-tab"
         ui-sref="admin.platform.users"
         ui-sref-active="active">
      Users
    </div>
    <div class="admin-tab"
         ui-sref="admin.platform.organizations"
         ui-sref-active="active">
      Organizations
    </div>
  </div>
</div>

<ui-view></ui-view>
