<div class="container-admin-header">
  <div class="admin-header">
    <rf-editable-logo
      uri="$ctrl.platformLogo"
      show-placeholder="$ctrl.fetching"
      no-cache-bust="true"
    ></rf-editable-logo>
    <div class="admin-logo-text" ng-if="!$ctrl.fetching">
      <h4 class="admin-logo-name">
        {{$ctrl.platform.name}}
      </h4>
    </div>
    <div class="admin-logo-text" ng-if="$ctrl.fetching">
      <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
    </div>
  </div>
  <div class="admin-tabs">
      <div class="admin-tab"
      ui-sref="admin.team.user"
      ui-sref-active="active"
    >
      Projects
      <span class="tab-count">5</span>
    </div>
    <div class="admin-tab"
        ui-sref="admin.team.user"
        ui-sref-active="active"
    >
      Raster Data
      <span class="tab-count">5</span>
    </div>
    <div class="admin-tab"
        ui-sref="admin.team.user"
        ui-sref-active="active"
    >
      Vector Data
      <span class="tab-count">5</span>
    </div>
    <div class="admin-tab"
        ui-sref="admin.team.user"
        ui-sref-active="active"
    >
      Datasources
      <span class="tab-count">5</span>
    </div>
    <div class="admin-tab"
        ui-sref="admin.team.user"
        ui-sref-active="active"
    >
      Templates
      <span class="tab-count">5</span>
    </div>
    <div class="admin-tab"
        ui-sref="admin.team.user"
        ui-sref-active="active"
    >
      Analyses
      <span class="tab-count">5</span>
    </div>
    <!-- <div class="admin-tab" -->
    <!-- ui-sref="admin.organization.metrics" -->
    <!-- ui-sref-active="active" -->
    <!-- > -->
    <!-- Metrics -->
    <!-- </div> -->
    <div class="flex-fill"></div>
    <div class="admin-tab"
         ui-sref="admin.platform.users"
         ui-sref-active="active">
      Users
      <span class="tab-count">{{$ctrl.users.count}}</span>
    </div>
    <div class="admin-tab"
         ui-sref="admin.platform.organizations"
         ui-sref-active="active">
      Organizations
      <span class="tab-count">{{$ctrl.organizations.count}}</span>
    </div>
    <div class="admin-tab"
         ui-sref="admin.platform.settings.email"
         ui-sref-active="active"
         ng-if="$ctrl.authService.isEffectiveAdmin($ctrl.$stateParams.platformId)">
      <i class="icon-settings"></i>
    </div>
  </div>
</div>

<ui-view></ui-view>
