<div
    class="btn btn-text btn-transparent"
    ng-repeat="action in $ctrl.actions | filter: {menu: false}"
    ng-attr-title="{{ action.name }}"
    ng-click="$ctrl.wrapCallback($event, action.callback)"
    tooltips
    tooltip-template="{{ action.tooltip }}"
    tooltip-size="small"
    tooltip-class="layer-item-tooltip"
    tooltip-side="left"
    tooltip-hidden="!action.tooltip"
>
  <!-- Using a button with a disabled attribute breaks the tooltips library.
       Also, You can't have tooltips on a button :(
  -->
  <i ng-if="action.icon" ng-attr-class="{{ action.icon }}"></i>
  <i
      ng-repeat="icon in action.icons"
      ng-attr-class="{{ icon.icon }}"
      ng-if="icon.isActive()"
  ></i>
</div>
<div uib-dropdown is-open="$ctrl.dropdownOpen" class="display-ib">
    <button
        class="btn btn-text btn-transparent"
        ng-if="($ctrl.actions | filter: {menu: true}).length > 0"
        ng-click="$ctrl.dropdownToggle($event)"
    >
        <i class="icon-menu"></i>
        <span class="sr-only">More actions</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-light drop-left" uib-dropdown-menu role="menu">
        <li role="menuitem" ng-repeat="action in $ctrl.actions | filter: {menu: true}">
            <a
                ng-click="$ctrl.wrapCallback($event, action.callback)"
                ng-show="action.name"
                ng-attr-title="{{ action.title }}"
                >{{ action.name }}</a
            >
            <span class="menu-separator" ng-show="action.separator"></span>
        </li>
    </ul>
</div>
