<div ui-view class="flex-column">
  <div class="sidebar-static">
    <div class="sidebar-header">
      <a class="btn sidebar-header-nav-btn" ui-sref="projects.edit.colormode">
        <i class="icon-arrow-left"></i>
      </a>
      <h5 class="sidebar-title">Advanced Color Correction</h5>
    </div>
    <div class="content">
      <div class="sidebar-actions-group">
        <label>Select which scenes to correct</label>
        <div class="column-6 nogutter btn-group">
          <button type="button"
                  class="btn"
                  ng-class="{'btn-primary': !$ctrl.shouldSelectAll()}"
                  ng-disabled="$ctrl.selectedScenes.size === 0"
                  ui-sref="projects.edit.advancedcolor.adjust">
            Color Correct
          </button>
          <button type="button"
                  class="btn btn-small"
                  ng-class="{'btn-primary': !$ctrl.shouldSelectAll()}"
                  ng-click="$ctrl.onToggleSelection()">
            <i class="icon-check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-scrollable">
    <div class="list-group">
      <rf-scene-item
          previewable
          clickable
          ng-click="$ctrl.setSelected(scene, !$ctrl.isSelected(scene))"
          scene="scene"
          repository="$ctrl.repository"
          selected="$ctrl.isSelected(scene)"
          on-select="$ctrl.setSelected(scene, selected)"
          ng-mouseover="$ctrl.$parent.setHoveredScene(scene)"
          ng-mouseleave="$ctrl.$parent.removeHoveredScene()"
          ng-repeat="scene in $ctrl.$parent.sceneList track by scene.id">
      </rf-scene-item>
    </div>
  </div>
</div>
