
  <div class="classification-row">
    <div class="class-header">Old values</div>
    <div class="class-header">New values</div>
  </div>
  <div class="classification-ranges">
    <div class="classification-row"
         ng-repeat="pair in $ctrl.enteredRanges">
      <rf-reclassify-entry
        class-range="pair[0]"
        class-value="pair[1]"
        entry-id="$index"
        on-range-change="$ctrl.updateEntryRange(range, $index)"
        on-value-change="$ctrl.updateEntryValue(value, $index)"
        on-validity-change="$ctrl.trackInvalidEntries(validity)">
    </div>
  </div>
