<div class="modal-scrollable-body">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" ng-if="!$ctrl.resolve.project">
      Edit parameters for
      <ng-pluralize count="$ctrl.analyses.length"
                    when="{'1': 'one analysis',
                           'other': '{} analyses'}"
      ></ng-pluralize>
    </h4>
    <p>Update band selection and constant values</p>
  </div>
  <div class="modal-body">
    <div class="modal-inner-container small">
      {{$ctrl.error}}
      <div class="list-group">
        <div class="list--group-item" ng-repeat="node in $ctrl.editableNodes.valueSeq().toArray()">
          <div ng-if="node.type === 'mask' && node.node.mask">
            <label>
              Analysis AOI (read-only)
              <span class="icon-help"
                    tooltips
                    tooltip-template="Analyses inherit AOIs from layers when they are created"
                    tooltip-size="small"
                    tooltip-class="rf-tooltip"
                    tooltip-side="bottom"
              ></span>
            </label>
            <div class="modal-aoi-map-container">
              <rf-static-map
                  map-id="modal"
                  options="$ctrl.mapOptions">
              </rf-static-map>
            </div>
          </div>
          <div ng-if="node.type === 'layerSrc'">
            <label>
              {{node.node.metadata.label || 'Unnamed node'}}
              <select class="form-control" ng-model="node.value">
                <option value="" disabled>Band number</option>
                <option ng-attr-value="{{option.number}}" ng-repeat="option in node.options">
                  {{option.number}}: {{option.name}}
                </option>
              </select>
            </label>
          </div>
          <div ng-if="node.type === 'const'">
            <label>
              Constant value: {{node.label}}
              <input type="number" class="form-control" ng-model="node.value" />
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="footer-section left">
      <button type="button" class="btn" ng-click="$ctrl.close()">Cancel</button>
    </div>
    <div class="footer-section right">
      <button type="button" class="btn btn-primary" ng-click="$ctrl.saveChanges()">Save changes</button>
    </div>
  </div>
</div>
