<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.handleClose()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" ng-if="!$ctrl.resolve.project">
      Start an Import
    </h4>
    <h4 class="modal-title" ng-if="$ctrl.resolve.project">
      Import into {{$ctrl.resolve.project.name}}
    </h4>
    <p>Import your imagery from various sources</p>
  </div>

  <!-- Body for DATASOURCE_SELECT-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('DATASOURCE_SELECT')">
    <div class="content">
      <div class="list-group">
        <div class="form-group all-in-one">
          <label for="search"><i class="icon-search"></i></label>
          <input id="search" type="text" class="form-control"
                placeholder="Search Datasources" ng-model="$ctrl.searchString">
        </div>
        <div class="list-group-item" ng-repeat="datasource in $ctrl.datasources.results | filter: {name: $ctrl.searchString}">
          <div class="list-group-overflow">
            <strong class="color-dark">{{datasource.name}}</strong><br>
          </div>
          <div class="list-group-right">
            <button class="btn btn-square" ng-click="$ctrl.handleDatasourceSelect(datasource)">
              Select
            </button>
          </div>
        </div>
      </div>

      <!-- Datasource pagination, show only when item count exceeds page size-->
      <div class="list-group text-center"
          ng-show="$ctrl.shouldShowPagination()">
        <ul uib-pagination
            items-per-page="$ctrl.pageSize"
            total-items="$ctrl.datasources.count"
            ng-model="$ctrl.currentPage"
            max-size="4"
            rotate="true"
            boundary-link-numbers="true"
            force-ellipses="true"
            ng-change="$ctrl.loadDatasources($ctrl.currentPage)">
        </ul>
      </div>
    </div>
  </div>

  <!--Body for IMPORT-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('IMPORT')">
    <div class="content">
      <h3 class="no-margin">Import your Imagery</h3>
      <p>Select the source you'd like to import your imagery from.</p>
      <p ng-if="$ctrl.resolve.project">Any scenes created from this import will automatically
        be added to the <strong>{{$ctrl.resolve.project.name}}</strong> project.
      </p>
      <div class="box-select-row">
          <rf-box-select-item
          class="small"
          ng-class="{selected: $ctrl.importType === 'local'}"
          ng-click="$ctrl.setImportType('local')"
        >
          <div class="text-center"><strong>Local System</strong></div>
        </rf-box-select-item>
        <rf-box-select-item
                class="small"
                ng-class="{selected: $ctrl.importType === 'S3'}"
                ng-click="$ctrl.setImportType('S3')"
        >
          <img width="100%" ng-attr-src="{{$ctrl.awsS3Logo}}">
        </rf-box-select-item>
        <rf-box-select-item
                class="small"
                ng-class="{selected: $ctrl.importType === 'Planet'}"
                ng-click="$ctrl.setImportType('Planet')"
        >
          <img width="100%" ng-attr-src="{{$ctrl.planetLogo}}">
        </rf-box-select-item>
        <rf-box-select-item
          class="small disabled"
        >
          <img width="100%" ng-attr-src="{{$ctrl.dropboxIcon}}">
        </rf-box-select-item>
      </div>
      <div ng-if="$ctrl.importType === 'S3'">
        <p>
          Enter the the S3 URI that points to where imagery is located.
          The import process will import any imagery found in that location into Raster Foundry.
        </p>
        <form>
          <div class="form-group">
            <label for="name">S3 Bucket</label>
            <input id="name" type="url" class="form-control"
                   placeholder="s3://<bucket>/<prefix>/" ng-model="$ctrl.s3Config.bucket">
          </div>
          <div class="form-group color-danger"
               ng-if="$ctrl.showProjectCreateError && $ctrl.projectCreateErrorText"
          >
            {{$ctrl.projectCreateErrorText}}
          </div>
        </form>
      </div>

      <div ng-if="$ctrl.importType === 'Planet'">
        <p>
          Enter a list of comma-separated Planet Scene IDs into the text box for import. Note these should match the datasource selected in the previous screen.

        </p>
        <form>
          <div class="form-group">
            <label for="name">Scene IDs</label>
            <input id="name" type="text" class="form-control"
                   placeholder="REOrthoTile:20160415_..., REOrthoTile:20160..."
                   ng-model="$ctrl.planetSceneIds">
            <span ng-if="!$ctrl.hasPlanetCredential">
              <label for="name">Planet Key</label>
              <input id="name" type="text" class="form-control"
                     placeholder="Planet API Key"
                     ng-model="$ctrl.planetCredential">
            </span>
          </div>
          <div class="form-group color-danger"
               ng-if="$ctrl.showProjectCreateError && $ctrl.projectCreateErrorText"
          >
            {{$ctrl.projectCreateErrorText}}
          </div>
        </form>
      </div>

      <div ng-if="$ctrl.currentError" class="color-danger text-center">
        {{$ctrl.currentError.data}}
      </div>
    </div>
  </div>

  <!-- Body for LOCAL_UPLOAD -->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('LOCAL_UPLOAD')"
    ngf-multiple=true
    ngf-pattern="'*.tif,*.tiff'"
    ngf-drop-available=true
    ng-model="$ctrl.selectedFiles"
    ngf-keep="'distinct'"
    ngf-change="$ctrl.filesSelected($files)"
    ngf-drop>
    <!--Local file import -->
    <div class="content">
      <h3 class="no-margin">Local File Import</h3>
      <ng-container ng-if="!$ctrl.shouldShowFileList()">
        <p>Select imagery files from your computer and we'll import them into Raster Foundry Scenes. Raster Foundry currently allows for uploading GeoTIFF files only.</p>
        <div class="text-center">
          <button class="btn btn-primary"
                  ngf-multiple=true
                  ng-model="$ctrl.selectedFiles"
                  ngf-pattern="'*.tif,*.tiff'"
                  ngf-keep="'distinct'"
                  ngf-change="$ctrl.filesSelected($files)"
                  ngf-select
          >
            Select Files
          </button>
        </div>
      </ng-container>
      <ng-container ng-show="$ctrl.shouldShowFileList()">
        <p><strong>{{$ctrl.selectedFiles.length}}</strong> file(s) have been selected totalling <strong>{{$ctrl.getTotalFileSize() | byteFmt: 2}}</strong></p>
        <div class="row align-right">
          <button class="btn"
                  ng-click="$ctrl.removeAllFiles()"
          >
            Remove All Files
          </button>
          &nbsp;
          <button class="btn btn-primary"
                  ngf-multiple=true
                  ng-model="$ctrl.selectedFiles"
                  ngf-pattern="'*.tif,*.tiff'"
                  ngf-keep="'distinct'"
                  ngf-change="$ctrl.filesSelected($files)"
                  ngf-select
          >
            Add More Files
          </button>
        </div>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="file in $ctrl.selectedFiles">
            <div class="list-group-overflow">
              <span title="{{$ctrl.scene.name}}">
                <strong class="color-dark">{{file.name}}</strong>
              </span>
              <br>
              <span>{{file.size | byteFmt: 2}}</span>
            </div>
            <div class="list-group-right">
              <button class="btn btn-square btn-secondary" ng-click="$ctrl.removeFileAtIndex($index)" >
                <i class="icon-cross"></i>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!--Body for METADATA-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('METADATA')">
    <div class="content">
      <h3 class="no-margin">Add optional metadata</h3>
      <div>
        <p>Enter metadata about the scenes in the files you're uploading</p>
        <form>
          <div class="form-group">
            <div>
              <label for="acquisitionDate">Acquisition Date</label>
              <input id="acquisitionDate" type="date"
                     class="form-control" ng-model="$ctrl.sceneData.acquisitionDate">
            </div>
            <div>
              <label for="cloudCover">Cloud Cover</label>
              <input id="cloudCover" type="number" placeholder=""
                     class="form-control" ng-model="$ctrl.sceneData.cloudCover">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Body for UPLOAD_PROGRESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('UPLOAD_PROGRESS')">
    <div class="content">
      <h3 class="no-margin">Upload in progress...</h3>
      <div class="list-group">
          <div class="list-group-item no-flex" ng-repeat="file in $ctrl.selectedFiles">
            <div class="list-group-item-contents">
              <div class="list-group-overflow">
                <span title="{{$ctrl.scene.name}}">
                  <strong class="color-dark">{{file.name}}</strong>
                </span>
                <br>
                <span>{{file.size | byteFmt: 2}}</span>
              </div>
              <div class="list-group-right">
                {{$ctrl.uploadProgressPct[file.name] || '0%'}}
              </div>
            </div>
            <div class="list-group-item-contents">
              <div class="upload-progress-bar" ng-style="{ 'flex': $ctrl.uploadProgressFlexString[file.name] || '0 0' }"></div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <!--Body for S3 IMPORT_SUCCESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('S3_UPLOAD')">
    <div class="content">
      <h3 class="no-margin text-center">Processing your S3 import</h3>
    </div>
  </div>

  <!--Body for Planet IMPORT_SUCCESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('Planet')">
    <div class="content">
      <h3 class="no-margin text-center">Importing your planet imagery</h3>
    </div>
  </div>

  <!--Body for IMPORT_SUCCESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('IMPORT_SUCCESS')">
    <div class="content">
      <h3 class="no-margin">Success!</h3>
      <p>
        Your scenes are importing into Raster Foundry now.
        This may take some time and we will notify you when the process is complete.
        In the meantime checkout your Notification Center for up to date information on all of your projects.
      </p>
    </div>
  </div>

  <!--Default Footer-->
  <div class="modal-footer">
    <button type="button" class="btn pull-left"
            ng-if="$ctrl.allowClose()"
            ng-click="$ctrl.handleClose()">
      Cancel
    </button>

    <button type="button" class="btn"
            ng-if="$ctrl.hasPrevious()"
            ng-click="$ctrl.handlePrevious()"
            ng-disabled="!$ctrl.allowPrevious()">
      Back
    </button>
    <button type="button" class="btn btn-primary"
            ng-if="$ctrl.hasNext()"
            ng-click="$ctrl.handleNext()"
            ng-disabled="!$ctrl.allowNext()">
      Next
    </button>
    <button type="button" class="btn btn-primary"
            ng-if="$ctrl.allowDone()"
            ng-click="$ctrl.handleDone()">
      Done
    </button>
  </div>
</div>
