<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.handleClose()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" ng-if="!$ctrl.resolve.project">
      Start an Import
    </h4>
    <h4 class="modal-title" ng-if="$ctrl.resolve.project">
      Import into {{$ctrl.resolve.project.name}}
    </h4>
    <p>Import your imagery from various sources</p>
  </div>

  <!-- Body for DATASOURCE_SELECT-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('DATASOURCE_SELECT')">
    <div class="content">
      <div class="list-group">
        <div class="form-group all-in-one">
          <label for="search"><i class="icon-search"></i></label>
          <input id="search" type="text" class="form-control"
                placeholder="Search Datasources" ng-model="$ctrl.searchString">
        </div>
        <div class="list-group-item" ng-repeat="datasource in $ctrl.datasources.results | filter: {name: $ctrl.searchString}">
          <div class="list-group-overflow">
            <strong class="color-dark">{{datasource.name}}</strong><br>
            <ng-pluralize count="datasource.bands.length"
                          when="{'one': '{} band',
                                'other': '{} bands'
                                }">
            </ng-pluralize>
          </div>
          <div class="list-group-right">
            <button class="btn" ng-click="$ctrl.handleDatasourceSelect(datasource)">
              Select
            </button>
          </div>
        </div>
      </div>

      <!-- Datasource pagination, show only when item count exceeds page size-->
      <div class="list-group text-center"
          ng-show="$ctrl.shouldShowPagination()">
        <ul uib-pagination
            items-per-page="$ctrl.pageSize"
            total-items="$ctrl.datasources.count"
            ng-model="$ctrl.currentPage"
            max-size="4"
            rotate="true"
            boundary-link-numbers="true"
            force-ellipses="true"
            ng-change="$ctrl.loadDatasources($ctrl.currentPage)">
        </ul>
      </div>
    </div>
  </div>

  <!--Body for IMPORT-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('IMPORT')">
    <div class="content">
      <h3 class="no-margin">Import your Imagery</h3>
      <br/>
      <ul class="tabbed-list-header app-width-container">
        <li>
          <a ng-click="$ctrl.isCog = false"
             ng-class="{active: !$ctrl.isCog}"
          >
            GeoTIFF
          </a>
        </li>
        <li>
          <a ng-click="$ctrl.isCog = true"
             ng-class="{active: $ctrl.isCog}"
          >
            Cloud Optimized GeoTIFF <span class="beta-tag">Beta</span>
          </a>
        </li>
      </ul>
      <p ng-if="$ctrl.isCog">
        <strong>This feature is currently in beta.</strong>
        <br/>
      </p>

      <p>Select the source you'd like to import your imagery from.</p>
      <p ng-if="$ctrl.resolve.project">Any scenes created from this import will automatically
        be added to the <strong>{{$ctrl.resolve.project.name}}</strong> project.
      </p>

      <div class="box-select-row" ng-if="!$ctrl.isCog">
          <rf-box-select-item
            class="small"
            ng-class="{selected: $ctrl.importType === 'local'}"
            ng-click="$ctrl.setImportType('local')"
          >
          <div class="text-center"><i class="icon-database h3"></i></div>
          <br/>
          <div class="text-center"><strong>Local File Upload</strong></div>
        </rf-box-select-item>
        <rf-box-select-item
                class="small"
                ng-class="{selected: $ctrl.importType === 'S3'}"
                ng-click="$ctrl.setImportType('S3')"
        >
          <img width="100%" ng-attr-src="{{$ctrl.awsS3Logo}}">
        </rf-box-select-item>
        <rf-box-select-item
                class="small"
                ng-class="{selected: $ctrl.importType === 'Planet'}"
                ng-click="$ctrl.setImportType('Planet')"
        >
          <img width="100%" ng-attr-src="{{$ctrl.planetLogo}}">
        </rf-box-select-item>
      </div>


      <div class="box-select-row" ng-if="$ctrl.isCog">
          <rf-box-select-item
            class="small"
            ng-class="{selected: $ctrl.importType === 'local'}"
            ng-click="$ctrl.setImportType('local')"
          >
          <div class="text-center"><i class="icon-database h3"></i></div>
          <br/>
          <div class="text-center"><strong>Local File Upload</strong></div>
        </rf-box-select-item>
        <rf-box-select-item
          class="small"
          ng-class="{selected: $ctrl.importType === 'COG'}"
          ng-click="$ctrl.setImportType('COG')"
        >
          <div class="text-center"><i class="icon-link h3"></i></div>
          <br/>
          <div class="text-center"><strong>Remote File Link</strong></div>
        </rf-box-select-item>
      </div>

      <!-- Import config for S3 -->
      <div ng-if="$ctrl.importType === 'S3' && !$ctrl.isCog">
          <p>
            Enter the the S3 URI that points to where imagery is located.
            The import process will import any imagery found in that location into {{$ctrl.BUILDCONFIG.APP_NAME}}.
          </p>
          <form>
            <div class="form-group">
              <label for="name">S3 Bucket</label>
              <input id="name" type="url" class="form-control"
                     placeholder="s3://<bucket>/<prefix>/" ng-model="$ctrl.s3Config.bucket">
            </div>
            <div class="form-group color-danger"
                 ng-if="$ctrl.showProjectCreateError && $ctrl.projectCreateErrorText"
            >
              {{$ctrl.projectCreateErrorText}}
            </div>
          </form>
        </div>
      <div ng-if="$ctrl.importType === 'COG' && $ctrl.isCog">
        <p>
          Enter the the HTTP or S3 URI that points to where COG imagery is located.
        </p>
        <form>
          <div class="form-group">
            <label for="name">COG HTTP URI</label>
            <input id="name" type="url" class="form-control"
                   placeholder="The HTTP or S3 URI of imagery to be imported" ng-model="$ctrl.cogConfig.url">
          </div>
        </form>
      </div>

      <div ng-if="$ctrl.importType === 'Planet' && !$ctrl.isCog">
        <p>
          Enter a list of comma-separated Planet Scene IDs into the text box for import.
          Note these should match the datasource selected in the previous screen.
        </p>
        <form>
          <div class="form-group">
            <label for="name">Scene IDs</label>
            <input id="name" type="text" class="form-control"
                   placeholder="REOrthoTile:20160415_..., REOrthoTile:20160..."
                   ng-model="$ctrl.planetSceneIds">
            <span ng-if="!$ctrl.hasPlanetCredential">
              <label for="name">Planet Key</label>
              <input id="name" type="text" class="form-control"
                     placeholder="Planet API Key"
                     ng-model="$ctrl.planetCredential">
            </span>
          </div>
          <div class="form-group color-danger"
               ng-if="$ctrl.showProjectCreateError && $ctrl.projectCreateErrorText"
          >
            {{$ctrl.projectCreateErrorText}}
          </div>
        </form>
      </div>

      <div ng-if="$ctrl.currentError" class="color-danger text-center">
        {{$ctrl.currentError.data}}
      </div>
    </div>
  </div>

  <!-- Body for LOCAL_UPLOAD -->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('LOCAL_UPLOAD')"
    ngf-multiple=true
    ngf-pattern="'*.tif,*.tiff'"
    ngf-drop-available=true
    ng-model="$ctrl.selectedFiles"
    ngf-keep="'distinct'"
    ngf-change="$ctrl.filesSelected($files)"
    ngf-drop>
    <!--Local file import -->
    <div class="content">
      <h3 class="no-margin">Local File Import</h3>
      <ng-container ng-if="!$ctrl.shouldShowFileList()">
        <p>Select imagery files from your computer and we'll import them into {{$ctrl.BUILDCONFIG.APP_NAME}} Scenes. {{$ctrl.BUILDCONFIG.APP_NAME}} currently allows for uploading GeoTIFF files only.</p>

        <br/>
        <br/>

        <div class="text-center">
          <button class="btn btn-primary"
                  ngf-multiple=true
                  ng-model="$ctrl.selectedFiles"
                  ngf-pattern="'*.tif,*.tiff'"
                  ngf-keep="'distinct'"
                  ngf-change="$ctrl.filesSelected($files)"
                  ngf-select
          >
            Select Files
          </button>

          <br/>
          <br/>

          or drag and drop files
        </div>
      </ng-container>
      <ng-container ng-show="$ctrl.shouldShowFileList()">
        <p><strong>{{$ctrl.selectedFileDatasets.length}}</strong> file(s) have been selected totalling <strong>{{$ctrl.getTotalFileSize() | byteFmt: 2}}</strong></p>
        <div class="row align-right">
          <button class="btn"
                  ng-click="$ctrl.removeAllFiles()"
          >
            Remove All Files
          </button>
          &nbsp;
          <button class="btn btn-primary"
                  ngf-multiple=true
                  ng-model="$ctrl.selectedFiles"
                  ngf-pattern="'*.tif,*.tiff'"
                  ngf-keep="'distinct'"
                  ngf-change="$ctrl.filesSelected($files)"
                  ngf-select
          >
            Add More Files
          </button>
        </div>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="fileDS in $ctrl.selectedFileDatasets">
            <div class="list-group-overflow">
              <span class="icon-warning color-warning"
                ng-if="fileDS.bandCount < 0"
                tooltips
                tooltip-template="This file could not be inspected. Please verify that it is a valid GeoTiff."
                tooltip-size="small"
                tooltip-class="rf-tooltip" tooltip-side="top">
              </span>
              <span class="icon-warning color-warning"
                ng-if="$ctrl.datasource.bands.length && fileDS.bandCount >= 0 && fileDS.bandCount !== $ctrl.datasource.bands.length"
                tooltips
                tooltip-template="This file has {{fileDS.bandCount}} band(s) but the Datasource you chose specifies {{$ctrl.datasource.bands.length}}."
                tooltip-size="small"
                tooltip-class="rf-tooltip" tooltip-side="top">
              </span>
              <span class="icon-warning color-warning"
                ng-if="!$ctrl.datasource.bands.length"
                tooltips
                tooltip-template="The Datasource you chose has no bands specified. This file has {{fileDS.bandCount}} band(s)."
                tooltip-size="small"
                tooltip-class="rf-tooltip" tooltip-side="top">
              </span>
              <span title="{{$ctrl.scene.name}}">
                <strong class="color-dark">{{fileDS.file.name}}</strong>
              </span>
              <br>
              <span>{{fileDS.file.size | byteFmt: 2}}</span>
            </div>
            <div class="list-group-right">
              <button class="btn btn-square btn-secondary" ng-click="$ctrl.removeFileAtIndex($index)" >
                <i class="icon-cross"></i>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!--Body for METADATA-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('METADATA')">
    <div class="content">
      <h3 class="no-margin">Add optional metadata</h3>
      <div>
        <p>Enter metadata about the scenes in the files you're uploading</p>
        <form>
          <div class="form-group">
            <div>
              <label for="acquisitionDate">Acquisition Date</label>
              <input id="acquisitionDate" type="date"
                     class="form-control" ng-model="$ctrl.sceneData.acquisitionDate">
            </div>
          </div>
          <div class="form-group">
            <div>
              <label for="cloudCover">Cloud Cover</label>
              <input id="cloudCover" type="number" placeholder=""
                     class="form-control" ng-model="$ctrl.sceneData.cloudCover">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Body for UPLOAD_PROGRESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('UPLOAD_PROGRESS')">
    <div class="content">
      <h3 class="no-margin">Upload in progress...</h3>
      <div class="list-group">
          <div class="list-group-item no-flex" ng-repeat="upload in $ctrl.fileUploads track by upload.file.name">
            <div class="list-group-item-contents">
              <div class="list-group-overflow">
                <span title="{{$ctrl.scene.name}}">
                  <strong class="color-dark">{{upload.file.name}}</strong>
                </span>
                <br>
                <span ng-if="upload.progress">
                  {{upload.file.size * (upload.progress.loaded / upload.progress.total) | byteFmt: 2}} /
                </span>
                <span>{{upload.file.size | byteFmt: 2}}</span>
              </div>
              <div class="list-group-right">
                {{$ctrl.uploadProgressPct[upload.file.name] || '0%'}}
                <button title="Retry Upload"
                        class="btn btn-square"
                        ng-if="upload.api.failed"
                        ng-click="$ctrl.retryUpload(upload)">
                  <i class="icon-retry"></i>
                </button>
                <button title="Cancel Upload"
                        class="btn btn-square btn-danger"
                        ng-if="!upload.aborted && !upload.finished"
                        ng-click="$ctrl.abortUpload(upload)">
                  <i class="icon-cross"></i>
                </button>
                <button disabled="true"
                        ng-if="upload.finished"
                        class="btn btn-square btn-secondary">
                  <i class="icon-check"></i>
                </button>
              </div>
            </div>
            <div class="list-group-item-contents">
              <div class="upload-progress-bar"
                   ng-style="{ 'flex': $ctrl.uploadProgressFlexString[upload.file.name] || '0 0' }"
                   ng-class="{ 'cancelled': upload.aborted, 'failed': upload.error }"
              >
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <!--Body for S3 IMPORT_SUCCESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('S3_UPLOAD')">
    <div class="content">
      <h3 class="no-margin text-center">Processing your S3 import</h3>
    </div>
  </div>

  <!--Body for Planet IMPORT_SUCCESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('IMPORT_COG_PROGRESS')">
    <div class="content">
      <h3 class="no-margin text-center">Your COG import is being processed</h3>
      <br/>
      <div class="text-center"><i class="icon-load animate-spin"></i></div>
    </div>
  </div>

  <!--Body for Planet IMPORT_SUCCESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('Planet')">
    <div class="content">
      <h3 class="no-margin text-center">Importing your planet imagery</h3>
    </div>
  </div>

  <!--Body for IMPORT_SUCCESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('IMPORT_SUCCESS')">
    <div class="content" ng-if="!$ctrl.error">
      <h3 class="no-margin">Success!</h3>
      <p>
        Your scenes are importing into {{$ctrl.BUILDCONFIG.APP_NAME}} now.
        This may take some time and we will notify you when the process is complete.
        <span ng-if="$ctrl.resolve.origin">
          <a ng-click="$ctrl.linkToStatus()">
            Click here to check the status of your import.
          </a>
        </span>
        <span ng-if="!$ctrl.resolve.origin">
          You may check the status of your import later.
        </span>
      </p>
    </div>
    <div class="concent" ng-if="$ctrl.error">
      <h3>Error</h3>
      <p>
        There was an error importing your scenes
      </p>
      <p>
        Please check to make sure that you selected the correct URLs or files
      </p>
    </div>
  </div>

  <!--Default Footer-->
  <div class="modal-footer">
    <button type="button" class="btn pull-left"
            ng-if="$ctrl.allowClose()"
            ng-click="$ctrl.handleClose()">
      Cancel
    </button>

    <button type="button" class="btn"
            ng-if="$ctrl.hasPrevious()"
            ng-click="$ctrl.handlePrevious()"
            ng-disabled="!$ctrl.allowPrevious()">
      Back
    </button>
    <button type="button" class="btn btn-primary"
            ng-if="$ctrl.hasNext()"
            ng-click="$ctrl.handleNext()"
            ng-disabled="!$ctrl.allowNext()">
      Next
    </button>
    <button type="button" class="btn btn-primary"
            ng-if="$ctrl.allowDone()"
            ng-click="$ctrl.handleDone()">
      Done
    </button>
  </div>
</div>
