<!-- Workflow container -->
<div class="main with-position">
  <div class="lab-container">
    <div class="lab-left"
         ng-show="$ctrl.isShowingPreview && !!$ctrl.showMap"
         ng-style="$ctrl.labLeftStyle" draggable="false">
      <rf-lab-map
        map-id="lab-preview"
        on-close="$ctrl.onPreviewClose()"
        comparing="$ctrl.frameControlAdded"
        on-compare-click="$ctrl.onCompareClick()"
      ></rf-lab-map>
      <rf-node-selector
        data-node-map="$ctrl.nodeMap"
        data-selected="$ctrl.leftPreviewSelection"
        data-position="$ctrl.leftPreviewPosition"
        on-select="$ctrl.onLeftSelect(node)"
        on-close="$ctrl.onLeftClose()"
        ng-if="$ctrl.frameControlAdded"></rf-node-selector>
      <rf-node-selector
        data-node-map="$ctrl.nodeMap"
        data-selected="$ctrl.rightPreviewSelection"
        data-position="$ctrl.rightPreviewPosition"
        on-select="$ctrl.onRightSelect(node)"
        on-close="$ctrl.onRightClose()"
        ng-if="$ctrl.frameControlAdded"></rf-node-selector>
      <rf-node-selector
        data-node-map="$ctrl.nodeMap"
        data-selected="$ctrl.singlePreviewSelection"
        data-position="$ctrl.singlePreviewPosition"
        on-select="$ctrl.onSingleSelect(node)"
        on-close="$ctrl.onSingleClose()"
        ng-if="!$ctrl.frameControlAdded && $ctrl.singlePreviewSelection"></rf-node-selector>
    </div>
    <div class="resize-separator"
         ng-style="$ctrl.resizeHandleStyle"
         ng-show="$ctrl.isShowingPreview"
         draggable="false">
      <div class="resize-handle-grabber"
           ng-mousedown="$ctrl.startLabSplitDrag($event)"
           ng-touchstart="$ctrl.startLabSplitDrag($event)"
           draggable="false"
           title="Drag to resize Preview">
        <div class="icon-gripper" draggable="false"></div>
      </div>
    </div>
    <div class="resize-ghost"
         ng-style="$ctrl.labResizingStyle"
         ng-show="$ctrl.labResizing"
         draggable="false">
      <div class="resize-ghost-text" ng-show="$ctrl.splitPercentX && $ctrl.splitPercentX > 90">
        Maximize Map
      </div>
      <div class="resize-ghost-text" ng-show="$ctrl.splitPercentX && $ctrl.splitPercentX < 10">
        Maximize Diagram
      </div>
    </div>
    <div class="lab-right"
         ng-style="$ctrl.labRightStyle"
         ng-show="!!$ctrl.showDiagram || !$ctrl.isShowingPreview"
         draggable="false">
      <div class="lab-action-controls">
        <!-- button class="btn btn-light">Add Note</button -->
        <button class="btn btn-secondary"
                ng-click="$ctrl.createToolRun()"
                ng-disabled="$ctrl.applyInProgress">
          Apply Changes
        </button>
      </div>
      <rf-diagram-container
        ng-if="$ctrl.tool"
        class="with-position"
        toolrun-valid="!!$ctrl.lastToolRun"
        on-preview="$ctrl.showPreview(data)"
        on-share="$ctrl.shareNode(data)"
        on-parameter-change="$ctrl.onExecutionParametersChange(sourceId, project, band, override)"
        on-graph-complete="$ctrl.onGraphComplete(nodes)"
        tool-definition="$ctrl.tool.definition"
        tool-parameters="$ctrl.toolParameters">
      </rf-diagram-container>
    </div>
    <div class="lab-footer"
         ng-show="$ctrl.warning">
      <span class="icon-warning"></span>
      {{$ctrl.warning}}
      <button class="btn-transparent btn-text" ng-click="$ctrl.clearWarning()">
        <span class="icon-close"></span>
      </button>
    </div>
  </div>
</div>
