.preview-control-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px;
  pointer-events: false;
  & > * {
    pointer-events: true;
  }
  text-align: center;
  z-index: 1000;
}

.preview-info-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 16px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  & > * {
    pointer-events: all;
  }
  text-align: center;
  z-index: 1000;
  .split-container {
    flex: 1;
    text-align: center;
  }
}

.rzslider.light {
  .rz-bar {
    background: #d8e0f3;
  }
  .rz-bubble {
    padding: 0px;
    bottom: 0px;
    margin-top: 24px;
    display: block;
  }
}
