swagger: '2.0'
info:
  title: Raster Foundry
  description: An application to find, view, and analyze geospatial data at any scale
  version: "1.34.0"

host: app.rasterfoundry.com

schemes:
  - http
  - https

basePath: /api

produces:
  - application/json
consumes:
  - application/json

securityDefinitions:
  # X-API-Key: abcdef12345
  APIKeyHeader:
    type: apiKey
    in: header
    name: Authorization

security:
  - APIKeyHeader: []

x-top-matter:
  - title: Introduction
    level: 1
    content: |
      The Raster Foundry API allows developers to find, view, and analyze geospatial data in Raster Foundry. As the name implies, it's especially useful for working with large raster datasets like satellite imagery.

      Raster Foundry is built with an openly licensed, open source code base. If you'd like to peek under the hood, make a request, or become a contributor, <a href="https://github.com/raster-foundry/raster-foundry/issues" target="_blank">find us on Github</a>.
  - title: Authentication
    level: 2
    content: |
      Our API identifies applications and users with <a href="https://jwt.io/introduction/" target="_blank">JSON Web Tokens (JWT)</a>. Refresh tokens can be created in your Raster Foundry account and used to generate example requests signed with valid session tokens <a href="https://help.rasterfoundry.com/developer-resources/generating-a-refresh-token-in-order-to-use-the-api" target="_blank">(detailed instructions are available here)</a>.

x-resources:
  - name: Projects
    description: |
      Projects are user-defined collections of scenes and are the fundamental unit that tools act on.
    further-description:
      - title: Project permissions
        content: |
          Projects are currently private to the user that created them and cannot be discovered by other Raster Foundry users. However, projects can be shared publicly as a tiled web map with a direct link.
          Project permissions will eventually expand to include making projects discoverable to all users or just users within an organization.
  - name: Scenes
    description: |
      Scenes are single or multi-image rasters where every image within the scene shares the same metadata characteristics and are always associated with a datasource. This simplest example of a scene is a single-band image like a land classification raster. The most complex example is a multi-image scene made up of multi-band images, like a pre-tiled aerial image where each tile is one piece of a larger coherent scene.
    further-description:
      - title: Scene permissions
        content: |
          By default, imported scenes are private to the user that uploaded them and scenes generated from public data sources are discoverable by all users.
          Scene permissions will eventually expand to include making imported scenes discoverable to all users or just users within an organization.
  - name: Images
    description: |
      Images are single or multi-band rasters that can be viewed and edited as a single unit but are always associated with a parent scene. They are sometimes synonymous with their parent scenes and other times just one of several images associated with their parent scenes. One common example of an image is a multispectral satellite image; another is a land classification raster.
    further-description:
      - title: Image permissions
        content: |
          Images respect the permissions applied to their parent scenes.
  - name: Uploads
    description: 'Uploads are datasets that a user or application has attempted to upload to Raster Foundry (successfully or unsuccessfully).'
    further-description:
      - title: Uploads permissions
        content: |
          All user uploads are private to that user.
  - name: Datasources
    description: |
      Datasources contain information common to all scenes associated with them, such as the number of bands to expect in images associated with that datasource. A datasource can be specific (e.g. a particular earth observation satellite) or generic (e.g. a 3-band sensor on a UAV). All scenes must have an associated datasource.

  - name: Tokens
    description: |
      Tokens are used to securely identify users and applications accessing the API.
  - name: Tools
    description: |
      Tools are algorithms that can be applied to projects manually or automatically.
      Tools can range from primitive statistical queries, to algebraic functions, to complex logic trees of operations happening in parallel. Tools can be constructed of other tools, custom-defined operations, or both. They can take any number of projects as inputs.
  - name: Users
    description: |
      Users and third party applications can be managed with the Users resource.
  - name: Organizations
    description: |
      Organizations are associations of users who share uniform access to permissions-protected resources.
  - name: Exports
    description: |
      Projects can be exported, but individual scenes and images cannot.
  - name: Shapes
    description: |
      Shapes are vectors that each user can create and manage. These shapes can then be used in various ways within the Raster Foundry platform.
  - name: Licenses
    description: |
      A license is an official permission or permit to do, use, or own something. Users can add licenses to the data they create and share in Raster Foundry to communicate to others if and how that data can be used.
  - name: Teams
    description: |
      Teams represent groups of users within (and across) organizations. Each team belongs to one organization. A user can be a member of any number of teams.
  - name: Admin
    description: |
      Platforms, Organizations, and Teams can be used to manage users and visibility of projects, analyses, and scenes. Most of these functions will only be available to uses who are administrating groups.
  - name: STAC
    description: |
      SpatioTemporal Asset Catalog
tags:
  - name: Users
    description: 'Operations involving users and organizations'
  - name: Authentication
    description: 'Resources to obtain, use, and delete API tokens'
  - name: Imagery
    description: 'Interact with imagery'
  - name: Lab
    description: 'Geospatial processing discovery and endpoints'
  - name: Statistics
    description: 'Statistical metadata about geospatial data'
  - name: Permissions
    description: 'Resources relating to object-level access'
  - name: Admin
    description: 'Resources related to administration'
  - name: STAC
    description: 'Resources related to STAC catalog'

paths:
  /users/dropbox-setup/:
    x-resource: Users
    post:
      summary: 'Store a dropbox access token for a user from an authorization code'
      tags:
        - Users
      parameters:
        - name: DropboxAuthRequest
          in: body
          schema:
            $ref: '#/definitions/DropboxAuthRequest'
      responses:
        200:
          description: 'Dropbox access token successfully fetched'
  /users/me/:
    x-resource: Users
    get:
      summary: 'Get a logged-in user profile'
      tags:
        - Users
      responses:
        200:
          description: 'Profile found'
          schema:
            $ref: '#/definitions/UserSelf'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    patch:
      summary: 'Update user profile information'
      parameters:
        - name: Profile
          in: body
          schema:
            $ref: '#/definitions/Auth0UserProfile'
      tags:
        - Users
      responses:
        200:
          description: 'Profile updated'
          schema:
            $ref: '#/definitions/Auth0User'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update user api tokens'
      tags:
        - Users
      parameters:
        - name: User
          in: body
          schema:
            $ref: '#/definitions/User'
      responses:
        204:
          description: 'No Content'
        404:
          description: 'User not found'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /users/me/limits:
    x-resource: Users
    get:
      summary: "Get a logged in user's account limits"
      responses:
        200:
          description: 'Limits fetched'
          schema:
            type: array
            items:
              $ref: '#/definitions/UserScopeLimit'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /users/me/roles:
    x-resource: Users
    get:
      summary: "Get a logged-in user's roles"
      tags:
        - Users
      responses:
        200:
          description: 'Roles found'
          schema:
            type: array
            items:
              $ref: '#/definitions/UserGroupRoleWithRelated'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /users/me/scopes:
    x-resource: Users
    get:
      summary: 'Get object action scopes for a logged-in user'
      tags:
        - Users
      responses:
        200:
          description: 'User scopes found'
          schema:
            $ref: '#/definitions/UserScopes'
        404:
          description: 'User scopes not found'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /users/search/:
    x-resource: Users
    get:
      summary: 'Search for users'
      tags:
        - Users
      parameters:
        - $ref: '#/parameters/search'
      responses:
        200:
          description: 'Up to 5 users matching search'
          schema:
            type: array
            maxItems: 5
            items:
              $ref: '#/definitions/UserSearched'
  /users/{userID}/:
    x-resource: Users
    get:
      summary: 'Get a single user'
      tags:
        - Users
      parameters:
        - $ref: '#/parameters/userID'
      responses:
        200:
          description: 'User found'
          schema:
            $ref: '#/definitions/UserSearched'
        404:
          description: 'User not found'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update a user. Dev use only'
      tags:
        - Users
      parameters:
        - $ref: '#/parameters/userID'
        - name: User
          in: body
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        204:
          description: 'Update successful (No Content)'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /users/{userID}/scopes:
    x-resource: Users
    get:
      summary: 'Get object action scopes for a user'
      tags:
        - Users
      parameters:
        - $ref: '#/parameters/userID'
      responses:
        200:
          description: 'User scopes found'
          schema:
            $ref: '#/definitions/UserScopes'
        404:
          description: 'User scopes not found'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create object action scopes for a user'
      tags:
        - Users
      parameters:
        - $ref: '#/parameters/userID'
        - name: UserScopes
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserScopes'
      responses:
        200:
          description: 'Actions on objects a user can operate'
          schema:
            $ref: '#/definitions/UserScopes'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update object action scopes for a user'
      tags:
        - Users
      parameters:
        - $ref: '#/parameters/userID'
        - name: UserScopes
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserScopes'
      responses:
        204:
          description: 'Update successful (No Content)'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Remove all object action scopes for a user'
      tags:
        - Users
      parameters:
        - $ref: '#/parameters/userID'
      responses:
        204:
          description: 'Deletion Successful (no content)'
        404:
          description: |
            The UUID parameter does not refer to a user or the user does not have permission to perform this action
          schema:
            $ref: '#/definitions/Error'
  /organizations/search/:
    x-resource: Organizations
    get:
      summary: 'Search for organizations'
      tags:
        - Users
      parameters:
        - $ref: '#/parameters/search'
      responses:
        200:
          description: 'Up to 5 organizations matching search'
          schema:
            type: array
            maxItems: 5
            items:
              $ref: '#/definitions/Organization'
  /organizations/{organizationID}/:
    x-resource: Organizations
    get:
      summary: 'Get details for an organization'
      tags:
        - Users
      parameters:
        - $ref: '#/parameters/organizationID'
      responses:
        200:
          description: 'Returned organization'
          schema:
            $ref: '#/definitions/Organization'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /organizations/{organizationID}/users/:
    x-resource: Organizations
    get:
      summary: 'Get users and roles for an organization'
      tags:
        - Users
      parameters:
        - $ref: '#/parameters/organizationID'
      responses:
        200:
          description: 'Paginated list of user roles'
          schema:
            $ref: '#/definitions/UserPaginated'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /platforms/:
    x-resource: Admin
    get:
      summary: 'Get a list of platforms'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/pageSize'
      responses:
        200:
          description: 'Paginated list platforms'
          schema:
            $ref: '#/definitions/PlatformsPaginated'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create a platform'
      tags:
        - Admin
      parameters:
        - name: Platform
          in: body
          schema:
            $ref: '#/definitions/Platform'
      responses:
        201:
          description: 'Platform created'
          schema:
            $ref: '#/definitions/Platform'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /platforms/{platformID}/:
    x-resource: Admin
    get:
      summary: 'Get a platform'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
      responses:
        200:
          description: 'Platform found'
          schema:
            $ref: '#/definitions/Platform'
        404:
          description: 'Platform not found'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update a platform'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - name: Platform
          in: body
          schema:
            $ref: '#/definitions/Platform'
      responses:
        204:
          description: 'No Content (Update successful)'
        404:
          description: 'Platform not found'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected Error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete a platform'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
      responses:
        204:
          description: 'Deletion Successful (no content)'
        404:
          description: |
            The UUID parameter does not refer to platform or the user does not have permission to perform this action
          schema:
            $ref: '#/definitions/Error'
  /platforms/{platformID}/members/:
    x-resource: Admin
    get:
      summary: 'Get a list of users for the platform. Platform admin only'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/search'
      responses:
        200:
          description: 'Paginated list of users with their platform role'
          schema:
            $ref: '#/definitions/UserWithRolePaginated'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Move a user to the platform'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - name: userRole
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserRole'
      responses:
        200:
          description: 'List of modified user roles'
          schema:
            type: array
            items:
              $ref: '#/definitions/UserGroupRole'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /platforms/{platformID}/teams/search:
    x-resource: Admin
    get:
      summary: 'Get a list of teams that the user can see on the platform.'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/search'
      responses:
        200:
          description: 'List of teams that meet search criteria'
          schema:
            type: array
            items:
              $ref: '#/definitions/Team'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /platforms/{platformID}/organizations/:
    x-resource: Admin
    get:
      summary: 'List platform organizations. Platform admin only.'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/pageSize'
      responses:
        200:
          description: 'Paginated Organizations'
          schema:
            $ref: '#/definitions/OrganizationsPaginated'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create an Organization.'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - name: Organization
          in: body
          required: true
          schema:
            $ref: '#/definitions/OrganizationCreate'
      responses:
        201:
          description: 'Organization created'
          schema:
            $ref: '#/definitions/Organization'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /platforms/{platformID}/organizations/{organizationID}/:
    x-resource: Admin
    get:
      summary: 'Fetch platform organization'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
      responses:
        200:
          description: 'Organization found'
          schema:
            $ref: '#/definitions/Organization'
        404:
          description: 'Organization not found'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update platform organization'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
        - name: Organization
          in: body
          required: true
          schema:
            $ref: '#/definitions/Organization'
      responses:
        204:
          description: 'No Content (success)'
        404:
          description: 'Organization not found'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Deactivate platform organization'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
      responses:
        204:
          description: 'No Content (success)'
        404:
          description: 'Organization not found'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /platforms/{platformID}/organizations/{organizationID}/members/:
    x-resource: Admin
    get:
      summary: 'Fetch organization member list. Organization admin only'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/search'
      responses:
        200:
          description: 'Paginated Organization members'
          schema:
            $ref: '#/definitions/UserWithRolePaginated'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Move a user to the organization'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
        - name: userOrganizationRole
          description: 'Role that the user will have in the organization'
          in: body
          schema:
            $ref: '#/definitions/UserRole'
      responses:
        200:
          description: 'Modified roles'
          schema:
            type: array
            items:
              $ref: '#/definitions/UserGroupRole'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /platforms/{platformID}/organizations/{organizationID}/teams/:
    x-resource: Admin
    get:
      summary: 'Fetch organization teams'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/search'
      responses:
        200:
          description: 'Organization teams'
          schema:
            $ref: '#/definitions/TeamsPaginated'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create organization team'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
        - name: team
          in: body
          required: true
          schema:
            $ref: '#/definitions/TeamCreate'
      responses:
        201:
          description: 'Team Created'
          schema:
            $ref: '#/definitions/Team'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /platforms/{platformID}/organizations/{organizationID}/teams/{teamID}/:
    x-resource: Admin
    get:
      summary: 'Fetch team'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
        - $ref: '#/parameters/teamID'
      responses:
        200:
          description: 'Team found'
          schema:
            $ref: '#/definitions/Team'
        404:
          description: 'Team not found'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update team'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
        - $ref: '#/parameters/teamID'
        - name: team
          in: body
          required: true
          schema:
            $ref: '#/definitions/Team'
      responses:
        204:
          description: 'No Content (success)'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete team'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
        - $ref: '#/parameters/teamID'
      responses:
        204:
          description: 'No Content (success)'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /platforms/{platformID}/organizations/{organizationID}/teams/{teamID}/members/:
    get:
      summary: 'Fetch team members'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
        - $ref: '#/parameters/teamID'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/search'
      responses:
        200:
          description: 'Organization teams'
          schema:
            $ref: '#/definitions/TeamsPaginated'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Add team member'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
        - $ref: '#/parameters/teamID'
        - name: userRole
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserRole'
      responses:
        200:
          description: 'List of modified user roles'
          schema:
            type: array
            items:
              $ref: '#/definitions/UserGroupRole'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /platforms/{platformID}/organizations/{organizationID}/teams/{teamID}/members/{userID}:
    delete:
      summary: 'Remove team member'
      tags:
        - Admin
      parameters:
        - $ref: '#/parameters/platformID'
        - $ref: '#/parameters/organizationID'
        - $ref: '#/parameters/teamID'
        - $ref: '#/parameters/userID'
      responses:
        200:
          description: 'List of modified user roles'
          schema:
            type: array
            items:
              $ref: '#/definitions/UserGroupRole'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /datasources/:
    x-resource: Datasources
    get:
      summary: 'Get a list of datasources'
      description: |
        Datasources are sensors that share common metadata, like default color corrections. Scenes from
        a given datasource can be mosaiced and color corrected together.
      tags:
        - Datasources
      parameters:
        - $ref: '#/parameters/owner'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/ownershipType'
        - $ref: '#/parameters/search'
        - $ref: '#/parameters/groupType'
        - $ref: '#/parameters/groupId'
      responses:
        200:
          description: SUCCESS
          schema:
            $ref: '#/definitions/DatasourcePaginated'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a datasource
      description: |
        Datasources are sensors that share common metadata, like default color corrections. Scenes from
        a given datasource can be mosaiced and color corrected together.
      tags:
        - Datasources
      parameters:
        - name: datasource
          in: body
          required: true
          schema:
            $ref: '#/definitions/DatasourceToCreate'
      responses:
        201:
          description: SUCCESS
          schema:
            $ref: '#/definitions/Datasource'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /datasources/{datasourceID}:
    x-resource: Datasources
    get:
      summary: 'Get datasource by ID'
      parameters:
        - $ref: '#/parameters/datasourceID'
      tags:
        - Datasources
      responses:
        200:
          description: SUCCESS
          schema:
            $ref: '#/definitions/Datasource'
        403:
          description: 'Insufficient permissions for resource to get this datasource'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Replace a datasource'
      tags:
        - Datasources
      parameters:
        - $ref: '#/parameters/datasourceID'
        - name: datasource
          in: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/Datasource'
              - $ref: '#/definitions/DatasourceBands'
      responses:
        204:
          description: 'Update successful (no further processing needed)'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete a datasource'
      tags:
        - Datasources
      parameters:
        - $ref: '#/parameters/datasourceID'
      responses:
        200:
          description: 'Deletion successful (no content)'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /datasources/{datasourceID}/permissions/:
    x-resource: Datasources
    get:
      summary: 'List access control rules for this datasource'
      parameters:
        - $ref: '#/parameters/datasourceID'
      tags:
        - Permissions
      responses:
        200:
          description: 'All access control rules for this datasource'
          schema:
            type: array
            items:
              $ref: '#/definitions/AccessControlRule'
        403:
          description: 'Insufficient permissions for resource to list permissions on this datasource'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Replace permissions defined on this datasource'
      tags:
        - Permissions
      parameters:
        - $ref: '#/parameters/datasourceID'
        - name: accessControlRules
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/AccessControlRuleCreate'
      responses:
        200:
          description: 'Access control rules replaced with response successfully'
          schema:
            type: array
            items:
              $ref: '#/definitions/AccessControlRule'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Add a new access control rule to this datasource'
      tags:
        - Permissions
      parameters:
        - $ref: '#/parameters/datasourceID'
        - name: accessControlRule
          in: body
          required: true
          schema:
            $ref: '#/definitions/AccessControlRuleCreate'
      responses:
        200:
          description: 'Access control rule appended successfully'
          schema:
            type: array
            items:
              $ref: '#/definitions/AccessControlRule'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /uploads/:
    x-resource: Uploads
    get:
      summary: 'Get a list of uploads'
      description: |
        The uploads API endpoint enables searching, listing, and creating new uploads.
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/orderingBase'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/organization'
        - $ref: '#/parameters/datasource'
        - $ref: '#/parameters/uploadStatus'
        - $ref: '#/parameters/owner'
      responses:
        200:
          description: 'Paginated list of uploads'
          schema:
            $ref: '#/definitions/UploadPaginated'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create an upload'
      description: |
        Create a new upload.
      tags:
        - Imagery
      parameters:
        - name: Upload
          in: body
          schema:
            $ref: '#/definitions/UploadCreate'
      responses:
        201:
          description: 'Upload created'
          schema:
            $ref: '#/definitions/Upload'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /uploads/{uploadID}/:
    x-resource: Uploads
    get:
      summary: 'Get upload details'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/uploadID'
      responses:
        200:
          description: 'Info about upload'
          schema:
            $ref: '#/definitions/Upload'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update an upload'
      description: 'Update an existing upload'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/uploadID'
        - name: upload
          in: body
          required: true
          schema:
            $ref: '#/definitions/UploadCreate'
      responses:
        204:
          description: 'Update successful (no further processing needed)'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete an upload'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/uploadID'
      responses:
        204:
          description: 'Deletion successful (no content)'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /uploads/{uploadID}/credentials/:
    x-resource: Uploads
    get:
      summary: 'Get credentials for an AWS S3 bucket'
      tags:
        - Authentication
        - Imagery
      parameters:
        - $ref: '#/parameters/uploadID'
      responses:
        200:
          description: 'AWS credentials scoped to the upload bucket with prefix'
          schema:
            $ref: '#/definitions/UploadCredentialsResponse'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /uploads/{uploadID}/signed-url:
    x-resource: Uploads
    get:
      summary: 'Get a signed URL to upload data to'
      tags:
        - Authentication
        - Imagery
      parameters:
        - $ref: '#/parameters/uploadID'
      responses:
        200:
          description: 'A signed URL for HTTP PUT requests'
          schema:
            $ref: '#/definitions/UploadSignedUrlResponse'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /scenes/:
    x-resource: Scenes
    get:
      summary: 'Get a list of scenes'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/createdBy'
        - $ref: '#/parameters/minCreateDatetime'
        - $ref: '#/parameters/maxCreateDatetime'
        - $ref: '#/parameters/minModifiedDatetime'
        - $ref: '#/parameters/maxModifiedDatetime'
        - $ref: '#/parameters/owner'
        - $ref: '#/parameters/isActive'
        - $ref: '#/parameters/maxCloudCover'
        - $ref: '#/parameters/minCloudCover'
        - $ref: '#/parameters/minAcquisitionDatetime'
        - $ref: '#/parameters/maxAcquisitionDatetime'
        - $ref: '#/parameters/datasource'
        - $ref: '#/parameters/month'
        - $ref: '#/parameters/minDayOfMonth'
        - $ref: '#/parameters/maxDayOfMonth'
        - $ref: '#/parameters/maxSunAzimuth'
        - $ref: '#/parameters/minSunAzimuth'
        - $ref: '#/parameters/maxSunElevation'
        - $ref: '#/parameters/minSunElevation'
        - $ref: '#/parameters/bbox'
        - $ref: '#/parameters/inProject'
        - $ref: '#/parameters/inLayer'
        - $ref: '#/parameters/ingested'
        - $ref: '#/parameters/ingestStatus'
        - $ref: '#/parameters/pending'
        - name: projectLayerShape
          in: query
          type: string
          format: uuid
          description: 'UUID of layer to filter scenes by AOI shape'
        - name: shape
          in: query
          type: string
          format: uuid
          description: 'UUID of a shape in shapes table'
        - $ref: '#/parameters/ownershipType'
        - $ref: '#/parameters/groupType'
        - $ref: '#/parameters/groupId'
        - name: exactCount
          in: query
          type: boolean
          description: Return the exact count of scenes for a search. This can cause the query to time out if there are enough scenes
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/orderingScene'
        - $ref: '#/parameters/forProjectId'
      responses:
        200:
          description: 'Paginated list of scenes'
          schema:
            $ref: '#/definitions/SceneBrowsePaginated'
        503:
          description: 'Request timed out. Try using more specific filters.'
          schema:
            $ref: '#/definitions/Error'
        504:
          description: 'Request timed out. Try using more specific filters'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a scene
      tags:
        - Imagery
      parameters:
        - name: scene
          in: body
          required: true
          schema:
            $ref: '#/definitions/Scene'
      responses:
        201:
          description: 'Successfully created a new scene'
          schema:
            $ref: '#/definitions/Scene'
        400:
          description: 'Client error creating a scene'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /scenes/{sceneID}/:
    x-resource: Scenes
    get:
      summary: 'Get scene details'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/sceneID'
      responses:
        200:
          description: 'Info about Scene'
          schema:
            $ref: '#/definitions/Scene'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update a scene'
      tags:
        - Imagery
      parameters:
        - name: scene
          in: body
          required: true
          schema:
            $ref: '#/definitions/Scene'
        - $ref: '#/parameters/sceneID'
      responses:
        204:
          description: 'Update successful (no further processing needed)'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete a scene'
      description: |
        Warning: this will delete any associated imagery as well.

      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/sceneID'
      responses:
        204:
          description: 'Deletion successful (no content)'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /scenes/{sceneID}/download:
    x-resource: Scenes
    get:
      summary: 'Get list of downloadable Images'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/sceneID'
      responses:
        200:
          description: 'An array of downloadable images. Each image has a `downloadUri` property.'
          schema:
            type: array
            items:
              $ref: '#/definitions/ImageWithDownloadUri'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /scenes/{sceneID}/permissions/:
    x-resource: Scenes
    get:
      summary: 'List access control rules for this scene'
      parameters:
        - $ref: '#/parameters/sceneID'
      tags:
        - Permissions
      responses:
        200:
          description: 'All access control rules for this scene'
          schema:
            type: array
            items:
              $ref: '#/definitions/ObjectAccessControlRule'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Replace permissions defined on this scene'
      tags:
        - Permissions
      parameters:
        - $ref: '#/parameters/sceneID'
        - name: accessControlRules
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/ObjectAccessControlRule'
      responses:
        200:
          description: 'Access control rules replaced with response successfully'
          schema:
            type: array
            items:
              $ref: '#/definitions/ObjectAccessControlRule'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Add a new access control rule to this scene'
      tags:
        - Permissions
      parameters:
        - $ref: '#/parameters/sceneID'
        - name: accessControlRule
          in: body
          required: true
          schema:
            $ref: '#/definitions/ObjectAccessControlRule'
      responses:
        200:
          description: 'Access control rule appended successfully'
          schema:
            type: array
            items:
              $ref: '#/definitions/ObjectAccessControlRule'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Remove all access permissions from this scene'
      tags:
        - Permissions
      parameters:
        - $ref: '#/parameters/sceneID'
      responses:
        204:
          description: 'No Content. Access control rules deleted successfully'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /scenes/{sceneID}/actions:
    x-resource: Scenes
    get:
      summary: 'List actions a user is allowed to perform on this scene'
      tags:
        - Permissions
      parameters:
        - $ref: '#/parameters/sceneID'
      responses:
        200:
          description: |
            'List of actions a user is allowed to perform on this scene. A * in the response
            indicates the user has full permissions for this project.'
          schema:
            type: array
            items:
              type: string
              enum:
                - 'VIEW'
                - 'EDIT'
                - 'DELETE'
                - '*'
  /scenes/{sceneID}/datasource:
    x-resource: Scenes
    get:
      summary: 'Get the datasource for a scene you can view'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/sceneID'
      responses:
        200:
          description: 'A datasource'
          schema:
            $ref: '#/definitions/Datasource'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/:
    x-resource: Projects
    get:
      summary: 'Get a paginated list of projects'
      description: |
        Get a paginated list of all the projects which a user has permission to view.
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/orderingBase'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/owner'
        - $ref: '#/parameters/organization'
        - $ref: '#/parameters/tagsInclude'
        - $ref: '#/parameters/tagsExclude'
        - $ref: '#/parameters/ownershipType'
        - $ref: '#/parameters/groupType'
        - $ref: '#/parameters/groupId'
        - $ref: '#/parameters/search'
      responses:
        200:
          description: 'Paginated list of projects'
          schema:
            $ref: '#/definitions/ProjectPaginated'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create a project'
      tags:
        - Imagery
      parameters:
        - name: project
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProjectCreate'
      responses:
        201:
          description: 'Project creation successful'
          schema:
            $ref: '#/definitions/Project'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /projects/{projectID}/:
    x-resource: Projects
    get:
      summary: 'Get project details'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/analysisId'
        - $ref: '#/parameters/queryMapToken'
      responses:
        200:
          description: 'Project found'
          schema:
            $ref: '#/definitions/Project'
        404:
          description: 'Resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        403:
          description: 'Insufficient permissions for resource'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Perform a complete update of a project.'
      tags:
        - Imagery
      parameters:
        - name: project
          in: body
          required: true
          schema:
            $ref: '#/definitions/Project'
        - $ref: '#/parameters/projectID'
      responses:
        204:
          description: 'Update successful (no further processing needed)'
        404:
          description: 'Resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        403:
          description: 'Insufficient permissions for resource'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete a project'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
      responses:
        204:
          description: 'Deletion successful (no content)'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /projects/{projectID}/datasources/:
    x-resource: Projects
    get:
      summary: 'List datasources for scenes in this project'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/analysisId'
      responses:
        200:
          description: 'A list of datasources'
          schema:
            type: array
            items:
              $ref: '#/definitions/DatasourceThin'
  /projects/{projectID}/project-color-mode/:
    x-resource: Projects
    post:
      summary: 'Set the color mode on all scenes in the project'
      tags:
        - Imagery
      parameters:
        - name: projectColorMode
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProjectColorMode'
        - $ref: '#/parameters/projectID'
      responses:
        204:
          description: 'Update Successful'
        404:
          description: 'Resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        403:
          description: 'Insufficient permissions for resource'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /projects/{projectID}/labels/:
    x-resource: Projects
    get:
      summary: 'Get a list of the labels used on a project default layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
      responses:
        200:
          description: 'A list of labels'
          schema:
            type: array
            items:
              type: string
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /projects/{projectID}/annotation-groups/:
    x-resource: Projects
    get:
      summary: 'Get annotation groups belonging to a project default layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
      responses:
        200:
          description: 'Array containing annotation groups for this project default layer'
          schema:
            type: array
            items:
              $ref: '#/definitions/AnnotationGroup'
        404:
          description: 'Resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        403:
          description: 'Insufficient permissions for resource'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create annotation group for this project default layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - name: annotationGroup
          in: body
          required: true
          schema:
            $ref: '#/definitions/AnnotationGroupCreate'
      responses:
        200:
          description: 'Created annotation group'
          schema:
            $ref: '#/definitions/AnnotationGroup'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /projects/{projectID}/annotation-groups/summary/:
    x-resource: Projects
    get:
      summary: 'Get a summary of the label groups on a project default layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
      responses:
        200:
          description: 'Fetched label summaries'
          schema:
            type: array
            items:
              $ref: '#/definitions/LabelSummary'
        404:
          description: 'Resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/annotation-groups/{annotationGroupID}/:
    x-resource: Projects
    get:
      summary: 'Get annotation group for project default layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/annotationGroupID'
      responses:
        200:
          description: 'fetched annotation group'
          schema:
            $ref: '#/definitions/AnnotationGroup'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update annotation group'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/annotationGroupID'
        - name: annotationGroup
          in: body
          required: true
          schema:
            $ref: '#/definitions/AnnotationGroup'
      responses:
        200:
          description: 'Number of updated annotation groups from this request'
          schema:
            type: number
            format: integer
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete annotation group from project default layer and all associated annotations'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/annotationGroupID'
      responses:
        200:
          description: 'Number of deleted annotation groups from this request'
          schema:
            type: number
            format: integer
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/annotations/:
    x-resource: Projects
    get:
      summary: 'Get annotations belonging to a project default layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/annotationLabel'
        - $ref: '#/parameters/annotationQualityCheck'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/queryMapToken'
        - $ref: '#/parameters/bbox'
        - $ref: '#/parameters/withOwnerInfo'
        - $ref: '#/parameters/annotationGroup'
        - $ref: '#/parameters/taskId'
      responses:
        200:
          description: 'GeoJSON feature collection containing paginated annotations of this project default layer'
          schema:
            $ref: '#/definitions/AnnotationFeatureCollectionPaginated'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

    post:
      summary: 'Create annotations for a project default layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - name: annotations
          in: body
          required: true
          schema:
            $ref: '#/definitions/AnnotationFeatureCollectionCreate'
      responses:
        201:
          description: 'GeoJSON annotations successfully created'
          schema:
            $ref: '#/definitions/AnnotationFeatureCollection'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete all annotations from a project default layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
      responses:
        201:
          description: 'Annotations Deleted'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'


  /projects/{projectID}/annotations/{annotationID}:
    x-resource: Projects
    get:
      summary: 'Get an annotation belonging to a project default layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/annotationID'
      responses:
        200:
          description: 'GeoJSON feature containing one annotation from this project default layer'
          schema:
            $ref: '#/definitions/AnnotationFeatureWithOwnerInfo'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

    put:
      summary: 'Update an annotation of this project default layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/annotationID'
        - name: annotation
          in: body
          required: true
          schema:
            $ref: '#/definitions/AnnotationFeatureUpdate'
      responses:
        204:
          description: 'No content, update successful'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

    delete:
      summary: 'Delete an annotation from project default layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/annotationID'
      responses:
        204:
          description: 'Deletion successful.'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/scenes/:
    x-resource: Projects
    get:
      summary: 'Get a list of scenes associated with a project'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/orderingScene'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/organization'
        - $ref: '#/parameters/maxCloudCover'
        - $ref: '#/parameters/minCloudCover'
        - $ref: '#/parameters/minAcquisitionDatetime'
        - $ref: '#/parameters/maxAcquisitionDatetime'
        - $ref: '#/parameters/minCreateDatetime'
        - $ref: '#/parameters/maxCreateDatetime'
        - $ref: '#/parameters/datasource'
        - $ref: '#/parameters/month'
        - $ref: '#/parameters/minDayOfMonth'
        - $ref: '#/parameters/maxDayOfMonth'
        - $ref: '#/parameters/maxSunAzimuth'
        - $ref: '#/parameters/minSunAzimuth'
        - $ref: '#/parameters/maxSunElevation'
        - $ref: '#/parameters/minSunElevation'
        - $ref: '#/parameters/minResolution'
        - $ref: '#/parameters/maxResolution'
        - $ref: '#/parameters/tags'
        - $ref: '#/parameters/ingested'
        - $ref: '#/parameters/ingestStatus'
        - $ref: '#/parameters/pending'
      responses:
        200:
          description: 'Paginated list of scenes associated with this project'
          schema:
            $ref: '#/definitions/ScenePaginated'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Add scenes to a project by their ID'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - name: scenes
          in: body
          required: true
          description: 'UUIDs of scenes to place in project'
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        200:
          description: 'Number of scenes added to a project'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Replace scenes in a project'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - name: scenes
          in: body
          required: true
          description: 'UUIDs of scenes to replace in project'
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        200:
          description: 'Scenes in this project'
          schema:
            type: array
            items:
              $ref: '#/definitions/Scene'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete scenes from a project'
      tags:
        - Imagery
      parameters:
        - name: scenes
          in: body
          required: true
          description: 'UUIDs of scenes to delete in project'
          schema:
            type: array
            items:
              type: string
              format: uuid
        - $ref: '#/parameters/projectID'
      responses:
        204:
          description: 'No content, delete successful'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/scenes/{sceneID}/accept:
    post:
      summary: 'Approve a pending scene which has passed an area of interest check.'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/sceneID'
      responses:
        204:
          description: 'Successfully accepted the Scene.'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/scenes/accept:
    post:
      summary: 'Approve a list of pending scenes which have passed an area of interest check.'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - name: scenes
          in: body
          required: true
          description: 'UUIDs of scenes to approve'
          schema:
            $ref: '#/definitions/BulkAcceptParams'
      responses:
        204:
          description: 'Successfully accepted scenes'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/scenes/bulk-add-from-query/:
    x-resource: Projects
    post:
      summary: 'Add scenes to a project based on search parameters'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - name: combinedSceneQueryParameters
          description: 'combined query parameters for finding scenes to add to this project'
          in: body
          schema:
            $ref: '#/definitions/CombinedSceneQueryParams'
      responses:
        201:
          description: 'List of scenes added to project'
          schema:
            type: array
            items:
              $ref: '#/definitions/Scene'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/mosaic/:
    x-resource: Projects
    get:
      summary: "Get a list of a project's scene IDs and their color-correction parameters"
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
      responses:
        200:
          description: 'An ordered list of scene IDs and corresponding color correction parameters'
          schema:
            type: array
            items:
              $ref: '#/definitions/MosaicDefinition'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/mosaic/bulk-update-color-corrections/:
    x-resource: Projects
    post:
      summary: 'Save color-correction parameters for all scenes in a project'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - name: combinedSceneCorrectionParameters
          description: 'Combined color correction parameters'
          in: body
          schema:
            $ref: '#/definitions/CombinedSceneCorrectionParams'
      responses:
        200:
          description: "Successfully updated all scenes' color correction parameters"
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/mosaic/{sceneID}:
    x-resource: Projects
    get:
      summary: "Get a project's saved color-correction parameters"
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/sceneID'
      responses:
        200:
          description: 'Color correction parameters'
          schema:
            $ref: '#/definitions/ColorCorrection'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Save color-correction parameters for a particular scene'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/sceneID'
        - name: updatedColorCorrection
          description: 'Updated color corrections'
          in: body
          schema:
            $ref: '#/definitions/ColorCorrection'
      responses:
        204:
          description: 'Successfully updated color correction parameters'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/order:
    x-resource: Projects
    put:
      summary: 'Set a z-index order for scenes within the specified project'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - name: sceneIDs
          in: body
          description: |
            The z order for scenes in this project, relative to each other. The first listed scene will be visualized
            on top of all the others, and the last listed scene will be visualized below all the others.
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        204:
          description: 'Successfully updated order of scenes in project'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/permissions/:
    x-resource: Projects
    get:
      summary: 'List access control rules for this project'
      parameters:
        - $ref: '#/parameters/projectID'
      tags:
        - Permissions
      responses:
        200:
          description: 'All access control rules for this project'
          schema:
            type: array
            items:
              $ref: '#/definitions/AccessControlRule'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Replace permissions defined on this project'
      tags:
        - Permissions
      parameters:
        - $ref: '#/parameters/projectID'
        - name: accessControlRules
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/AccessControlRuleCreate'
      responses:
        200:
          description: 'Access control rules replaced with response successfully'
          schema:
            type: array
            items:
              $ref: '#/definitions/AccessControlRule'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Add a new access control rule to this project'
      tags:
        - Permissions
      parameters:
        - $ref: '#/parameters/projectID'
        - name: accessControlRule
          in: body
          required: true
          schema:
            $ref: '#/definitions/AccessControlRuleCreate'
      responses:
        200:
          description: 'Access control rule appended successfully'
          schema:
            type: array
            items:
              $ref: '#/definitions/AccessControlRule'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Remove access control rules on this project'
      tags:
        - Permissions
      parameters:
        - $ref: '#/parameters/projectID'
      responses:
        200:
          description: 'Access control rules successfully delete'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/actions/:
    get:
      summary: 'List actions a user is allowed to perform on this project'
      tags:
        - Permissions
      parameters:
        - $ref: '#/parameters/projectID'
      responses:
        200:
          description: |
            'List of actions a user is allowed to perform on this project. A * in the response
            indicates the user has full permissions for this project.'
          schema:
            type: array
            items:
              type: string
              enum:
                - 'VIEW'
                - 'EDIT'
                - 'DEACTIVATE'
                - 'DELETE'
                - 'ANNOTATE'
                - '*'

  /projects/{projectID}/layers/:
    x-resource: Projects
    get:
      summary: 'Get a paginated list of layers for the project'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/page'
      responses:
        200:
          description: 'A list of project layers'
          schema:
            $ref: '#/definitions/ProjectLayerPaginated'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/layers/stats:
    x-resource: Projects
    get:
      summary: 'Count scenes in each layer of this project'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/page'
      responses:
        200:
          description: 'A list of project layers'
          schema:
            $ref: '#/definitions/ProjectLayerPaginated'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new project layer
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - name: ProjectLayer
          in: body
          schema:
            $ref: '#/definitions/ProjectLayer'
      responses:
        200:
          description: Newly created project layer
          schema:
            $ref: '#/definitions/ProjectLayer'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/layers/{layerID}/:
    get:
      summary: 'Get project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
      responses:
        200:
          description: Project Layer
          schema:
            $ref: '#/definitions/ProjectLayer'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update project layer
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - name: ProjectLayer
          in: body
          schema:
            $ref: '#/definitions/ProjectLayer'
      responses:
        204:
          description: 'No Content'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete a project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
      responses:
        204:
          description: 'No content, delete successful'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /projects/{projectID}/layers/{layerID}/split:
    post:
      summary: 'Split the project layer according to the given parameters'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - name: SplitOptions
          in: body
          schema:
            $ref: '#/definitions/LayerSplitOptions'
      responses:
        200:
          description: 'List of created layers'
          schema:
            type: array
            items:
              $ref: '#/definitions/ProjectLayer'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /projects/{projectID}/layers/{layerID}/scenes:
    get:
      summary: 'Get a list of scenes for the given layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/ingested'
        - $ref: '#/parameters/ingestStatus'
        - $ref: '#/parameters/accepted'
      responses:
        200:
          description: Paginated list of scenes associated with this layer
          schema:
            $ref: '#/definitions/SceneOrderedPaginated'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Add scenes to a project layer by their ID'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - name: scenes
          in: body
          required: true
          description: 'UUIDs of scenes to place in project'
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        200:
          description: 'List of scenes added to project'
          schema:
            type: array
            items:
              $ref: '#/definitions/Scene'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete all scenes from a project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - name: scenes
          in: body
          required: true
          description: 'UUIDs of scenes to delete in project'
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        204:
          description: 'No content, delete successful'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /projects/{projectID}/layers/{layerID}/datasources:
    x-resource: Projects
    get:
      summary: 'List datasources for scenes in this project'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/analysisId'
      responses:
        200:
          description: 'A list of datasources'
          schema:
            type: array
            items:
              $ref: '#/definitions/DatasourceThin'

  /projects/{projectID}/layers/{layerID}/mosaic:
    x-resource: Projects
    get:
      summary: "Get a list of a project layer's scene IDs and their color-correction parameters"
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
      responses:
        200:
          description: 'An ordered list of scene IDs and corresponding color correction parameters'
          schema:
            type: array
            items:
              $ref: '#/definitions/MosaicDefinition'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/layers/{layerID}/mosaic/{sceneID}:
    x-resource: Projects
    get:
      summary: "Get a scene's saved color-correction parameters in a project layer"
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/sceneID'
      responses:
        200:
          description: 'Color correction parameters'
          schema:
            $ref: '#/definitions/ColorCorrection'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update color-correction parameters for a particular scene in a project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/sceneID'
        - name: updatedColorCorrection
          description: 'Updated color corrections'
          in: body
          schema:
            $ref: '#/definitions/ColorCorrection'
      responses:
        204:
          description: 'Successfully updated color correction parameters'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/layers/{layerID}/mosaic/bulk-update-color-corrections/:
    x-resource: Projects
    post:
      summary: 'Set color-correction parameters for all scenes in a project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - name: combinedSceneCorrectionParameters
          description: 'Combined color correction parameters'
          in: body
          schema:
            $ref: '#/definitions/CombinedSceneCorrectionParams'
      responses:
        200:
          description: "Successfully updated all scenes' color correction parameters"
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/layers/{layerID}/order:
    x-resource: Projects
    put:
      summary: 'Set a z-index order for scenes within the specified project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - name: sceneIDs
          in: body
          description: |
            The z order for scenes in this project, relative to each other. The first listed scene will be visualized
            on top of all the others, and the last listed scene will be visualized below all the others.
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        204:
          description: 'Successfully updated order of scenes in the project layer'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/layers/{layerID}/labels:
    x-resource: Projects
    get:
      summary: 'Get a list of labels used on a project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
      responses:
        200:
          description: 'A list of labels'
          schema:
            type: array
            items:
              type: string
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/layers/{layerID}/annotations/:
    x-resource: Projects
    get:
      summary: 'Get annotations belonging to a project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/annotationLabel'
        - $ref: '#/parameters/annotationQualityCheck'
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/bbox'
        - $ref: '#/parameters/withOwnerInfo'
        - $ref: '#/parameters/annotationGroup'
        - $ref: '#/parameters/taskId'
      responses:
        200:
          description: 'GeoJSON feature collection containing paginated annotations of this project layer'
          schema:
            $ref: '#/definitions/AnnotationFeatureCollectionPaginated'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create annotations for a project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - name: annotations
          in: body
          required: true
          schema:
            $ref: '#/definitions/AnnotationFeatureCollectionCreate'
      responses:
        201:
          description: 'GeoJSON annotations successfully created'
          schema:
            $ref: '#/definitions/AnnotationFeatureCollection'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete all annotations from a project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
      responses:
        201:
          description: 'Annotations Deleted'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'


  /projects/{projectID}/layers/{layerID}/annotations/{annotationID}/:
    x-resource: Projects
    get:
      summary: 'Get an annotation belonging to a project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/annotationID'
      responses:
        200:
          description: 'GeoJSON feature containing one annotation from this project layer'
          schema:
            $ref: '#/definitions/AnnotationFeatureWithOwnerInfo'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update an annotation of this project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/annotationID'
        - name: annotation
          in: body
          required: true
          schema:
            $ref: '#/definitions/AnnotationFeatureUpdate'
      responses:
        204:
          description: 'No content, update successful'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete an annotation'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/annotationID'
      responses:
        204:
          description: 'Deletion successful.'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/layers/{layerID}/annotation-groups/:
    x-resource: Projects
    get:
      summary: 'Get annotation groups belonging to a project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
      responses:
        200:
          description: 'Array containing annotation groups for this project layer'
          schema:
            type: array
            items:
              $ref: '#/definitions/AnnotationGroup'
        404:
          description: 'Resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        403:
          description: 'Insufficient permissions for resource'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: 'Create annotation group for this project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - name: annotationGroup
          in: body
          required: true
          schema:
            $ref: '#/definitions/AnnotationGroupCreate'
      responses:
        200:
          description: 'Created annotation group'
          schema:
            $ref: '#/definitions/AnnotationGroup'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/layers/{layerID}/annotation-groups/summary/:
    x-resource: Projects
    get:
      summary: 'Get a summary of the label groups on a project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
      responses:
        200:
          description: 'Fetched label summaries'
          schema:
            type: array
            items:
              $ref: '#/definitions/LabelSummary'
        404:
          description: 'Resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

  /projects/{projectID}/layers/{layerID}/annotation-groups/{annotationGroupID}/:
    x-resource: Projects
    get:
      summary: 'Get annotation group for project layer'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/annotationGroupID'
      responses:
        200:
          description: 'fetched annotation group'
          schema:
            $ref: '#/definitions/AnnotationGroup'
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: 'Update annotation group'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/annotationGroupID'
        - name: annotationGroup
          in: body
          required: true
          schema:
            $ref: '#/definitions/AnnotationGroup'
      responses:
        200:
          description: 'Number of updated annotation groups from this request'
          schema:
            type: number
            format: integer
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: 'Delete annotation group from project layer and all associated annotations'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/annotationGroupID'
      responses:
        200:
          description: 'Number of deleted annotation groups from this request'
          schema:
            type: number
            format: integer
        403:
          description: 'Insufficient permissions for resource or resource does not exist'
          schema:
            $ref: '#/definitions/Error'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /projects/{projectID}/layers/{layerID}/annotation-groups/{annotationGroupID}/uploads:
    x-resource: Projects
    get:
      summary: 'Get geojson upload records for an annotation group'
      tags:
        - Imagery
      parameters:
        - $ref: '#/parameters/projectID'
        - $ref: '#/parameters/layerID'
        - $ref: '#/parameters/annotationGroupID'
      responses:
        200:
          description: 'Paginated GeojsonUpload records'
          schema:
[...]
