@import "../../../../assets/styles/sass/utils/variables";

.tab-header {
  .btn-tab {
    border-color: $brand-primary $brand-primary transparent $brand-primary;
    color: $brand-primary;
    background-color: transparent;
    border-radius: 2px 2px 0 0;

    &:hover, &.hover,
    &:active, &.active, {
      border-color: $brand-primary $brand-primary transparent $brand-primary;
      background-color: $brand-primary;
      color: #fff;
      box-shadow: none;
    }
  }
}

.tab-body {
  .panel{
    padding: 1em;
    &.tab-description {
      margin-bottom: 1em;
      border-radius: 0 0 2px 2px;
      border-color: $brand-primary $brand-primary $brand-primary $brand-primary;
    }
  }
}
