.datepicker-row {
  display: flex;
}

.datepicker-ranges {
  flex: 1;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.preset-header {
  margin-bottom: 2rem;
}

.btn-range {
  margin-bottom: 1rem;
}

calendar div.header {
  background: #465076;
  border: none;
}

calendar div.board {
  border-top: none;
}

calendar .board .day.in-range:not(.other-month):not(.disabled) {
    background: #ddd;
    color: #777;
}

calendar .board .day.range-end:not(.other-month):not(.disabled) {
    background: #738FFC;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #fff;
}
calendar .board .day.range-start:not(.other-month):not(.disabled) {
    background: #738FFC;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #fff;
}

