calendar .board .day.selected:not(.other-month):not(.disabled) {
  background: #8ca3fd;
}

.auto-width-modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
  .modal-dialog {
    display: inline-block;
    width: auto;
  }
}
