<div class="list-group-item">
  <div class="list-item-left-actions">
    <label class="checkbox layer-checkbox list-item-{{$ctrl.itemInfo.id}}"
           ng-class="{active: $ctrl.selected}">
      <input type="checkbox"
             ng-checked="$ctrl.selected"
             ng-click="$ctrl.onSelect({id: $ctrl.itemInfo.id})"/>
    </label>
    <style>
     label.checkbox.list-item-{{$ctrl.itemInfo.id}}::after {
         border: 2px solid {{$ctrl.color}};
     }
    </style>
  </div>
  <div class="list-group-overflow">
    <div><strong>{{$ctrl.itemInfo.name}}</strong></div>
    <div ng-if="$ctrl.itemInfo.subtext"><span>{{$ctrl.itemInfo.subtext}}</span></div>
    <div ng-class="{'export-date-subtext': $ctrl.isExport}">
      <span ng-if="$ctrl.isExport">{{$ctrl.itemInfo.date | date: 'medium'}}</span>
      <span ng-if="!$ctrl.isExport">{{$ctrl.itemInfo.date | date}}</span>
      <span class="color-danger export-status"
            ng-if="$ctrl.isExport && $ctrl.itemInfo && $ctrl.itemInfo.exportStatus === 'FAILED'">
            <i>Failed</i>
      </span>
      <span class="color-green export-status"
            ng-if="$ctrl.isExport && $ctrl.itemInfo && $ctrl.itemInfo.exportStatus === 'EXPORTED'">
            <i>Complete</i>
      </span>
      <span class="color-warning export-status"
            ng-if="$ctrl.isExport && $ctrl.itemInfo && $ctrl.itemInfo.exportStatus !== 'FAILED' && $ctrl.itemInfo.exportStatus !== 'EXPORTED'">
            <i>Processing</i>
            <span class="icon-load"></span>
      </span>
    </div>
  </div>
  <div class="list-group-right list-group-vertical">
    <div>
      <div class="btn btn-text btn-transparent"
           ng-if="!$ctrl.hasGeom && !$ctrl.isAnalysis && !$ctrl.isExport">
        <span class="icon-warning color-danger"
              tooltips
              tooltip-template="No AOI defined for this layer"
              tooltip-size="small"
              tooltip-class="layer-item-tooltip"
              tooltip-side="left"></span>
      </div>
      <div class="btn btn-text btn-transparent"
           ng-click="$ctrl.onDownloadExport({id: $ctrl.itemInfo.id})"
           ng-if="$ctrl.isExport && $ctrl.itemInfo && $ctrl.itemInfo.exportStatus === 'EXPORTED'">
           <span class="icon-download"
                 tooltips
                 tooltip-template="Download export"
                 tooltip-size="small"
                 tooltip-class="layer-item-tooltip"
                 tooltip-side="left"></span>
      </div>

      <div class="btn btn-text btn-transparent"
           ng-click="$ctrl.onHide({id: $ctrl.itemInfo.id})">
        <span class="icon-eye"
              tooltips
              tooltip-template="Hide layer on map"
              tooltip-size="small"
              tooltip-class="layer-item-tooltip"
              tooltip-side="left"
              ng-if="$ctrl.visible"></span>
        <span class="icon-eye-off"
              tooltips
              tooltip-template="Show layer on map"
              tooltip-size="small"
              tooltip-class="layer-item-tooltip"
              tooltip-side="left"
              ng-if="!$ctrl.visible"></span>
      </div>
      <div class="btn btn-text btn-transparent"
           uib-dropdown
           ng-if="$ctrl.itemActions && $ctrl.itemActions.length"
           uib-dropdown-toggle>
        <i class="icon-menu"></i>
        <ul class="dropdown-menu dropdown-menu-light drop-left" uib-dropdown-menu role="menu">
          <li role="menuitem"
              ng-repeat="action in $ctrl.itemActions">
            <a href ng-click="action.callback()" ng-if="action.name">{{action.name}}</a>
            <span class="menu-separator" ng-if="action.separator"></span>
          </li>
        </ul>
      </div>
    </div>
    <ng-transclude></ng-transclude>
  </div>
</div>
