//sass --watch assets/sass:assets/css --style compressed
//

/**
 * Font import
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,300,700,400,100);

/**
 * All sass tools, utilities and helpers
 */
@import
  "utils/variables",
  "utils/mixins",
  "utils/placeholders";

/**
 * Vendor style importing
 */
@import
  "vendors/bootstrap/bootstrap";

/**
 * Boilerplate styling
 */
@import
  "base/base",
  "base/typography",
  "base/form";

/**
 * App layout and overall structure
 */
@import
  "layout/body",
  "layout/nav",
  "layout/sidebar",
  "layout/map";

/**
 * Smaller components more focused on elements we'll call widgets/modules
 */
@import
  "components/buttons",
  "components/burger-button",
  "components/modal",
  "components/data-pane",
  "components/list-group",
  "components/block-content",
  "components/map-utilities",
  "components/sidebar-utilities",
  "components/layer-detail",
  "components/progress-bars",
  "components/video-background";


/**
 * Page-specific styles.
 */
@import
  "pages/login";