version: "2.3"
services:
  postgres:
    image: quay.io/azavea/postgis:3-postgres12.2-slim
    volumes:
      - ./data/:/tmp/data/
    env_file: .env
    expose:
      - "5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 10s
    command: postgres -c log_statement=all

  memcached:
    image: memcached:1.4-alpine
    command: -m 4096 -c 8192 -I 5242880b

  nginx-api:
    image: raster-foundry-nginx-api
    build:
      context: .
      dockerfile: ./nginx/Dockerfile.api
    environment:
      - API_SERVER_HOST=api-server:9000
    ports:
      - "9100:443"
    links:
      - api-server

  api-server:
    # If changing container, make sure to update app-backend/api/Dockerfile as well
    image: quay.io/azavea/openjdk-gdal:2.4-jdk8-slim
    links:
      - postgres:database.service.rasterfoundry.internal
      - memcached:memcached.service.rasterfoundry.internal
    depends_on:
      postgres:
        condition: service_healthy
    env_file: .env
    environment:
      - HIKARI_LOG_LEVEL=WARN
      - RF_LOG_LEVEL=INFO
      - TILE_SERVER_LOCATION
      - COURSIER_CACHE=/root/.coursier
      - BACKSPLASH_ENABLE_MULTITIFF=false
      - AWS_DEFAULT_PROFILE=raster-foundry
      - GROUNDWORK_URL_BASE=http://localhost:3000
    ports:
      - "9000:9000"
      - "9010:9010"
    volumes:
      - ./app-backend/:/opt/raster-foundry/app-backend/
      - ./scratch/:/opt/raster-foundry/scratch/
      - ./data/:/opt/data/
      - $HOME/.sbt:/root/.sbt
      - $HOME/.coursier:/root/.coursier
      - $HOME/.ivy2:/root/.ivy2
      - $HOME/.aws:/root/.aws:ro
    working_dir: /opt/raster-foundry/app-backend/api/target/scala-2.12/
    entrypoint: java
    command:
      - "-Dcom.sun.management.jmxremote.rmi.port=9010"
      - "-Dcom.sun.management.jmxremote=true"
      - "-Dcom.sun.management.jmxremote.port=9010"
      - "-Dcom.sun.management.jmxremote.ssl=false"
      - "-Dcom.sun.management.jmxremote.authenticate=false"
      - "-Dcom.sun.management.jmxremote.local.only=false"
      - "-Djava.rmi.server.hostname=localhost"
      - "-jar"
      - "api-assembly.jar"

  batch:
    image: raster-foundry-batch
    ports:
      - "9040:9040"
    volumes:
      - ./app-tasks/rf/:/opt/raster-foundry/app-tasks/rf/
      - ./app-backend/batch/target/scala-2.12/batch-assembly.jar:/opt/raster-foundry/jars/batch-assembly.jar
      - ./data/:/opt/data/
      - $HOME/.aws:/root/.aws:ro
    build:
      context: ./app-tasks
      dockerfile: Dockerfile
    external_links:
      - postgres:database.service.rasterfoundry.internal
      - api-server:rasterfoundry.com
      - memcached:memcached.service.rasterfoundry.internal
    env_file: .env
    environment:
      - RF_HOST=http://rasterfoundry.com:9000
      - GROUNDWORK_URL_BASE=http://localhost:3000
      - POSTGRES_DB_POOL_SIZE=2
      - LOCAL_INGEST_CORES=2
      - LOCAL_INGEST_MEM_GB=4
      - EXPORT_TILE_SIZE=1024
      - AWS_DEFAULT_PROFILE=raster-foundry
      - BACKSPLASH_ENABLE_GDAL=true
      - RF_LOG_LEVEL=DEBUG
      - AWS_BATCH_JOB_ATTEMPT
      - RF_DEBUG_DATA_BUCKET
    command: rf
    links:
      - postgres:database.service.rasterfoundry.internal
      - memcached:memcached.service.rasterfoundry.internal

  batch-hitl:
    image: raster-foundry-batch-hitl
    ports:
      - "9050:9050"
    volumes:
      - ./app-hitl/hitl/:/opt/src/hitl/
      - ./data/:/opt/src/data/
      - $HOME/.aws:/root/.aws:ro
    build:
      context: ./app-hitl
      dockerfile: Dockerfile
    external_links:
      - api-server:rasterfoundry.com
    env_file: .env
    environment:
      - RF_HOST=http://rasterfoundry.com:9000
      - GROUNDWORK_URL_BASE=http://localhost:3000
      - POSTGRES_DB_POOL_SIZE=2
      - LOCAL_INGEST_CORES=2
      - LOCAL_INGEST_MEM_GB=4
      - EXPORT_TILE_SIZE=1024
      - AWS_DEFAULT_PROFILE=raster-foundry
      - BACKSPLASH_ENABLE_GDAL=true
      - RF_LOG_LEVEL=INFO
      - AWS_BATCH_JOB_ATTEMPT
      - RF_DEBUG_DATA_BUCKET

  xray:
    image: amazon/aws-xray-daemon
    env_file: .env
    volumes:
      - $HOME/.aws:/root/.aws:ro
    ports:
      - 2000
    command:
      - "-t"
      - "0.0.0.0:2000"
      - "-b"
      - "0.0.0.0:2000"

  backsplash:
    # If changing container, make sure to update app-backend/backsplash-server/Dockerfile as well
    image: quay.io/azavea/openjdk-gdal:2.4-jdk8-slim
    depends_on:
      postgres:
        condition: service_healthy
    links:
      - postgres:database.service.rasterfoundry.internal
      - memcached:memcached.service.rasterfoundry.internal
      - jaeger:jaeger.service.internal
      - xray:xray.service.internal
    env_file: .env
    environment:
      - RF_LOG_LEVEL=INFO
      - HIKARI_LOG_LEVEL=INFO
      - TRACING_LOG_LEVEL=WARN
      - COURSIER_CACHE=/root/.coursier
      - DB_THREADPOOL_THREADS=16
      - HTTP4S_THREADPOOL_THREADS=16
      - BLAZE_THREADPOOL_THREADS=4
      - BLAZE_CONNECTOR_POOL_SIZE=4
      - POSTGRES_DB_POOL_SIZE=32
      - HIKARI_CONNECTION_THREADS=16
      - RF_AUTHENTICATION_CACHE_ENABLE=true
      - BACKSPLASH_HISTOGRAM_CACHE_ENABLE=true
      - AWS_DEFAULT_PROFILE=raster-foundry
      - BACKSPLASH_AUTHORIZATION_CACHE_ENABLE=true
      - BACKSPLASH_ENABLE_GDAL=false
      - BACKSPLASH_CORE_STREAM_CONCURRENCY=16
      - BACKSPLASH_ENABLE_MULTITIFF=false
      - BACKSPLASH_SERVER_ACCESS_LOGGING=true
      - AWS_REQUEST_PAYER=requester
      - DB_SCENE_SEARCH_BUFFER_PERCENTAGE=0.1
      - DB_TASK_STATUS_EXPIRATION_SECONDS=3600
    ports:
      - "8081:8080"
      - "9030:9030"
    volumes:
      - ./app-backend/:/opt/raster-foundry/app-backend/
      - ./data/:/opt/data/
      - $HOME/.sbt:/root/.sbt
      - $HOME/.coursier:/root/.coursier
      - $HOME/.ivy2:/root/.ivy2
      - $HOME/.aws:/root/.aws:ro
    working_dir: /opt/raster-foundry/app-backend/backsplash-server/target/scala-2.12/
    entrypoint: java
    command:
      - "-Dcom.sun.management.jmxremote.rmi.port=9030"
      - "-Dcom.sun.management.jmxremote=true"
      - "-Dcom.sun.management.jmxremote.port=9030"
      - "-Dcom.sun.management.jmxremote.ssl=false"
      - "-Dcom.sun.management.jmxremote.authenticate=false"
      - "-Dcom.sun.management.jmxremote.local.only=false"
      - "-Djava.rmi.server.hostname=localhost"
      - "-jar"
      - "backsplash-assembly.jar"

  sbt:
    image: quay.io/azavea/openjdk-gdal:2.4-jdk8-slim
    depends_on:
      postgres:
        condition: service_healthy
    links:
      - postgres:database.service.rasterfoundry.internal
      - memcached:memcached.service.rasterfoundry.internal
      - api-server:api.service.rasterfoundry.internal
    env_file: .env
    environment:
      - RF_LOG_LEVEL=INFO
      - COURSIER_CACHE=/root/.coursier
    volumes:
      - ./app-backend/:/opt/raster-foundry/app-backend/
      - ./build.sbt:/opt/raster-foundry/build.sbt
      - ./sbt:/opt/raster-foundry/sbt
      - ./.sbtopts:/opt/raster-foundry/.sbtopts
      - ./.jvmopts:/opt/raster-foundry/.jvmopts
      - ./project:/opt/raster-foundry/project
      - ./data/:/opt/data/
      - $HOME/.sbt:/root/.sbt
      - $HOME/.coursier:/root/.coursier
      - $HOME/.ivy2:/root/.ivy2
      - $HOME/.aws:/root/.aws:ro
    working_dir: /opt/raster-foundry
    entrypoint: ./sbt

  app-backend-migrations:
    image: flyway/flyway:6.0.8
    environment:
      - FLYWAY_DRIVER=org.postgresql.Driver
      - FLYWAY_URL=jdbc:postgresql://database.service.rasterfoundry.internal/
      - FLYWAY_USER=rasterfoundry
      - FLYWAY_PASSWORD=rasterfoundry
      - FLYWAY_LOCATIONS=filesystem:/opt/raster-foundry/app-backend/db/src/main/resources/migrations
      - FLYWAY_SCHEMAS=public
      - FLYWAY_BASELINE_ON_MIGRATE=true
    depends_on:
      postgres:
        condition: service_healthy
    links:
      - postgres:database.service.rasterfoundry.internal
    volumes:
      - ./app-backend/:/opt/raster-foundry/app-backend/

  jaeger:
    image: jaegertracing/all-in-one:1.8
    expose:
      - 5775/udp
      - 6831/udp
      - 6832/udp
      - 5778
      - 16686
      - 14268
      - 9411
    ports:
      - 16686:16686
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
