version: '2'
services:
  postgres:
    image: quay.io/azavea/postgis:postgres9.5-postgis2.2
    volumes:
      - ./data/:/tmp/data/
    env_file: .env
    expose:
      - "5432"

  memcached:
    image: memcached:1.4-alpine

  nginx:
    image: raster-foundry-nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "9100:443"
    extra_hosts:
      - "airflow-flower:127.0.0.1"
      - "airflow-webserver:127.0.0.1"
    links:
      - app-server
      - tile-server
    volumes:
      - ./nginx/srv/dist/:/srv/dist/
      - ./nginx/etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/etc/nginx/includes/:/etc/nginx/includes/
      - ./nginx/etc/nginx/conf.d/:/etc/nginx/conf.d/

  app-frontend:
    image: node:6.8-wheezy
    working_dir: /opt/raster-foundry/app-frontend/
    volumes:
      - ./app-frontend/.babelrc:/opt/raster-foundry/app-frontend/.babelrc
      - ./app-frontend/config/:/opt/raster-foundry/app-frontend/config/
      - ./nginx/srv/dist/:/opt/raster-foundry/app-frontend/dist/
      - ./app-frontend/.eslintrc:/opt/raster-foundry/app-frontend/.eslintrc
      - ./app-frontend/karma.conf.js:/opt/raster-foundry/app-frontend/karma.conf.js
      - ./.node_modules:/opt/raster-foundry/app-frontend/node_modules
      - ./app-frontend/package.json:/opt/raster-foundry/app-frontend/package.json
      - ./app-frontend/src:/opt/raster-foundry/app-frontend/src
      - ./app-frontend/webpack.config.js:/opt/raster-foundry/app-frontend/webpack.config.js
    command: npm run start

  app-server:
    image: quay.io/azavea/scala:2.11.8
    links:
      - postgres:database.service.rasterfoundry.internal
    env_file: .env
    ports:
      - "9000:9000"
    volumes:
      - ./app-backend/:/opt/raster-foundry/app-backend/
      - ./.ivy2:/root/.ivy2
      - ./.sbt:/root/.sbt
      - $HOME/.aws:/root/.aws:ro
    working_dir: /opt/raster-foundry/app-backend/
    command: ./sbt app/run

  tile-server:
    image: quay.io/azavea/scala:2.11.8
    links:
      - postgres:database.service.rasterfoundry.internal
      - memcached:tile-cache.service.rasterfoundry.internal
    env_file: .env
    ports:
      - "9900:9900"
    volumes:
      - ./app-backend/:/opt/raster-foundry/app-backend/
      - ./.ivy2:/root/.ivy2
      - ./.sbt:/root/.sbt
      - $HOME/.aws:/root/.aws:ro
    working_dir: /opt/raster-foundry/app-backend/
    command: ./sbt tile/run

  swagger-editor:
    image: swaggerapi/swagger-editor:latest
    ports:
      - "8888:8080"

  swagger-ui:
    image: nginx:1.10.1-alpine
    volumes:
      - ./docs/swagger/:/usr/share/nginx/html:ro
    ports:
      - "9999:80"
