version: "2.3"
services:
  nginx-api:
    image: raster-foundry-nginx-api:${GIT_COMMIT:-latest}
    build:
      context: ./nginx
      dockerfile: Dockerfile.api

  nginx-backsplash:
    image: raster-foundry-nginx-backsplash:${GIT_COMMIT:-latest}
    build:
      context: ./nginx
      dockerfile: Dockerfile.backsplash

  app-frontend:
    image: node:10
    working_dir: /opt/raster-foundry/app-frontend/
    volumes:
      - ./app-frontend/.babelrc:/opt/raster-foundry/app-frontend/.babelrc
      - ./app-frontend/config/:/opt/raster-foundry/app-frontend/config/
      - ./nginx/srv/dist/:/opt/raster-foundry/app-frontend/dist/
      - ./app-frontend/yarn.lock:/opt/raster-foundry/app-frontend/yarn.lock
      - ./app-frontend/.eslintrc:/opt/raster-foundry/app-frontend/.eslintrc
      - ./app-frontend/karma.conf.js:/opt/raster-foundry/app-frontend/karma.conf.js
      - ./.node_modules:/opt/raster-foundry/app-frontend/node_modules
      - ./app-frontend/package.json:/opt/raster-foundry/app-frontend/package.json
      - ./app-frontend/src:/opt/raster-foundry/app-frontend/src
      - ./app-frontend/webpack.config.js:/opt/raster-foundry/app-frontend/webpack.config.js
      - ./docs/swagger/:/opt/swagger/
    entrypoint: yarn
    command: run build

  api-server:
    image: raster-foundry-api-server:${GIT_COMMIT:-latest}
    env_file: .env
    expose:
      - 9000
    build:
      context: ./app-backend/api
      dockerfile: Dockerfile

  backsplash:
    image: raster-foundry-backsplash:${GIT_COMMIT:-latest}
    build:
      context: ./app-backend/backsplash-server
      dockerfile: Dockerfile

  app-migrations:
    image: raster-foundry-app-migrations:${GIT_COMMIT:-latest}
    build:
      context: ./app-backend/db
      dockerfile: Dockerfile.migrations
    volumes:
      - $HOME/.coursier-cache:/root/.coursier-cache

  batch:
    image: raster-foundry-batch:${GIT_COMMIT:-latest}
    build:
      context: ./app-tasks
      dockerfile: Dockerfile
    volumes:
      - ./app-tasks/rf/:/opt/raster-foundry/app-tasks/rf/

  build:
    image: raster-foundry-build:${GIT_COMMIT:-latest}
    build:
      context: ./app-backend
      dockerfile: Dockerfile.build
    env_file: .env
    environment:
      - COURSIER_CACHE=/root/.coursier
    volumes:
      - ./app-backend/:/opt/raster-foundry/app-backend/
      - ./scratch/:/opt/raster-foundry/scratch/
      - ./.git:/opt/raster-foundry/.git
      - ./.bintray:/root/.bintray
      - $HOME/.coursier:/root/.coursier
      - $HOME/.sbt:/root/.sbt
      - $HOME/.aws:/root/.aws:ro
      - $HOME/.gnupg:/root/.gnupg:ro
    working_dir: /opt/raster-foundry/app-backend/
    entrypoint: ./sbt

  lambda:
    build:
      context: app-lambda
      dockerfile: Dockerfile.test
    volumes:
      - ./app-lambda/:/opt/raster-foundry/app-lambda/
    working_dir: /opt/raster-foundry/app-lambda/
  shellcheck:
    image: koalaman/shellcheck:stable
    volumes:
      - ./:/usr/local/src
    working_dir: /usr/local/src

  panrec:
    image: jisantuc/panrec:ba13f43
    volumes:
      - ./stubs:/opt/data/out
      - ./app-backend:/opt/data/app-backend
    entrypoint: "./panrec"
    command:
      - "-i"
      - "scala"
      - "-o"
      - "ts-interface"
      - "/opt/data/app-backend/datamodel/src/main/scala"
      - "/opt/data/out"

  integration-test:
    build:
      context:
