version: '2'
services:
  # Database
  postgres:
    image: quay.io/azavea/postgis:9.4.4
    env_file: .env
    ports:
      - "5432:5432"

  app-server:
    image: quay.io/azavea/scala:2.11.8
    links:
      - postgres:database.raster-foundry.internal
    env_file: .env
    ports:
      - "9000:9000"
    volumes:
      - ./app-server/:/opt/raster-foundry/app-server/
      - ./.ivy2:/root/.ivy2
      - ./.sbt:/root/.sbt
    working_dir: /opt/raster-foundry/app-server/
    command: ./sbt run

  swagger-editor:
    image: swaggerapi/swagger-editor:latest
    ports:
      - "8080:8080"
  task-scheduler:
    build:
      context: pipelines/scheduler
    ports:
      - "8082:8082"
    networks:
      scheduler:
        aliases:
          - scheduler.raster-foundry.internal

networks:
  scheduler:
    external: false
