version: '2.3'
services:
  postgres:
    image: quay.io/azavea/postgis:2.3-postgres9.6-slim
    volumes:
      - ./data/:/tmp/data/
    env_file: .env
    expose:
      - "5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 10s

  memcached:
    image: memcached:1.4-alpine
    command: -m 4096 -c 8192 -I 5242880b

  nginx-api:
    image: raster-foundry-nginx-api
    build:
      context: ./nginx
      dockerfile: Dockerfile.api
    ports:
      - "9100:443"
    extra_hosts:
      - "tile-server:127.0.0.1"
    links:
      - api-server
    volumes:
      - ./nginx/srv/dist/:/srv/dist/
      - ./nginx/etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/etc/nginx/includes/:/etc/nginx/includes/
      - ./nginx/etc/nginx/conf.d/api.conf:/etc/nginx/conf.d/default.conf

  nginx-backsplash:
    image: raster-foundry-nginx-backsplash
    build:
      context: ./nginx
      dockerfile: Dockerfile.backsplash
    ports:
      - "8081:443"
    extra_hosts:
      - "api-server:127.0.0.1"
    links:
      - backsplash
    volumes:
      - ./nginx/srv/dist/:/srv/dist/
      - ./nginx/etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/etc/nginx/includes/:/etc/nginx/includes/
      - ./nginx/etc/nginx/conf.d/backsplash.conf:/etc/nginx/conf.d/default.conf

  nginx-tiler:
    image: raster-foundry-nginx-tiler
    build:
      context: ./nginx
      dockerfile: Dockerfile.tiler
    ports:
      - "9101:443"
    extra_hosts:
      - "api-server:127.0.0.1"
    links:
      - tile-server
    volumes:
      - ./nginx/srv/dist/:/srv/dist/
      - ./nginx/etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/etc/nginx/includes/:/etc/nginx/includes/
      - ./nginx/etc/nginx/conf.d/tiler.conf:/etc/nginx/conf.d/default.conf

  api-server:
    image: openjdk:8-jre
    links:
      - postgres:database.service.rasterfoundry.internal
      - memcached:tile-cache.service.rasterfoundry.internal
    external_links:
      - statsd
    depends_on:
      postgres:
        condition: service_healthy
    env_file: .env
    environment:
      - COURSIER_CACHE=/opt/raster-foundry/app-backend/.coursier-cache
      - RF_LOG_LEVEL=INFO
      - TILE_SERVER_LOCATION=http://localhost:8081
    ports:
      - "9000:9000"
      - "9010:9010"
    volumes:
      - ./app-backend/:/opt/raster-foundry/app-backend/
      - ./scratch/:/opt/raster-foundry/scratch/
      - ./.sbt:/root/.sbt
      - ./.bintray:/root/.bintray
      - $HOME/.aws:/root/.aws:ro
    working_dir: /opt/raster-foundry/app-backend/
    entrypoint: ./sbt
    command:
      - "api/run"
      - "-Dcom.sun.management.jmxremote.rmi.port=9010"
      - "-Dcom.sun.management.jmxremote=true"
      - "-Dcom.sun.management.jmxremote.port=9010"
      - "-Dcom.sun.management.jmxremote.ssl=false"
      - "-Dcom.sun.management.jmxremote.authenticate=false"
      - "-Dcom.sun.management.jmxremote.local.only=false"
      - "-Djava.rmi.server.hostname=localhost"

  batch:
    image: raster-foundry-batch
    volumes:
      - ./app-tasks/rf/:/opt/raster-foundry/app-tasks/rf/
      - ./app-backend/batch/target/scala-2.11/:/opt/raster-foundry/jars/
      - $HOME/.aws:/root/.aws:ro
    build:
      context: ./app-tasks
      dockerfile: Dockerfile
    external_links:
      - postgres:database.service.rasterfoundry.internal
      - api-server:rasterfoundry.com
      - memcached:tile-cache.service.rasterfoundry.internal
    env_file: .env
    environment:
      - RF_HOST=http://rasterfoundry.com:9000
      - LOCAL_INGEST_CORES=2
      - LOCAL_INGEST_MEM_GB=4
    command: rf
    links:
      - postgres:database.service.rasterfoundry.internal

  tile-server:
    image: openjdk:8-jre
    links:
      - postgres:database.service.rasterfoundry.internal
      - memcached:tile-cache.service.rasterfoundry.internal
    external_links:
      - statsd
    env_file: .env
    environment:
      - COURSIER_CACHE=/opt/raster-foundry/app-backend/.coursier-cache
      - RF_LOG_LEVEL=INFO
    ports:
      - "9900:9900"
      - "9020:9020"
    volumes:
      - ./app-backend/:/opt/raster-foundry/app-backend/
      - ./.sbt:/root/.sbt
      - ./.bintray:/root/.bintray
      - $HOME/.aws:/root/.aws:ro
    working_dir: /opt/raster-foundry/app-backend/
    entrypoint: ./sbt
    command:
      - "tile/run"
      - "-Dcom.sun.management.jmxremote.rmi.port=9020"
      - "-Dcom.sun.management.jmxremote=true"
      - "-Dcom.sun.management.jmxremote.port=9020"
      - "-Dcom.sun.management.jmxremote.ssl=false"
      - "-Dcom.sun.management.jmxremote.authenticate=false"
      - "-Dcom.sun.management.jmxremote.local.only=false"
      - "-Djava.rmi.server.hostname=localhost"

  backsplash:
    image: openjdk:8-jre
    links:
      - postgres:database.service.rasterfoundry.internal
    env_file: .env
    environment:
      - COURSIER_CACHE=/opt/raster-foundry/app-backend/.coursier-cache
      - RF_LOG_LEVEL=INFO
      - SBT_OPTS="-Xmx2G -XX:MaxPermSize=2G"
    ports:
      - "8080:8080"
      - "9030:9020"
    volumes:
      - ./app-backend/:/opt/raster-foundry/app-backend/
      - ./.sbt:/root/.sbt
      - ./.bintray:/root/.bintray
      - $HOME/.aws:/root/.aws:ro
    working_dir: /opt/raster-foundry/app-backend/
    entrypoint: ./sbt
    command:
      - "backsplash/run"
      - "-Dcom.sun.management.jmxremote.rmi.port=9020"
      - "-Dcom.sun.management.jmxremote=true"
      - "-Dcom.sun.management.jmxremote.port=9020"
      - "-Dcom.sun.management.jmxremote.ssl=false"
      - "-Dcom.sun.management.jmxremote.authenticate=false"
      - "-Dcom.sun.management.jmxremote.local.only=false"
      - "-Djava.rmi.server.hostname=localhost"
