.admin-header {
    display: flex;
    flex-direction: row;
    background: $white;
    align-items: center;
    padding: 1.5em 1em 0em;
}

.admin-logo {
    border-radius: 3px;
    width: 4em;
    height: 4em;
    margin-right: 2rem;
    position: relative;

    & img {
      max-width:100%;
      max-height:100%;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

.admin-logo-overlay {
  border-radius: 3px;
  width: 4em;
  height: 4em;
  margin-right: 1.4rem;
  background-color: $gray-lightest;
  cursor: pointer;
  position: relative;

  & p {
    color: $shade-normal;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }
}

.admin-logo-parent {
    margin: 0 0 .5em;

}

.admin-logo-name {
    margin: 0;
    display: flex;
    line-height: 1;
    align-items: center;
    .parent {
        font-weight: 600;
    }
    i {
        font-size: 1.6rem;
    }
    a {
        line-height: inherit;
        text-transform: inherit;
        font-weight: inherit;
        color: inherit;
        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }
    }
}

.admin-tabs {
    display: flex;
    flex-direction: row;
    flex-basis: flex-start;
    background: $white;
    border-bottom: 1px solid $border-color-default;
    margin: 1.4rem 0 0em;
    padding: 0 1em;
    .admin-tab {
        color: $gray-lighter;
        padding: 0.8em 1.2em;
        cursor: pointer;
        border-radius: 3px 3px 0 0;
        position: relative;
        top: 1px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        border-bottom: 4px solid rgba(0,0,0,0);
        .tab-count {
            margin-left: 1em;
            font-weight: 700;
            font-size: 90%;
            color: $brand-primary;
        }

        &.active {
            color: $brand-primary;
            border-bottom: 4px solid $brand-primary;
        }
        &:hover {
            color: $gray-dark;
        }
    }
}

.admin-list-content {
    display: flex;
    flex-direction: column;
    margin: 2em 1em 0em;
}

.admin-users-content-row {
    display: flex;
}

.admin-table {
    width: 100%;
    margin: 1.8rem 0 0;
    thead {
        border-bottom: 1px solid #ddd;
    }

    td {
        padding: 0.75em 1.5em;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    tr:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }

    .actions {
        width: 8em;
        text-align: right;
        white-space: nowrap;
        .rf-dropdown-container {
            position: relative;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            .btn.active {
                border-radius: 3px 3px 0 0;
            }
        }
    }

    .placeholder-avatar {
        width: 2.5rem;
        height: 2.5rem;
        background: #ddd;
        border-radius: 3px;
        margin-right: 1em;
    }
}

.admin-team-table {
    .name {
        width: 20em;
        overflow-x: hidden;
    }

    .users {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .users-more {
            padding: 0 1em;
        }
    }

    .teams {
        width: 13em;
    }

}

.admin-org-user-table {
    .username {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .teams {
        width: 10em;
    }
}

.admin-platform-user-table {
    .username {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.admin-platform-org-table {
    .name {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .users {
        min-width: 20em;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
    }

    .actions {
        width: 13em;
        text-align: right;
        a {
            margin-right: 1em;
        }
        a, rf-dropdown {
            display: inline-block;
        }
    }
}

.user-group-avatars {
    display: inline-block;
    .user-avatar {
        display: inline-block;
        margin-right: 0.25rem;
    }
}

.admin-list-actions {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: flex-end;
    .form-group {
        margin-bottom: 0;
    }
}

.pagination-count {
    margin-top: 1.8em;
}

.actions-right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    > *  {
        margin-left: 1em;
    }
}

.admin-search {
    width: 20em;
    margin-right: 0.5em;
}

.admin-choices-container {
    max-width: 1000px;
    margin: auto;
}

.admin-choices {
    width: 45em;
    padding: 5em;
    margin: 10em auto;
    background: $gray-lightest;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;

    .admin-choice {
        width: 15em;
        height: 15em;
        color: white;
        background: $brand-primary;
        border-radius: 3px;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        line-height: 15em;
        font-weight: 700;
    }
}

.admin-detail-header {
    display: flex;
    border-bottom: 1px solid $gray-lightest;
    flex-direction: row;
}

.admin-breadcrumb {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &>* {
      margin-right: 0.5em;
    }
}

.admin-detail-container {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: row;
}

.admin-detail-sidebar {
  padding: 2em 2em;
  width: 15em;

}

.admin-detail-content {
  flex: 1;
}

.admin-features-header {
}

.admin-feature-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.admin-feature-item {
  margin: 1em;
  background: #f8f8f8;
  padding: 1em;
}

.container-admin-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.btn-admin-name-edit-small {
  margin-left: 1rem;
  color: $gray-lighter;
  padding: 0;
  font-size: 1.3rem;
}

.form-admin-name-edit {
  margin-bottom: 0;
  input, button {
    padding: 2px;
    height: 2.5rem;
  }

  max-width: 140px;
}

.form-admin-name-edit-header {
  margin-bottom: 0;

  input button {
    height: 2rem;
  }
}
