.admin-header {
    display: flex;
    flex-direction: row;
    padding: 1em;
    background: #eee;
}

.admin-logo {
    border-radius: 3px;
    background: #ddd; width: 3em;
    height: 3em;
}

.admin-logo-name {
    font-size: 3rem;
    margin-left: 0.5em;
}

.admin-tabs {
    display: flex;
    flex-direction: row;
    flex-basis: flex-start;
    background: #eee;
    padding: 0 1em 0 1em;
    margin-right: 0.2em;
    .admin-tab {
        padding: 0.8em 1em;
        cursor: pointer;
        border-radius: 3px 3px 0 0;

        &:hover {
            background: #f5f5f5;
        }
        &.active {
            cursor: default;
            background: #fff;
        }
    }
}

.admin-users-content {
    display: flex;
    flex-direction: column;
}

.admin-table {
    width: 100%;

    td {
        padding: 0.75em 1.5em;
    }

    tr:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }

    .actions {
        width: 8em;
        .rf-dropdown-container {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            .btn.active {
                border-radius: 3px 3px 0 0;
            }
        }
    }

    .user-avatar {
        width: 2.5em;
        height: 2.5em;
        background: #ddd;
        border-radius: 3px;
        margin-right: 1em;
    }
}

.admin-team-table {
    .name {
        width: 20em;
        overflow-x: hidden;
    }

    .users {
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;

        .users-more {
            padding: 0 1em;
        }
    }

    .teams {
        width: 13em;
    }

}

.admin-user-table {
    .teams {
        width: 10em;
    }

    .username {
        display: flex;
        flex-direction: row;
        align-items: center
    }

}

.admin-users-actions {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.user-search {
    width: 15em;
    margin-right: 0.5em;
}
