.dashboard-header {
  min-height: 5.5rem;
  padding-top: 1rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;

  h1 {
    margin-top: 0;
    display: inline-block;
    flex-shrink: 0;

    i {
      margin-right: 1rem;
    }
  }
}

.dashboard-header-reveal {
  width: 100%;
  position: absolute;
  z-index: 10;
  background: #fff;
  opacity: 1;
  transform: translateY(0);
  transition: .2s ease-in-out opacity, .2s ease-in-out transform;

  &.ng-hide {
    opacity: 0;
    transform: translateY(-5px);
  }

  form {
    margin: 0;
  }
}

.dashboard-header-actions {
  float: right;

  a {
    font-size: 1.2rem;
    margin-top: .5rem;
    display: inline-block;

    + a {
      margin-left: 2rem;
    }
  }
}

.page-title {
  @extend .h3;
  margin-bottom: 2rem;
  display: inline-block;
  word-break: break-word;
  flex: 4;

  a {
    @extend .font-base;
    color: $shade-light;
    font-size: 1.4rem;
  }

  ~ .btn {
    vertical-align: text-bottom;
    margin-left: 1rem;
  }
}

.page-title-edit {
  margin-right: 1rem;
}

.project-preview {
  margin-bottom: 1rem;

  .project-title {
    @extend .font-base;
    font-size: 1.6rem;
    margin: 0;
    padding: 0.2em 0 0 1em;
  }

  .row {
    margin: 0 -1rem;
  }

  .column {
    padding-bottom: 0;
  }

  ul:not(.dropdown-menu) {
    line-height: 1;
    font-size: 1.3rem;
  }
}

.project-preview-container {
  height: 20rem;
  border-radisu: $border-radius-base;

  &.placeholder {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
  }
}
