.library-header {
  min-height: 5.5rem;
  padding-top: 1rem;
  position: relative;

  h1 {
    margin-top: 0;
    display: inline-block;
  }
}

.library-header-reveal {
  width: 100%;
  background: #fff;
  padding-top: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateY(0);
  transition: .2s ease-in-out opacity, .2s ease-in-out transform;

  &.ng-hide {
    opacity: 0;
    transform: translateY(-5px);
  }
}

.library-header-actions {
  float: right;

  a {
    font-size: 1.2rem;
    margin-top: .5rem;
    display: inline-block;

    + a {
      margin-left: 2rem;
    }
  }
}