.login-block {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba($gray, .9);
  width: 90%;
  max-width: 330px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px 0 rgba(black, .35);

  img {
    max-height: 70px;
    display: block;
    margin: 20px auto 50px;
  }

  .form-action {
    margin-top: 60px;
    text-align: center;
  }

  .form-control {
    background: $gray-dark;
    border-color: $gray-darker;
    color: $white;

    &:focus, &:hover {
      background: $gray-darker;
      border-color: $gray-darker;
    }
  }

  .form-group {
    margin-bottom: 30px;
  }
}
