<div class="btn-group">
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'rgb'}"
          ng-click="$ctrl.setHistogramMode('rgb')">
    RGB
  </button>
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'red'}"
          ng-click="$ctrl.setHistogramMode('red')">
    Red
  </button>
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'green'}"
          ng-click="$ctrl.setHistogramMode('green')">
    Green
  </button>
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'blue'}"
          ng-click="$ctrl.setHistogramMode('blue')">
    Blue
  </button>
</div>
<div class="graph-container" style="height: 100px;">
  <nvd3 options="$ctrl.histOptions" data="$ctrl.histData" api="$ctrl.api"></nvd3>
  <div class="list-group" ng-show="!$ctrl.histData.length">
    <span class="list-placeholder">
      <i class="icon-load animate-spin"></i>
    </span>
  </div>
</div>
<div class="histogram-spacer"></div>
<div class="color-filters-container">
