<div class="btn-group">
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'rgb'}"
          ng-disabled="!$ctrl.histData || !$ctrl.histData.length"
          ng-click="$ctrl.setHistogramMode('rgb')">
    RGB
  </button>
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'red'}"
          ng-disabled="!$ctrl.histData || !$ctrl.histData.length"
          ng-click="$ctrl.setHistogramMode('red')">
    Red
  </button>
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'green'}"
          ng-disabled="!$ctrl.histData || !$ctrl.histData.length"
          ng-click="$ctrl.setHistogramMode('green')">
    Green
  </button>
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'blue'}"
          ng-disabled="!$ctrl.histData || !$ctrl.histData.length"
          ng-click="$ctrl.setHistogramMode('blue')">
    Blue
  </button>
</div>
<div class="graph-container" style="height: 100px;">
  <nvd3 options="$ctrl.histOptions" data="$ctrl.histData" api="$ctrl.api"></nvd3>
  <rf-histogram-breakpoint
      ng-show="$ctrl.histData.length"
      ng-mouseover="$ctrl.lastMouseOver = 'min'"
      ng-class="{'active': $ctrl.lastMouseOver === 'min'}"
      data-color="black"
      data-breakpoint="$ctrl.lowerClip"
      data-range="{min: 0, max: 255}"
      data-precision="0"
      on-color-change="$ctrl.changeMinColor(color)"
      on-breakpoint-change="$ctrl.onMinBreakpointChange(breakpoint)"
  ></rf-histogram-breakpoint>
  <rf-histogram-breakpoint
      ng-show="$ctrl.histData.length"
      ng-mouseover="$ctrl.lastMouseOver = 'max'"
      ng-class="{'active': $ctrl.lastMouseOver === 'max'}"
      data-color="white"
      data-breakpoint="$ctrl.upperClip"
      data-range="{min: 0, max: 255}"
      data-precision="0"
      on-color-change="$ctrl.changeMaxColor(color)"
      on-breakpoint-change="$ctrl.onMaxBreakpointChange(breakpoint)"
  ></rf-histogram-breakpoint>
</div>
<div class="histogram-spacer"></div>
<div class="color-filters-container">
