<div class="admin-list-content column-stretch">
  <rf-call-to-action-item
    title="You're not part of any teams yet"
    class="panel panel-off-white"
    ng-if="!$ctrl.teams.length && !$ctrl.fetching">
    <p class="pb-25">
      When you create or join teams you'll be able to see them here.
    </p>
  </rf-call-to-action-item>
  <table class="admin-table admin-team-table" ng-if="!$ctrl.fetching && $ctrl.teams.length">
    <tbody>
      <tr ng-repeat="team in $ctrl.teams track by team.id">
        <td class="name">
          <div>
            <a class="font-600"
               title="View team details"
               ui-sref="admin.team({teamId: team.id})">
              {{team.name}}
            </a>
          </div>
        </td>
        <td class="roles titlecase">
          {{$ctrl.getUserTeamRole(team.id)}}
        </td>
        <td class="users">
          <div class="user-group-avatars">
            <div class="avatar user-avatar image-placeholder"
                 ng-if="!user.profileImageUri"
                 ng-repeat-start="user in team.fetchedUsers.results track by $index | limitTo : 5">
            </div>
            <div class="user-avatar"
                 ng-if="user.profileImageUri"
                 ng-repeat-end>
              <img class="avatar"
                   ng-src="{{user.profileImageUri}}"
                   ng-attr-title="{{user.name || user.email || user.id}}">
            </div>
          </div>
        </td>
        <td class="users-count">
            <ng-pluralize count="team.fetchedUsers.count"
                        when="{'0': ' No members yet',
                               '1': ' 1 member',
                               'other': '{} members'}"

            >
            </ng-pluralize>
        </td>
        <td class="actions">
          <button class="btn btn-danger btn-small btn-nowrap"
                  ng-if="$ctrl.membershipPending(team)"
                  ng-click="$ctrl.updateUserMembershipStatus(team, false)">
            Decline
          </button>
          <button class="btn btn-primary btn-small btn-nowrap"
                  ng-if="$ctrl.membershipPending(team)"
                  ng-click="$ctrl.updateUserMembershipStatus(team, true)">
            Accept
          </button>
          <button class="btn btn-default btn-small btn-nowrap"
                  ng-if="!$ctrl.membershipPending(team)"
                  ng-click="$ctrl.updateUserMembershipStatus(team, false)">
            Leave Team
          </button>
          <rf-dropdown data-options="team.options" ng-if="team.showOptions">
            <span class="icon-caret-down h4"></span>
          </rf-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-loading" ng-if="$ctrl.fetching">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
  </div>

  <!-- Pagination -->
  <div class="list-group text-center"
        ng-show="!$ctrl.loading && $ctrl.lastTeamResult && $ctrl.pagination.show && !$ctrl.errorMsg">
    <ul uib-pagination
        items-per-page="$ctrl.lastTeamResult.pageSize"
        total-items="$ctrl.pagination.count"
        ng-model="$ctrl.currentPage"
        max-size="4"
        rotate="true"
        boundary-link-numbers="true"
        force-ellipses="true"
        ng-change="$ctrl.fetchTeams($ctrl.currentPage, $ctrl.search)">
    </ul>
  </div>
  <!-- Pagination -->
</div>
