<div class="panel-body panel-analysis-viz-container">
  <div class="analysis-map-item-top-bar">
    <div class="list-item-left-actions" ng-transclude="selector"></div>
    <div class="list-group-overflow">
      <div class="text-overflow-ellipsis">
        <strong ng-attr-title="{{item.name}}">{{$ctrl.analysis.name}}</strong>
      </div>
      <div class="text-overflow-ellipsis">
        {{$ctrl.analysis.modifiedAt | date : 'medium'}}
      </div>
    </div>
  </div>
  <div class="project-preview analysis-viz-map">
    <div class="project-preview-container placeholder analysis-map"
          style="background-image: url({{$ctrl.projectPlaceholder}})">
      <rf-static-map
        map-id="{{$ctrl.mapId}}"
        options="$ctrl.mapOptions"></rf-static-map>
    </div>
  </div>
</div>
