<div class="sidebar">
    <rf-list-item ng-repeat="layer in $ctrl.layerList track by layer.id">
        <item-selector>
            <rf-list-item-selector
                id="layer.id"
                selected="$ctrl.isSelected(layer)"
                on-select="$ctrl.onSelect(layer)"
                color="layer.colorGroupHex"
            ></rf-list-item-selector
        ></item-selector>
        <item-title>
            <strong ng-attr-title="{{ layer.name }}">{{ layer.name }}</strong>
        </item-title>
        <item-date>{{ layer.createdAt | date }}</item-date>
    </rf-list-item>
    <rf-pagination-controls
        pagination="$ctrl.pagination"
        is-loading="$ctrl.currentQuery"
        on-change="$ctrl.fetchPage(value)"
        ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
    ></rf-pagination-controls>
</div>
<div class="main page-content-container">
    <div ng-if="!$ctrl.selectedLayers.size" class="page-card">
        <div class="page-card-content center">
            <span class="modal-icon">
                <i class="icon-info"></i>
            </span>
            <h3>Select layers to start building your embed</h3>
            <p>
                Choose at least one layer to start selecting the base and analysis layers you'd like
                to embed.
            </p>
        </div>
    </div>

    <div class="page-header" ng-if="$ctrl.selectedLayers.size">
        <h3>
            Embed
        </h3>
    </div>
    <div
        ng-if="$ctrl.selectedLayers.size && !($ctrl.embedParameters.layers.size || $ctrl.embedParameters.analyses.size)"
        class="page-card"
    >
        <div class="page-card-content center">
            <span class="modal-icon">
                <i class="icon-info"></i>
            </span>
            <h3>Select layers for the embed</h3>
            <p>
                Your embed code isn't ready yet. You'll be able to adjust the embed settings once
                some layers or analyses are selected.
            </p>
        </div>
    </div>
    <div
        class="page-card"
        ng-if="$ctrl.selectedLayers.size && ($ctrl.embedParameters.layers.size || $ctrl.embedParameters.analyses.size)"
    >
        <div class="page-card-section">
            <label>Embed type</label>
            <div class="input-group">
                <label
                    class="radio"
                    ng-click="$ctrl.onEmbedTypeChange('comparison')"
                    ng-class="{'active': $ctrl.embedParameters.type === 'comparison'}"
                    ng-disabled="$ctrl.embedParameters.type !== 'comparison'"
                >
                    <input
                        type="radio"
                        name="comparison"
                        ng-checked="$ctrl.embedParameters.type === 'comparison'"
                        ng-disabled="$ctrl.embedParameters.type !== 'comparison'"
                    />
                    Comparison
                </label>
                <label
                    class="radio"
                    ng-click="$ctrl.onEmbedTypeChange('single')"
                    ng-class="{'active': $ctrl.embedParameters.type === 'single'}"
                    ng-disabled="$ctrl.embedParameters.type !== 'single'"
                >
                    <input
                        type="radio"
                        name="single"
                        ng-checked="$ctrl.embedParameters.type === 'single'"
                        ng-disabled="$ctrl.embedParameters.type !== 'single'"
                    />
                    Single pane
                </label>
            </div>
        </div>
        <div class="page-card-section">
            <div class="side-by-side">
                <div class="form-group">
                    <label for="published-link" ng-if="$ctrl.embedParameters.type === 'comparison'">
                        Left pane default
                        <i
                            class="icon-warning color-warning"
                            ng-if="!$ctrl.embedParameters.pane1"
                        ></i>
                    </label>
                    <label for="published-link" ng-if="$ctrl.embedParameters.type === 'single'">
                        Default layer or analysis
                        <i
                            class="icon-warning color-warning"
                            ng-if="!$ctrl.embedParameters.pane1"
                        ></i>
                    </label>
                    <div class="input-group">
                        <select
                            class="form-control"
                            ng-model="$ctrl.embedParameters.pane1"
                            ng-change="$ctrl.updateEmbedUrl()"
                        >
                            <optgroup label="Layers" ng-if="$ctrl.embedParameters.layers.size">
                                <option
                                    ng-repeat="layer in $ctrl.embedParameters.layers.toJS()"
                                    value="{{ layer.id }}"
                                >
                                    {{ layer.name }}
                                </option>
                            </optgroup>
                            <optgroup label="Analyses" ng-if="$ctrl.embedParameters.analyses.size">
                                <option
                                    ng-repeat="analysis in $ctrl.embedParameters.analyses.toJS()"
                                    value="{{ analysis.id }}"
                                >
                                    {{ analysis.name }}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-if="$ctrl.embedParameters.type === 'comparison'">
                    <label for="published-link">
                        Right pane default
                        <i
                            class="icon-warning color-warning"
                            ng-if="!$ctrl.embedParameters.pane2"
                        ></i>
                    </label>
                    <div class="input-group">
                        <select
                            class="form-control"
                            ng-model="$ctrl.embedParameters.pane2"
                            ng-change="$ctrl.updateEmbedUrl()"
                        >
                            <optgroup label="Layers" ng-if="$ctrl.embedParameters.layers.size">
                                <option
                                    ng-repeat="layer in $ctrl.embedParameters.layers.toJS()"
                                    value="{{ layer.id }}"
                                >
                                    {{ layer.name }}
                                </option>
                            </optgroup>
                            <optgroup label="Analyses" ng-if="$ctrl.embedParameters.analyses.size">
                                <option
                                    ng-repeat="analysis in $ctrl.embedParameters.analyses.toJS()"
                                    value="{{ analysis.id }}"
                                >
                                    {{ analysis.name }}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-card-section">
            <div class="form-group">
                <label for="published-link">Embed code</label>
                <div class="input-group">
                    <textarea
                        class="form-control"
                        rows="4"
                        ng-value="$ctrl.embedUrl"
                        readonly
                    ></textarea>
                    <button
                        class="btn btn-link btn-square btn-icon"
                        clipboard
                        text="$ctrl.embedUrl"
                        ng-disabled="!($ctrl.embedParameters.layers.size || $ctrl.embedParameters.analyses.size)"
                    >
                        <i
                            class="icon-copy color-base"
                            aria-hidden="true"
                            ng-show="$ctrl.copyType !== 'page'"
                        >
                            <span class="sr-only">Copy URL</span>
                        </i>
                        <i
                            class="icon-check color-green"
                            aria-hidden="true"
                            ng-show="$ctrl.copyType === 'page'"
                        ></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header" ng-if="$ctrl.selectedLayers.size">
        <h3>
            Layers and analyses
        </h3>
    </div>
    <div class="page-card" ng-if="$ctrl.selectedLayers.size">
        <div class="page-card-list">
            <div class="page-card-list-item header">
                <strong>Name</strong>
            </div>
            <div ng-repeat="layer in $ctrl.selectedLayers.toArray()">
                <div class="page-card-list-item">
                    <div class="flex-fill">{{ layer.name }}</div>
                    <div>
                        <button
                            class="btn btn-tiny btn-ghost"
                            ng-if="!$ctrl.embedParameters.layers.has(layer)"
                            ng-click="$ctrl.onEmbedLayerToggle(layer)"
                        >
                            Add to embed
                        </button>
                        <button
                            class="btn btn-tiny btn-ghost"
                            ng-if="$ctrl.embedParameters.layers.has(layer)"
                            ng-click="$ctrl.onEmbedLayerToggle(layer)"
                        >
                            Remove from embed
                        </button>
                    </div>
                </div>
                <div
                    class="page-card-list-item"
                    ng-repeat="analysis in $ctrl.layerAnalyses[layer.id].items"
                    ng-if="$ctrl.layerAnalyses[layer.id].items"
                >
                    <div class="flex-fill">{{ analysis.name }}</div>
                    <div>
                        <button
                            class="btn btn-tiny btn-ghost"
                            ng-if="!$ctrl.embedParameters.analyses.has(analysis)"
                            ng-click="$ctrl.onEmbedAnalysisToggle(analysis)"
                        >
                            Add to embed
                        </button>
                        <button
                            class="btn btn-tiny btn-ghost"
                            ng-if="$ctrl.embedParameters.analyses.has(analysis)"
                            ng-click="$ctrl.onEmbedAnalysisToggle(analysis)"
                        >
                            Remove from embed
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
