<div class="list-group-item has-action {{$ctrl.isDisabled ? 'is-disabled' : ''}}">
  <div ng-if="$ctrl.isDraggable" ui-tree-handle>
    <i class="icon-gripper"></i>
  </div>
  <div>
    <rf-status-tag entity-type="scene"
                   ng-if="$ctrl.scene.statusFields.ingestStatus"
                   status="$ctrl.scene.statusFields.ingestStatus"></rf-status-tag>
    <img ng-attr-src="{{$ctrl.thumbnail}}"
         ng-if="$ctrl.thumbnail"
         class="rounded-img item-img">
    <div ng-if="!$ctrl.thumbnail"
        class="rounded-img item-img image-placeholder"></div>
  </div>
  <div class="list-group-overflow">
    <div>
      <span title="{{$ctrl.scene.name}}">
        <strong class="color-dark">
          {{$ctrl.getReferenceDate() | date}}
        </strong>
      </span>
    </div>
    <div>
      <span ng-attr-title="{{$ctrl.datasource}}">
            {{$ctrl.datasource ? $ctrl.datasource : 'Loading datasource'}}</span>
    </div>
  </div>
  <div class="list-group-right">
    <rf-toggle-old
      ng-if="$ctrl.onSelect && !$ctrl.isDisabled"
      model="$ctrl.selectedStatus"
      on-change="$ctrl.toggleSelected($event)">
    </rf-toggle-old>
    <ng-transclude>
    </ng-transclude>
  </div>
</div>
