<div class="admin-users-content container column-stretch dashboard">
  <div class="admin-users-actions">
    <input type="text" class="form-control admin-search" placeholder="Search for users"
           ng-model="$ctrl.search">
  </div>
  <table class="admin-table admin-platform-user-table">
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Organization</td>
        <td>Role</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in $ctrl.users track by $index">
        <td class="username">
          <div class="placeholder-avatar"></div>
          <div>
            {{user.name}}
          </div>
        </td>
        <td class="emails">
          {{user.email}}
        </td>
        <td class="organization">
          {{user.organization}}
        </td>
        <td class="roles">
          {{user.role}}
        </td>
        <td class="actions">
          <rf-dropdown data-options="user.options">
            <span class="icon-caret-down"></span>
          </rf-dropdown>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="list-group text-center"
        ng-show="!$ctrl.loading && $ctrl.lastUserResult && $ctrl.pagination.show && !$ctrl.errorMsg">
    <ul uib-pagination
        items-per-page="$ctrl.lastUserResult.pageSize"
        total-items="$ctrl.pagination.count"
        ng-model="$ctrl.currentPage"
        max-size="4"
        rotate="true"
        boundary-link-numbers="true"
        force-ellipses="true"
        ng-change="$ctrl.fetchUsers($ctrl.currentPage, $ctrl.search)">
    </ul>
  </div>
  <!-- Pagination -->
</div>
