<div class="admin-users-content container column-stretch">
  <div ng-if="$ctrl.errrorMsg">
    <p>
      {{$ctrl.errrorMsg}}
      <a ng-href="mailto:{{$ctrl.platAdminEmail}}">platform admin</a>.
    </p>
  </div>
  <div ng-if="!$ctrl.errorMsg">
    <div class="admin-users-actions">
      <rf-search on-search="$ctrl.debouncedSearch(value)" placeholder="Search for users" auto-focus="true"></rf-search>
    </div>
    <table class="admin-table admin-platform-user-table" ng-if="!$ctrl.fetching">
      <tbody>
        <tr ng-repeat="user in $ctrl.users track by $index">
          <td class="username">
            <div class="avatar user-avatar image-placeholder" ng-if="!user.profileImageUri"></div>
            <div ng-if="user.profileImageUri">
              <img class="avatar user-avatar" ng-src="{{user.profileImageUri}}">
            </div>
            <div class="font-600">
              {{user.name || user.email || user.id}}
            </div>
          </td>
          <td class="emails">
            {{user.email}}
          </td>
          <td class="roles titlecase">
            <select class="form-control"
                    ng-model="user.groupRole"
                    ng-disabled="$ctrl.disabled"
                    ng-change="$ctrl.updateUserGroupRole(user)"
                    ng-if="$ctrl.currentPlatUgr.groupRole === 'ADMIN'"
            >
              <option value="ADMIN">Admin</option>
              <option value="MEMBER">Member</option>
            </select>
            <span ng-if="!$ctrl.currentPlatUgr.groupRole === 'ADMIN'">{{user.groupRole}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-loading" ng-if="$ctrl.fetching">
      <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
    </div>
    <!-- Pagination -->
    <div class="list-group text-center"
          ng-show="!$ctrl.loading && $ctrl.lastUserResult && $ctrl.pagination.show && !$ctrl.errorMsg">
      <ul uib-pagination
          items-per-page="$ctrl.lastUserResult.pageSize"
          total-items="$ctrl.pagination.count"
          ng-model="$ctrl.currentPage"
          max-size="4"
          rotate="true"
          boundary-link-numbers="true"
          force-ellipses="true"
          ng-change="$ctrl.fetchUsers($ctrl.currentPage, $ctrl.search)">
      </ul>
    </div>
  </div>
</div>
