@import "../../../../assets/styles/sass/settings/_colors.scss";
.draw-toolbar {
  background: $shade-dark;
  position: absolute;
  top: 2em;
  left: 50%;
  z-index: 950;
  box-shadow: 1px 3px 5px $shade-dark;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.draw-toolbar-header {
  flex: 1;
  color: #fff;
  font-weight: bold;
  padding: .3em 5em .3em 5em;
}

.draw-toolbar-actions {
  padding: 1em 1em 0 1em;
  button {
    margin: 0 0.5rem 0 0.5rem;
  }
  .btn-group {
    margin: 0 0.5rem 0 0.5rem;
  }
}
.sidebar-overlay {
  background: white;
  opacity: 0.5;
  width: 40rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 950;
}
