<div class="admin-users-content container column-stretch">
  <div ng-if="$ctrl.errorMsg">
    <p>
      {{$ctrl.errorMsg}}
    </p>
  </div>
  <div ng-if="!$ctrl.errorMsg">
    <div class="admin-users-actions">
      <div class="actions-right">
        <button type="button" class="btn btn-primary"
                ng-click="$ctrl.newTeamModal()" ng-disabled="$ctrl.fetching">
          New Team
        </button>
      </div>
    </div>
  </div>
  <table class="admin-table admin-team-table" ng-if="!$ctrl.fetching">
    <tbody>
      <tr ng-repeat="team in $ctrl.teams track by team.id">
        <td class="name">
          <a title="View team details"
             ui-sref="admin.team.users({teamId: team.id})">
            {{team.name}}
          </a>
        </td>
        <td class="users">
          <div class="user-group-avatars">
            <div class="avatar user-avatar image-placeholder"
                 ng-if="!user.profileImageUri"
                 ng-repeat-start="user in team.fetchedUsers.results track by $index | limitTo : 5">
            </div>
            <div class="user-avatar"
                 ng-if="user.profileImageUri"
                 ng-repeat-end>
              <img class="avatar"
                   ng-src="{{user.profileImageUri}}"
                   ng-attr-title="{{user.name || user.email || user.id}}">
            </div>
          </div>
          &nbsp;
          <ng-pluralize count="team.fetchedUsers.count"
                        when="{'0': ' No members',
                               '1': ' 1 member',
                               'other': '{} members'}"

          >
          </ng-pluralize>
        </td>
        <td class="users" ng-if="!team.fetchedUsers">
          <a class="users-more" title="View team details"
             ui-sref="admin.team.users({teamId: team.id})">
            Counting members...
          </a>
        </td>
        <td class="actions">
          <rf-dropdown data-options="team.options" ng-if="team.showOptions">
            <span class="icon-edit"></span>
          </rf-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-loading" ng-if="$ctrl.fetching">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
  </div>
  <!-- Pagination -->
  <div class="list-group text-center"
        ng-show="!$ctrl.loading && $ctrl.lastTeamResult && $ctrl.pagination.show && !$ctrl.errorMsg">
    <ul uib-pagination
        items-per-page="$ctrl.lastTeamResult.pageSize"
        total-items="$ctrl.pagination.count"
        ng-model="$ctrl.currentPage"
        max-size="4"
        rotate="true"
        boundary-link-numbers="true"
        force-ellipses="true"
        ng-change="$ctrl.fetchTeams($ctrl.currentPage, $ctrl.search)">
    </ul>
  </div>
  <!-- Pagination -->
</div>
