<div class="admin-list-content column-stretch">
  <div class="admin-list-actions">
    <div>
      <rf-pagination-count
        start-index="$ctrl.pagination.startingItem"
        end-index="$ctrl.pagination.endingItem"
        total="$ctrl.pagination.count"
        item-name="teams"
        ng-if="!$ctrl.currentQuery && $ctrl.pagination.count"
      >
        <span ng-if="$ctrl.search">while searching for <strong>{{$ctrl.search}}</strong></span>
      </rf-pagination-count>
    </div>
    <div class="actions-right">
      <rf-search on-search="$ctrl.fetchPage(1, value)"
                 value="$ctrl.search"
                 placeholder="Search for teams"
                 auto-focus="true"></rf-search>
      <button type="button" class="btn btn-primary"
              ng-click="$ctrl.newTeamModal()" ng-disabled="$ctrl.currentQuery">
        Create Team
      </button>
    </div>
  </div>
  <rf-call-to-action-item
    title="No teams have been formed yet"
    class="panel panel-off-white"
    ng-if="!$ctrl.currentQuery && !$ctrl.pagination.count && !$ctrl.search && !$ctrl.fetchError">
    <p class="pb-25">
      The {{$ctrl.organization.name}} organization does not have any teams yet.
      You can use teams to organize users and make sharing common data even easier.
      When you form teams, they'll be shown here.
    </p>

    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.newTeamModal()"
    >
      Create Team
    </button>
  </rf-call-to-action-item>
  <rf-call-to-action-item
      title="Your search didn't return any teams"
      class="panel panel-off-white"
      ng-show="!$ctrl.currentQuery && !$ctrl.pagination.count && !$ctrl.fetchError && $ctrl.search">
    <p class="pb-25">
      Unable to find any teams matching "<strong>{{$ctrl.search}}</strong>".
    </p>
  </rf-call-to-action-item>
  <rf-call-to-action-item
      title="There was an error fetching teams."
      class="panel panel-off-white"
      ng-show="!$ctrl.currentQuery && $ctrl.fetchError">
    <div class="pb-25">
      Please refresh the page and try again.<br />
      If the problem persists, please contact {{$ctrl.BUILDCONFIG.APP_NAME}} support.
    </div>
  </rf-call-to-action-item>
  <table class="admin-table admin-team-table" ng-if="!$ctrl.currentQuery && $ctrl.results.length">
    <tbody>
      <tr ng-repeat="team in $ctrl.results track by team.id">
        <td class="name">
          <div ng-if="$ctrl.editTeamId !== team.id">
            <a class="font-600"
               title="View team details"
               ui-sref="admin.team({teamId: team.id})">
              {{team.name}}
            </a>
          </div>
          <div ng-if="$ctrl.editTeamId === team.id">
            <form class="inline-form" ng-submit="$ctrl.finishTeamNameEdit(team)">
              <div class="form-group all-in-one form-admin-name-edit">
                <input id="name"
                       type="text"
                       class="form-control"
                       ng-init="$ctrl.nameBuffer = $ctrl.getInitialNameBuffer(team.id)"
                       ng-model="$ctrl.nameBuffer">
                <button class="btn btn-link flex-last node-header-eidt-group">
                  <span class="icon-save node-label-name"></span>
                </button>
                <button type="button" class="btn btn-link node-header-eidt-group" ng-click="$ctrl.toggleTeamNameEdit(team.id, false)">
                  <span class="icon-cancel node-label-name"></span>
                </button>
              </div>
            </form>
          </div>
        </td>
        <td class="users">
          <div class="user-group-avatars">
            <div class="avatar user-avatar image-placeholder"
                 ng-if="!user.profileImageUri"
                 ng-repeat-start="user in team.fetchedUsers.results track by $index | limitTo : 5">
            </div>
            <div class="user-avatar"
                 ng-if="user.profileImageUri"
                 ng-repeat-end>
              <img class="avatar"
                   ng-src="{{user.profileImageUri}}"
                   ng-attr-title="{{user.name || user.email || user.id}}">
            </div>
          </div>
        </td>
        <td class="users-count">
            <ng-pluralize count="team.fetchedUsers.count"
                        when="{'0': ' No members yet',
                               '1': ' 1 member',
                               'other': '{} members'}"

            >
            </ng-pluralize>
        </td>
        <td class="actions">
          <rf-dropdown data-options="team.options" ng-if="team.showOptions">
            <span class="icon-caret-down h4"></span>
          </rf-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-loading" ng-if="$ctrl.currentQuery">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></span>
  </div>
  <rf-pagination-controls
    pagination="$ctrl.pagination"
    is-loading="$ctrl.currentQuery"
    on-change="$ctrl.fetchPage(value)"
    ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
  ></rf-pagination-controls>
</div>
