<div class="lab-workspace"
     ng-class="{ 'is-dragging': $ctrl.panActive }"
     ng-style="$ctrl.workspaceStyle"
>
</div>
<div class="lab-control-panel">
  <button class="btn btn-default"
          ng-click="$ctrl.fitAndCenter()"
  >
    <i class="icon-resize-full"></i>
  </button>
  <div class="filler"></div>
  <button class="btn btn-default"
          ng-click="$ctrl.zoomIn()"
  >
    +
  </button>
  <button class="btn btn-default"
          ng-click="$ctrl.zoomOut()"
  >
    -
  </button>
</div>
