<div class="sidebar-header dark">
  <h5>Filters</h5>
  <div class="header-controls">
    <button type="button"
            class="btn btn-default btn-small"
            ng-show="!$ctrl.settingRepository"
            ng-click="$ctrl.resetFilters()">
      Reset Filters
    </button>
    <button class="btn btn-default btn-small"
            ng-click="$ctrl.onClose()">
      Close
    </button>
  </div>
</div>
<div class="sidebar-scrollable">
  <div class="content" feature-flag="external-source-browse">
    <div class="filter-group">
      <div class="filter">
        <label>Repository</label>
        <div class="btn-group" uib-dropdown keyboard-nav ng-show="!$ctrl.settingRepository">
          <button type="button" class="btn btn-default browse-source-drop-down" uib-dropdown-toggle>
            {{$ctrl.currentRepository.overrideLabel || $ctrl.currentRepository.label}}
            <i class="icon-caret-down"></i>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem"
                ng-repeat="repository in $ctrl.repositories"
                ng-click="$ctrl.setRepository(repository)">
              <a>{{repository.overrideLabel || repository.label}}</a>
            </li>
          </ul>
        </div>
        <div class="btn-group" ng-show="$ctrl.settingRepository">
          <button type="button" class="btn btn-default browse-source-drop-down" disabled="true">
            Changing Repository
            <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.settingRepository}"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="filters" class="content">
  </div>
</div>
