<div class="sidebar-header dark">
  <h5>Filters</h5>
  <div class="header-controls">
    <button class="btn btn-default btn-small"
            ng-click="$ctrl.onClose()">
      Close
    </button>
  </div>
</div>
<div class="sidebar-scrollable">
  <div class="content">
    <!-- feature-flag="browse-planet-data"> -->
    <div class="filter-group">
      <div class="filter">
        <label>Browse from</label>
        <div class="btn-group" uib-dropdown keyboard-nav>
          <button type="button" class="btn btn-default browse-source-drop-down " uib-dropdown-toggle>
            {{$ctrl.selectedBrowseSource}}
            <i class="icon-caret-down"></i>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem"
                ng-click="$ctrl.onSelectBrowseSource('Raster Foundry')">
              <a>Raster Foundry</a>
            </li>
            <li role="menuitem"
                class="browse-source-option"
                ng-click="$ctrl.onSelectBrowseSource('Planet Labs')">
              <a>Planet Labs</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="filter-group">
      <div class="filter">
        <button ng-click="$ctrl.resetAllFilters()" class="btn btn-toggle btn-small btn-block">Clear all filters</button>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter"
          ng-mouseleave="$ctrl.toggleDrag.toggle = false"
          ng-mouseup="$ctrl.toggleDrag.toggle = false">
        <label>Imagery sources</label>
        <div class="searchselect">
          <input type="text"
                 placeholder="All"
                 ng-model="$ctrl.selectedDatasource"
                 uib-typeahead="ds.name for ds in $ctrl.datasources | filter:$viewValue | limitTo:8"
                 class="form-control input-dark image-source"
                 typeahead-on-select="$ctrl.toggleSourceFilter($item)"
                 typeahead-min-length="0">
           <i class="icon-caret-down"
              ng-if="!$ctrl.selectedDatasource"></i>
          <div class="searchselect-clear"
               ng-if="$ctrl.selectedDatasource"
               ng-click="$ctrl.clearDatasourceFilter()">
            <i class="icon-cross"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter">
        <label>Date Range</label>
        <div class="flex-fill">
          <span ng-if="$ctrl.datefilterPreset">{{$ctrl.datefilterPreset}}</span>
          <span ng-if="!$ctrl.datefilterPreset">{{$ctrl.datefilter.start.calendar()}} to {{$ctrl.datefilter.end.calendar()}}</span>
        </div>
      </div>
      <div class="filter">
        <label></label>
        <button class="btn btn-small btn-primary flex-fill"
                ng-click="$ctrl.openDateRangePickerModal()">{{$ctrl.hasDatetimeFilter ? 'Update ' : 'Set '}}Date Filter</button>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter">
        <label>Cloud cover</label>
        <rzslider rz-slider-model="$ctrl.filterOptions.cloudCover.minModel"
                    rz-slider-high="$ctrl.filterOptions.cloudCover.maxModel"
                    rz-slider-options="$ctrl.filterOptions.cloudCover.options"></rzslider>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter">
        <label>Sun elevation</label>
        <rzslider rz-slider-model="$ctrl.filterOptions.sunElevation.minModel"
                    rz-slider-high="$ctrl.filterOptions.sunElevation.maxModel"
                    rz-slider-options="$ctrl.filterOptions.sunElevation.options"></rzslider>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter">
        <label>Sun azimuth</label>
        <rzslider rz-slider-model="$ctrl.filterOptions.sunAzimuth.minModel"
                    rz-slider-high="$ctrl.filterOptions.sunAzimuth.maxModel"
                    rz-slider-options="$ctrl.filterOptions.sunAzimuth.options"></rzslider>
      </div>
    </div>
    <div class="filter-group"
         ng-if="$ctrl.selectedBrowseSource === 'Raster Foundry'">
      <div class="filter"
           ng-mouseleave="$ctrl.toggleDrag.toggle = false"
           ng-mouseup="$ctrl.toggleDrag.toggle = false">
        <label>Ingest Status</label>
        <div class="filter-item tag-filter">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-toggle btn-small"
                    ng-class="{'active': $ctrl.ingestFilter === 'any'}"
                    ng-click="$ctrl.setIngestFilter('any')">
              Show All
            </button>
            <button type="button"
                    class="btn btn-toggle btn-small"
                    ng-class="{'active': $ctrl.ingestFilter === 'uningested'}"
                    ng-click="$ctrl.setIngestFilter('uningested')">
              Uningested Only
            </button>
            <button type="button"
                    class="btn btn-toggle btn-small"
                    ng-class="{'active': $ctrl.ingestFilter === 'ingested'}"
                    ng-click="$ctrl.setIngestFilter('ingested')">
              Ingested Only
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-group"
         ng-if="$ctrl.selectedBrowseSource === 'Raster Foundry'">
      <div class="filter">
        <label>Owner</label>
        <div class="filter-item tag-filter">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-toggle btn-small"
                    ng-class="{'active': $ctrl.importOwnerFilter === 'any'}"
                    ng-click="$ctrl.setImportOwnerFilter('any')">
              All Users
            </button>
            <button type="button"
                    class="btn btn-toggle btn-small"
                    ng-class="{'active': $ctrl.importOwnerFilter === 'user'}"
                    ng-click="$ctrl.setImportOwnerFilter('user')">
              My Imports
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
