@font-face {
  font-family: 'raster-foundry';
  src: url('../font/raster-foundry.eot?60721717');
  src: url('../font/raster-foundry.eot?60721717#iefix') format('embedded-opentype'),
       url('../font/raster-foundry.woff?60721717') format('woff'),
       url('../font/raster-foundry.ttf?60721717') format('truetype'),
       url('../font/raster-foundry.svg?60721717#raster-foundry') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'raster-foundry';
    src: url('../font/raster-foundry.svg?60721717#raster-foundry') format('svg');
  }
}
*/
 
 [class^="rf-icon-"]:before, [class*=" rf-icon-"]:before {
  font-family: "raster-foundry";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.rf-icon-docs:before { content: '\e800'; } /* '' */
.rf-icon-upload-cloud-outline:before { content: '\e801'; } /* '' */
.rf-icon-list:before { content: '\e802'; } /* '' */
.rf-icon-book:before { content: '\e803'; } /* '' */
.rf-icon-map:before { content: '\e804'; } /* '' */
.rf-icon-map-alt:before { content: '\e805'; } /* '' */
.rf-icon-layers:before { content: '\e806'; } /* '' */
.rf-icon-gears:before { content: '\e807'; } /* '' */
.rf-icon-down-open:before { content: '\e808'; } /* '' */
.rf-icon-left-open:before { content: '\e809'; } /* '' */
.rf-icon-right-open:before { content: '\e80a'; } /* '' */
.rf-icon-up-open:before { content: '\e80b'; } /* '' */
.rf-icon-down-small:before { content: '\e80c'; } /* '' */
.rf-icon-left-small:before { content: '\e80d'; } /* '' */
.rf-icon-right-small:before { content: '\e80e'; } /* '' */
.rf-icon-up-small:before { content: '\e80f'; } /* '' */
.rf-icon-check:before { content: '\e810'; } /* '' */
.rf-icon-user:before { content: '\e811'; } /* '' */
.rf-icon-ellipsis:before { content: '\e812'; } /* '' */
.rf-icon-eye:before { content: '\e813'; } /* '' */
.rf-icon-eye-off:before { content: '\e814'; } /* '' */
.rf-icon-link:before { content: '\e815'; } /* '' */
.rf-icon-search:before { content: '\e816'; } /* '' */
.rf-icon-sort-alt-up:before { content: '\e817'; } /* '' */
.rf-icon-cancel:before { content: '\e818'; } /* '' */
.rf-icon-cog:before { content: '\e819'; } /* '' */
.rf-icon-logout:before { content: '\e81a'; } /* '' */
.rf-icon-trash-empty:before { content: '\e81b'; } /* '' */
.rf-icon-arrow-combo:before { content: '\e81c'; } /* '' */
.rf-icon-star-empty:before { content: '\e81d'; } /* '' */
.rf-icon-star:before { content: '\e81e'; } /* '' */
.rf-icon-plus:before { content: '\e81f'; } /* '' */
.rf-icon-upload:before { content: '\e820'; } /* '' */
.rf-icon-loader:before { content: '\e821'; } /* '' */
.rf-icon-attention:before { content: '\e822'; } /* '' */