<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close"
            ng-click="$ctrl.dismiss()" ng-show="!$ctrl.resolve.requireSelection">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Export download
    </h4>
  </div>
  <div class="modal-body">
    <ul>
      <li ng-repeat="file in $ctrl.exportFiles"><a ng-href="{{file}}" download target="_blank">Download file {{$index + 1}}</a></li>
    </ul>
    <div class="list-group" ng-show="$ctrl.isLoading">
      <span class="list-placeholder">
        <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.isLoading}"></i>
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn"
            ng-click="$ctrl.dismiss()">
      Done
    </button>
  </div>
</div>
