<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%thread] %-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Uncomment for logging ALL HTTP request and responses -->
  <logger name="io.gatling.http.ahc" level="INFO" />
  <logger name="io.gatling.http.response" level="INFO" />
  <!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
  <!-- <logger name="io.gatling.http.ahc" level="DEBUG" /> -->
  <!-- <logger name="io.gatling.http.response" level="DEBUG" /> -->

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
