<div class="filter">
    <label>Image Status</label>
    <div class="input-group page-card-header cozy">
        <div class="flex-fill help-text font-size-tiny">
            Include images that require processing before use in analyses or color corrections
        </div>
        <button class="btn select-button btn-tiny" ng-click="$ctrl.onToggleFilter()">
            <label class="checkbox" ng-class="{active: !$ctrl.filterData.ingested}">
                <input
                    type="checkbox"
                    ng-checked="$ctrl.filterData.ingested"
                    ng-click="$ctrl.onToggleFilter()"
                />
            </label>
            <span>{{ $ctrl.filter.label }}</span>
        </button>
    </div>
</div>
