<div class="sidebar-actions-group" ng-show="$ctrl.selected.size === 0">
    <div class="flex-fill"></div>
    <div class="btn btn-small btn-transparent" uib-dropdown uib-dropdown-toggle>
        Analysis Visibility
        <ul class="dropdown-menu dropdown-menu-light drop-left" uib-dropdown-menu role="menu">
            <li role="menuitem">
                <a href ng-click="$ctrl.showFirstAnalysis()">Show only first</a>
            </li>
            <li role="menuitem">
                <a href ng-click="$ctrl.showAllAnalyses()">Show all on page</a>
            </li>
        </ul>
    </div>
</div>
<div class="selected-actions-group" ng-show="$ctrl.selected.size > 0">
    <rf-selected-actions-bar
        checked="$ctrl.allVisibleSelected()"
        on-click="$ctrl.selectAll()"
        action-text="$ctrl.selectText"
    >
        <span
            tooltips
            tooltip-template="View maps and histograms of selected analyses on one page"
            tooltip-size="small"
            tooltip-class="rf-tooltip shrink"
            tooltip-side="bottom">
          <button class="btn btn-transparent btn-tiny"
                  ng-click="$ctrl.visualizeAnalyses()"
                  ng-disabled="!$ctrl.canVisualize()"
          >
            Visualize
          </button>
        </span>
        <span
            tooltips
            tooltip-template="Edit analyses created from the same template"
            tooltip-size="small"
            tooltip-class="rf-tooltip shrink"
            tooltip-side="bottom"
        >
            <button
                class="btn btn-transparent btn-tiny"
                ng-click="$ctrl.editAnalyses()"
                ng-disabled="!$ctrl.canEditSelection()"
            >
                Edit
            </button>
        </span>
        <button
            class="btn btn-transparent btn-tiny"
            ng-click="$ctrl.deleteProjectAnalyses($ctrl.selected.valueSeq().toArray())"
        >
            Delete
        </button>
    </rf-selected-actions-bar>
</div>
<div class="sidebar-scrollable list-group">
    <div class="loader-overlay" ng-show="$ctrl.updatePromise">
        <span class="list-placeholder">
            <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.updatePromise}"></i>
        </span>
    </div>
    <rf-list-item
        class="no-auto-focus"
        ng-class="{'focus': $ctrl.focused.id === item.id}"
        ng-click="$ctrl.onAnalysisClickDebounced(item)"
        ng-repeat="item in $ctrl.itemList track by item.id"
    >
        <item-selector>
            <rf-list-item-selector
                id="item.id"
                selected="$ctrl.selected.has(item.id)"
                on-select="$ctrl.onToggle(id)"
                color="item.layerColorGroupHex"
            ></rf-list-item-selector>
        </item-selector>
        <item-title>
            <strong ng-attr-title="{{ item.name }}">{{ item.name }}</strong>
        </item-title>
        <item-subtitle>
            <span>{{ item.templateTitle }}</span>
        </item-subtitle>
        <item-date>{{ item.modifiedAt | date }}</item-date>
        <item-actions>
            <rf-list-item-visibility
                visible="$ctrl.visible.has(item.id)"
                on-toggle="$ctrl.visible.onHide(id)"
            ></rf-list-item-visibility>
            <rf-list-item-actions actions="$ctrl.itemActions.get(item.id)"></rf-list-item-actions>
        </item-actions>
    </rf-list-item>
    <rf-pagination-controls
        pagination="$ctrl.pagination"
        is-loading="$ctrl.currentQuery"
        on-change="$ctrl.fetchPage(value)"
        ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
    ></rf-pagination-controls>
</div>
