<input class="class-range-input"
       step="$ctrl.precision"
       ng-if="!$ctrl.isShowingRange"
       ng-model="$ctrl.break.break"
       ng-model-options="{ debounce: 850 }"
       ng-change="$ctrl._onBreakChange()"
       ng-blur="$ctrl.toggleRange(true)">
<div class="class-range-input" ng-click="$ctrl.toggleRange(false)" ng-if="$ctrl.isShowingRange">
  {{$ctrl.classRange}}
</div>
<input class="class-value-input"
       ng-model="$ctrl.break.value"
       ng-model-options="{ debounce: 850 }"
       ng-change="$ctrl._onBreakChange()">
<div class="invalid-entry-warning">
  <span class="icon-warning"
        ng-show="!$ctrl.isValid()"></span>
</div>
