<div class="container dashboard">
  <div class="row content stack-sm">
    <div class="column-8">
      <!-- Dashboard Header -->
      <div class="dashboard-header">
        <h1 class="h3">{{$ctrl.datasource.name}}</h1>
        <div class="flex-fill"></div>
        <rf-toggle value="$ctrl.isPublic" on-change="$ctrl.changeVisibility()" ng-if="$ctrl.isOwner">
          <label>Share publicly</label>
        </rf-toggle>
        <button class="btn btn-primary" ng-click="$ctrl.openImportModal()">Start an Import</button>
      </div>
      <!-- Dashboard Header -->
      <div class="cta-row">
        <rf-call-to-action-item title="License" class="panel panel-off-white">
          <div class="cta-flex-text">
            Set the usage license for <strong>{{$ctrl.datasource.name}}</strong> datasource.
          </div>
          <table class="table">
            <col width="30%">
            <col width="70%">
            <thead>
              <tr>
                <th>License</th>
                <th>Source</th>
              </tr>
            </thead>
          <tbody>
          <tr>
            <td>
              <button
                class="btn btn-text btn-licenses"
                ng-if="!$ctrl.isSearchLicense"
                ng-click="$ctrl.onSelectLicense()">
                {{$ctrl.selectedLicense}}
                <span>|<span class="icon-caret-down"></span></span>
              </button>
              <input
                class="license-input"
                ng-if="$ctrl.isSearchLicense"
                ng-model="$ctrl.licenseInput"
                ng-change="$ctrl.onLicenseInputChange()"
                ng-blur="$ctrl.onLicenseFieldBlur()">
              </input>
              <div class="license-selections"
                   ng-if="$ctrl.showMatchedLicenses">
                   <div class="label-name-option"
                        ng-attr-title="{{license.name}}"
                        ng-repeat="license in $ctrl.matchedLicenses"
                        ng-click="$ctrl.onLicenseClick(license)"
                        ng-mouseover="$ctrl.onLicenseHover(true)"
                        ng-mouseleave="$ctrl.onLicenseHover(false)">
                        {{license.short_name}}
                   </div>
              </div>
            </td>
            <td>
              <a target="_blank" ng-href="{{$ctrl.selectedLicenseUrl}}">
                {{$ctrl.selectedLicenseUrlDisplay}}
              </a>
            </td>
          </tr>
          </tbody>
          </table>
        </rf-call-to-action-item>
      </div>
      <div class="cta-row">
        <rf-call-to-action-item title="Bands" class="panel panel-off-white">
          <div class="cta-flex-text">
            Add or change the names and numbers of bands for the <strong>{{$ctrl.datasource.name}}</strong> datasource.
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Index</th>
                <th>Number</th>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="band in $ctrl.bandsBuffer"
                  ng-class="{'table-row-changed': val.changed}"
              >
                <td>
                  {{$index}}
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="Band Number"
                         ng-model="band.number"
                         ng-model-options="{ debounce: 500 }"
                         ng-change="$ctrl.updateBandBuffer($index, band)"
                         ng-disabled="!$ctrl.isOwner">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="Band name"
                         ng-model="band.name"
                         ng-model-options="{ debounce: 500 }"
                         ng-change="$ctrl.updateBandBuffer($index, band)"
                         ng-disabled="!$ctrl.isOwner">
                </td>
                <td class="text-right">
                  <div ng-show="$ctrl.isOwner">
                    <button class="btn btn-small" ng-click="$ctrl.removeBand($index)">
                      <span class="sr-only">Delete</span>
                      <i class="icon-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="colormode-actions" ng-show="$ctrl.isOwner">
            <div>
              <button type="button" class="btn btn-outline"
                      ng-click="$ctrl.addBand()">
                + Add an additional band
              </button>
            </div>
            <div ng-show="$ctrl.changedBandsBuffer">
              <button class="btn" ng-click="$ctrl.resetBandsBuffer()">
                Cancel
              </button>
              <button class="btn btn-default" ng-click="$ctrl.saveBufferedBands()">
                Save Changes
              </button>
            </div>
          </div>
        </rf-call-to-action-item>
      </div>
      <div class="cta-row">
        <rf-call-to-action-item title="Color modes" class="panel panel-off-white">
          <div class="cta-flex-text">
            Create preset false color composites that will be available for all imagery from the <strong>{{$ctrl.datasource.name}}</strong> datasource.
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Red band index</th>
                <th>Green band index</th>
                <th>Blue band index</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(preset, val) in $ctrl.colorCompositesBuffer"
                  ng-class="{'table-row-changed': val.changed}"
              >
                <td>
                  <input type="text" class="form-control" placeholder="Color mode name"
                         ng-model="val.label"
                         ng-model-options="{ debounce: 500 }"
                         ng-change="$ctrl.onBufferChange(preset)" ng-disabled="!$ctrl.isOwner">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="Red Band"
                         ng-model="val.value.redBand"
                         ng-model-options="{ debounce: 500 }"
                         ng-change="$ctrl.updateBuffer(preset, 'redBand', val.value.redBand)"
                         ng-disabled="!$ctrl.isOwner">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="Green Band"
                         ng-model="val.value.greenBand"
                         ng-model-options="{ debounce: 500 }"
                         ng-change="$ctrl.updateBuffer(preset, 'greenBand', val.value.greenBand)"
                         ng-disabled="!$ctrl.isOwner">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="Blue Band"
                         ng-model="val.value.blueBand"
                         ng-model-options="{ debounce: 500 }"
                         ng-change="$ctrl.updateBuffer(preset, 'blueBand', val.value.blueBand)"
                         ng-disabled="!$ctrl.isOwner">
                </td>
                <td class="text-right" ng-show="$ctrl.isOwner">
                  <button class="btn btn-small" ng-click="$ctrl.deleteFromBuffer(preset)">
                    <span class="sr-only">Delete</span>
                    <i class="icon-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="colormode-actions">
            <div ng-show="$ctrl.isOwner">
              <button type="button" class="btn btn-outline"
                      ng-click="$ctrl.addCompositeRow()">
                + Add new color mode
              </button>
            </div>
            <div ng-show="$ctrl.changedBuffer">
              <button class="btn" ng-click="$ctrl.cancel()">
                Cancel
              </button>
              <button class="btn btn-default" ng-click="$ctrl.saveColorComposites()">
                Save Changes
              </button>
            </div>
          </div>
        </rf-call-to-action-item>
      </div>
    </div>
    <div class="column spacer"></div>
    <div class="column">
      <div class="aside">
        <section>
          <h5>What is a color mode?</h5>
          <p class="font-size-small">Color modes create a color image by allowing you to assign monochromatic wavelength bands to the red, green, and blue color spectrum.</p>
          <h5>Why combine different bands?</h5>
          <p class="font-size-small">False color composites, as they are called, are useful for highlighting features within imagery. For instance, you could combine bands to highlight plant growth.</p>
        </section>
      </div>
    </div>
  </div>
</div>
