<div class="admin-users-content container column-stretch">
  <div class="admin-users-actions">
      <rf-search on-search="$ctrl.debouncedSearch(value)" placeholder="Search for users" auto-focus="true"></rf-search>
    <div class="actions-right">
      <button type="button" class="btn btn-primary"
              ng-click="$ctrl.addUser()" ng-disabled="$ctrl.fetching">
        Add users
      </button>
    </div>
  </div>
  <table class="admin-table admin-platform-user-table" ng-if="!$ctrl.fetching">
    <tbody>
      <tr ng-repeat="user in $ctrl.users track by $index">
        <td class="username">
          <div class="placeholder-avatar" ng-if="!user.profileImageUri"></div>
          <div class="user-avatar" ng-if="user.profileImageUri">
            <img class="avatar" ng-src="{{user.profileImageUri}}">
          </div>
          <div>
            {{user.name || user.email || user.id}}
          </div>
        </td>
        <td class="emails">
          {{user.email}}
        </td>
        <td class="roles titlecase">
            <select class="form-control"
                    ng-model="user.groupRole"
                    ng-change="$ctrl.updateUserGroupRole(user)"
                    ng-if="$ctrl.isAdmin"
            >
              <option value="ADMIN">Admin</option>
              <option value="MEMBER">Member</option>
            </select>
            <span ng-if="!$ctrl.isAdmin">{{user.groupRole}}</span>
        </td>
        <td class="actions">
          <rf-dropdown data-options="user.options" ng-if="user.showOptions">
            <span class="icon-edit"></span>
          </rf-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-loading" ng-if="$ctrl.fetching">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
  </div>

  <!-- Pagination -->
  <div class="list-group text-center"
        ng-show="!$ctrl.loading && $ctrl.lastUserResult && $ctrl.pagination.show && !$ctrl.errorMsg">
    <ul uib-pagination
        items-per-page="$ctrl.lastUserResult.pageSize"
        total-items="$ctrl.pagination.count"
        ng-model="$ctrl.currentPage"
        max-size="4"
        rotate="true"
        boundary-link-numbers="true"
        force-ellipses="true"
        ng-change="$ctrl.fetchUsers($ctrl.currentPage, $ctrl.search)">
    </ul>
  </div>
  <!-- Pagination -->
</div>
