<div class="admin-list-content column-stretch">
  <div class="admin-list-actions">
    <div>
      <rf-pagination-count
        start-index="$ctrl.pagination.startingItem"
        end-index="$ctrl.pagination.endingItem"
        total="$ctrl.pagination.count"
        item-name="users"
        ng-if="!$ctrl.currentQuery && $ctrl.results.length"
      >
        <span ng-if="$ctrl.search">while searching for <strong>{{$ctrl.search}}</strong></span>
      </rf-pagination-count>
    </div>
    <div class="actions-right">
      <rf-search on-search="$ctrl.fetchPage(1, value)"
                 value="$ctrl.search"
                 placeholder="Search for users"
                 auto-focus="true"></rf-search>
      <button type="button" class="btn btn-primary"
              ng-click="$ctrl.addUser()" ng-disabled="$ctrl.currentQuery">
        Invite Users
      </button>
    </div>
  </div>
  <rf-call-to-action-item
    title="No users are in this team yet"
    class="panel panel-off-white"
    ng-if="!$ctrl.results.length && !$ctrl.currentQuery && !$ctrl.search">
    <p class="pb-25" ng-show="!$ctrl.search">
      The {{$ctrl.team.name}} team does not have any users yet.
      When it does, they'll be shown here.
    </p>

    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.addUser()"
    >
      Add Users
    </button>
  </rf-call-to-action-item>
  <rf-call-to-action-item
      title="No users were found"
      class="panel panel-off-white"
      ng-if="!$ctrl.currentQuery && !$ctrl.results.length && $ctrl.search">
    Unable to find any users matching: <strong>{{$ctrl.search}}</strong>
  </rf-call-to-action-item>

  <table class="admin-table admin-platform-user-table" ng-if="!$ctrl.currentQuery && $ctrl.results.length">
    <tbody>
      <tr ng-repeat="user in $ctrl.results">
        <td class="username">
          <div class="user-avatar" >
            <div class="avatar image-placeholder" ng-if="!user.profileImageUri"></div>
            <img class="avatar" ng-src="{{user.profileImageUri}}" ng-if="user.profileImageUri">
          </div>
          <div class="font-600">
            {{user.name || user.email || user.id}}
          </div>
        </td>
        <td class="emails">
          {{user.email}}
        </td>
        <td class="roles titlecase">
          {{$ctrl.getUserGroupRoleLabel(user)}}
        </td>
        <td class="actions">
          <rf-dropdown data-options="user.options" ng-if="user.showOptions && user.membershipStatus === 'APPROVED'">
            <span class="icon-caret-down h4"></span>
          </rf-dropdown>
          <div class="btn-group"
               ng-if="user.showOptions && user.membershipStatus === 'REQUESTED'">
            <button type="button" class="btn btn-danger btn-small"
                    ng-click="$ctrl.updateUserMembershipStatus(user, false)">
              Deny
            </button>
            <button type="button" class="btn btn-primary btn-small"
                    ng-click="$ctrl.updateUserMembershipStatus(user, true)">
              Approve
            </button>
          </div>
          <button type="button" class="btn btn-light btn-small btn-nowrap"
                  ng-click="$ctrl.updateUserMembershipStatus(user, false)"
                  ng-if="user.showOptions && user.membershipStatus === 'INVITED'">
            Cancel Invitation
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-loading" ng-if="$ctrl.currentQuery">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></span>
  </div>
  <rf-pagination-controls
    pagination="$ctrl.pagination"
    is-loading="$ctrl.currentQuery"
    on-change="$ctrl.fetchPage(value)"
    ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
  ></rf-pagination-controls>
</div>
