<div class="admin-list-content column-stretch">
  <div class="admin-list-actions" ng-if="$ctrl.users.length">
    <div>
      <rf-search on-search="$ctrl.debouncedSearch(value)" placeholder="Search for users" auto-focus="true"></rf-search>
      <rf-pagination-count
        start-index="$ctrl.pagination.startingItem"
        end-index="$ctrl.pagination.endingItem"
        total="$ctrl.pagination.count"
        item-name="users"
        ng-if="!$ctrl.fetching && $ctrl.users.length && !$ctrl.searchTerm"
      ></rf-pagination-count>
    </div>
    <div class="actions-right">
      <button type="button" class="btn btn-primary"
              ng-click="$ctrl.addUser()" ng-disabled="$ctrl.fetching">
        Invite Users
      </button>
    </div>
  </div>
  <rf-call-to-action-item
    title="No users are in this team yet"
    class="panel panel-off-white"
    ng-if="!$ctrl.users.length && !$ctrl.fetching">
    <p class="pb-25">
      The {{$ctrl.team.name}} team does not have any users yet.
      When it does, they'll be shown here.
    </p>

    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.addUser()"
    >
      Add Users
    </button>
  </rf-call-to-action-item>

  <table class="admin-table admin-platform-user-table" ng-if="!$ctrl.fetching && $ctrl.users.length">
    <tbody>
      <tr ng-repeat="user in $ctrl.users track by $index">
        <td class="username">
          <div class="user-avatar" >
            <div class="avatar image-placeholder" ng-if="!user.profileImageUri"></div>
            <img class="avatar" ng-src="{{user.profileImageUri}}" ng-if="user.profileImageUri">
          </div>
          <div class="font-600">
            {{user.name || user.email || user.id}}
          </div>
        </td>
        <td class="emails">
          {{user.email}}
        </td>
        <td class="roles titlecase">
            {{$ctrl.getUserGroupRoleLabel(user)}}
        </td>
        <td class="actions">
          <rf-dropdown data-options="user.options" ng-if="user.showOptions && user.membershipStatus = 'APPROVED'">
            <span class="icon-caret-down h4"></span>
          </rf-dropdown>
          <div class="btn-group"
               ng-if="user.showOptions && user.membershipStatus === 'REQUESTED'">
            <button type="button" class="btn btn-danger btn-small"
                    ng-click="$ctrl.updateUserMembershipStatus(user, false)">
              Deny
            </button>
            <button type="button" class="btn btn-primary btn-small"
                    ng-click="$ctrl.updateUserMembershipStatus(user, true)">
              Approve
            </button>
          </div>
          <button type="button" class="btn btn-light btn-small btn-nowrap"
                  ng-click="$ctrl.updateUserMembershipStatus(user, false)"
                  ng-if="user.showOptions && user.membershipStatus === 'INVITED'">
            Cancel Invitation
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-loading" ng-if="$ctrl.fetching">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
  </div>

  <!-- Pagination -->
  <div class="list-group text-center"
        ng-show="!$ctrl.loading && $ctrl.lastUserResult && $ctrl.pagination.show && !$ctrl.errorMsg">
    <ul uib-pagination
        items-per-page="$ctrl.lastUserResult.pageSize"
        total-items="$ctrl.pagination.count"
        ng-model="$ctrl.currentPage"
        max-size="4"
        rotate="true"
        boundary-link-numbers="true"
        force-ellipses="true"
        ng-change="$ctrl.fetchUsers($ctrl.currentPage, $ctrl.search)">
    </ul>
  </div>
  <!-- Pagination -->
</div>
