<!-- Workflow container -->
  <div class="main with-position">
    <rf-diagram-container2 ng-if="$ctrl.tool"
                           class="with-position"
                           on-preview="$ctrl.showPreview(data)"
                           on-share="$ctrl.shareNode(data)"
                           on-parameter-change="$ctrl.onExecutionParametersChange(sourceId, project, band)"
                           tool-definition="$ctrl.tool.definition"
                           tool-parameters="$ctrl.toolParameters">
    </rf-diagram-container2>
    <div style="position: absolute; top:0; bottom: 0; left: 0; right: 0;" ng-show="$ctrl.isShowingPreview">
      <rf-map-container map-id="lab-run-preview"></rf-map-container>
      <div class="preview-control-bar">
          <button ng-if="$ctrl.previewLayers.length > 1" class="btn btn-default" ng-click="$ctrl.closePreview()">Exit Node Comparison</button>
          <button ng-if="!$ctrl.previewLayers || $ctrl.previewLayers.length === 1" class="btn btn-default" ng-click="$ctrl.closePreview()">Exit Node Preview</button>
      </div>
      <div class="preview-info-bar" ng-show="$ctrl.previewLayers.length > 1">
        <div class="split-container">
          <button class="btn">{{$ctrl.previewData[0].label}}</button>
        </div>
        <div class="split-container">
          <button class="btn">{{$ctrl.previewData[1].label}}</button>
        </div>
      </div>
      <div class="preview-info-bar" ng-show="$ctrl.previewLayers.length == 1">
        <div class="split-container">
          <button class="btn">{{$ctrl.previewData.label}}</button>
        </div>
      </div>
    </div>
  </div>
