description "rf-app"

{% if ['development', 'test'] | some_are_in(group_names) -%}
start on (vagrant-mounted)
{% else %}
start on (local-filesystems and net-device-up IFACE!=lo)
{% endif %}
stop on shutdown

respawn
setuid rf
chdir {{ django_home }}

pre-start script
    if [ -r /etc/default/rf-app ]; then
        . /etc/default/rf-app
    fi

    if [ -z "${PACKER_RUNNING}" ]; then
        envdir /etc/rf.d/env python manage.py createawsresources >> {{ log_path }} 2>&1
    fi
end script

exec envdir /etc/rf.d/env gunicorn --config /etc/rf.d/gunicorn.py rf.wsgi >> {{ log_path }} 2>&1
