<div class="row content stack-sm">
  <div class="column-8">
    <p>
      The tokens on this map are used to provide read only access to tiles for a particular project.
      Share these as freely as you wish.
    </p>
    <br/>
    <div class="list-group">
      <rf-token-item token="token"
                     on-delete="$ctrl.deleteToken(token)"
                     on-update="$ctrl.updateToken(token, name)"
                     ng-repeat="token in $ctrl.tokens track by token.id">
      </rf-token-item>
    </div>
    <div class="list-group"
         ng-if="(!$ctrl.tokens || !$ctrl.tokens.length) && !$ctrl.loading">
      You have not generated any map tokens
    </div>
    <div class="list-group" ng-show="$ctrl.loading">
      <span class="list-placeholder">
        <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.loading}"></i>
      </span>
    </div>
  </div>
</div>
