<div class="sidebar-static">
  <div class="sidebar-header">
    <a ng-if="$ctrl.$parent.project.isAOIProject"
       class="aoi-tag"
       ui-sref="projects.edit.aoi-parameters">
       <i class="icon-pencil"></i>
       <span>Edit</span>
       AOI Parameters
    </a>
    <h5 class="sidebar-title">
      Scenes
      <ng-pluralize count="$ctrl.$parent.sceneList.length"
                    when="{'0': '(0)',
                          'one': '(1)',
                          'other': '({})'
                          }">
      </ng-pluralize>
    </h5>
  </div>
  <div class="content">
    <div ng-if="$ctrl.$parent.project.isAOIProject && $ctrl.$parent.pendingSceneList.length">
      <!-- Alert -->
      <div class="alert alert-secondary">
        <div class="alert-message">{{$ctrl.$parent.pendingSceneList.length}} scenes awaiting approval</div>
        <button class="alert-action" ui-sref="projects.edit.aoi-approve">Review Scenes</button>
      </div>
      <!-- Alert -->
    </div>
    <div class="sidebar-actions-group">
      <label>Add scenes</label>
      <div class="column-6 nogutter btn-group">
        <button type="button"
                class="btn btn-primary"
                ui-sref="projects.edit.browse({sceneid: null})">
          Browse
        </button>
        <button type="button"
                ng-click="$ctrl.openImportModal()"
                class="btn btn-primary">
          Import
        </button>
      </div>
    </div>
  </div>
</div>
<div class="sidebar-scrollable"
     data-empty-placeholder-enabled="false"
     ui-tree="$ctrl.treeOptions">
  <div
    class="list-group"
    ng-model="$ctrl.$parent.sceneList"
    ui-tree-nodes>
    <rf-scene-item
        scene="scene"
        repository="$ctrl.repository"
        ng-click="$ctrl.openSceneDetailModal(scene)"
        ng-mouseover="$ctrl.$parent.setHoveredScene(scene)"
        ng-mouseleave="$ctrl.$parent.removeHoveredScene()"
        ng-repeat="scene in $ctrl.$parent.sceneList track by $index"
        ui-tree-node
        draggable>
      <button class="btn btn-tiny" ng-click="$ctrl.removeSceneFromProject(scene, $event)">
        <i class="icon-trash"></i>
      </button>
    </rf-scene-item>
  </div>
</div>
