<div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" aria-label="Close"
            ng-click="$ctrl.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
	  <span class="badge"><i class="icon-bucket"></i></span>
	  <h4 class="modal-title">
      Add
      <ng-pluralize count="$ctrl.resolve.scenes.size"
                    when="{'0': 'No Scenes',
                          'one': '1 Scene',
                          'other': '{} Scenes'
                          }">
      </ng-pluralize>
      to
      <ng-pluralize count="$ctrl.selectedBuckets.size"
                    when="{'0': 'no Buckets',
                          'one': '1 Bucket',
                          'other': '{} Buckets'
                          }">
      </ng-pluralize>
    </h4>
	  <p>
      Add your selections to a bucket or create a new bucket
      based on your selections.
    </p>
	  <form>
      <div class="form-group all-in-one">
        <label for="name"><i class="icon-bucket"></i></label>
        <input id="name" type="text" class="form-control"
               placeholder="New bucket name" ng-model="$ctrl.newBucketName">
        <button class="btn btn-link" type="submit"
                ng-click="$ctrl.createNewBucket($ctrl.newBucketName)">
          Create
        </button>
      </div>
    </form>
	</div>
	<div class="modal-body">
	  <div class="list-group">
      <rf-bucket-item
          bucket="bucket"
          selectable
          selected="$ctrl.isSelected(bucket)"
          on-select="$ctrl.setSelected(bucket, selected)"
          ng-repeat="bucket in $ctrl.bucketList track by bucket.id">
      </rf-bucket-item>
	  </div>
    <div class="list-group" ng-show="$ctrl.loading">
      <span class="list-placeholder">
        <i class="icon-load"></i>
      </span>
    </div>
    <div ng-if="!$ctrl.loading && $ctrl.lastBucketResult && $ctrl.lastBucketResult.count === 0"
         class="list-group">
      <span class="list-placeholder">
        You have not created any Buckets.
      </span>
    </div>
    <div class="list-group text-center"
         ng-show="!$ctrl.loading && $ctrl.lastBucketResult && $ctrl.lastBucketResult.count !== 0 && !$ctrl.errorMsg">
      <ul uib-pagination
          items-per-page="$ctrl.lastBucketResult.pageSize"
          total-items="$ctrl.lastBucketResult.count"
          ng-model="$ctrl.currentPage"
          max-size="4"
          rotate="true"
          boundary-link-numbers="true"
          force-ellipses="true"
          ng-change="$ctrl.populateBucketList($ctrl.currentPage)">
      </ul>
    </div>
	</div>
	<div class="modal-footer">
	  <div class="pull-left">
		  <button type="button" class="btn btn-default"
              ng-click="$ctrl.close({$value: 'scenes'})">
        View selected Scenes
      </button>
	  </div>
	  <button type="button" class="btn btn-primary"
            ng-disabled="$ctrl.selectedBuckets.size === 0"
            ng-click="$ctrl.addScenesToBuckets()">
      Add Scenes
    </button>
	</div>
</div>
