description "rf-django"

{% if ['development', 'test'] | some_are_in(group_names) -%}
start on (vagrant-mounted)
{% else %}
start on (local-filesystems and net-device-up IFACE!=lo)
{% endif %}
stop on shutdown

# respawn
setuid rf
chdir {{ django_home }}

# TODO
