
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 900;
}

.map-container-loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px;
  pointer-events: none;
  & > * {
    pointer-events: true;
  }
  text-align: center;
  z-index: 2000;
  div {
    padding: 4px 12px;
    color: #fff;
    display: inline-block;
    background: rgba(0,0,0,.5);
  }
}
