<div class="main">
  <div class="sidebar sidebar-extended sidebar-dark not-offset" ng-show="$ctrl.isShowingParams">
      Params Sidebar
  </div>
  <!-- Workflow container -->
  <div class="sidebar sidebar-extended sidebar-scrollable">
    <div class="sidebar-content flex-row with-padding with-border">
      <h5 class="sidebar-title">
          Inputs
      </h5>
      <div class="sidebar-actions">
        <button class="btn btn-primary">Raster Settings</button>
      </div>
    </div>
    <div class="sidebar-content flex-row with-padding"
         ng-show="$ctrl.project">
      <div class="run-project-name">
          {{$ctrl.project.name || "No project selected"}}
      </div>
      <div class="sidebar-actions">
        <button class="btn btn-small btn-square"
                ng-click="$ctrl.selectProjectModal(true)">
          Change Project
        </button>
      </div>
    </div>
    <div class="sidebar-content with-padding"
         ng-show="$ctrl.project">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Red Band</label>
          <select class="form-control" id="red-band-map"  ng-model="$ctrl.inputs.bands.red">
            <option value="1">Band 1</option>
            <option value="2">Band 2</option>
            <option value="3">Band 3</option>
            <option value="4">Band 4</option>
            <option value="5">Band 5</option>
            <option value="6">Band 6</option>
            <option value="7">Band 7</option>
            <option value="8">Band 8</option>
            <option value="9">Band 9</option>
            <option value="10">Band 10</option>
            <option value="11">Band 11</option>
          </select>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">NIR Band</label>
          <select class="form-control" id="nir-band-map" ng-model="$ctrl.inputs.bands.nir">
            <option value="1">Band 1</option>
            <option value="2">Band 2</option>
            <option value="3">Band 3</option>
            <option value="4">Band 4</option>
            <option value="5">Band 5</option>
            <option value="6">Band 6</option>
            <option value="7">Band 7</option>
            <option value="8">Band 8</option>
            <option value="9">Band 9</option>
            <option value="10">Band 10</option>
            <option value="11">Band 11</option>
          </select>
        </div>
      </form>
    </div>
    <div class="sidebar-content flex-row with-padding">
      <div class="form-btn-row">
        <div class="btn-group">
          <button class="btn btn-primary" ng-click="$ctrl.updateInputs()">
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>
  <rf-map-container map-id="lab-run"></rf-map-container>
</div>
