@import "../../../../assets/styles/sass/settings/_colors.scss";
.annotation-toolbar-wrapper{
  position: absolute;
  left: 40rem;
  top: 2rem;
  width: calc(100vw - 40rem);
  z-index: 950;
  text-align: center;
}

.annotate-toolbar {
  display: inline-block;
  background: $shade-normal;
  z-index: 950;
  box-shadow: 1px 3px 5px $shade-normal;
  border-radius: 5px;
  justify-content: center;
}
.annotate-toolbar-header {
  flex: 1;
  color: #fff;
  font-weight: bold;
  padding: .3em 5em .3em 5em;
}

.annotate-toolbar-actions {
  padding: 1em 1em 0 1em;
  button {
    margin: 0 0.5rem 0 0.5rem;
  }
  .btn-group {
    margin: 0 0.5rem 0 0.5rem;
  }
}
