<div class="annotation-toolbar-wrapper">
  <div class="annotate-toolbar">
    <div class="column" ng-if="!$ctrl.isDrawCancel">
      <div class="annotate-toolbar-header row align-center">
        <span ng-if="!$ctrl.inBulkMode">New annotation</span>
        <span ng-if="$ctrl.inBulkMode">New bulk annotation</span>
      </div>
      <div class="annotate-toolbar-actions row align-center">
        <button class="btn btn-primary btn-anno-rectangle"
                ng-click="$ctrl.toggleDrawing('rectangle')"
                ng-disabled="$ctrl.editingAnnotation">
          Rectangle
        </button>
        <button class="btn btn-primary btn-anno-polygon"
                ng-click="$ctrl.toggleDrawing('polygon')"
                ng-disabled="$ctrl.editingAnnotation">
          Polygon
        </button>
        <button class="btn btn-primary btn-anno-point"
                ng-click="$ctrl.toggleDrawing('marker')"
                ng-disabled="$ctrl.editingAnnotation">
          Point
        </button>
      </div>
    </div>
    <div class="column" ng-if="$ctrl.isDrawCancel">
      <div class="annotate-toolbar-header row align-center">
          <span ng-if="!$ctrl.inBulkMode">Draw annotation</span>
          <span ng-if="$ctrl.inBulkMode">Draw bulk annotation</span>
      </div>
      <div class="annotate-toolbar-actions row align-center">
        <button class="btn btn-primary btn-anno-cancel"
                ng-click="$ctrl.onCancelDrawing()">
                <span ng-if="!$ctrl.inBulkMode">Cancel</span>
                <span ng-if="$ctrl.inBulkMode">Finish</span>
        </button>
      </div>
    </div>
  </div>
</div>
