<div class="vertical-modal">
  <div class="header">
    <div class="header-title">
      Add Team
    </div>
    <span
        class="modal-close icon-cross"
        ng-click="$ctrl.dismiss()"
    ></span>
  </div>
  <div class="modal-body">
    <form name="$ctrl.form" class="form-group" ng-submit="$ctrl.onAdd()">
      <label>
        Team name
        <input
            type="text"
            class="form-control"
            name="name"
            ng-model="name"
            autocomplete="off"
        >
      </label>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" ng-click="$ctrl.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.onAdd()">Add</button>
  </div>
</div>
