<div class="row">
  <div class="column-2 flex-display no-padding histogram-stat-numbers">
      <span class="color-gray-lighter">&#19968;&nbsp;</span>Mean
      <br/>
      {{$ctrl.stat.mean | number : 2}}
  </div>
  <div class="column-2 flex-display no-padding histogram-stat-numbers">
      <span class="color-green">&#19968;&nbsp;</span>Median
      <br/>
      {{$ctrl.stat.median | number : 2}}
  </div>
  <div class="column-2 flex-display no-padding histogram-stat-numbers">
      <span class="color-tertiary">&#19968;&nbsp;</span>Mode
      <br/>
      {{$ctrl.stat.mode | number : 2}}
  </div>
  <div class="column-2 flex-display no-padding histogram-stat-numbers">
      <span class="color-danger">&#19968;&nbsp;</span>Mean&nbsp;&plusmn;&nbsp;StdDev
      <br/>
      {{$ctrl.stat.median | number : 2}}&nbsp;&plusmn;&nbsp;{{$ctrl.stat.stddev | number : 2}}
  </div>
  <div class="column-2 flex-display no-padding histogram-stat-numbers">
      <span class="color-black">&#19968;&nbsp;</span>Min
      <br/>
      {{$ctrl.stat.zmin | number : 2}}
  </div>
  <div class="column-2 flex-display no-padding histogram-stat-numbers">
    <span class="color-black">&#19968;&nbsp;</span>Max
    <br/>
      {{$ctrl.stat.zmax | number : 2}}
  </div>
</div>
