<div
    ui-view="navbar-secondary"
    ng-if="!('project.create-analysis' | includedByState) && !('project.analyses.visualize' | includedByState)"
>
    <div class="navbar light-navbar">
        <div class="navbar-section">
            <nav>
                <a
                    ui-sref="project.layers"
                    ng-class="{
                        active: ('project.layers' | includedByState)
                    }"
                >
                    Layers
                </a>
            </nav>
            <nav>
                <a
                    ui-sref="project.analyses"
                    ng-class="{
                       active: ('project.analyses' | includedByState)
                    }"
                >
                    Analyses
                </a>
            </nav>
        </div>
        <div class="navbar-section secondary">
            <nav>
                <a
                    ui-sref="project.settings"
                    ng-class="{
                        active: ('project.settings' | includedByState)
                    }"
                    ><i class="icon-settings" title="Project Settings"></i
                ></a>
            </nav>
        </div>
    </div>
</div>
<div
    class="container column-stretch container-not-scrollable"
    ng-class="{
            'with-secondary-navbar':
              ('project.settings' | includedByState)
            }"
    ng-if="
            ('project.settings' | includedByState) ||
            ('project.create-analysis' | includedByState)
            "
    ui-view
></div>
<div
    class="container column-stretch container-not-scrollable with-secondary-navbar"
    ng-if="
            !('project.settings' | includedByState) &&
            !('project.create-analysis' | includedByState) &&
            !('project.analyses.visualize' | includedByState)
            "
>
    <div class="sidebar" ui-view></div>
    <div class="main">
        <rf-map-container
            map-id="project"
            ng-if="!$ctrl.showPreviewmap"
            initial-center="$ctrl.initialCenter"
            initial-zoom="$ctrl.initialZoom"
        >
        </rf-map-container>
    </div>
</div>
<div
    ng-if="('project.layer.browse' | includedByState)"
    class="sidebar project-side-modal"
    ui-view="project-sidemodal"
></div>
<div
    ng-if="('project.analyses.visualize' | includedByState)"
    class="container column-stretch container-not-scrollable"
    ui-view="analyses-visualize"
></div>
