<ui-view>
  <div class="admin-users-content container column-stretch dashboard">
    <div class="admin-users-actions">
      <input type="text"
             class="form-control admin-search"
             placeholder="Search for organizations"
             ng-model="$ctrl.search"
      >
      <button type="button" class="btn btn-primary"
              ng-click="$ctrl.newOrgModal()">
        New Organization
      </button>
    </div>
    <table class="admin-table admin-platform-org-table">
      <tbody>
        <tr ng-repeat="organization in $ctrl.organizations track by $index">
          <td class="name">
            <div class="placeholder-avatar"></div>
            <div>
              {{organization.name}}
            </div>
          </td>
          <td class="email">
            {{organization.email}}
          </td>
          <td class="subscription">
            {{organization.subscription.name}}
          </td>
          <td class="users">
            <a ui-sref="admin.organization.users({id: organization.id})">
              <ng-pluralize
                  count="organization.userCount"
                  when="{'0': 'No users',
                         'one': '1 user',
                         'other': '{} users'}"
              ></ng-pluralize>
            </a>
          </td>
          <td>{{ organization.isActive ? "Active" : "Deactivated"}}</td>
          <td class="actions">
            <a ui-sref="admin.organization.metrics({id: organization.id})">View page</a>
            <rf-dropdown data-options="organization.options">
              <span class="icon-caret-down"></span>
            </rf-dropdown>
          </td>
        </tr>
      </tbody>
    </table>

      <!-- Pagination -->
      <div class="list-group text-center"
           ng-show="!$ctrl.loading && $ctrl.lastOrgResult && $ctrl.pagination.show && !$ctrl.errorMsg">
        <ul uib-pagination
            items-per-page="$ctrl.lastOrgResult.pageSize"
            total-items="$ctrl.pagination.count"
            ng-model="$ctrl.currentPage"
            max-size="4"
            rotate="true"
            boundary-link-numbers="true"
            force-ellipses="true"
            ng-change="$ctrl.fetchOrganizations($ctrl.currentPage, $ctrl.search)">
        </ul>
      </div>
      <!-- Pagination -->
  </div>
</ui-view>
