<ui-view>
  <div class="admin-users-content container column-stretch dashboard">
    <div class="admin-users-actions">
      <input type="text"
             class="form-control admin-search"
             placeholder="Search for organizations"
             ng-model="$ctrl.search"
             ng-disabled="$ctrl.fetching"
      >
      <button type="button" class="btn btn-primary"
              ng-click="$ctrl.newOrgModal()"
              ng-disabled="$ctrl.fetching">
        New Organization
      </button>
    </div>
    <table class="admin-table admin-platform-org-table" ng-if="!$ctrl.fetching">
      <thead>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td class="users">Users</td>
          <td>Status</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="organization in $ctrl.organizations track by $index">
          <td class="name">
            <div class="placeholder-avatar"></div>
            <div>
              {{organization.name}}
            </div>
          </td>
          <td class="email">
            {{organization.email}}
          </td>
          <td class="users">
            <div class="user-avatar"
                 ng-repeat="user in organization.fetchedUsers.results track by $index | limitTo : 5"
                 ng-attr-title="{{user.name}}"
            >
              <img class="avatar" ng-src="{{user.profileImageUri}}">
            </div>
            <div>
              <a class="users-more" title="View organization details"
                 ui-sref="admin.organization.users({organizationId: organization.id})">
                <ng-pluralize count="organization.fetchedUsers.count"
                              when="{'0': ' No members',
                                     '1': ' View 1 member',
                                     'other': ' View {} more members'}"

                >
                </ng-pluralize>
              </a>
            </div>
          </td>
          <td>{{ organization.isActive ? "Active" : "Deactivated"}}</td>
          <td class="actions">
            <div ng-if="organization.showOptions">
              <a ui-sref="admin.organization.users({organizationId: organization.id})">View page</a>
              <rf-dropdown data-options="organization.options">
                <span class="icon-caret-down"></span>
              </rf-dropdown>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  <div class="table-loading" ng-if="$ctrl.fetching">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
  </div>

      <!-- Pagination -->
      <div class="list-group text-center"
           ng-show="!$ctrl.loading && $ctrl.lastOrgResult && $ctrl.pagination.show && !$ctrl.errorMsg">
        <ul uib-pagination
            items-per-page="$ctrl.lastOrgResult.pageSize"
            total-items="$ctrl.pagination.count"
            ng-model="$ctrl.currentPage"
            max-size="4"
            rotate="true"
            boundary-link-numbers="true"
            force-ellipses="true"
            ng-change="$ctrl.fetchOrganizations($ctrl.currentPage, $ctrl.search)">
        </ul>
      </div>
      <!-- Pagination -->
  </div>
</ui-view>
