<div class="content histogram-filters">
  <div class="color-filters-container">
    <!-- Color Correction -->
    <div class="filter-group">
      <div class="filter-group-header">
        <p class="h5">Gamma Correction</p>
        <rf-toggle data-model="$ctrl.gammaToggle"
                   on-change="$ctrl.gammaToggled(value)">
        </rf-toggle>
      </div>
      <div class="filter-group-body">
        <div class="filter">
          <label>Red</label>
          <div class="filter-item slider-filter">
            <div id="red_slider"></div>
          </div>
          <rzslider rz-slider-model="$ctrl.sliderCorrection.redGamma"
                    rz-slider-options="$ctrl.redGammaOptions"
          ></rzslider>
        </div>
        <div class="filter-separator offset">
          <button type="button"
                  ng-click="$ctrl.gammaLinkToggled()"
                  ng-class="{'active': $ctrl.gammaLinkToggle}"
                  class="btn btn-default btn-square">
            <i class="icon-mosaic"></i>
          </button>
        </div>
        <div class="filter">
          <label>Green</label>
          <div class="filter-item slider-filter">
            <div id="green_slider"></div>
          </div>
          <rzslider rz-slider-model="$ctrl.sliderCorrection.greenGamma"
                    rz-slider-options="$ctrl.greenGammaOptions"
          ></rzslider>
        </div>
        <div class="filter-separator offset">
          <button type="button"
                  ng-click="$ctrl.gammaLinkToggled()"
                  ng-class="{'active': $ctrl.gammaLinkToggle}"
                  class="btn btn-default btn-square">
            <i class="icon-mosaic"></i>
          </button>
        </div>
        <div class="filter">
          <label>Blue</label>
          <div class="filter-item slider-filter">
            <div id="blue_slider"></div>
          </div>
          <rzslider rz-slider-model="$ctrl.sliderCorrection.blueGamma"
                    rz-slider-options="$ctrl.blueGammaOptions"
          ></rzslider>
        </div>
        <div class="filter-separator"></div>
      </div>
    </div>

    <div class="filter-group">
      <div class="filter-group-header">
        <p class="h5">Sigmoidal Correction</p>
        <rf-toggle data-model="$ctrl.sigToggle"
                   on-change="$ctrl.sigToggled(value)"></rf-toggle>
      </div>
      <div class="filter-group-body">
        <div class="filter">
          <label>Alpha</label>
          <div class="filter-item slider-filter">
            <div id="alpha_slider"></div>
          </div>
          <rzslider rz-slider-model="$ctrl.sliderCorrection.alpha"
                    rz-slider-options="$ctrl.alphaOptions"
          ></rzslider>
        </div>
        <div class="filter-separator"></div>
        <div class="filter">
          <label>Beta</label>
          <div class="filter-item slider-filter">
            <div id="beta_slider"></div>
          </div>
          <rzslider rz-slider-model="$ctrl.sliderCorrection.beta"
                    rz-slider-options="$ctrl.betaOptions"
          ></rzslider>
        </div>
        <div class="filter-separator"></div>
      </div>
    </div>

    <div class="filter-group">
      <div class="filter-group-header">
        <p class="h5">Brightness/Contrast</p>
        <rf-toggle data-model="$ctrl.bcToggle"
                   on-change="$ctrl.bcToggled(value)"></rf-toggle>
      </div>
      <div class="filter-group-body">
        <div class="filter">
          <label>Brightness</label>
          <rzslider rz-slider-model="$ctrl.sliderCorrection.brightness"
                    rz-slider-options="$ctrl.brightnessOptions"></rzslider>
        </div>
        <div class="filter-separator"></div>
        <div class="filter">
          <label>Contrast</label>
          <div class="filter-item slider-filter">
            <div id="contrast"></div>
          </div>
          <rzslider rz-slider-model="$ctrl.sliderCorrection.contrast"
                    rz-slider-options="$ctrl.contrastOptions"></rzslider>
        </div>
        <div class="filter-separator"></div>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter-group-header">
        <p class="h5">Clipping</p>
        <rf-toggle data-model="$ctrl.minMaxToggle"
                   on-change="$ctrl.minMaxToggled(value)"></rf-toggle>
      </div>
      <div class="filter-group-body">
        <div class="filter">
          <label>Min/Max Clipping</label>
          <div class="filter-item slider-filter">
            <div id="minmax"></div>
          </div>
          <rzslider rz-slider-model="$ctrl.sliderCorrection.min"
                    rz-slider-high="$ctrl.sliderCorrection.max"
                    rz-slider-options="$ctrl.minMaxOptions"
          ></rzslider>
        </div>
      </div>
    </div>
</div>
