<div class="sidebar-actions-group" ng-show="$ctrl.selected.size === 0">
    <button
        class="btn btn-small btn-transparent"
        ui-sref="project.layer.export"
        ng-if="$ctrl.actionPermissions.export"
    >
        <i class="icon-plus"></i>New export
    </button>
    <div style="flex: 1;"></div>
</div>
<div class="selected-actions-group" ng-show="$ctrl.selected.size > 0">
    <rf-selected-actions-bar
        checked="$ctrl.allVisibleSelected()"
        on-click="$ctrl.selectAll()"
        action-text="$ctrl.selectText"
    >
        <button
            class="btn btn-tiny btn-transparent"
            ng-click="$ctrl.deleteExports($ctrl.selected.valueSeq().toArray())"
        >
            Delete
        </button>
    </rf-selected-actions-bar>
</div>
<div class="list-group" ng-if="!$ctrl.currentQuery">
    <div class="list-group-item" ng-if="$ctrl.fetchError">
        <strong class="color-danger">
            There was an error fetching exports
        </strong>
        <button type="button" class="btn btn-secondary" ng-click="$ctrl.fetchPage()">
            Try again <i icon="icon-refresh"></i>
        </button>
    </div>
</div>
<div class="list-group" ng-if="$ctrl.currentQuery">
    <div class="list-group-item">
        <i
            class="icon-load animate-spin"
            ng-class="{'stop': !$ctrl.currentQuery}"
            ng-show="$ctrl.currentQuery"
        ></i>
        <strong class="color-dark">
            Loading exports...
        </strong>
    </div>
</div>
<div
    class="list-group"
    ng-if="$ctrl.itemList &&
            $ctrl.itemList.length === 0 &&
            !$ctrl.currentQuery &&
            !$ctrl.fetchError"
>
    <div class="list-group-item">
        <strong class="color-dark">
            This layer has no exports in it
        </strong>
    </div>
</div>
<div class="sidebar-scrollable list-group">
    <rf-list-item ng-repeat="export in $ctrl.exportList track by export.id">
        <item-selector>
            <rf-list-item-selector
                id="export.id"
                selected="$ctrl.isSelected(export.id)"
                on-select="$ctrl.onSelect(id)"
                color="$ctrl.layer.colorGroupHex"
            ></rf-list-item-selector
        ></item-selector>
        <item-title>
            <strong ng-attr-title="{{ $ctrl.formatDateDisplay(export.createdAt) }}">
                {{ $ctrl.formatDateDisplay(export.createdAt) }}</strong
            ></item-title
        >
        <item-date>
            <span class="export-date-subtext">{{ export.createdAt | date: 'medium' }}</span>
            <rf-list-item-status
                class="export-status export-date-subtext"
                statuses="$ctrl.exportStatusById[export.id]"
                status-map="$ctrl.exportStatusMap"
            ></rf-list-item-status>
        </item-date>
        <item-actions>
            <rf-list-item-actions
                actions="$ctrl.exportActions.get(export.id)"
            ></rf-list-item-actions>
        </item-actions>
    </rf-list-item>
    <rf-pagination-controls
        pagination="$ctrl.pagination"
        is-loading="$ctrl.currentQuery"
        on-change="$ctrl.fetchPage(value)"
        ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
    ></rf-pagination-controls>
</div>
