<div class="navbar light-navbar" ng-style="$ctrl.eleStyle">
    <div class="navbar-section aoi-draw-toolbar-left" ng-style="$ctrl.leftStyle">
        <button class="btn btn-tiny btn-transparent" ng-click="$ctrl.onClickCancel()">
            <i class="icon-caret-left"></i>
            Back
        </button>
        <div style="flex: 1;"></div>
        <div
            class="btn btn-small btn-transparent"
            ng-disabled="$ctrl.isDrawingAoi || $ctrl.isEditingAoi"
            ng-if="$ctrl.filterList.length"
            uib-dropdown
            uib-dropdown-toggle
        >
            {{ $ctrl.selectedFilterName }}<i class="icon-caret-down"></i>
            <ul class="dropdown-menu dropdown-menu-light drop-left" role="menu" uib-dropdown-menu>
                <li role="menuitem" ng-repeat="filter in $ctrl.filterList track by filter.id">
                    <a class="aoi-draw-toolbar-menu" ng-click="$ctrl.onChangeFilter(filter.id)">
                        {{ filter.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-section with-padding">
        <button
            ng-if="!$ctrl.isValidGeometry()"
            class="btn btn-tiny btn-primary"
            ng-click="$ctrl.onDrawAoi()"
        >
            <i class="icon-polygon"></i>
            Draw AOI
        </button>
        <button
            ng-if="$ctrl.isValidGeometry() && !$ctrl.isEditingAoi""
            class="btn btn-tiny btn-lightest"
            ng-click="$ctrl.onClickEditAoi()"
        >
            <i class="icon-pencil"></i>
            Edit AOI
        </button>
        <button
            ng-if="$ctrl.isValidGeometry() && !$ctrl.isEditingAoi""
            class="btn btn-tiny btn-lightest"
            ng-click="$ctrl.onClickDeleteAoi()"
        >
            <i class="icon-trash"></i>
            Delete AOI
        </button>
        <button
            ng-if="$ctrl.isEditingAoi"
            class="btn btn-tiny btn-primary"
            ng-click="$ctrl.onClickConfirmEdit()"
        >
            <i class="icon-pencil"></i>
            Finish Editing
        </button>
        <button
            ng-if="$ctrl.isEditingAoi"
            class="btn btn-tiny btn-lightest"
            ng-click="$ctrl.onClickCancelEdit()"
        >
            <i class="icon-trash"></i>
            Cancel Editing
        </button>
        <div class="flex-fill"></div>
        <button
            ng-if="$ctrl.isValidGeometry() && !$ctrl.isEditingAoi""
            class="btn btn-tiny btn-lightest"
            ng-click="$ctrl.onClickConfirmAOI(true)"
        >
            Save shape & confirm
        </button>
        <button
            ng-if="$ctrl.isValidGeometry() && !$ctrl.isEditingAoi""
            class="btn btn-tiny btn-primary"
            ng-click="$ctrl.onClickConfirmAOI(false)"
        >
            Confirm
        </button>
    </div>
</div>
