/* 
 * LMC Variables
 * If overridng bootstrap please place inside _bs-variables.scss
 */

// Brand Colors:
$brand-primary: #738FFC;   // purple
$brand-secondary: #2FC1D0; // green

// Base Colors:
$text-base: #7B8391;
$shade-light: #959CAC;  // slightly lighter then $text-base
$shade-normal: #465076; // deep purple
$shade-dark: #353C58;   // deepdeep purple

// Action Colors:
$warning: #FEC67C; // orange
$danger: #F98094;  // red

// Border Radius
$border-radius-base: 2px;


/* * * *
 * Screen Sizes
 * Used in _mixins.scss > @mixin respond-to($breakpoint)
 * * * */
$breakpoints: (

  'xxs': (max-width: 480px),

  'xs': (max-width: 767px),

  'sm': "(min-width: 768px) and (max-width: 991px)",
  'sm-up': (min-width: 768px),
  'sm-down': (max-width: 991px),

  'md': "(min-width: 992px) and (max-width: 1200px)",
  'md-up': (min-width: 992px),
  'md-down': (max-width: 1200px),

  'lg': (min-width: 1201px),
);


/* * * *
 * Columns
 * * * */
$column-count: 12;
$column-padding: 1rem;