div.image-placeholder {
  background: #ddd;
  box-sizing: border-box;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  flex-shrink: 0;
  &.block-placeholder {
    display: flex;
  }
  div {
    align-self: center;
  }
}
