<div class="navbar primary-navbar row no-margin" ng-show="!$ctrl.loadError"  ng-if="!$ctrl.$state.$current.name.includes('share')">
  <!-- Nav Left -->
  <div class="navbar-section">
    <a href="#" class="brand">
      <img ng-attr-src="{{$ctrl.assetLogo}}">
    </a>
    <span class="navbar-vertical-divider"></span>
    <nav>
      <a href ui-sref="home" ui-sref-active="active">Home</a>
      <div ng-if="$ctrl.projectService.currentProject" uib-dropdown class="dropdown-project" on-toggle="toggled($ctrl.optionsOpen)">
        <a href uib-dropdown-toggle>
          <span class="username">{{$ctrl.projectService.currentProject.name}}</span>
          <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href ui-sref="editor.project.color.scenes({projectid: $ctrl.projectService.currentProjectId})" ng-class="{ disabled: $ctrl.$state.$current.name.includes('editor')}">Edit</a></li>
          <li><a href ui-sref="browse({projectid: $ctrl.projectService.currentProjectId})"  ng-class="{ disabled: $ctrl.$state.$current.name.includes('browse')}">Add Scenes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href ng-click="$ctrl.selectProjectModal()">Switch Projects</a></li>
        </ul>
      </div>
      <a href ui-sref="library.projects.list" ui-sref-active="active">Projects</a>
      <a href ui-sref="imports" ui-sref-active="active">Imports</a>
      <a href feature-flag="tools-ui" ui-sref="market.search"
         ng-class="{
                   active: $ctrl.$state.$current.name.includes('market')
                   }">Tools</a>
    </nav>
  </div>

  <!-- Nav Right -->
  <div class="row no-margin columns-center column align-right navbar-section">
    <nav>
      <div ng-if="$ctrl.authService.isLoggedIn" uib-dropdown class="dropdown-my-account" on-toggle="toggled($ctrl.optionsOpen)">
        <a href uib-dropdown-toggle>
          <img ng-if="$ctrl.authService.profile().picture" class="avatar" ng-src="{{$ctrl.authService.profile().picture}}">
          <div class="avatar image-placeholder" ng-if="$ctrl.authService.profile() && !$ctrl.authService.profile().picture"></div>
          <span class="username">{{$ctrl.authService.profile().nickname}}</span>
          <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href ui-sref="settings.profile">Settings</a></li>
          <li role="separator" class="divider"></li>
          <li><a href ng-click="$ctrl.logout()">Sign out</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
