<div class="panel-body">
  <ng-container ng-if="!$ctrl.slim">
    <rf-status-tag ng-if="$ctrl.status && $ctrl.status != 'CURRENT' " entity-type="project" status="$ctrl.status" class="project-status"></rf-status-tag>
    <a href ui-sref="projects.edit({projectid: $ctrl.project.id})" class="no-hover">
      <img class="avatar tiny" ng-attr-src="{{ $ctrl.project.owner.profileImageUri }}" ng-if="$ctrl.project.owner.profileImageUri"/>
      <h4 class="project-title" data-title="{{$ctrl.project.name}}">{{$ctrl.project.name}}</h4>
    </a>
    <div class="project-actions" ng-if="!$ctrl.hideOptions">
      <a href ng-click="$ctrl.publishModal()">
        <i class="icon-share"></i>
        <span class="sr-only">Publish</span>
      </a>
      <a href ng-click="$ctrl.shareModal($ctrl.project)">
        <i class="icon-key"></i>
        <span class="sr-only">Permissions</span>
      </a>
      <a href class="color-danger" ng-click="$ctrl.deleteModal()">
        <i class="icon-trash"></i>
        <span class="sr-only">Delete</span>
      </a>
    </div>
    <div class="project-preview">
      <a ui-sref="projects.edit({projectid: $ctrl.project.id})" style="text-decoration: none">
        <!-- IF project has no scenes -->
        <div class="project-preview-container placeholder"
             ng-if="$ctrl.status === 'NOSCENES'"
             style="background-image: url({{$ctrl.projectPlaceholder}})">
        </div>

        <!-- IF not all scenes ingested: -->
        <div class="project-preview-container placeholder"
             ng-if="$ctrl.status !== 'CURRENT' && $ctrl.status !== 'NOSCENES'"
             style="background-image: url({{$ctrl.projectPlaceholder}})">
        </div>

        <!-- IF using a project's thumbnail: -->
        <div class="project-preview-container placeholder"
             ng-if="$ctrl.status === 'CURRENT'"
             style="background-image: url({{$ctrl.projectPlaceholder}})">
          <div class="thumbnail"
               ng-if="$ctrl.showProjectThumbnail"
               style="background-image: url({{$ctrl.thumbnailUrl}})"></div>
          <rf-static-map
            ng-if="!$ctrl.showProjectThumbnail"
            map-id="{{$ctrl.mapId}}"
            options="$ctrl.mapOptions"></rf-static-map>
        </div>
      </a>
    </div>
  </ng-container>

  <ng-container ng-if="$ctrl.slim">
    <div class="row">
      <h4 class="project-title flex-fill" data-title="{{$ctrl.project.name}}">{{$ctrl.project.name}}</h4>
      <ng-transclude>
      </ng-transclude>
    </div>
  </ng-container>
</div>
