<div class="vertical-modal">
  <div class="header">
    <div class="header-title">
      Add Organization
    </div>
    <span
        class="modal-close icon-cross"
        ng-click="$ctrl.dismiss()"
    ></span>
  </div>
  <div class="modal-body">
    <div ng-if="$ctrl.permissionDenied.isDenied">
      <p>
        {{$ctrl.permissionDenied.message}}
        <a ng-href="mailto:{{$ctrl.permissionDenied.adminEmail}}">{{$ctrl.permissionDenied.subject}}</a>.
      </p>
    </div>
    <div ng-if="!$ctrl.permissionDenied.isDenied">
      <form name="$ctrl.form" class="form-group">
        <label>
          Organization name
          <input
              type="text"
              class="form-control"
              name="name"
              ng-model="name"
          >
        </label>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" ng-click="$ctrl.dismiss()">Cancel</button>
    <button
      type="button"
      class="btn btn-primary"
      ng-click="$ctrl.onAdd()"
      ng-if="!$ctrl.permissionDenied.isDenied">Add</button>
  </div>
</div>
