<div class="vertical-modal">
  <div class="header">
    <div class="header-title">
      Permissions
    </div>
    <div class="header-subtitle">
      {{$ctrl.resolve.objectName}}
    </div>
    <span
        class="modal-close icon-cross"
        ng-click="$ctrl.dismiss()"
    ></span>
  </div>
  <div class="modal-body" ng-if="$ctrl.objectOwnerId === $ctrl.userId">
    <form class="add-permission-form" ng-if="!$ctrl.loading && (!$ctrl.authService.user.personalInfo.firstName || !$ctrl.authService.user.personalInfo.lastName)">
      <div class="permission-message">
        <div>
            <p>
              Sharing requires you to have entered your name so that we can let other users know who is sharing with them.
            </p>
            <p>
              <a ui-sref="user.settings.profile({userId: 'me'})">Update your personal information</a>
            </p>
        </div>
      </div>
    </form>
    <form class="add-permission-form" ng-if="!$ctrl.loading && $ctrl.authService.user.personalInfo.firstName && $ctrl.authService.user.personalInfo.lastName">
      <label>Grant permissions to</label>
      <div class="permission-all-in-one">
        <select class="form-control subject-select"
                ng-model="$ctrl.currentTargetSubject"
                ng-change="$ctrl.onSubjectTypeChange()"
        >
          <option ng-repeat="subject in $ctrl.applicableSubjects"
                  value="{{subject.target}}"
          >{{subject.name}}</option>
        </select>
        <input class="form-control combo-box"
               ng-if="$ctrl.currentTargetSubject === 'PLATFORM'"
               placeholder="Grant VIEW permissions to everyone"
               disabled
        />
        <rf-search on-search="$ctrl.onOrganizationSearch(value)"
                   placeholder="Search for {{$ctrl.getCurrentSubject().plural}}"
                   auto-focus="true"
                   ng-if="$ctrl.currentTargetSubject === 'ORGANIZATION' && !$ctrl.selectedSubject"
                   suggestions="$ctrl.suggestions"
                   show-suggestion-avatars="true"
                   on-suggestion-select="$ctrl.onSubjectSelect(value)"
                   class="combo-box"
        ></rf-searcH>
        <rf-search on-search="$ctrl.onTeamSearch(value)"
                   placeholder="Search for {{$ctrl.getCurrentSubject().plural}}"
                   auto-focus="true"
                   ng-if="$ctrl.currentTargetSubject === 'TEAM' && !$ctrl.selectedSubject"
                   suggestions="$ctrl.suggestions"
                   show-suggestion-avatars="true"
                   on-suggestion-select="$ctrl.onSubjectSelect(value)"
                   class="combo-box"
        ></rf-searcH>
        <rf-search on-search="$ctrl.onUserSearch(value)"
                   placeholder="Search for {{$ctrl.getCurrentSubject().plural}}"
                   auto-focus="true"
                   ng-if="$ctrl.currentTargetSubject === 'USER' && !$ctrl.selectedSubject"
                   suggestions="$ctrl.suggestions"
                   show-suggestion-avatars="true"
                   on-suggestion-select="$ctrl.onSubjectSelect(value)"
                   class="combo-box"
        ></rf-searcH>
        <div class="form-control search-suggestion combo-box" ng-if="$ctrl.selectedSubject">
            <div class="avatar user-avatar image-placeholder" ng-if="!$ctrl.selectedSubject.avatar"></div>
            <div ng-if="$ctrl.selectedSubject.avatar">
              <img class="avatar user-avatar" ng-src="{{$ctrl.selectedSubject.avatar}}"/>
            </div>
            <div class="labels">
              <div>{{$ctrl.selectedSubject.label}}</div>
            </div>
            <button type="button" class="btn-link" ng-click="$ctrl.onClearSelection()">
              <i class="icon-cross"></i>
            </button>
        </div>
      </div>
      <div class="permission-message" ng-if="$ctrl.duplicateDetected">
        <i class="icon-warning"></i>
        <div>
            The selected {{$ctrl.getCurrentSubject().singular}} has already been granted permissions
        </div>
      </div>
      <div class="permission-button-row">
          <button class="btn btn-primary btn-small"
                  ng-click="$ctrl.onActionsAdd()"
                  ng-disabled="$ctrl.duplicateDetected || (!$ctrl.selectedSubjectId && $ctrl.currentTargetSubject !== 'PLATFORM')"
          >
            Add Permission
          </button>
      </div>
    </form>
    <div class="permission-list">
      <div class="empty-state" ng-if="!$ctrl.loading && !$ctrl.permissionCount">
        No permissions are currently configured
      </div>
      <rf-permission-item actions="$ctrl.applicableActions"
                          ng-repeat="(id, actionSet) in $ctrl.actionsBuffer.PLATFORM"
                          current-action-tag="actionSet.tag"
                          on-change="$ctrl.onActionsChange('PLATFORM', id, value)"
                          on-delete="$ctrl.onActionsDelete('PLATFORM', id)"
      >
        <div class="avatar user-avatar image-placeholder" ng-if="!$ctrl.entityCache.user[id].profileImageUri">
          <div>
            <i class="icon-users"></i>
          </div>
        </div>
        <div class="labels">Everyone</div>
      </rf-permission-item>
      <rf-permission-item actions="$ctrl.applicableActions"
                          ng-repeat="(id, actionSet) in $ctrl.actionsBuffer.ORGANIZATION"
                          current-action-tag="actionSet.tag"
                          on-change="$ctrl.onActionsChange('ORGANIZATION', id, value)"
                          on-delete="$ctrl.onActionsDelete('ORGANIZATION', id)"
      >
        <div class="avatar user-avatar image-placeholder" ng-if="!$ctrl.entityCache.organization[id].logoUri"></div>
        <div ng-if="$ctrl.entityCache.organization[id].logoUri">
          <img class="avatar user-avatar" ng-src="{{$ctrl.entityCache.organization[id].logoUri}}"/>
        </div>
        <div class="labels">
          <div>{{ $ctrl.entityCache.organization[id].name || 'Loading organization' }}</div>
          <div class="subtitle">Organization</div>
        </div>
      </rf-permission-item>
      <rf-permission-item actions="$ctrl.applicableActions"
                          ng-repeat="(id, actionSet) in $ctrl.actionsBuffer.TEAM"
                          current-action-tag="actionSet.tag"
                          on-change="$ctrl.onActionsChange('TEAM', id, value)"
                          on-delete="$ctrl.onActionsDelete('TEAM', id)"
      >
        <div class="avatar user-avatar image-placeholder"
             ng-if="!$ctrl.entityCache.organization[$ctrl.entityCache.team[id].organizationId].logoUri"></div>
        <div ng-if="$ctrl.entityCache.organization[$ctrl.entityCache.team[id].organizationId].logoUri">
          <img class="avatar user-avatar"
               ng-src="{{$ctrl.entityCache.organization[$ctrl.entityCache.team[id].organizationId].logoUri}}"
          />
        </div>
        <div class="labels">
          <div>{{ $ctrl.entityCache.team[id].name || 'Loading team' }}</div>
          <div class="subtitle">Team</div>
        </div>
      </rf-permission-item>
      <rf-permission-item actions="$ctrl.applicableActions"
                          ng-repeat="(id, actionSet) in $ctrl.actionsBuffer.USER"
                          current-action-tag="actionSet.tag"
                          on-change="$ctrl.onActionsChange('USER', id, value)"
                          on-delete="$ctrl.onActionsDelete('USER', id)"
      >
      <div class="avatar user-avatar image-placeholder" ng-if="!$ctrl.entityCache.user[id].profileImageUri"></div>
      <div ng-if="$ctrl.entityCache.user[id].profileImageUri">
        <img class="avatar user-avatar" ng-src="{{$ctrl.entityCache.user[id].profileImageUri}}"/>
      </div>
        <div class="labels">
          <div>{{ $ctrl.entityCache.user[id].name || 'Loading user' }}</div>
        </div>
      </rf-permission-item>
  </div>
</div>
<div class="modal-body add-permission-form color-danger" ng-if="$ctrl.objectOwnerId !== $ctrl.userId">
  Only owner of this {{ $ctrl.resolve.objectType.toLowerCase() }} may grant permissions.
</div>
<div class="modal-footer" ng-if="$ctrl.objectOwnerId === $ctrl.userId">
  <button type="button" class="btn btn-light pull-left" ng-click="$ctrl.dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="$ctrl.onSave()">Save Changes</button>
</div>
<div class="modal-footer" ng-if="$ctrl.objectOwnerId !== $ctrl.userId">
  <button type="button" class="btn btn-light" ng-click="$ctrl.dismiss()">Cancel</button>
</div>
