<ng-controller ng-controller="$ctrl.mainController as $sub">
    <div class="modal-header">
        <button
            type="button"
            class="close"
            aria-label="Close modal"
            ng-click="$ctrl.dismiss()"
        >
            <i aria-hidden="true" class="icon-cross">
                <span class="sr-only">Close modal</span>
            </i>
        </button>
        <h4 class="modal-title">Permissions</h4>
        <p>{{ $strl.resolve.objectName }}</p>
    </div>

    <div class="modal-body">
        <div
            class="modal-inner-container small"
            ng-if="!$sub.loading && (!$sub.authService.user.personalInfo.firstName || !$sub.authService.user.personalInfo.lastName)"
        >
            <span class="modal-icon">
                <i class="icon-settings"></i>
            </span>
            <h2>Update your information</h2>
            <p>
                Sharing requires you to have a name associated with your account
                so we can let other users know who is sharing with them.
            </p>
            <a
                ui-sref="user.settings.profile({userId: 'me'})"
                class="btn btn-primary"
                >Update your personal information</a
            >
        </div>

        <div
            class="modal-inner-container"
            ng-if="!$sub.loading && $sub.authService.user.personalInfo.firstName && $sub.authService.user.personalInfo.lastName"
        >
            <form class="add-permission-form">
                <label>Grant permissions to</label>
                <div class="permission-all-in-one">
                    <select
                        class="form-control subject-select"
                        ng-model="$sub.currentTargetSubject"
                        ng-change="$sub.onSubjectTypeChange()"
                    >
                        <option
                            ng-repeat="subject in $sub.applicableSubjects"
                            value="{{ subject.target }}"
                            >{{ subject.name }}</option
                        >
                    </select>
                    <input
                        class="form-control combo-box"
                        ng-if="$sub.currentTargetSubject === 'PLATFORM'"
                        placeholder="Grant VIEW permissions to everyone"
                        disabled
                    />
                    <rf-search
                        on-search="$sub.onOrganizationSearch(value)"
                        placeholder="Search for {{
                            $sub.getCurrentSubject().plural
                        }}"
                        auto-focus="true"
                        ng-if="$sub.currentTargetSubject === 'ORGANIZATION' && !$sub.selectedSubject"
                        suggestions="$sub.suggestions"
                        show-suggestion-avatars="true"
                        on-suggestion-select="$sub.onSubjectSelect(value)"
                        class="combo-box"
                    ></rf-search>
                    <rf-search
                        on-search="$sub.onTeamSearch(value)"
                        placeholder="Search for {{
                            $sub.getCurrentSubject().plural
                        }}"
                        auto-focus="true"
                        ng-if="$sub.currentTargetSubject === 'TEAM' && !$sub.selectedSubject"
                        suggestions="$sub.suggestions"
                        show-suggestion-avatars="true"
                        on-suggestion-select="$sub.onSubjectSelect(value)"
                        class="combo-box"
                    ></rf-search>
                    <rf-search
                        on-search="$sub.onUserSearch(value)"
                        placeholder="Search for {{
                            $sub.getCurrentSubject().plural
                        }}"
                        auto-focus="true"
                        ng-if="$sub.currentTargetSubject === 'USER' && !$sub.selectedSubject"
                        suggestions="$sub.suggestions"
                        show-suggestion-avatars="true"
                        on-suggestion-select="$sub.onSubjectSelect(value)"
                        class="combo-box"
                    ></rf-search>
                    <div
                        class="form-control search-suggestion combo-box"
                        ng-if="$sub.selectedSubject"
                    >
                        <div
                            class="avatar user-avatar image-placeholder"
                            ng-if="!$sub.selectedSubject.avatar"
                        ></div>
                        <div ng-if="$sub.selectedSubject.avatar">
                            <img
                                class="avatar user-avatar"
                                ng-src="{{ $sub.selectedSubject.avatar }}"
                            />
                        </div>
                        <div class="labels">
                            <div>{{ $sub.selectedSubject.label }}</div>
                        </div>
                        <button
                            type="button"
                            class="btn-link"
                            ng-click="$sub.onClearSelection()"
                        >
                            <i class="icon-cross"></i>
                        </button>
                    </div>
                </div>
                <div class="permission-message" ng-if="$sub.duplicateDetected">
                    <i class="icon-warning"></i>
                    <div>
                        The selected
                        {{ $sub.getCurrentSubject().singular }} has already been
                        granted permissions
                    </div>
                </div>
                <div class="permission-button-row">
                    <button
                        class="btn btn-primary btn-small"
                        ng-click="$sub.onActionsAdd()"
                        ng-disabled="$sub.duplicateDetected || (!$sub.selectedSubjectId && $sub.currentTargetSubject !== 'PLATFORM')"
                    >
                        Add Permission
                    </button>
                </div>
            </form>
            <div class="permission-list">
                <div
                    class="empty-state"
                    ng-if="!$sub.loading && !$sub.permissionCount"
                >
                    No permissions are currently configured
                </div>
                <rf-permission-item
                    actions="$sub.applicableActions"
                    ng-repeat="(id, actionSet) in $sub.actionsBuffer.PLATFORM"
                    current-action-tag="actionSet.tag"
                    on-change="$sub.onActionsChange('PLATFORM', id, value)"
                    on-delete="$sub.onActionsDelete('PLATFORM', id)"
                >
                    <div
                        class="avatar user-avatar image-placeholder"
                        ng-if="!$sub.entityCache.user[id].profileImageUri"
                    >
                        <div>
                            <i class="icon-users"></i>
                        </div>
                    </div>
                    <div class="labels">Everyone</div>
                </rf-permission-item>
                <rf-permission-item
                    actions="$sub.applicableActions"
                    ng-repeat="(id, actionSet) in $sub.actionsBuffer.ORGANIZATION"
                    current-action-tag="actionSet.tag"
                    on-change="$sub.onActionsChange('ORGANIZATION', id, value)"
                    on-delete="$sub.onActionsDelete('ORGANIZATION', id)"
                >
                    <div
                        class="avatar user-avatar image-placeholder"
                        ng-if="!$sub.entityCache.organization[id].logoUri"
                    ></div>
                    <div ng-if="$sub.entityCache.organization[id].logoUri">
                        <img
                            class="avatar user-avatar"
                            ng-src="{{
                                $sub.entityCache.organization[id].logoUri
                            }}"
                        />
                    </div>
                    <div
                        class="labels"
                        ng-if="$sub.entityCache.organization[id].name"
                    >
                        <div>
                            {{ $sub.entityCache.organization[id].name }}
                            <i
                                class="icon-help"
                                ng-if="$sub.entityCache.organization[id].private"
                                title="You do not have permissions to view this organization"
                            ></i>
                        </div>
                        <div class="subtitle">Organization</div>
                    </div>
                    <div
                        class="labels"
                        ng-if="!$sub.entityCache.organization[id]"
                    >
                        <div>Loading Organization...</div>
                        <div class="subtitle">Organization</div>
                    </div>
                    <div
                        class="labels"
                        ng-if="$sub.entityCache.organization[id] && !$sub.entityCache.organization[id].name"
                    >
                        <div>
                            <i class="icon-warning"></i> Error fetching
                            organization
                        </div>
                    </div>
                </rf-permission-item>
                <rf-permission-item
                    actions="$sub.applicableActions"
                    ng-repeat="(id, actionSet) in $sub.actionsBuffer.TEAM"
                    current-action-tag="actionSet.tag"
                    on-change="$sub.onActionsChange('TEAM', id, value)"
                    on-delete="$sub.onActionsDelete('TEAM', id)"
                >
                    <div
                        class="avatar user-avatar image-placeholder"
                        ng-if="!$sub.entityCache.organization[$sub.entityCache.team[id].organizationId].logoUri"
                    ></div>
                    <div
                        ng-if="$sub.entityCache.organization[$sub.entityCache.team[id].organizationId].logoUri"
                    >
                        <img
                            class="avatar user-avatar"
                            ng-src="{{
                                $sub.entityCache.organization[
                                    $sub.entityCache.team[id].organizationId
                                ].logoUri
                            }}"
                        />
                    </div>
                    <div class="labels" ng-if="$sub.entityCache.team[id]">
                        <div>
                            {{ $sub.entityCache.team[id].name }}
                            <i
                                class="icon-help"
                                ng-if="$sub.entityCache.team[id].private"
                                title="You do not have permissions to view this team"
                            ></i>
                        </div>
                        <div class="subtitle">Team</div>
                    </div>
                    <div class="labels" ng-if="!$sub.entityCache.team[id]">
                        <div>Loading team...</div>
                        <div class="subtitle">Team</div>
                    </div>
                    <div
                        class="labels"
                        ng-if="$sub.entityCache.team[id] && !$sub.entityCache.team[id].name"
                    >
                        <div>
                            <i class="icon-warning"></i> Error fetching team
                        </div>
                    </div>
                </rf-permission-item>
                <rf-permission-item
                    actions="$sub.applicableActions"
                    ng-repeat="(id, actionSet) in $sub.actionsBuffer.USER"
                    current-action-tag="actionSet.tag"
                    on-change="$sub.onActionsChange('USER', id, value)"
                    on-delete="$sub.onActionsDelete('USER', id)"
                >
                    <div
                        class="avatar user-avatar image-placeholder"
                        ng-if="!$sub.entityCache.user[id].profileImageUri"
                    ></div>
                    <div ng-if="$sub.entityCache.user[id].profileImageUri">
                        <img
                            class="avatar user-avatar"
                            ng-src="{{
                                $sub.entityCache.user[id].profileImageUri
                            }}"
                        />
                    </div>
                    <div class="labels" ng-if="$sub.entityCache.user[id].name">
                        <div>
                            {{ $sub.entityCache.user[id].name }}
                            <div class="subtitle">User</div>
                        </div>
                    </div>
                    <div class="labels" ng-if="!$sub.entityCache.user[id]">
                        <div>Loading User...</div>
                        <div class="subtitle">User</div>
                    </div>
                    <div
                        class="labels"
                        ng-if="$sub.entityCache.user[id] && !$sub.entityCache.user[id].name"
                    >
                        <div>
                            <i class="icon-warning"></i> Error fetching user
                        </div>
                        <div class="subtitle">User</div>
                    </div>
                </rf-permission-item>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="footer-section left">
            <button type="button" class="btn" ng-click="$ctrl.dismiss()">
                Close
            </button>
        </div>
        <div class="footer-section right">
            <button
                type="button"
                class="btn btn-primary"
                ng-click="$sub.onSave()"
            >
                Save Changes
            </button>
        </div>
    </div>
</ng-controller>
