<div class="container dashboard">
  <div class="row content stack-sm">
    <div class="column-8">
      <div class="dashboard-header">
        <h3>Shapes</h3>
        <div class="flex-fill"></div>
        <rf-search on-search="$ctrl.fetchPage(1, value)"
                   value="$ctrl.search"
                   placeholder="Search for shapes"
                   auto-focus="true">
        </rf-search>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.importModal()">
          Import shape
        </button>
      </div>
      <rf-pagination-count
          start-index="$ctrl.pagination.startingItem"
          end-index="$ctrl.pagination.endingItem"
          total="$ctrl.pagination.count"
          item-name="shapes"
          ng-if="!$ctrl.currentQuery && $ctrl.results.length"
      >
        <span ng-if="$ctrl.search">while searching for <strong>{{$ctrl.search}}</strong></span>
      </rf-pagination-count>
      <div class="text-center" ng-show="$ctrl.currentQuery">
        <div>Loading shapes</div>
        <span class="list-placeholder h3">
          <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></i>
        </span>
      </div>
      <div class="list-group">
        <rf-shape-item shape="shape" ng-repeat="shape in $ctrl.results track by shape.id">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-square btn-danger"
                    ng-click="$ctrl.deleteShape(shape)"
            >
              <i class="icon-trash"></i>
            </button>
          </div>
        </rf-shape-item>
      </div>
      <div>
        <rf-call-to-action-item
            title="You haven't imported any shapes"
            class="panel panel-off-white"
            ng-if="!$ctrl.currentQuery && !$ctrl.search && $ctrl.pagination && !$ctrl.pagination.count">
          <p class="pb-25">
            Every shape that you import or create will be listed here.
            After you have imported one or more shapes, you can return to this page to view them.
          </p>

          <a class="btn btn-primary" ng-click="$ctrl.importModal()">Import Shape</a>
          <p>
            <a>Getting started with Shapes</a>
          </p>
        </rf-call-to-action-item>
        <div ng-show="!$ctrl.currentQuery && $ctrl.search && !$ctrl.pagination.count">
          <rf-call-to-action-item
              title="Your search didn't return any shapes"
              class="panel panel-off-white">
            <p class="pb-25">
              Unable to find any shapes matching "{{$ctrl.search}}".
            </p>
          </rf-call-to-action-item>
        </div>
        <div class="cta-row" ng-show="$ctrl.fetchError">
          <rf-call-to-action-item
              title="There was an error fetching shapes."
              class="panel panel-off-white">
            <div class="pb-25">
              Please refresh the page and try again.<br />
              If the problem persists, please contact {{$ctrl.BUILDCONFIG.APP_NAME}} support.
            </div>
          </rf-call-to-action-item>
        </div>
      </div>
      <rf-pagination-controls
          ng-show="!$ctrl.fetchError"
          pagination="$ctrl.pagination"
          is-loading="$ctrl.currentQuery"
          on-change="$ctrl.fetchPage(value)"
      ></rf-pagination-controls>
    </div>
    <div class="column spacer"></div>
    <div class="column">
      <div class="aside">
        <section>
          <h5>What are Shapes?</h5>
          <p class="font-size-small">
            Shapes are polygons, either drawn directly on the map or uploaded as a shapefile.
          </p>
          <h5>What restrictions are there?</h5>
          <p class="font-size-small">
            Currently we can import files that are up to 20mb in size.
            This number may change in the future as we examine usage scenarios.
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
