/* 
 * High contrast theme
 */

/* * * *
 * Settings
 * * * */
@import
 "settings/colors",
 "settings/fonts",
 "settings/variables";

/* * * *
 * All required imports
 * * * */
@import "../../imports";


/* * * *
 * Default theme overrides
 * * * */
@import
  "base/typography";

@import
  "layout/aside",
  "layout/container",
  "layout/navbar",
  "layout/sidebar";

@import
  "components/annotation",
  "components/button",
  "components/dropdown",
  "components/filter",
  "components/form",
  "components/map-controls",
  "components/lab-node",
  "components/pagination",
  "components/panel",
  "components/project-item",
  "components/slider",
  "components/shapefilter";

@import
  "pages/analysis-library",
  "pages/dashboard",
  "pages/login";
