<div class="list-group-item">
  <div class="list-item-left-actions" ng-transclude="selector"></div>
  <div class="list-group-overflow">
    <div class="text-overflow-ellipsis" ng-transclude="title"></div>
    <div class="text-overflow-ellipsis" ng-transclude="subtitle"></div>
    <div class="text-overflow-ellipsis" ng-transclude="date"></div>
  </div>
  <div class="list-group-right list-group-vertical">
    <div ng-transclude="actions"></div>
    <div ng-transclude="statistics"></div>
  </div>
</div>
