<div>
    <button class="btn select-button btn-tiny" ng-click="$ctrl.onClick()">
        <label
            class="checkbox"
            ng-class="{
                  active: $ctrl.checked
                  }"
        >
            <input
                type="checkbox"
                ng-checked="$ctrl.checked"
                ng-click="$ctrl.onClick()"
            />
        </label>
        <span>
            {{ $ctrl.actionText || 'Select all' }}
        </span>
    </button>
</div>
<div class="flex-fill"></div>
<div ng-transclude></div>
