.modal-content-header {
  margin: 0 0 2rem 0;
}

.list-group-item.no-flex {
  display: block;
}

.list-group-item-contents {
  display: flex;
  flex: 1 0 100%;
}

.upload-progress-bar {
  height: 6px;
  background: #738FFC;
  transition: flex-grow .5s;
  flex: 0 0;
  margin-top: 10px !important;
}
