<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Start an Import
    </h4>
    <p>Import your imagery from various sources</p>
  </div>

  <!--Body for IMPORT-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('IMPORT')">
    <div class="content">
      <h3 class="no-margin">Import your Scenes</h3>
      <p>Select the source you'd like to import your imagery from.</p>
      <div class="box-select-row">
          <rf-box-select-item
          class="small"
          ng-class="{selected: $ctrl.importType === 'local'}"
          ng-click="$ctrl.setProjectAttribute('importType', 'local')"
        >
          <div class="text-center"><strong>Local Files</strong></div>
        </rf-box-select-item>
        <rf-box-select-item
          class="small disabled"
          ng-click="$ctrl.setProjectAttribute('importType', 'uri')"
        >
          <div class="text-center"><strong>URI</strong></div>
        </rf-box-select-item>
        <rf-box-select-item
          class="small disabled"
          ng-click="$ctrl.setProjectAttribute('importType', 's3')"
        >
          <div class="text-center"><strong>AWS S3</strong></div>
        </rf-box-select-item>
        <rf-box-select-item
          class="small disabled"
          ng-click="$ctrl.setProjectAttribute('importType', 'dropbox')"
        >
          <div class="text-center"><strong>DropBox</strong></div>
        </rf-box-select-item>
      </div>
    </div>

    <!--Local file import -->
    <div class="content" ng-if="$ctrl.currentStepIs('LOCAL_UPLOAD')">
      <h3 class="no-margin">Local File Import</h3>
      <p>Select imagery files from your computer and we'll import them into Raster Foundry Scenes.</p>
      <button class="btn btn-primary">Select Files</button>
    </div>

    <!--Body for IMPORT_SUCCESS-->
    <div class="modal-body" ng-if="$ctrl.currentStepIs('IMPORT_SUCCESS')">
      <div class="content">
        <h3 class="no-margin">Success!</h3>
        <p>
          Your scenes are importing into Raster Foundry now.
          This may take some time and we will notify you when the process is complete.
          In the meantime checkout your Notification Center for up to date information on all of your projects.
        </p>
      </div>
    </div>
  </div>

  <!--Default Footer-->
  <div
    ng-if="$ctrl.currentStepIsNot(['SUCCESS', 'ADD_SCENES', 'IMPORT_SUCCESS'])"
    class="modal-footer"
  >
    <button type="button" class="btn pull-left"
            ng-click="$ctrl.closeWithData(1)">
      Cancel
    </button>

    <button type="button" class="btn"
            ng-if="$ctrl.hasPreviousStep()"
            ng-click="$ctrl.gotoPreviousStep()">
      Back
    </button>
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.handleNext()"
            ng-disabled="$ctrl.isCreatingProject">
      Next
    </button>
  </div>


  <!--Footer for SUCCESS-->
  <div ng-if="$ctrl.currentStepIs('IMPORT_SUCCESS')" class="modal-footer">
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.closeWithData(1)">
      Done
    </button>
  </div>
</div>
