<div class="node-histogram-header">
  <div class="mask-controls" ng-class="{'no-visibility': $ctrl.isSource}">
    <div>
      Mask values
    </div>
    <div class="histogram-checkboxes">
      <label class="checkbox dark"
             ng-class="{active: $ctrl.options.masks.min}"
      >
          <input type="checkbox"
                 ng-checked="$ctrl.options.masks.min"
                 ng-click="$ctrl.onMaskChange('min', !$ctrl.options.masks.min)"
                 ng-disabled="$ctrl.options.discrete" />Min
      </label>
      <label class="checkbox dark"
             ng-class="{active: $ctrl.options.masks.max}"
             ng-disabled="$ctrl.options.discrete || $ctrl.isSource"
      >
          <input type="checkbox"
                 ng-checked="$ctrl.options.masks.max"
                 ng-click="$ctrl.onMaskChange('max', !$ctrl.options.masks.max)"
                 ng-disabled="$ctrl.options.discrete" />Max
      </label>
    </div>
  </div>
  <rf-color-scheme-dropdown
      color-scheme-options="$ctrl.options.baseScheme"
      on-change="$ctrl.onColorSchemeChange(value)"
      data-disabled="$ctrl.isSource"
      ng-show="!$ctrl.isSource"
  ></rf-color-scheme-dropdown>
  <button class="btn btn-square btn-small btn-ghost"
          ng-click="$ctrl.customColorModal()"
          ng-disabled="!$ctrl.histogram"
          ng-show="!$ctrl.isSource"
          title="Customize color map"
  >
    <span class="icon-settings"></span>
  </button>
</div>

<div class="graph-container"
     ng-disabled="$ctrl.isSource"
     ng-attr-title="{{$ctrl.isSource && 'Cannot adjust previews for inputs'}}"
>
  <nvd3 ng-attr-id="chart-{{$ctrl.nodeId}}"
        style="height: 101px;"
        options="$ctrl.histOptions"
        data="$ctrl.plot"
        api="$ctrl.api"></nvd3>
  <div style="height: 100px;" ng-if="!$ctrl.plot"></div>
  <rf-histogram-breakpoint
      ng-if="$ctrl.plot && bp.options.style !== 'hidden' && !$ctrl.isSource"
      ng-repeat="bp in $ctrl.breakpoints track by bp.id"
      ng-mouseover="$ctrl.onBpMouseover(bp)"
      ng-class="{'active': $ctrl.lastMouseOver === bp.id}"
      data-color="bp.color"
      data-breakpoint="bp.value"
      data-range="$ctrl.options.viewRange"
      data-precision="$ctrl.precision"
      data-options="bp.options"
      on-breakpoint-change="$ctrl.debouncedBreakpointChange(bp, breakpoint)"
  ></rf-histogram-breakpoint>
  <rf-histogram-breakpoint
      ng-if="$ctrl.isSource"
      data-breakpoint="$ctrl.options.dataRange.min"
      data-range="$ctrl.options.dataRange"
      data-precision="$ctrl.precision"
  >
  </rf-histogram-breakpoint>
  <rf-histogram-breakpoint
      ng-if="$ctrl.isSource"
      data-breakpoint="$ctrl.options.dataRange.max"
      data-range="$ctrl.options.dataRange"
      data-precision="$ctrl.precision"
  >
  </rf-histogram-breakpoint>
  <div class="histogram-placeholder" ng-if="$ctrl.histogram.fetching">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.histogram.fetching}"></span>
      Loading
  </div>
  <div class="histogram-placeholder" ng-if="$ctrl.noValidData && !$ctrl.histogram.fetching">
    Histogram only has one value
  </div>
  <div class="histogram-placeholder" ng-if="$ctrl.histogram.error">
    There was an error generating this histogram - Verify that all inputs are valid
  </div>
</div>

<style ng-if="$ctrl.nodeId">
 #chart-{{$ctrl.nodeId}} .nv-series-0 {
   fill: url(#line-gradient-{{$ctrl.nodeId}}) !important;
   fill-opacity: 1 !important;
   stroke: url(#line-gradient-{{$ctrl.nodeId}}) !important;
   stroke-opacity: 1 !important;
 }
</style>
