
<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <h4 class="modal-title">Permissions</h4>
    <h6 class="modal-title" ng-attr-title="{{$ctrl.objectName}}">{{$ctrl.objectName}}</h6>
    <button type="button" class="close" aria-label="Close"
            ng-click="$ctrl.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" ng-if="$ctrl.state === $ctrl.states.existing">
    <div class="content">
      <div class="dashboard-header" ng-if="!$ctrl.showShowNonIdealState()">
        <div class="flex-fill"></div>
        <button class="btn btn-primary" ng-click="$ctrl.setState('newPermission')">
          Add Permission
        </button>
      </div>
      <div class="dropdown btn-group selectable-list-item" uib-dropdown uib-dropdown-toggle ng-repeat="(key, row) in $ctrl.accessControlRuleRows">
        <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.description !== null">
          <span class="permissions-object-key font-600">
            {{ $ctrl.subjectNameObj[key]  || 'Loading' }}
          </span>
          <span ng-if="row.length">Can</span>
          <span ng-if="!row.length">Will no longer have access</span>
          <span class="permissions-object-marker" ng-repeat="actionType in $ctrl.actionTypes">
            <span ng-if="row.includes(actionType)">&nbsp;{{actionType}}</span>
          </span>
        </a>
        <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.description === null">
          Use default val
        </a>
        <button type="button" class="btn dropdown-toggle">
          <i class="icon-edit"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
          <li role="menuitem" ng-repeat="actionType in $ctrl.actionTypes">
            <rf-toggle value="row.includes(actionType)" on-change="$ctrl.togglePermission(actionType, key)">&nbsp;{{ actionType }}</rf-toggle>
          </li>
        </ul>
      </div>

      <rf-call-to-action-item
        title="No permissions are currently configured"
        class="panel panel-off-white"
        ng-if="$ctrl.showShowNonIdealState()">
        <p class="pb-25">
          Without any permissions, only you will be able to see or interact with <span class="font-600">{{ $ctrl.objectName }}</span>.
        </p>

        <a class="btn btn-primary" ng-click="$ctrl.setState('newPermission')">Add a new permission</a>
      </rf-call-to-action-item>
    </div>
  </div>

  <div class="modal-body" ng-if="$ctrl.state === $ctrl.states.newPermission">
    <div class="content">
      <div>Who would you like to grant permissions to?</div>
      <select ng-model="$ctrl.newPermissionSubject"
              ng-options="subjectType.name for subjectType in $ctrl.subjectTypes track by subjectType.id"></select>
    </div>
  </div>

  <div class="modal-body" ng-if="$ctrl.state === $ctrl.states.teamSelect">
    <div class="content">
      <button class="btn btn-block selectable-list-item" ng-repeat="team in $ctrl.teams"
           ng-click="$ctrl.selectTeam(team)">
        {{ team.name }}
      </button>
    </div>
  </div>

  <div class="modal-body" ng-if="$ctrl.state === $ctrl.states.userSelect">
    <div class="content">
      <rf-search on-search="$ctrl.searchUsers(value)" placeholder="Search for users" auto-focus="true"></rf-searcH>
      <button class="btn btn-block selectable-list-item" ng-repeat="user in $ctrl.availableUsers track by user.email"
           ng-click="$ctrl.selectUser(user)">
        {{ user.email }}
      </button>
    </div>
  </div>

  <div class="modal-body" ng-if="$ctrl.state === $ctrl.states.createNewACR">
    <div class="content">
      <div class="new-acr-confirmation" ng-if="$ctrl.subjectType !== 'PLATFORM'">
        You are about to give <code>VIEW</code> permissions to {{$ctrl.newPermissionSubject.target | lowercase }}
        {{ $ctrl.selectedPermissionsTarget.name }}. To add additional permissions, toggle them on or off in
        the list of permissions grants.
      </div>
      <div class="new-acr-confirmation" ng-if="$ctrl.subjectType === 'PLATFORM'">
        You are about to give <em>everyone</em> <code>VIEW</code> permissions. To add
        additional permissions, toggle them on or off in the list of permissions grants.
      </div>
    </div>
  </div>

  <div class="modal-footer" ng-if="$ctrl.state === $ctrl.states.newPermission">
    <button class="btn pull-left" ng-click="$ctrl.setState('existing')">Back</button>
    <button class="btn pull-right btn-primary" ng-click="$ctrl.handleNewPermissionSubjectSelection()">Next</button>
  </div>

  <div class="modal-footer" ng-if="$ctrl.state === $ctrl.states.teamSelect || $ctrl.state === $ctrl.states.userSelect">
    <button class="btn pull-left" ng-click="$ctrl.setState('newPermission')">Back</button>
  </div>

  <div class="modal-footer" ng-if="$ctrl.state === $ctrl.states.createNewACR">
    <button class="btn pull-left" ng-click="$ctrl.setState('newPermission')">Back</button>
    <button class="btn pull-right btn-primary" ng-click="$ctrl.createNewACR()">Confirm</button>
  </div>

  <div class="modal-footer" ng-if="$ctrl.state === $ctrl.states.existing">
    <button class="btn pull-right btn-primary" ng-click="$ctrl.updatePermissions()">Save</button>
    <button class="btn pull-left" ng-click="$ctrl.close()">Cancel</button>
  </div>
</div>
