<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      ng-click="$ctrl.close()"
      ng-disabled="$ctrl.isSplittingLayer"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Split Layer
    </h4>
    <p>Split this layer into multiple layers</p>
  </div>

  <div class="modal-body" ng-if="$ctrl.noScene">
    <div class="modal-inner-container small">
      <div class="content">
        <div class="text-center">
          <h5 class="error color-danger">This layer has no imagery. It cannot be split.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body" ng-if="!$ctrl.noScene">
    <div class="modal-inner-container small">
      <div class="content">
        <div ng-if="$ctrl.hasSplitLayerError" class="text-center">
          <h5 class="error color-danger">There was an error splitting this project layer.</h5>
          <button type="button"
                  class="btn btn-primary"
                  ng-click="$ctrl.resetModal()">
            Try again
          </button>
        </div>
        <form name="layerSplit" autocomplete="off" ng-if="!$ctrl.hasSplitLayerError">
          <h5 class="modal-content-header-thin">
            New layer names
            <span class="error color-danger" ng-show="layerSplit.layerName.$error.required">
              (required)
            </span>
          </h5>
          <div class="form-group all-in-one">
            <input class="form-control"
                   id="layerName"
                   name="layerName"
                   type="text"
                   placeholder="My custom layer name"
                   ng-model="$ctrl.layerSplitBuffer.name"
                   required>
          </div>
          <h5 class="modal-content-header-thin">Color</h5>
          <div class="form-group all-in-one">
            <input class="form-control color-picker"
                   type="color"
                   id="color"
                   ng-init="$ctrl.layerSplitBuffer.colorGroupHex"
                   ng-model="$ctrl.layerSplitBuffer.colorGroupHex">
          </div>
          <h5 class="modal-content-header-thin">Split frequency</h5>
          <div class="form-group all-in-one no-margin">
            <select
              class="form-control"
              name="frequency"
              ng-model="$ctrl.layerSplitBuffer.period"
            >
              <option
                value="{{frequency.value}}"
                ng-repeat="frequency in $ctrl.frequencies track by $index"
              >
                {{frequency.name}}
              </option>
            </select>
          </div>
          <p>
            <i>A new layer will be created for <span class="font-700">every {{ $ctrl.layerSplitBuffer.period | lowercase }}</span> imagery is found.</i>
          </p>
          <div class="flex-display">
            <h5 class="modal-content-header-thin">Start date</h5>
            <h5 class="modal-content-header-thin">End date</h5>
          </div>
          <div
            class="form-group all-in-one"
            ng-class="{'no-margin': !$ctrl.isValidDateRange}"
          >
            <input class="form-control input-cursor-pointer"
                   id="rangeStart"
                   name="rangeStart"
                   type="text"
                   ng-value="$ctrl.startDateDisplay"
                   ng-click="$ctrl.onDateChange('rangeStart')"
                   required
                   readonly>
            <button
              class="btn btn-small right-gray-border-only background-inherit"
              ng-click="$ctrl.onDateChange('rangeStart')"
            >
             <span class="sr-only">Set range start date</span>
             <i class="icon-calendar" aria-hidden="true"></i>
            </button>
            <input class="form-control input-cursor-pointer"
                  id="rangeEnd"
                  name="rangeEnd"
                  type="text"
                  ng-value="$ctrl.endDateDisplay"
                  ng-click="$ctrl.onDateChange('rangeEnd')"
                  required
                  readonly>
            <button
              class="btn btn-small background-inherit no-border"
              ng-click="$ctrl.onDateChange('rangeEnd')"
            >
             <span class="sr-only">Set range end date</span>
             <i class="icon-calendar" aria-hidden="true"></i>
            </button>
          </div>
          <p class="color-danger" ng-if="!$ctrl.isValidDateRange">
            <i>Start and end date range is invalid.</i>
          </p>
          <h5 class="modal-content-header-thin">Remove imagery after splitting</h5>
          <div class="flex-display">
            <p class="flex-fill">
              <i><span class="color-warning">Warning:</span> Removing imagery from the layer could adversely affect annotations and/or analyses, but prevents duplicate layers if the layer were to be split again in the future.</i>
            </p>
            <button class="btn select-button btn-tiny" ng-click="$ctrl.onCheckRemoveImages()">
                <label
                    class="checkbox"
                    ng-class="{active: $ctrl.layerSplitBuffer.removeFromLayer}"
                >
                    <input
                        type="checkbox"
                        ng-checked="$ctrl.layerSplitBuffer.removeFromLayer"
                        ng-click="$ctrl.onCheckRemoveImages()"
                    />
                </label>
                <span>
                    Remove imagery
                </span>
            </button>
          </div>
          <div ng-if="$ctrl.hasMultipleDatasources">
            <h5 class="modal-content-header-thin">Multiple datasources</h5>
            <p><i class="icon-warning color-warning"></i>Imagery in this layer uses multiple datasources. Splitting this layer will also split by datasource.</p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="footer-section left">
      <button type="button"
              class="btn"
              ng-disabled="$ctrl.isSplittingLayer"
              ng-click="$ctrl.dismiss()">
        Close
      </button>
    </div>
    <div class="footer-section right">
      <button type="button"
              class="btn btn-primary"
              ng-click="$ctrl.onClickSplit()"
              ng-disabled="$ctrl.isSplitLayerDisabled()">
        Create layers
      </button>
    </div>
  </div>
</div>
