<div class="object-list-actions">
  <div>
    <rf-pagination-count
      ng-if="$ctrl.results.length"
      start-index="$ctrl.pagination.startingItem"
      end-index="$ctrl.pagination.endingItem"
      total="$ctrl.pagination.count"
      item-name="projects"
    ></rf-pagination-count>
  </div>
</div>
<div class="row content stack-sm">
  <div class="column-8">
    <rf-call-to-action-item
      title="You haven't created any projects yet"
      class="panel panel-off-white"
      ng-if="!$ctrl.loading && !$ctrl.pagination.count">
      <p class="pb-25">
        Any projects you create will be visible here.
      </p>
    </rf-call-to-action-item>
    <div ng-if="!$ctrl.loading && $ctrl.results.length" class="row stack-xs">
      <div class="column-6 flex-display"
           ng-repeat="project in $ctrl.results"
      >
        <rf-project-item
            class="panel panel-off-white project-item"
            project="project">
        </rf-project-item>
      </div>
    </div>
    <rf-pagination-controls
      pagination="$ctrl.pagination"
      is-loading="$ctrl.loading"
      on-change="$ctrl.fetchPage(value)"
    ></rf-pagination-controls>
  </div>
  <div class="column spacer"></div>
  <div class="column-3">
    <rf-sidebar-organization-list
      paginated-response="{ 'count': $ctrl.organizations.length, 'results': $ctrl.organizations }"
      sref="user.organizations"></rf-sidebar-organization-list>
    <rf-sidebar-team-list
      paginated-response="{ 'count': $ctrl.teams.length, 'results': $ctrl.teams }"
      show-org-logo="true"
      sref="user.teams"></rf-sidebar-team-list>
  </div>
  <div class="column-1"></div>
</div>
