<div class="breakpoint-bar top" ng-if="$ctrl._options.style === 'bar'"></div>
<div class="breakpoint-grabber"
     ng-class="{bar: $ctrl._options.style === 'bar',
                arrow: $ctrl._options.style === 'arrow',
                point: $ctrl._options.style === 'point',
                dragging: $ctrl.dragging || $ctrl.active}"
     ng-mousedown="$ctrl.onBreakpointChange && $ctrl.onGrabberMouseDown()"></div>
<div class="breakpoint-bar bottom" ng-if="$ctrl._options.style === 'bar'"></div>
<div class="breakpoint-bar full" ng-if="$ctrl._options.style === 'bar'"></div>
<div class="breakpoint-input"
     ng-class="{switched: $ctrl.breakpoint / $ctrl.range.max > .8,
                active: $ctrl.dragging || $ctrl.inputFocused,
                alwaysShow: $ctrl._options.alwaysShowNumbers}"
>
  <input type="number"
         class="breakpoint-input-field"
         ng-attr-step="{{$ctrl.precision}}"
         ng-model="$ctrl.breakpoint"
         ng-model-options="{updateOn: 'blur change'}"
         ng-change="$ctrl.onInputChange(value)"
         ng-disabled="!$ctrl.onBreakpointChange"
         ng-attr-max="{{$ctrl.range.max}}"
         ng-attr-min="{{$ctrl.range.min}}"
  >
</div>
