@import "../../../../assets/styles/sass/settings/_colors.scss";
@import "../../../../assets/styles/sass/settings/_variables.scss";

div.list-group-item.list-sidebar-drawn-annotations {
  padding-left: 10px;
  padding-right: 10px;
}
.annotation-item {
  display: flex;
  align-items: center;
  & > *:not(:first-child) {
    margin-left: 1em;
  }
  .annotation-type-icon-container {
    font-size: 1.6rem;
    padding: 0.5em;
    background: lighten($gray-lightest, 7.5%);
    border-radius: $border-radius-base;
  }
}

.inner {
  display: inline-block;
  vertical-align: top;
}

.inner i{
  font-size: 35px;
}

p.annotation-confidence {
  text-align: center;
}

p.annotation-confidence i{
  font-size: 12px;
}

.inner div.annotation-name h5 {
  font-weight: normal;
  margin-bottom: 20px;
}

button.btn.btn-primary.btn-block.btn-qa-check-button {
  padding: 2px 12px 2px 12px;
  background-color: $white;
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  color: $gray-lighter;
  font-size: 10px;
  display: inline;

  &.pass {
    background-color: $green;
    border: 1px solid $green;
    border-radius: 2px;
    color: $white;
  }
  &.fail {
    background-color: $red;
    border: 1px solid $red;
    border-radius: 2px;
    color: $white;
  }
}

i.icon-cross.qa-check,
i.icon-check.qa-check {
  font-size: 10px;
}

.list-group-right.actions-annotations {
  width: 25%;
  margin-right: 0px;
}

.list-group-right.actions-annotations a {
  text-decoration: none;
  margin: 2px;
}

.list-group-right.actions-annotations a:nth-child(1) i,
.list-group-right.actions-annotations a:nth-child(2) i {
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  color: $gray-lighter;

}

.list-group-right.actions-annotations a:nth-child(3) i {
  border: 1px solid $red;
  border-radius: 2px;
  color: $red;
}

.annotation-new {
  width: 100%;
  margin: 0px;
}

.annotation-new textarea.form-control {
  height: 150px;
  margin-bottom: 10px;
  resize: none;
}

.annotation-new .btn.btn-tertiary.annotation-confirm,
.annotation-new .btn.btn-tertiary.annotation-cancel {
  width: 90px;
}

.annotation-new .btn.btn-tertiary.annotation-confirm{
  float: right;
}

.label-name-input {
  &.is-invalid {
    border: 1px solid $red;
    border-radius: 2px;
  }
}

.label-name-selections {
  border: 1px solid $gray-lighter;
  display: block;
  z-index: 1000;
  position: absolute;
  background-color: $white;
  width: 100%;
}

.label-name-option {
  padding: 6px 12px;
}

.label-name-option:hover{
  color: $white;
  background-color: $shade-normal;
  cursor: pointer;
}

.label-text{
  margin-top: 10px;
}
