<div class="list-group-item list-sidebar-drawn-annotations"
     ng-if="$ctrl.annotation.geometry && !($ctrl.editingAnnotation === $ctrl.annotation.id)">
  <div class="sidebar-item annotation-item">
    <div class="inner">
      <i class="icon-polygon"
         ng-if="$ctrl.annotation.geometry.type === 'Polygon'"></i>
      <i class="icon-map-pin"
         ng-if="$ctrl.annotation.geometry.type === 'Point'"></i>
      <p class="annotation-confidence" ng-if="$ctrl.annotation.properties.machineGenerated">
        <i>{{$ctrl.annotation.properties.confidence}}</i>
      </p>
    </div>
    <div class="inner">
      <div class="annotation-name"
           ng-if="$ctrl.annotation.properties.label.length">
        <h5>{{$ctrl.annotation.properties.label}}</h5>
      </div>
      <div class="annotation-name "
           ng-if="!$ctrl.annotation.properties.label.length">
        <h5><dfn>Unlabeled</dfn></h5>
      </div>
      <div class="btn-group" ng-if="$ctrl.annotation.properties.machineGenerated">
        <button class="btn btn-primary btn-block btn-qa-check-button"
                type="button"
                ng-click="$ctrl.onQaCheck('NO')"
                ng-class="{fail: $ctrl.annotation.properties.quality === 'NO'}">
          <i class="icon-cross qa-check"></i>
        </button>
        <button class="btn btn-primary btn-block btn-qa-check-button"
                type="button"
                ng-click="$ctrl.onQaCheck('YES')"
                ng-class="{pass: $ctrl.annotation.properties.quality === 'YES'}">
          <i class="icon-check qa-check"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="list-group-right actions-annotations">
      <a title="Bulk Create"
         ng-click="$ctrl.sidebarDisabled || $ctrl.onBulkCreateClick($event)"
         ng-disabled="$ctrl.sidebarDisabled">
     Bulk Create</a>
    <a title="Clone"
       ng-click="$ctrl.sidebarDisabled || $ctrl.onAnnotationClone($event)"
       ng-disabled="$ctrl.sidebarDisabled">
      <i class="icon-duplicate"></i></a>
    <a title="Edit"
       ng-click="$ctrl.sidebarDisabled || $ctrl.onAnnotationEdit($event)"
       ng-disabled="$ctrl.sidebarDisabled">
      <i class="icon-pencil"></i></a>
    <a title="Delete"
       ng-click="$ctrl.sidebarDisabled || $ctrl.onAnnotationDelete($event)"
       ng-disabled="$ctrl.sidebarDisabled">
      <i class="icon-trash"></i></a>
  </div>
</div>
<div class="list-group-item"
     ng-if="!$ctrl.annotation.geometry || ($ctrl.editingAnnotation === $ctrl.annotationId)">
  <div class='annotation-new'>
    <form>
      <input type="text"
             class="form-control label-name-input"
             ng-init="$ctrl.labelNameInput = $ctrl.annotation.properties.label"
             ng-model="$ctrl.labelNameInput"
             ng-change="$ctrl.onLabelNameChange()"
             ng-class="{'is-invalid': $ctrl.isInvalid }"
             ng-blur="$ctrl.onLabelFieldBlur()"
             ng-focus="$ctrl.onLabelFieldFocus()"
             placeholder="{{$ctrl.annotation.properties.label || 'Label name...'}}">
      <div class="label-name-selections"
           ng-if="$ctrl.showMatchedLabels">
        <div class="label-name-option"
             ng-repeat="label in $ctrl.labelInputsMatch"
             ng-click="$ctrl.onSelectLabelName(label)"
             ng-mouseover="$ctrl.onHoverOption(true)"
             ng-mouseleave="$ctrl.onHoverOption(false)">
             {{label}}
        </div>
      </div>
    <textarea class="form-control label-text"
              ng-init="$ctrl.newLabelDescription = $ctrl.annotation.properties.description"

              ng-model="$ctrl.newLabelDescription"
              ng-if="!$ctrl.annotation.geometry || ($ctrl.editingAnnotation === $ctrl.annotation.id)"
              placeholder="Description..."></textarea>
    <button
        class="btn btn-light annotation-cancel"
        ng-click="$ctrl.finishEditingAnnotation()">
      Cancel
    </button>
    <button type="button"
           class="btn btn-tertiary annotation-confirm"
           ng-disabled="$ctrl.labelNameInput.length < 1"
           ng-click="$ctrl.onSaveClick()">
      Save
    </button>
    </form>
  </div>
</div>
