<div
    class="sidebar-overlay"
    ng-show="(!$ctrl.corrections || $ctrl.currentRequest) && ($ctrl.pagination && !$ctrl.pagination.count)"
>
    <div class="sidebar-loading">
        <span class="icon-load animate-spin"></span>
    </div>
</div>

<div class="sidebar-actions-group with-padding">
    <div class="flex-fill"></div>
    <div>
        <button
            class="btn btn-tiny btn-transparent"
            ng-disabled="$ctrl.correctionsDisabled()"
            ng-click="$ctrl.navToCorrections()"
        >
            Color correct
        </button>
    </div>
</div>

<div
    class="sidebar-actions-group"
    ng-if="!$ctrl.currentRequest && $ctrl.pagination && !$ctrl.pagination.count"
>
    <label>You must add scenes to this project in order to set a color mapping</label>
</div>

<div
    class="sidebar-scrollable with-padding"
    ng-show="!$ctrl.isLoading && $ctrl.pagination && $ctrl.pagination.count"
>
    <div class="page-card" ng-if="!$ctrl.isLoading && !$ctrl.bands.length">
        There are currently no bands defined for one or more datasources used in this project. Some
        color options are not available unless bands are defined.
        <br />
        <br />

        <div ng-repeat="datasource in $ctrl.datasources | filter: $ctrl.hasNoBands">
            <a
                class="btn btn-default btn-block"
                ui-sref="imports.datasources.detail({
                  datasourceid: datasource.id
                })"
            >
                Define bands for {{ datasource.name }}
            </a>
        </div>
    </div>
    <div class="page-card page-card-form">
        <div class="form-group">
            <label for="color-mode">Mode</label>
            <div class="input-group">
                <select
                    class="form-control"
                    name="color-mode"
                    ng-model="$ctrl.activeColorModeKey"
                    ng-change="$ctrl.setActiveColorMode()"
                >
                    <option value="singleband" ng-if="$ctrl.singleBandEnabled">
                        Single band
                    </option>
                    <option
                        ng-repeat="(key, composite) in $ctrl.unifiedComposites track by $index"
                        value="{{ key }}"
                    >
                        {{ composite.label }}
                    </option>
                </select>
            </div>
        </div>
        <div ng-if="$ctrl.bands.length && $ctrl.layerBuffer.isSingleBand">
            <div class="form-group">
                <label for="color-mode">Band</label>
                <rf-band-select
                    selected-band="$ctrl.getActiveSingleBand()"
                    bands="$ctrl.bands"
                    on-band-select="$ctrl.setActiveSingleBand(index)"
                >
                </rf-band-select>
            </div>
            <div class="form-group">
                <label for="color-mode">Color ramp</label>
                <rf-color-scheme-dropdown
                    color-scheme-options="$ctrl.getSerializedSingleBandOptions()"
                    on-change="$ctrl.onColorSchemeChange(value)"
                ></rf-color-scheme-dropdown>
            </div>
        </div>
        <div
            ng-if="$ctrl.bands.length && !$ctrl.layerBuffer.isSingleBand && $ctrl.activeColorModeKey === 'custom'"
        >
            <div class="form-group">
                <label for="color-mode">Blue</label>
                <rf-band-select
                    selected-band="$ctrl.getActiveBand('blueBand')"
                    bands="$ctrl.bands"
                    on-band-select="$ctrl.setActiveBand(index, 'blueBand')"
                >
                </rf-band-select>
            </div>
            <div class="form-group">
                <label for="color-mode">Green</label>
                <rf-band-select
                    selected-band="$ctrl.getActiveBand('greenBand')"
                    bands="$ctrl.bands"
                    on-band-select="$ctrl.setActiveBand(index, 'greenBand')"
                >
                </rf-band-select>
            </div>
            <div class="form-group">
                <label for="color-mode">Red</label>
                <rf-band-select
                    selected-band="$ctrl.getActiveBand('redBand')"
                    bands="$ctrl.bands"
                    on-band-select="$ctrl.setActiveBand(index, 'redBand')"
                >
                </rf-band-select>
            </div>
        </div>
    </div>
</div>
