<div class="navbar secondary-navbar">
  <div class="navbar-left">
    <nav>
      <div uib-dropdown on-toggle="toggled($ctrl.optionsOpen)">
        <a href uib-dropdown-toggle>
          <span class="color-white">{{$ctrl.project.name}}</span>
          <i class="icon-caret-down color-white"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a ng-click="$ctrl.selectProjectModal()">Open Project</a></li>
        </ul>
      </div>
      <span class="navbar-vertical-divider"></span>
      <a href ui-sref=".color.scenes" ui-sref-active="active"><i class="icon-color-correct"></i> Color Correction</a>
      <a href ui-sref=".mosaic.scenes" ui-sref-active="active"><i class="icon-mosaic"></i> Mosaic</a>
    </nav>
  </div>
  <div class="navbar-right">
    <nav>
      <button class="btn btn-secondary" ng-click="$ctrl.publishModal()" ng-disabled="$ctrl.loadingProject || !$ctrl.project">Share</button>
    </nav>
  </div>
</div>
<div class="container column-stretch container-not-scrollable with-header">
  <!-- Sidebar (container is in parent view) -->
  <div class="sidebar" ui-view></div>
  <!-- Map -->
  <div class="main">
    <rf-map-container map-id="project" options="$ctrl.mapOptions">
    </rf-map-container>
  </div>
</div>
