.account-usage-block {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 260px;
	padding: 14px 20px;
	background: $white;
	z-index: map-get($z-index, map);

	.account-usage-label {
		@include font-size(12);
	}

	a {
		float: right;
	}
}