.sidebar-utility {
	.nav-tabs {
    width: 100%;
    border-bottom: none;
    &:after {
			display: none;
    }
	}

	li {
		float: none;
    display: table-cell;
    text-align: center;
    width: 1%;
	}

	li a {
		@include font-size(13);
		margin: 0;
		padding: 20px 2px;
		color: $base;
		line-height: 1;
		border-top: none !important;
		border-bottom: 1px solid $gray-lightest;
		border-radius: 0;

		&:hover {
			background: $white;
			border-color: transparent;
		}
	}

	li.active a {
		border-bottom-color: $gray-lightest;
		border-top: none;
		color: $brand-primary-dark;

		&:hover, &:active, &:focus {
			color: $brand-primary-dark;
		}
	}
}

.sidebar-utility-header {
	position: relative;
	margin-bottom: 20px;
	
	li a { 
		background: $gray;
		border-right-color: $gray-darker;
		border-bottom-color: $gray-darker;
	}

	li.active a {
		border-bottom-color: $white;
	}

	.btn {
		position: absolute;
		left: 100%;
		top: 0;
	  border-radius: 0;
	  padding: 20px 20px 19px;
	  font-size: 13px;
	  line-height: 1;
	}
}

.sidebar-utility-toolbar {
	position: relative;
	background: $white;
	border-bottom: 1px solid $gray-lightest;
	@include clearfix;
}

.utility-tools {
	width: 100%;
	float: left;

	&.col-2 {
		width: 50%;
	}
	
  .tool-toggle {
		display: block;
		float: left;
	  width: 33.333%;
	  text-align: center;
	  border-right: 1px solid $gray-lightest;

	  .btn {
	  	padding: 20px 5px;
	  	border-radius: 0;
	  	display: block;
	  	width: 100%;
	  }
	}

	.checkbox {
		margin: 20px;
	}
}

.tool-toggle-target {
	display: none;

	&.active {
		display: block;
	}
}


.sidebar-utility-content {
  width: 100%;
  bottom: 0;
  top: 54px;
  //transform: scale(1);
  transition: transfrom 1s ease-in-out;

  &.out {
  	//transform: scale(.9);
  	transition: transfrom 1s ease-in-out;
  }

  .panel {
  	margin-bottom: 0;
  	border-top: none;
  	border-left: none;
  	border-right: none;
  	border-radius: 0;
  }
}