%video-sizing {
	position: absolute;
	min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-background { 
  z-index: -1;
	@extend %video-sizing;

  &:after {
  	content: '';
		display: block;
		background: rgba($gray-darker, .8);
		@extend %video-sizing;
  }

  img {
  	display: block;
	  margin: 0;
	  padding: 0;
  	z-index: -1;
	  @extend %video-sizing;
  }

  video {
  	display: block;
	  @extend %video-sizing;
  }
}