<div class="list-group-item">
    <div
        class="list-item-left-actions"
        tooltips
        tooltip-template="Image is already in {{
            $ctrl.scene.inLayer ? 'layer' : 'project'
        }}"
        tooltip-size="small"
        tooltip-class="rf-tooltip shrink"
        tooltip-side="right"
        tooltip-hidden="{{ !$ctrl.scene.inLayer && !$ctrl.scene.inProject }}"
        ng-if="!$ctrl.processing"
    >
        <label
            class="checkbox no-margin"
            ng-class="{
                  active: $ctrl.selected || $ctrl.scene.inLayer,
                  'partial-active': $ctrl.scene.inProject
                  }"
            ng-disabled="$ctrl.scene.inLayer"
        >
            <input
                type="checkbox"
                ng-checked="$ctrl.selected"
                ng-click="$ctrl.scene.inLayer || $ctrl.onSelect({scene: $ctrl.scene})"
            />
        </label>
    </div>
    <div class="list-item-left-actions" ng-if="$ctrl.processing">
        <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.processing}"></i>
    </div>
    <div
        class="item-img-container"
        ng-class="{'previewable': $ctrl.isPreviewable}"
        ng-click="$ctrl.isPreviewable && $ctrl.openSceneDetailModal($event)"
    >
        <img
            ng-attr-src="{{ $ctrl.thumbnail }}"
            ng-if="$ctrl.thumbnail && !$ctrl.imageError"
            class="rounded-img item-img"
        />
        <div
            ng-if="!$ctrl.thumbnail || $ctrl.imageError"
            class="rounded-img item-img image-placeholder"
        >
            <div>No preview available</div>
        </div>
    </div>
    <div class="list-group-overflow">
        <div class="text-overflow-ellipsis" title="{{ $ctrl.scene.name }}">
            <strong class="color-dark">
                {{ ($ctrl.getReferenceDate() | date: 'mediumDate':'+0000') + ' (UTC)' }}
            </strong>
        </div>
        <div>
            <span>{{ $ctrl.scene.datasource.name }}</span>
        </div>
    </div>
    <div class="list-group-right">
        <ng-transclude></ng-transclude>
    </div>
</div>
