<div class="sidebar-actions-group" ng-show="$ctrl.selected.size === 0">
    <a class="btn btn-tiny btn-transparent" ng-click="$ctrl.showNewLayerModal()">
        <i class="icon-plus"></i> New Layer
    </a>
    <div style="flex: 1;"></div>
    <div class="btn btn-tiny btn-transparent" uib-dropdown uib-dropdown-toggle>
        Layer Visibility
        <ul class="dropdown-menu dropdown-menu-light drop-left" uib-dropdown-menu role="menu">
            <li role="menuitem">
                <a href ng-click="$ctrl.showDefaultLayer()">Show only default</a>
            </li>
            <li role="menuitem">
                <a href ng-click="$ctrl.showPageLayers()">Show all on page</a>
            </li>
            <li role="menuitem">
                <a href ng-click="$ctrl.hideAll()">Hide all</a>
            </li>
        </ul>
    </div>
</div>
<div class="selected-actions-group" ng-show="$ctrl.selected.size > 0">
    <rf-selected-actions-bar
        checked="$ctrl.allVisibleSelected()"
        on-click="$ctrl.selectAll()"
        action-text="$ctrl.selectText"
    >
        <button class="btn btn-tiny btn-transparent" ng-click="$ctrl.createAnalysis()">
            Create Analysis
        </button>
        <div class="btn btn-tiny btn-transparent" uib-dropdown uib-dropdown-toggle>
            <span class="icon-menu"></span>
            <ul class="dropdown-menu dropdown-menu-light drop-left" uib-dropdown-menu role="menu">
                <li role="menuitem">
                    <a href ng-click="$ctrl.zoomToSelected()">Zoom to selected</a>
                </li>
                <li role="menuitem">
                    <a href ng-click="$ctrl.showSelected()">Show on map</a>
                </li>
                <li role="menuitem">
                    <a href ng-click="$ctrl.hideSelected()">Hide on map</a>
                </li>
                <li role="menuitem">
                    <a href ng-click="$ctrl.deleteSelected()" class="color-danger">Delete</a>
                </li>
            </ul>
        </div>
    </rf-selected-actions-bar>
</div>
<div class="sidebar-scrollable list-group">
    <rf-list-item ng-repeat="layer in $ctrl.layerList track by layer.id">
        <item-selector>
            <rf-list-item-selector
                id="layer.id"
                selected="$ctrl.isSelected(layer.id)"
                on-select="$ctrl.onSelect(id)"
                color="layer.colorGroupHex"
            ></rf-list-item-selector
        ></item-selector>
        <item-title>
            <a ui-sref="project.layer({projectId: $ctrl.project.id, layerId: layer.id})">
                <strong ng-attr-title="{{ layer.name }}">
                    {{ layer.name }}
                </strong>
            </a>
        </item-title>
        <item-subtitle>
            <span>{{ layer.subtext }}</span>
        </item-subtitle>
        <item-date ng-if="layer.rangeStart && layer.rangeEnd">
            <span class="export-date-subtext"
                >{{ layer.rangeStart | date }} - {{ layer.rangeEnd | date }}</span
            >
            <rf-list-item-status
                class="export-status export-date-subtext"
                has-count="true"
                statuses="$ctrl.uploadStatusByLayer[layer.id]"
                status-map="$ctrl.uploadStatusMap"
            >
            </rf-list-item-status>
        </item-date>
        <item-actions>
            <rf-list-item-actions actions="$ctrl.layerActions[$index]"></rf-list-item-actions>
        </item-actions>
        <item-statistics>
            <rf-layer-stats scene-count="$ctrl.getSceneCount(layer.id)"></rf-layer-stats>
        </item-statistics>
    </rf-list-item>
    <rf-pagination-controls
        pagination="$ctrl.pagination"
        is-loading="$ctrl.currentQuery"
        on-change="$ctrl.fetchPage(value)"
        ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
    ></rf-pagination-controls>
</div>
