<div class="sidebar-actions-group" ng-show="$ctrl.selected.size === 0">
  <a class="btn btn-small btn-transparent" ng-click="$ctrl.showNewLayerModal()">
    <i class="icon-plus"></i> New Layer
  </a>
  <div style="flex: 1;"></div>
  <div class="btn btn-small btn-transparent" uib-dropdown uib-dropdown-toggle>
    Layer Visibility
    <ul class="dropdown-menu dropdown-menu-light drop-left" uib-dropdown-menu role="menu">
      <li role="menuitem">
        <a href ng-click="$ctrl.showDefaultLayer()">Show only default</a></li>
      <li role="menuitem">
        <a href ng-click="$ctrl.showPageLayers()">Show all on page</a></li>
    </ul>
  </div>
</div>
<div class="selected-actions-group" ng-show="$ctrl.selected.size > 0">
  <rf-selected-actions-bar
      checked="$ctrl.allVisibleSelected()"
      on-click="$ctrl.selectAll()"
      action-text="$ctrl.selectText"
  >
    <button class="btn btn-transparent"
            ng-click="$ctrl.createAnalysis()">
      Create Analysis
    </button>
    <button class="btn btn-transparent"
            ng-click="$ctrl.removeScenes($ctrl.selected.valueSeq().toArray())">
      Delete
    </button>
  </rf-selected-actions-bar>
</div>
<div class="sidebar-scrollable list-group">
  <rf-layer-item
      item-info="item"
      item-actions="$ctrl.layerActions[$index]"
      selected="$ctrl.isSelected(item.id)"
      on-select="$ctrl.onSelect(id)"
      visible="$ctrl.isVisible(item.id)"
      on-hide="$ctrl.onHide(id)"
      go-to-aoi-def="$ctrl.goToAoiDef(id)"
      ng-repeat="item in $ctrl.itemList track by item.id">
    <rf-layer-stats scene-count="$ctrl.getSceneCount(item.id)"></rf-layer-stats">
  </rf-layer-item>
  <rf-pagination-controls
      pagination="$ctrl.pagination"
      is-loading="$ctrl.currentQuery"
      on-change="$ctrl.fetchPage(value)"
      ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
  ></rf-pagination-controls>
</div>
