.btn {
  text-transform: uppercase;
  padding: 1.3rem 3rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  background: #eee;
  border: none;
  color: darken($shade-light, 35%);

  &:hover, &.hover,
  &:active, &.active, {
    color: darken($shade-light, 35%);
    background-color: darken(#eee, 10%);
  }
}

/*
 * Solid bg-color buttons
 */
.btn-default {
  background: $shade-light;
  color: $text-base;

  @include button-states($shade-light, $text-base);
}

.btn-light {
  background: #f4f5f5;
  color: darken($shade-light, 15%);

  @include button-states($shade-light, $white);
}

/*
 * Makes three main buttons
 * types look the identical
 */
.btn-primary {
  background: $brand-primary;
  color: #fff;

  @include button-states($brand-primary, $white);
}

.btn-secondary {
  background: $brand-primary;
  color: #fff;

  @include button-states($brand-primary, $white);
}

.btn-tertiary {
  background: $brand-primary;
  color: #fff;

  @include button-states($brand-primary, $white);
}

.btn-warning {
  background: $warning;
  color: #fff;

  @include button-states($warning, $white);
}

.btn-danger {
  background: $danger;
  color: #fff;

  @include button-states($danger, $white);
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
}

/*
 * Ghost buttons, borders only
 */
.btn-ghost {
  background-color: transparent;

  @include ghost-button-states(transparent, $white);
}

.btn-ghost-white {
  background-color: transparent;
  color: #fff;
  border-color: #fff;

  @include ghost-button-states(#fff, #fff);
}

.btn-ghost-default {
  background-color: transparent;
  color: $shade-normal;
  border-color: $shade-normal;

  @include ghost-button-states($shade-normal, #fff);
}

.btn-ghost-danger {
  background-color: transparent;
  color: $danger;
  border-color: $danger;

  @include ghost-button-states($danger, $shade-normal);
}

/*
 * Button Sizes
 */
.btn-text {
  font-size: 1em;
  padding: 0.3em 0.3em;
}

.btn-tiny {
  font-size: 1.2rem;
  padding: .7rem .5rem;
}

.btn-small {
  font-size: 1.3rem;
  padding: .8rem 1rem;
}

.btn-large {
  padding: 1.6rem 2rem;
}

.btn-square {
  padding: 1rem;
}

/*
Copy button on project share modal
*/
.btn-copy-modal,
.btn-copy-modal-first {
  width: 100px;
  height: 39px;
}

/*
Copy button on project share page
*/
.btn-copy-page {
  width: 77.47px;
  height: 29px;
}
