.filter-group {
  border-color: $border-color-default;
}

.filter {
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: inherit;
  }

  label {
    color: $shade-normal;
    width: auto;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .selectize-input {
    border: 1px solid $shade-light;
    background-color: $white;
    color: $text-base;

    > input {
      color: $text-base;
    }
  }

  .searchselect-clear {
    background: $white;
    border-color: $shade-light;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: $text-base;
  }

  .selectize-dropdown {
    background-color: $white;
    color: $text-base;

    .active {
      background-color: $off-white;
      color: $brand-primary
    }
  }

  .browse-source-drop-down {
    background: white;
    border: 1px solid $shade-light;
    padding: 10px 8px;
    text-transform: none;
    letter-spacing: 0;
  }
}

.filter-adjust-input {
  background-color: $white;
  border-color: $border-color-default;
  color: $text-base;
}