.project-title {
  font-size: 1.5rem;
}

.project-title:after {
  background: $white;
}

.project-status .inline-tag {
  margin-top: 1.5rem;
}

.project-actions a {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}