.shapefilter-box {
    background: $white !important;
    padding: 12px 8px;
    border: 1px solid;
    border-color: $shade-light;
    &:hover {
        background: $shade-light;
    }
}

.shapefilter-text {
    color: $shade-dark;
}

.shapefilter-option {
    &:hover {
        background: $shade-light;
    }
}

.shapefilter-actions {
    :not(last-child) {
        margin-left: 0.2em;
    }
}
