<div class="modal-header">
	<button type="button" class="close" aria-label="Close"
          ng-click="$ctrl.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Your new refresh token</h4>
  <p>This is the only time that this refresh token will be visible. Record it in a secure location.</p>
</div>
<div class="modal-body">
  <div class="form-group all-in-one stacked">
    <input class="form-control"
           placeholder="Token hidden"
           type="text"
           ng-if="!$ctrl.showToken"
           readonly>
    <input class="form-control"
           type="text"
           ng-model="$ctrl.refreshToken"
           ng-if="$ctrl.showToken"
           readonly>
    <button class="btn btn-link" ng-click="$ctrl.toggleTokenVisibility()">
      <span ng-if="!$ctrl.showToken">Show token</span>
      <span ng-if="$ctrl.showToken">Hide token</span>
    </button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" aria-label="Close"
          ng-click="$ctrl.dismiss()">
    Close
  </button>
</div>
