[staging]
Region: 'us-east-1'
StackType: 'Staging'
KeyName: 'rf-stg'
IPAccess: '0.0.0.0/0'
AvailabilityZones: 'us-east-1a,us-east-1b'
NATInstanceType: 't2.micro'
NATInstanceAMI: ''
BastionHostInstanceType: 't2.micro'
BastionHostAMI: ''
PublicHostedZoneName: 'rf.azavea.com'
PrivateHostedZoneName: 'rf.internal'
RDSInstanceType: 'db.t2.micro'
RDSDbName: 'rasterfoundry'
RDSUsername: 'rasterfoundry'
RDSPassword: 'rasterfoundry'
GlobalNotificationsARN: 'arn:aws:sns:...'
AppServerInstanceType: 't2.micro'
AppServerInstanceProfile: 'AppServerInstanceProfile'
AppServerAutoScalingDesired: '1'
AppServerAutoScalingMin: '1'
AppServerAutoScalingMax: '1'
SSLCertificateARN: 'arn:aws:iam...'
WorkerInstanceType: 't2.micro'
WorkerInstanceProfile: 'WorkerInstanceProfile'
WorkerAutoScalingDesired: '1'
WorkerAutoScalingMin: '1'
WorkerAutoScalingMax: '1'
