[staging]
Region: 'us-east-1'
StackType: 'Staging'
KeyName: 'rf-stg'
IPAccess: '0.0.0.0/0'
AvailabilityZones: 'us-east-1a,us-east-1b'
NATInstanceType: 't2.micro'
NATInstanceAMI: ''
BastionHostInstanceType: 't2.micro'
BastionHostAMI: ''
PrivateHostedZoneName: 'rf.internal'
GlobalNotificationsARN: 'arn:aws:sns:...'
