ansible==2.1.1.0
awscli==1.10.56
boto==2.42.0
botocore==1.4.46
cffi==1.7.0
colorama==0.3.7
cryptography==1.4
docutils==0.12
enum34==1.1.6
futures==3.0.5
idna==2.1
ipaddress==1.0.16
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
paramiko==2.0.2
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
python-dateutil==2.5.3
PyYAML==3.11
rsa==3.4.2
s3transfer==0.1.1
six==1.10.0
