<ui-view>
  <div class="admin-type-list" ng-if="$ctrl.platforms.length">
    <div class="container">
      <div class="row content stack-sm">
        <div class="column-12">
          <h1 class="h3">Platforms</h1>
          <table class="admin-table admin-select-table">
            <thead>
              <tr>
                <td class="name">Platform</td>
                <td class="role">Role</td>
                <td class="action">Action</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="platform in $ctrl.platforms track by $index">
                <td>{{platform.item.name }}</td>
                <td class="titlecase">{{platform.role.groupRole}}</td>
                <td>
                  <button class="btn btn-primary "
                          ui-sref="admin.platform.users({platformId: platform.item.id})">
                    {{platform.role.groupRole === 'ADMIN' ? 'Manage' : 'View'}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="admin-type-list" ng-if="$ctrl.organizations.length">
    <div class="container">
      <div class="row content stack-sm">
        <div class="column-12">
          <table class="admin-table admin-select-table">
            <thead>
              <tr>
                <td class="name">Organization</td>
                <td class="role">Role</td>
                <td class="action">Action</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="organization in $ctrl.organizations track by $index">
                <td>{{organization.item.name}}</td>
                <td class="titlecase">{{organization.role.groupRole}}</td>
                <td>
                  <button class="btn btn-primary"
                          ui-sref="admin.organization.users({organizationId: organization.item.id})">
                    {{organization.role.groupRole === 'ADMIN' ? 'Manage' : 'View'}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="admin-type-list" ng-if="$ctrl.teams.length">
    <div class="container">
      <div class="row content stack-sm">
        <div class="column-12">
          <table class="admin-table admin-select-table">
            <thead>
              <tr>
                <td class="name">Team</td>
                <td class="role">Role</td>
                <td class="action">Action</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="team in $ctrl.teams track by $index">
                <td>{{team.item.name}}</td>
                <td class="titlecase">{{team.role.groupRole}}</td>
                <td>
                  <button class="btn btn-primary"
                          ui-sref="admin.team.users({teamId: team.item.id})">
                    {{team.role.groupRole === 'ADMIN' ? 'Manage' : 'View'}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ui-view>
