<div class="sidebar">
    <div class="sidebar-actions-group" ng-show="$ctrl.selected.size === 0">
        <a class="btn btn-small btn-transparent" ui-sref="project">
            <i class="icon-caret-left"></i>Back
        </a>
    </div>
    <div class="selected-actions-group" ng-show="$ctrl.selected.size > 0">
        <rf-selected-actions-bar
            checked="$ctrl.allVisibleSelected()"
            on-click="$ctrl.selectAll()"
            action-text="$ctrl.selectText"
        >
            <button class="btn btn-transparent" ng-click="$ctrl.removeLayers()">
                Remove
            </button>
        </rf-selected-actions-bar>
    </div>
    <div class="sidebar-scrollable list-group">
        <rf-list-item ng-repeat="layer in $ctrl.layerList track by layer.id">
            <item-selector>
                <rf-list-item-selector
                    id="layer.id"
                    selected="$ctrl.isSelected(layer.id)"
                    on-select="$ctrl.onSelect(id)"
                    color="layer.colorGroupHex"
                ></rf-list-item-selector
            ></item-selector>
            <item-title
                ><strong ng-attr-title="{{ layer.name }}">{{ layer.name }}</strong></item-title
            >
            <item-date>{{ layer.date | date }}</item-date>
            <item-actions>
                <rf-list-item-actions actions="$ctrl.layerActions.get(layer.id)">
                </rf-list-item-actions>
            </item-actions>
        </rf-list-item>
    </div>
</div>
<div class="main page-content-container">
    <div class="page-header wide">
        <h3>Choose an analysis to run</h3>
    </div>
    <div class="page-card transparent no-padding wide">
        <div class="flex-display input-group">
            <div class="help-text flex-fill">
                The list of analyses has been filtered down to include only single-source analyses.
            </div>
            <rf-search
                on-search="$ctrl.fetchTemplates(1, value)"
                value="$ctrl.search"
                placeholder="Search for analysis"
                auto-focus="false"
            >
            </rf-search>
            <select
                class="form-control inline"
                ng-model="$ctrl.currentOwnershipFilter"
                ng-change="$ctrl.handleOwnershipFilterChange()"
            >
                <option value="">All</option>
                <option value="owned">Owned by me</option>
                <option value="shared">Shared with me</option>
            </select>
        </div>
        <div class="column-spacer"></div>
        <div class="column-9">
            <div class="text-center" ng-show="$ctrl.currentTemplateQuery">
                <div>Loading Templates</div>
                <span class="list-placeholder h3">
                    <i
                        class="icon-load animate-spin"
                        ng-class="{'stop': !$ctrl.currentTemplateQuery}"
                    ></i>
                </span>
            </div>
        </div>
        <rf-pagination-count
            ng-if="!$ctrl.currentTemplateQuery && !$ctrl.templateFetchError && $ctrl.pagination.count"
            start-index="$ctrl.pagination.startingItem"
            end-index="$ctrl.pagination.endingItem"
            total="$ctrl.pagination.count"
            item-name="templates"
        >
            <span ng-if="$ctrl.search"
                >while searching for <strong>{{ $ctrl.search }}</strong></span
            >
        </rf-pagination-count>
        <div class="row stack-sm two-column-list">
            <div class="column-6 flex-display" ng-show="$ctrl.creationPromise">
                Creating analyses...
            </div>
            <div class="column-12 flex-display color-danger" ng-show="$ctrl.createError">
                API Error: There was an error while creating analyses.<br />
                Please try another template or contact support for more information.
            </div>
            <rf-list-item
                class="clickable"
                ng-click="$ctrl.onAnalysisClick($event, analysis)"
                ng-repeat="analysis in $ctrl.templateList track by analysis.id"
                ng-show="!$ctrl.creationPromise"
            >
                <item-title
                    ><strong ng-attr-title="{{ analysis.title }}">{{
                        analysis.title
                    }}</strong></item-title
                >
                <item-subtitle
                    ><span>{{ $ctrl.templateCreators.get(analysis.id) }}</span></item-subtitle
                >
                <item-date>{{ analysis.createdAt | date }}</item-date>
                <item-actions>
                    <rf-list-item-actions
                        actions="$ctrl.itemActions.get(analysis.id)"
                    ></rf-list-item-actions>
                </item-actions>
            </rf-list-item>
        </div>
        <rf-pagination-controls
            pagination="$ctrl.pagination"
            is-loading="$ctrl.currentTemplateQuery"
            on-change="$ctrl.fetchTemplates(value)"
            ng-show="!$ctrl.currentTemplateQuery && !$ctrl.templateFetchError"
        ></rf-pagination-controls>
    </div>
</div>
