h2.no-margin, h3.no-margin {
  margin: 0;
}
.sidebar-section {
  margin-bottom: 3rem;
}
.sidebar-row {
  margin-bottom: 1rem;
}
.flex-header {
  display: flex;
  align-items: center;
  h1, h2, h3, h4, h5 {
    flex: 1;
  }
}
.color-composite-item {
  margin-bottom: 4rem;
}
