description	"pgweb"

start on postgresql-started
stop on shutdown

respawn
setuid pgweb
chdir /var/lib/pgweb

exec /usr/local/bin/pgweb \
	--skip-open \
	--host localhost \
	--port {{ postgresql_port }} \
	--user {{ postgresql_username }} \
	--pass {{ postgresql_password }} \
	--db {{ postgresql_database }} \
	--bind 0.0.0.0 \
	--listen {{ pgweb_port }} >> {{ pgweb_log }} 2>&1
