<div class="row content stack-sm">
  <div class="column-8">
    <div class="dashboard-header">
      <h1 class="h3 page-title">Account</h1>
    </div>
    <button ng-if="$ctrl.provider === 'auth0'"
            class="btn btn-primary btn-large"
            ng-click="$ctrl.authService.changePassword()"
    >Change Password</button>
    <rf-feature-flag-overrides ng-if="$ctrl.env === 'development'"></rf-feature-flag-overrides>
  </div>
  <div class="column-4">
    <div class="content">
      <div class="panel panel-danger">
        <div class="panel-body">
          <h5>Delete Account</h5>
          <p>Once you delete your account, there is no going back. Please be certain.</p>
          <button class="btn btn-danger btn-large" disabled>Delete your account</button>
        </div>
      </div>
    </div>
  </div>
</div>
