<rf-color-correct-scenes
  class="flex-column"
  selected-scenes="$ctrl.selectedScenes"
  selected-layers="$ctrl.selectedLayers"
  scene-list="$ctrl.sceneList"
  scene-layers="$ctrl.sceneLayers"
  layers="$ctrl.layers"
  on-layer-change="$ctrl.updateLayers({layers: layers})"
  on-scene-mouseover="$ctrl.setHoveredScene(scene)"
  on-scene-mouseleave="$ctrl.removeHoveredScene()"
  map-zoom="$ctrl.mapZoom"
  click-event="$ctrl.clickEvent"
  new-grid-selection="$ctrl.setHighlight(highlight)">
</rf-color-correct-scenes>

