<div class="flex-column">
  <!-- scene listing -->
  <div class="sidebar-static">
      <div class="btn-group sidebar-dropdown" uib-dropdown>
        <a href class="btn btn-small" uib-dropdown-toggle>
          Color mode <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
          <li role="menuitem"><a href ng-click="$ctrl.setBands('natural')">Natural color</a></li>
          <li role="menuitem"><a href ng-click="$ctrl.setBands('cir')">Color infrared</a></li>
          <li role="menuitem"><a href ng-click="$ctrl.setBands('urban')">Urban</a></li>
          <li role="menuitem"><a href ng-click="$ctrl.setBands('water')">Water</a></li>
          <li role="menuitem"><a href ng-click="$ctrl.setBands('atmosphere')">Atmosphere penetration</a></li>
          <li role="menuitem"><a href ng-click="$ctrl.setBands('agriculture')">Agriculture</a></li>
          <li role="menuitem"><a href ng-click="$ctrl.setBands('forestfire')">Forest fire</a></li>
          <li role="menuitem"><a href ng-click="$ctrl.setBands('bareearth')">Bare Earth change detection</a></li>
          <li role="menuitem"><a href ng-click="$ctrl.setBands('vegwater')">Vegetation & water</a></li>
        </ul>
      </div>
      <div class="sidebar-actions">
        <div class="btn-group sidebar-dropdown cc-actions" uib-dropdown>
          <a href class="btn btn-small" uib-dropdown-toggle>
            Action <i class="icon-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
            <li role="menuitem"><a ng-disabled="$ctrl.selectedScenes.size === 0" ng-click="$ctrl.$state.go('editor.project.color.adjust')">Color correct</a></li>
            <li role="menuitem"><a href="#"><i class="icon-load"></i> Sync histogram</a></li>
            <li role="menuitem"><a href="#"><i class="icon-arrows-cw"></i> Reset changes</a></li>
            <li role="menuitem"><a href="#" class="color-danger"><i class="icon-trash"></i> Delete</a></li>
          </ul>
          <button class="btn btn-small"
                  ng-class="{'btn-secondary': !$ctrl.shouldSelectAll()}"
                  ng-click="$ctrl.onToggleSelection()">
            <i ng-class="{'icon-plus': $ctrl.shouldSelectAll(),
                          'icon-cross': !$ctrl.shouldSelectAll()}"></i>
          </button>
        </div>
      </div>
  </div>
  <div class="sidebar-scrollable">
    <div class="list-group">
      <rf-scene-item
          ng-click="$ctrl.setSelected(scene, !$ctrl.isSelected(scene))"
          scene="scene"
          selectable
          selected="$ctrl.isSelected(scene)"
          on-select="$ctrl.setSelected(scene, selected)"
          class="selectable"
          ng-mouseover="$ctrl.setHoveredScene(scene)"
          ng-mouseleave="$ctrl.removeHoveredScene()"
          ng-repeat="scene in $ctrl.sceneList track by scene.id">
      </rf-scene-item>
    </div>
    <div class="list-group" ng-show="$ctrl.loading">
      <span class="list-placeholder">
        <i class="icon-load"></i>
      </span>
    </div>
    <div class="list-group" ng-show="$ctrl.errorMsg">
      <span class="list-placeholder">
        {{$ctrl.errorMsg}}
      </span>
    </div>
  </div>
</div>
