<label
    class="checkbox layer-checkbox list-item-{{ $ctrl.id }}"
    ng-class="{
              active: $ctrl.selected
              }"
    ng-disabled="$ctrl.disableSelection"
    ng-click="$ctrl.onSelectClick($event)"
>
    <input type="checkbox" ng-checked="$ctrl.selected" />
</label>
<style ng-if="$ctrl.colorValue">
 label.checkbox.list-item-{{$ctrl.id}}::after {
     border: 2px solid {{$ctrl.colorValue}};
 }
</style>
<style>
    label.checkbox.list-item-{{$ctrl.id}}::after {
        background-color: inherit !important;
    }
</style>
