<div class="list-group-item">
  <div class="list-group-overflow">
    <div class="list-group-left">
      <div><strong class="color-dark">{{$ctrl.datasource.name}}</strong></div>
      <div>
        <div class="visibility"
             ng-if="$ctrl.isOwner"
             ng-class="{'private': !$ctrl.isShared, 'sharing': $ctrl.isShared}">
          {{$ctrl.isShared ? 'Sharing' : 'Private'}}
        </div>
        <div class="visibility"
             ng-if="!$ctrl.isOwner"
             ng-class="{'global': $ctrl.isGlobal, 'shared': !$ctrl.isGlobal}">
          {{$ctrl.isGlobal ? 'global' : 'shared'}}
        </div>
        Modified on {{$ctrl.datasource.modifiedAt | date}}
      </div>
    </div>
  </div>
  <div class="list-group-right">
    <div class="btn-group">
      <a class="btn btn-small"
         ui-sref="imports.datasources.detail({ datasourceid: $ctrl.datasource.id })"
         ui-sref-opts="{inherit: false}"
         ng-if="!$ctrl.isSelectable">
         <span class="sr-only">View</span>
         <i class="icon-eye"></i>
      </a>
      <button
        type="button"
        class="btn btn-small btn-danger"
        ng-click="$ctrl.onOpenDatasourceDeleteModal()"
        ng-if="$ctrl.isOwner && !$ctrl.isShared"
        uib-tooltip="After today restriction">
        <span class="sr-only">Delete</span>
        <i class="icon-trash"></i>
      </button>
    </div>
  </div>
</div>
