<div class="list-group-item">
  <div class="list-group-overflow">
    <strong class="color-dark">{{$ctrl.datasource.name}}</strong><br>
    Modified on {{$ctrl.datasource.modifiedAt | date}}
  </div>
  <div class="list-group-right">
    <div class="btn-group">
      <a class="btn btn-small"
         ui-sref="imports.datasources.detail({ datasourceid: $ctrl.datasource.id })"
         ui-sref-opts="{inherit: false}"
         ng-if="!$ctrl.isSelectable">
        View
      </a>
    </div>
  </div>
</div>
