<div class="list-group" ng-if="$ctrl.loading">
  <span class="list-placeholder">
    <i class="icon-load"></i>
  </span>
</div>
<div class="list-group">
  <rf-scene-item
      scene="scene"
      ng-repeat="scene in $ctrl.sceneList track by scene.id">
    <div class="dropdown btn-group" uib-dropdown ng-if="$ctrl.sceneActions && $ctrl.sceneActions.length">
      <button class="btn" ng-click="$ctrl.onActionClick($ctrl.sceneActions[0])">
        {{$ctrl.sceneActions[0].label}}
      </button>
      <button type="button" class="btn" uib-dropdown-toggle ng-if="$ctrl.sceneActions.length > 1">
        <i class="icon-caret-down"></i>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu">
        <li role="menuitem"
            ng-class="{'divider': action.divider}"
            ng-repeat="action in $ctrl.sceneActions | limitTo: (1 - $ctrl.sceneActions.length)">
          <a href
             ng-click="$ctrl.onActionClick(action, scene)"
             ng-class="$ctrl.getActionTextClass(action)">
            <span ng-class="$ctrl.getActionIcon(action)"></span>
            {{action.label}}
          </a>
        </li>
      </ul>
    </div>
  </rf-scene-item>
</div>
<div class="list-group text-center"
     ng-if="$ctrl.shouldShowSceneList()">
  <ul uib-pagination
      items-per-page="$ctrl.lastSceneResult.pageSize"
      total-items="$ctrl.lastSceneResult.count"
      ng-model="$ctrl.currentPage"
      max-size="4"
      rotate="true"
      boundary-link-numbers="true"
      force-ellipses="true"
      ng-change="$ctrl.populateSceneList($ctrl.currentPage)">
  </ul>
</div>
<div ng-if="$ctrl.shouldShowImportBox()" class="list-group">
    <rf-call-to-action-item title="You haven't imported any scenes">
      <div class="cta-flex-text">
        Every scene that you import will be listed here. After you have imported one or more scenes,
        you can return to this page to view them.
      </div>
      <div class="cta-button-row">
        <a class="btn btn-primary" ng-click="$ctrl.importModal()">Import scenes</a>
      </div>
      <div class="cta-text">
        <a>Getting started with Imports</a>
      </div>
    </rf-call-to-action-item>
</div>
<div class="list-group" ng-if="$ctrl.errorMsg">
  <span class="list-placeholder">
    {{$ctrl.errorMsg}}
    <a href ng-click="$ctrl.populateSceneList(1)">Try again</a>
  </span>
</div>

