.app-connections-group {
  flex-wrap: wrap;
}
.app-connection-container {
  position: relative;
  border: 1px solid #dedede;
  box-shadow: 2px 3px 5px #ddd;
  border-radius: 3px;
  width: 15em;
  margin: .5em;
}

.app-connection-logo {
  align-items: center;
  padding: 1.5em 1.5em 0.75em 1.5em;
}

.app-connection-action {
  text-align: center;
  padding: 0.75em 1.5em 1.5em 1.5em;
}

.app-connection-info {
  position: absolute;
  top: 1em;
  right: 1em;
}

.button-spacer {
  margin-left: .75em;
}
