<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Publish Project - {{$ctrl.resolve.project.name}}
    </h4>
    <p>Publish or export your project</p>
  </div>
  <div class="modal-body">
    <div class="content" ng-show="$ctrl.resolve.shareUrl">
      <h4>Publishing</h4>
      <div class="form-group">
        <div>
          <a class="btn btn-primary"
             target="_blank"
             ui-sref="share({projectid: $ctrl.resolve.project.id})">
            Preview Your Published Project
          </a>
        </div>
      </div>
      <div class="form-group">
        <label>Published page URL</label>
        <div class="form-group all-in-one">
          <label for="tile-link" class="sr-only">URL</label>
          <input id="tile-link" type="text" class="form-control"
                  value="{{$ctrl.resolve.shareUrl}}" readonly>
          <button class="btn btn-link"
                  clipboard text="$ctrl.resolve.shareUrl">
            Copy
          </button>
        </div>
      </div>
      <div class="form-group">
        <label>Tile Visibility</label>
        <div class="form-group">
          <div class="btn-group inline">
            <button class="btn btn-primary"
                    ng-repeat="policy in $ctrl.sharePolicies"
                    ng-click="$ctrl.onPolicyChange(policy)"
                    ng-class="{'active': policy.active}"
                    ng-disabled="!policy.enabled">
              {{policy.label}}
            </button>
          </div>
        </div>
        <div class="panel">
          <div class="panel-body">
            {{$ctrl.activePolicy.description}}
            <div style="margin-top: 1em;" ng-if="$ctrl.activePolicy.token">
              <div class="form-group all-in-one">
                <input type="text" class="form-control" ng-model="$ctrl.newTokenName" placeholder="Token Name">
                <button class="btn btn-link"
                        ng-if="$ctrl.activePolicy.token"
                        type="button"
                        ng-click="$ctrl.createMapToken($ctrl.newTokenName)">
                  <i class="icon-plus"></i> Create
                </button>
              </div>
              <div class="list-group">
                <rf-token-item token="token"
                               on-delete="$ctrl.deleteToken(token)"
                               on-update="$ctrl.updateToken(token, name)"
                               ng-repeat="token in $ctrl.tokens track by token.id">
                </rf-token-item>
              </div>
              <div class="list-group" ng-show="$ctrl.loadingTokens">
                <span class="list-placeholder">
                  <i class="icon-load"></i>
                </span>
              </div>
              <div class="list-group"
                   ng-if="(!$ctrl.tokens || !$ctrl.tokens.length) && !$ctrl.loadingTokens">
                You have not generated any tokens.
              </div>
              <button class="btn btn-primary" type="button" ui-sref="settings.tokens.map">
                Manage All Tokens
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <h4>Exporting</h4>
      <div class="form-group">
        <label>XYZ resource link</label>
        <div class="form-group">
          <div class="btn-group inline">
            <button class="btn btn-primary"
                    ng-repeat="mapping in $ctrl.urlMappings"
                    ng-click="$ctrl.onUrlMappingChange(mapping)"
                    ng-class="{'active': mapping.active}">
              {{mapping.label}}
            </button>
          </div>
        </div>
        <div class="form-group all-in-one">
          <label for="tile-link" class="sr-only">URI Link</label>
          <input id="tile-link" type="text" class="form-control"
                  value="{{$ctrl.mappedTileUrl}}" readonly>
          <button clipboard text="$ctrl.mappedTileUrl" class="btn btn-link">
            Copy
          </button>
        </div>
      </div>
      <div class="form-group" ng-show="!$ctrl.resolve.noDownload">
        <label>Download an image of your project</label>
        <div>
          <a class="btn btn-primary" href="">
            Download .png
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn"
            ng-click="$ctrl.dismiss()">
      Done
    </button>
  </div>
</div>
