// @TODO: styles for publish modal

.modal-body .centered-text {
  padding: 1.5rem;
  display: flex;
  position: relative;
  justify-content: center;
}

.modal-body .form-group.centered {
  text-align: center;
}

.btn-group.inline {
  display: inline-flex !important;
}
