<div class="navbar light-navbar">
  <div class="navbar-section">
    <nav>
      <a ui-sref="project.layer.scenes"
         ng-class="{
                  active: ('project.layer.scenes' | includedByState) ||
                          ('project.layer.browse' | includedByState)
                  }"
      >Images</a>
    </nav>
    <nav>
      <a ui-sref="project.layer.annotations"
         ng-class="{
                  active: ('project.layer.annotations' | includedByState)
                  }"
      >Annotations</a>
    </nav>
    <nav>
      <a ui-sref="project.layer.colormode"
         ng-class="{
                  active: ('project.layer.colormode' | includedByState) ||
                          ('project.layer.corrections' | includedByState)
                  }"
      >Color options</a>
    </nav>
    <nav>
      <a ui-sref="project.layer.exports"
         ng-class="{
                  active: ('project.layer.exports' | includedByState)
                  }"
      >Exports</a>
    </nav>
  </div>
  <div class="navbar-section secondary">
    <nav>
      <a ui-sref="project.layer.aoi"
         ng-class="{
                  active: ('project.layer.aoi' | includedByState)
                  }">
        Area of interest</a>
    </nav>
    <nav class="nav-bar-dropdown-toggle">
      <div uib-dropdown class="display-ib">
        <button class="btn btn-text btn-transparent"
                uib-dropdown-toggle
        >
          <i class="icon-menu"></i>
          <span class="sr-only">More options</span>
        </button>
          <ul class="dropdown-menu dropdown-menu-light drop-left" uib-dropdown-menu role="menu">
            <li role="menuitem"
                ng-repeat="action in $ctrl.actions | filter: {menu: true}"
            >
              <a
                class="menu-item"
                ng-click="action.callback($event)"
                ng-if="action.name"
                ng-attr-title="{{action.title}}"
                ng-class="{'with-bottom-border': action.separator}"
              >
                {{action.name}}
              </a>
            </li>
          </ul>
      </div>
    </nav>
  </div>
</div>
