<div
    class="sidebar-actions-group with-padding"
    ng-if="!$ctrl.isCorrecting && !$ctrl.selections.size"
>
    <div>
        <button
            class="btn btn-tiny btn-transparent btn-no-left-margin"
            ng-click="$ctrl.toggleIsCorrecting(false)"
        >
            <i class="icon-caret-left"></i> Back
        </button>
    </div>
    <div class="flex-fill text-center">
        <strong>
            Select images to correct
        </strong>
    </div>
    <div>
        <button class="btn btn-tiny btn-transparent" ng-click="">
            Reset all
        </button>
    </div>
</div>

<rf-selected-actions-bar
    checked="$ctrl.selections.size === $ctrl.pagination.count"
    action-text="$ctrl.selections.size === $ctrl.pagination.count ? 'Clear selected' : 'Select all'"
    on-click="$ctrl.onToggleSelection()"
    ng-if="!$ctrl.isCorrecting && $ctrl.selections.size"
>
    <button
        class="btn btn-tiny btn-transparent"
        ng-click="$ctrl.toggleIsCorrecting(true)"
    >
        Color correct
    </button>
</rf-selected-actions-bar>

<div class="list-group" ng-if="!$ctrl.isCorrecting && !$ctrl.currentQuery">
    <div class="list-group-item" ng-if="$ctrl.fetchError">
        <strong class="color-danger">
            There was an error fetching scenes
        </strong>
        <button type="button" class="btn btn-secondary" ng-click="$ctrl.fetchPage()">
            Try again <i icon="icon-refresh"></i>
        </button>
    </div>
</div>

<div class="list-group" ng-if="!$ctrl.isCorrecting && $ctrl.currentQuery">
    <div class="list-group-item">
        <i
            class="icon-load animate-spin"
            ng-class="{'stop': !$ctrl.currentQuery}"
            ng-show="$ctrl.currentQuery"
        ></i>
        <strong class="color-dark">
            Loading scenes...
        </strong>
    </div>
</div>

<div
    class="list-group"
    ng-if="!$ctrl.isCorrecting &&
           $ctrl.sceneList &&
           $ctrl.sceneList.length === 0 &&
           !$ctrl.currentQuery &&
           !$ctrl.fetchError"
>
    <div class="list-group-item">
        <strong class="color-dark">
            This layer has no scenes in it
        </strong>
    </div>
</div>

<div class="sidebar-scrollable list-group" ng-if="!$ctrl.isCorrecting">
    <rf-project-scene-item
        ng-repeat="scene in $ctrl.sceneList track by $index"
        scene="scene"
        selected="$ctrl.selections.has(scene)"
        on-select="$ctrl.onSceneSelect(scene)"
        is-previewable="true"
    >
        <button
            class="btn btn-text btn-transparent"
            ng-repeat="action in $ctrl.sceneActions.get(scene.id) | filter: {menu: false}"
            ng-attr-title="{{ action.title }}"
            ng-click="action.callback()"
        >
            <i ng-attr-class="{{ action.icon }}"></i>
        </button>
        <button
            class="btn btn-text btn-transparent"
            uib-dropdown
            ng-show="($ctrl.sceneActions.get(scene.id) | filter: {menu: true}).length > 0"
            uib-dropdown-toggle
        >
            <i class="icon-menu"></i>
            <ul
                class="dropdown-menu dropdown-menu-light drop-left"
                uib-dropdown-menu
                role="menu"
            >
                <li
                    role="menuitem"
                    ng-repeat="action in $ctrl.sceneActions.get(scene.id) | filter: {menu: true}"
                >
                    <a
                        href
                        ng-click="action.callback()"
                        ng-show="action.name"
                        ng-attr-title="{{ action.title }}"
                    >
                        {{ action.name }}
                    </a>
                    <span class="menu-separator" ng-show="action.separator"></span>
                </li>
            </ul>
        </button>
    </rf-project-scene-item>
    <rf-pagination-controls
        pagination="$ctrl.pagination"
        is-loading="$ctrl.currentQuery"
        on-change="$ctrl.fetchPage(value)"
        ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
    ></rf-pagination-controls>
</div>
<div class="sidebar-actions-group with-padding" ng-if="$ctrl.isCorrecting">
    <div>
        <button
            class="btn btn-tiny btn-transparent btn-no-left-margin"
            ng-click="$ctrl.toggleIsCorrecting(false)"
        >
            <i class="icon-caret-left"></i> Back
        </button>
    </div>
    <div class="flex-fill text-center">
        <strong>
            Color correct
        </strong>
    </div>
    <div>
        <button class="btn btn-tiny btn-transparent" ng-click="">
            Reset
        </button>
    </div>
</div>

<div class="sidebar-scrollable with-padding" ng-if="$ctrl.isCorrecting">
    <div class="page-card slim cozy">
        <div class="input-group page-card-header">
            <label
                class="checkbox no-margin"
                ng-class="{
                active: $ctrl.checked
                }"
            >
                <input
                    type="checkbox"
                    ng-checked="$ctrl.checked"
                    ng-click="$ctrl.onClick()"
                />
            </label>
            <div class="font-600">Brightness and contrast</div>
        </div>
        <div class="indented">
            <div class="page-card-section">
                <div class="input-group">
                    <label>Threshold</label>
                    <span class="font-size-small">{{
                        $ctrl.correction.sigmoidalContrast.alpha
                    }}</span>
                </div>
                <br />
                <rzslider
                    class="light-light"
                    rz-slider-model="$ctrl.correction.sigmoidalContrast.alpha"
                    rz-slider-options="$ctrl.alphaOptions"
                ></rzslider>
            </div>
            <div class="page-card-section">
                <div class="input-group">
                    <label>Contrast</label>
                    <span>{{ $ctrl.correction.sigmoidalContrast.beta }}</span>
                </div>
                <br />
                <rzslider
                    class="light-light"
                    rz-slider-model="$ctrl.correction.sigmoidalContrast.beta"
                    rz-slider-options="$ctrl.betaOptions"
                ></rzslider>
            </div>
        </div>
    </div>
    <div class="page-card slim cozy">
        <div class="input-group">
            <label
                class="checkbox no-margin"
                ng-class="{
                active: $ctrl.checked
                }"
            >
                <input
                    type="checkbox"
                    ng-checked="$ctrl.checked"
                    ng-click="$ctrl.onClick()"
                />
            </label>
            <div class="font-600">Color balance</div>
        </div>
    </div>
    <div class="page-card slim cozy">
        <div class="input-group">
            <label
                class="checkbox no-margin"
                ng-class="{
            active: $ctrl.checked
            }"
            >
                <input
                    type="checkbox"
                    ng-checked="$ctrl.checked"
                    ng-click="$ctrl.onClick()"
                />
            </label>
            <div class="font-600">Saturation</div>
        </div>
    </div>
</div>
