<div class="page-content-container">
    <div class="page-header wide">
        <h3>Key metrics</h3>
    </div>
    <div class="page-card analysis-histogram-card text-center" ng-if="$ctrl.loadingAnalysis">
      <h3>Loading histograms and maps<i class="icon-load animate-spin"></i></h3>
    </div>
    <div class="page-card analysis-histogram-card text-center" ng-if="$ctrl.errorLoadingAnalysis">
      <h3 class="color-danger"><i class="icon-warning"></i>Failed to load histograms and maps. Please try again later.</h3>
    </div>
    <div class="page-card analysis-maps-card" ng-if="!$ctrl.loadingAnalysis">
      <div class="row">
        <div class="column-4 flex-display" ng-repeat="analysis in $ctrl.analyses track by analysis.trackId">
          <rf-analysis-map-item
              class="panel panel-off-white project-item"
              analysis-id="analysis.trackId"
              analysis-tile="analysis.analysisTile">
              <item-selector>
                <rf-list-item-selector
                    id="analysis.trackId"
                    selected="$ctrl.selected.has(analysis.trackId)"
                    color="$ctrl.layerColorHex[analysis.id]"
                ></rf-list-item-selector>
              </item-selector>
          </rf-analysis-map-item>
        </div>
      </div>
    </div>
    <div class="page-card analysis-histogram-card" ng-repeat="analysis in $ctrl.analyses track by analysis.trackId" ng-if="!$ctrl.loadingAnalysis">
      <div class="row">
        <div class="column-3 flex-display">
          <rf-list-item-selector
              id="analysis.trackId"
              color="$ctrl.layerColorHex[analysis.id]"
          ></rf-list-item-selector>
          <div class="list-group-overflow">
            <div class="text-overflow-ellipsis">
              <strong>{{$ctrl.analysesMap.get(analysis.trackId).name}}</strong>
            </div>
            <div class="text-overflow-ellipsis">
              {{$ctrl.analysesMap.get(analysis.trackId).modifiedAt | date: 'medium'}}
            </div>
          </div>
        </div>
        <div class="column-9 flex-display">
          <rf-data-viz-histogram
              id="analysis.trackId"
              histogram-promise="analysis.histogram"
              bounds-promise="$ctrl.histogramBounds"
          >
              <rf-histogram-bar
                  statistics="analysis.statistics"
                  bounds-promise="$ctrl.histogramBounds"
                  histogram-promise="analysis.histogram"
              >
              </rf-histogram-bar>
          </rf-data-viz-histogram>
        </div>
      </div>
      <div class="row">
        <div class="column-3 flex-display no-padding">
        </div>
        <div class="column-9 flex-display no-padding">
          <rf-data-viz-statistics statistics="analysis.statistics">
          </rf-data-viz-statistics>
        </div>
      </div>
    </div>
</div>
