<div class="plyr__video-embed" id="player" ng-if="$ctrl.videoUrl" ng-show="$ctrl.showVideo">
  <div class="plyr-custom-btns" ng-if="!$ctrl.isFullScreenMode">
    <i class="icon-cross" title="close" ng-click="$ctrl.onVideoClose($event)"></i>
    <i class="icon-caret-up" title="collapse" ng-click="$ctrl.onVideoCollapse()"></i>
  </div>
  <iframe
    ng-attr-src="{{$ctrl.videoUrl}}"
    frameborder="0"
    allow="encrypted-media"
    allowfullscreen
    allowtransparency></iframe>
</div>
<div class="navbar" ng-show="!$ctrl.loadError" ng-if="!$ctrl.$state.$current.name.includes('share')">
  <!-- Nav Left -->
  <div class="navbar-section primary">
    <a href ui-sref="home" class="brand">
      <img ng-attr-src="{{$ctrl.assetLogo}}" style="max-width: 50px;">
    </a>
    <span class="navbar-vertical-divider"></span>
    <nav>
      <a href
         ui-sref="home"
         ui-sref-active="active">
        <i class="icon-home"></i>
        <span ng-if="!$ctrl.hideLabels()">Home</span>
      </a>
      <a href
         ng-class="{'active': $ctrl.$state.includes('projects') }"
         ui-sref="projects.list">
        <i class="icon-project"></i>
        <span ng-if="
              !$ctrl.hideLabels() ||
              $ctrl.$state.includes('projects')">
              Projects</span>
      </a>
      <a href
         ng-class="{'active': $ctrl.$state.includes('imports') }"
         ui-sref="imports.rasters">
        <i class="icon-imports"></i>
        <span ng-if="!$ctrl.hideLabels()">Data</span>
      </a>
      <a href
         ui-sref="lab"
         ng-class="{active: $ctrl.$state.$current.name.includes('lab')}">
        <i class="icon-model"></i>
        <span ng-if="!$ctrl.hideLabels()">Lab</span>
      </a>
      <span ui-view="navmenu"></span>
    </nav>
  </div>

  <!-- Nav Right -->
  <div class="navbar-section secondary">
    <nav>
      <rf-navbar-search class="form-group all-in-one" ng-if="!$ctrl.$state.includes('projects.edit')"
                        ng-show="false">
      </rf-navbar-search>
      <div
        class="video-mini-logo"
        ng-click="$ctrl.onMiniVideoClick()"
        ng-mouseenter="$ctrl.onMiniVideoHover(true)"
        ng-mouseleave="$ctrl.onMiniVideoHover(false)"
        ng-if="$ctrl.showMini">
        <i class="icon-eye" ng-if="!$ctrl.isMiniVideoHover"></i>
        <i class="icon-extent" ng-if="$ctrl.isMiniVideoHover"></i>
        <i class="icon-cross" ng-if="$ctrl.isMiniVideoHover" ng-click="$ctrl.onVideoClose($event)"></i>
      </div>
      <div uib-dropdown class="dropdown-help" on-toggle="$ctrl.onHelpToggled()" ng-if="$ctrl.showHelpCenter">
        <a href uib-dropdown-toggle class="dropdown-help-link">
          <i class="help-center icon-help"></i>
          <span ng-if="$ctrl.isHelpOpened">Help center</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
          <li ng-repeat="doc in $ctrl.rootDocs"
              role="menuitem"
              class="dropdown-list-item"
              title="{{doc.name}}"
              ng-if="$ctrl.rootDocs.length">
            <a ng-if="doc.type.toUpperCase() === 'DOC'" ng-attr-href="{{doc.link}}" target="_blank" >
              <i class="icon-mosaic"></i>{{doc.name}}
            </a>
            <a ng-if="doc.type.toUpperCase() === 'VIDEO'" ng-click="$ctrl.onHelpVideoClicked(true, doc)">
              <i class="icon-eye"></i> {{doc.name}}
            </a>
          </li>
          <li role="separator" class="divider" ng-if="$ctrl.pageDocs.length"></li>
          <li ng-repeat="doc in $ctrl.pageDocs"
              role="menuitem"
              class="dropdown-list-item"
              title="{{doc.name}}"
              ng-if="$ctrl.pageDocs.length">
            <a ng-if="doc.type.toUpperCase() === 'DOC'" ng-attr-href="{{doc.link}}" target="_blank" >
              <i class="icon-mosaic"></i>{{doc.name}}
            </a>
            <a ng-if="doc.type.toUpperCase() === 'VIDEO'" ng-click="$ctrl.onHelpVideoClicked(false, doc)">
              <i class="icon-eye"></i> {{doc.name}}
            </a>
          </li>
        </ul>
      </div>
      <div ng-if="$ctrl.authService.isLoggedIn" uib-dropdown class="dropdown-my-account" on-toggle="toggled($ctrl.optionsOpen)">
        <a href uib-dropdown-toggle>
          <img ng-if="$ctrl.authService.getProfile().picture" class="avatar tiny" ng-src="{{$ctrl.authService.getProfile().picture}}">
          <div class="avatar image-placeholder" ng-if="$ctrl.authService.getProfile() && !$ctrl.authService.getProfile().picture"></div>
          <span class="username">{{$ctrl.authService.getProfile().nickname}}</span>
          <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
          <li>
            <a href ui-sref="user({userId: 'me'})">
              My Profile
            </a>
          </li>
          <li>
            <a href
               ui-sref="admin.platform({platformId: $ctrl.platformId})"
               ng-if="$ctrl.showAdmin">
              Platform Management
            </a>
          </li>
          <li>
            <a href ui-sref="user.organizations({userId: 'me'})">
              My Organizations
            </a>
          </li>
          <li>
            <a href ui-sref="user.teams({userId: 'me'})">
              My Teams
            </a>
          </li>
          <li>
            <a href ui-sref="user.settings({userId: 'me'})">
              Account Settings
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li><a href ng-click="$ctrl.logout()">
            Sign out
          </a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
