<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.azavea.rf.common"
            level="${COMMON_LOG_LEVEL:-INFO}"/>
    <logger name="com.azavea.rf.app"
            level="${APP_LOG_LEVEL:-INFO}"/>
    <logger name="com.azavea.rf.database"
            level="${DATABASE_LOG_LEVEL:-INFO}"/>
    <logger name="com.azavea.rf.tile"
            level="${TILER_LOG_LEVEL:-INFO}"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
