.avatar {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  border-radius: $border-radius-base;
  height: 25px;
  width: 25px;

  &.md {
    width: 100px;
    height: 100px;
  }
}

.avatar-upload {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
