.avatar {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  border-radius: $border-radius-base;
  object-fit: contain;
  object-position: center;
  height: 32px;
  width: 32px;

  &.tiny {
    width: 25px;
    height: 25px;
  }

  /* 
   * This is default sizing, but including a 
   * class alternative in case of weird override issues
   */
  &.sm {
    width: 32px;
    height: 32px;
  }

  &.md {
    width: 100px;
    height: 100px;
  }

  &.lg {
    width: 250px;
    height: 250px;
  }
}

.avatar-upload {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.user-avatar {
    margin-right: 0.5em;
}
