.badge {
  padding: 8px;
  border: 1px solid $border-color-default;
  border-radius: $border-radius-base;
  display: inline-block;

  >[class^=icon-] {
    font-size: 1.8rem;
  }
  &.selectable {
    cursor: pointer;
  }
}
