@mixin button-states($color, $textColor) {
  &:hover, &.hover,
  &:active, &.active {
    color: $textColor;
    background-color: darken($color, 5%);
    border-color: darken($color, 5%);
    z-index: 1;
  }

  &:active, &.active {
    box-shadow: inset 0 2px 2px 0px rgba(black, .2);
  }

  &:focus, &.focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($brand-primary, .3);
    z-index: 1;
  }

  // Note: <buttons> and <a> handle active+focus differently. This will normalize behaviour.
  &:focus:active {
    box-shadow: inset 0 2px 2px 0px rgba(black, .2);
  }

  &:disabled, &.disabled, &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }
}

@mixin ghost-button-states($color, $textColor) {
  &:hover, &.hover,
  &:active, &.active, {
    color: $textColor;
    background-color: rgba($color, .25);
    border-color: darken($color, 5%);
    z-index: 1;
  }

  &:active, &.active {
    box-shadow: inset 0 2px 2px 0px rgba(black, .2);
  }

  &:focus, &.focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($brand-primary, .3);
    z-index: 1;
  }

  // Note: <buttons> and <a> handle active+focus differently. This will normalize behaviour.
  &:focus:active {
    box-shadow: inset 0 2px 2px 0px rgba(black, .2);
  }

  &:disabled, &.disabled, &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }
}

.btn {
  position: relative;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  border: none;
  padding: .8rem 2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  border-radius: $border-radius-base;
  user-select: none;
  background: $off-white;
  border: 1px solid $border-color-default;
  color: $text-base;
  will-change: opacity, border;

  &:hover, &.hover,
  &:active, &.active, {
    background-color: darken($off-white, 5%);
    z-index: 1;
  }

  &:active, &.active {
    box-shadow: inset 0 2px 2px 0px rgba(black, .2);
  }

  &:focus, &.focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($brand-primary, .3);
    z-index: 1;
  }

  // Note: <buttons> and <a> handle active+focus differently. This will normalize behaviour.
  &:focus:active {
    box-shadow: inset 0 2px 2px 0px rgba(black, .2);
  }

  &:disabled, &.disabled, &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }
}

/*
 * Solid bg-color buttons
 */
.btn-default {
  background: $shade-normal;
  border-color: darken($shade-normal, 5%);
  color: #fff;

  @include button-states($shade-normal, $white);
}

.btn-light {
  background: $shade-light;
  border-color: darken($shade-light, 5%);
  color: #fff;

  @include button-states($shade-light, $white);
}

.btn-primary {
  background: $brand-primary;
  border-color: darken($brand-primary, 5%);
  color: #fff;

  @include button-states($brand-primary, $white);
}

.btn-secondary {
  background: $brand-secondary;
  border-color: darken($brand-secondary, 5%);
  color: #fff;

  @include button-states($brand-secondary, $white);
}

.btn-tertiary {
  background: $brand-tertiary;
  border-color: darken($brand-tertiary, 5%);
  color: #fff;

  @include button-states($brand-tertiary, $white);
}

.btn-warning {
  background: $warning;
  border-color: darken($warning, 5%);
  color: #fff;

  @include button-states($warning, $white);
}

.btn-danger {
  background: $danger;
  border-color: darken($danger, 5%);
  color: #fff;

  @include button-states($danger, $white);
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
}

/*
 * Ghost buttons, borders only
 */
.btn-ghost {
  background-color: transparent;

  @include ghost-button-states(transparent, $white);
}

.btn-ghost-white {
  background-color: transparent;
  color: #fff;
  border-color: #fff;

  @include ghost-button-states(#fff, #fff);
}

.btn-ghost-default {
  background-color: transparent;
  color: $shade-normal;
  border-color: $shade-normal;

  @include ghost-button-states($shade-normal, #fff);
}

.btn-ghost-danger {
  background-color: transparent;
  color: $danger;
  border-color: $danger;

  @include ghost-button-states($danger, $shade-normal);
}

/*
 * Button styled link a link
 */
.btn-link {
  border-color: transparent;
  color: $brand-primary;
  background-color: transparent;

  &:hover, &.hover,
  &:active, &.active, {
    background-color: transparent;
    border-color: transparent;
    color: darken($brand-primary, 10%);
  }
}

.btn-tag {
  background-color: $brand-primary;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 1px;
}


/*
 * Button Sizes
 */
.btn-text {
  font-size: 1em;
  padding: 0.3em 0.3em;
}

.btn-tiny {
  font-size: 1.2rem;
  padding: .7rem .5rem;
}

.btn-small {
  font-size: 1.3rem;
  padding: .8rem 1rem;
}

.btn-large {
  padding: 1.6rem 2rem;
}

.btn-square {
  width: 3.8rem;
  height: 3.8rem; // height of text input
  padding: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

/*
 * Button toggles
 */
.btn-toggle {
  background : $shade-dark;
  border-color: darken($shade-dark, 5%);
  color: $white;

  &:hover, &.hover,
  &:active {
    background-color: darken($shade-dark, 5%);
    border-color: darken($shade-dark, 5%);
  }

  &:active {
    box-shadow: inset 0 2px 2px 0px rgba(black, .2);
  }

  &:focus, &.focus {
    outline: none;
    box-shadow: 0 1px 2px -1px $brand-primary;
    z-index: 1;
  }

  // Note: <buttons> and <a> handle active+focus differently. This will normalize behaviour.
  &:focus:active {
    box-shadow: inset 0 2px 2px 0px rgba(black, .2);
  }

  &:disabled, &.disabled, &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }

  &.active {
    background: $brand-primary;
    border-color: darken($brand-primary, 5%);
    color: #fff;
    box-shadow: none;

    &:hover, &.hover,
    &:active {
      background-color: darken($brand-primary, 5%);
      border-color: darken($brand-primary, 5%);
    }

    &:active {
      box-shadow: inset 0 2px 2px 0px rgba(black, .2);
    }
  }
}


/*
 * Button groups
 */
.btn-group {
  display: flex !important;
  &.no-grow {
      display: block !important;
  }


  .btn {
    margin: 0 !important;
    flex-grow: 1;

    // FIX ISSUE WHERE ONLY ONE BUTTON HAS MESSED UP RADIUS
    &:not(:last-child):not(.dropdown-toggle) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
      border-radius: 0;
    }
  }


  .btn ~ .btn {
    margin-left: -1px !important;
  }

  .dropdown-label {
    text-align: left;
    font-weight: normal;
  }

  // changes padding on toggle for dropdown btn-groups
  .dropdown-toggle {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn-group-danger-delete {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .btn-group-danger-delete-disabled {
    z-index: -1;
  }
}

.btn-dropdown-transitional {
  text-align: left;
  position: relative;
  padding-left: 8px;
  width: 100%;

  .icon-caret-down {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
  }
}

/*
Copy button on project share modal
*/
.btn-icon {
  font-size: 1.8rem;
}

.btn-nowrap {
  white-space: nowrap;
}
