//
// Dropdown menus
// --------------------------------------------------

// The dropdown wrapper (div)
.dropup,
.dropdown {
  position: relative;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

// The dropdown menu (ul)
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1050;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: calc(100% - 2rem);
  padding: 10px;
  margin: 0; // override default ul
  margin-top: -2px;
  list-style: none;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $shade-dark;
  border-radius: 0 0 $border-radius-base $border-radius-base;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
  background-clip: padding-box;

  // Dividers (basically an hr) within the dropdown
  .divider {
    height: 1px;
    margin: 10px 0;
    overflow: hidden;
    background-color: $shade-normal;
  }

  // Links within the dropdown menu
  > li > a {
    display: block;
    padding: .5rem 1rem;
    clear: both;
    color: $shade-light;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
  }
}

// The dropdown menu (ul) light color theme
.dropdown-menu.dropdown-menu-light {
  background-color: white;
  border: 1px solid $shade-light;

  // Dividers (basically an hr) within the dropdown
  .divider {
    background-color: $shade-light;
  }
}

// Hover/Focus state
.dropdown-menu.dropdown-menu-light > li > a {
  &:hover {
    text-decoration: none;
    color: #fff;
    background: $brand-primary;
    &.color-danger {
      color: #fff !important;
      background: $danger;
    }
  }
}

// Active state
.dropdown-menu.dropdown-menu-light > .active > a {
  &,
  &:hover,
  &:focus {
    color: $brand-primary;
    text-decoration: none;
    outline: 0;
  }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    opacity: .6;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; // Remove CSS gradient
    cursor: not-allowed;
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Menu positioning
//
// Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
// menu with the parent.
.dropdown-menu-right {
  left: auto; // Reset the default from `.dropdown-menu`
  right: 0;
}
// With v3, we enabled auto-flipping if you have a dropdown within a right
// aligned nav component. To enable the undoing of that, we provide an override
// to restore the default dropdown menu alignment.
//
// This is only for left-aligning a dropdown menu within a `.navbar-right` or
// `.pull-right` nav component.
.dropdown-menu-left {
  left: 0;
  right: auto;
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1049;
}

// Right aligned dropdowns
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

// Component alignment
//
// Reiterate per navbar.less and the modified component alignment there.

@media (min-width: 768px) {
  .navbar-right {
    .dropdown-menu {
      right: 1rem; left: auto;
    }
    // Necessary for overrides of the default right aligned menu.
    // Will remove come v4 in all likelihood.
    .dropdown-menu-left {
      left: 0; right: auto;
    }
  }

  .navbar-left {
    .dropdown-menu {
      right: auto; left: 1rem;
    }
  }

  // @TODO: this may need to be removed
  // Added to handle non-float navbar
  .navbar-section .dropdown-menu {
    right: auto; left: 1rem;
  }
}

/*
 * sidebar-dropdown which is generally seen in color correction UI
 */
.sidebar-dropdown {
  .dropdown-toggle {
    min-width: 100px;
    text-align: left;

    i {
      float: right;
    }
  }

  .dropdown-menu {
    margin: -1px 0;
    border-radius: 0 0 $border-radius-base $border-radius-base;
    padding: 5px 0;

    li a {
      margin: 0;
      padding: 5px 10px;
      font-size: 13px;
      font-weight: 400;

      &.active {
        background-color: $brand-primary;
        color: #fff;
      }

    }
  }
}
