.filter {
  font-size: 1.2rem;
  position: relative;
  
  label {
    color: $white;
    font-size: 1.2rem;
    flex-shrink: 0;
  }

  .form-control {
    font-size: inherit;
  }

  .checkbox,
  .checkbox:not(.active) {
    color: $white;
    
    &:before {
      color: $text-base;
    }
  }

  .selectize-input {
    border: 1px solid $shade-dark;
    background-color: $shade-dark;
    color: $white;
  }

  .dropdown-menu {
    background: $white;

    > li > a,
    .active > a {
      color: $shade-normal;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $brand-primary;
      }
    }
  }
}

.filter-item {
  display: block;
}

.month-filter {
  display: flex;
  flex-wrap: wrap;

  .btn {
    flex-basis: 24%;
    margin: .5%;
  }
}

.tag-filter {

  .btn {
    margin: .5%;
  }
}

.aoi-shape-filter {
    width: 100%;
    .filter {
        justify-content: space-between;
        label {
            font-weight: 700;
            color: $text-base;
            font-size: 1.4rem;
        }
    }
    .shapefilter-container {
        width: 20rem;
    }
    .shapefilter-box {
        background: $white;
        color: $text-base;
        border: 1px solid $border-color-default;
    }
    .shapefilter-text {
        color: $text-base;
    }
    .shapefilter-dropdown {
        border: 1px solid $border-color-default;
    }
}
