// TODO: Matt look at all .input-dark

form {
  margin-bottom: 1rem;
  position: relative;
}

.form-group {
  margin-bottom: 2rem;

  &.input-dark {
    border-color: $shade-dark;
    background-color: $shade-dark;

    &:focus {
      border-color: $shade-normal;
      outline: 0;
      box-shadow: 0 0 8px rgba($shade-normal, .5);
    }

    .close {
      color: $shade-light;
    }
    .btn:focus {
      box-shadow: 0 0 8px rgba($brand-primary, .5);
    }
  }
}

label {
  font-weight: 600;
  max-width: 100%;
  margin-bottom: 5px;
  display: inline-block;
  color: $text-base;
}

.form-control {
  display: block;
  width: 100%;
  height: 4.8rem;
  padding: 6px 12px;
  font-size: 1.4rem;
  color: $text-base;
  font-weight: 600;
  background-color: #fff;
  background-image: none;
  border: 1px solid $border-color-default;
  border-radisu: $border-radius-base;

  &:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: 0 0 8px rgba($brand-primary, .5);
  }

  &.input-dark {
    border-color: $shade-dark;
    background-color: $shade-dark;

    &:focus {
      border-color: $shade-normal;
      outline: 0;
      box-shadow: 0 0 8px rgba($shade-normal, .5);
    }
  }
  // Placeholders
  &::-moz-placeholder {
    color: $shade-light;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $shade-light;
  }
  &::-webkit-input-placeholder {
    color: $shade-light;
  }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  // Disabled and read-only inputs
  &[disabled],
  &[readonly] {
    background-color: $off-white;
    opacity: 1;
  }

  &[disabled] {
    cursor: not-allowed;
  }

}

textarea.form-control {
  height: auto;
}

input[type=checkbox],
input[type=radio] {
  margin-right: 10px;
}

.manual-file-chooser {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  padding: 0;
  cursor: pointer;
  opacity: 0.0001;
}

.help-block {
  display: block;
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 0;
  color: lighten($text-base, 10%);
}

/**
 * Special form group with an icon label, .form-control,
 * and submit button all on one line
**/
.form-group.all-in-one {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radisu: $border-radius-base;
  border: 1px solid $border-color-default;
  background-color: #fff;

  label:not(.sr-only) {
    position: relative;
    margin: 0;
    line-height: 4.8rem;;
    padding: 0 1rem 0 1.5rem;
  }

  .form-control {
    border: none;
    border-radius: 0;
  }

  .btn {
    border: none;
    border-left: 1px solid $border-color-default;
    border-radius: 0;
    flex: none; // safari fix width issue
  }

  &.input-dark {
    border-color: $shade-dark;
    background-color: $shade-dark;

    .btn {
      border-left-color: $shade-dark;
    }
  }
}

.form-group.all-in-one.stacked {
  flex-direction: column;
}
