.gradient-bar {
  height: 2rem;
  display: block;
  align-self: center;
  flex: 1;
  border: 1px solid #434958;
  border-radius: 2px;
}

.gradient-container {
  border: 2px solid rgba(0,0,0,0);
  border-radius: 2px;
  flex: 1;
  padding: 1px;
  &.selected {
    border: 2px solid $brand-primary;
  }
}
