.center-img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.rounded-img {
  border-radius: $border-radius-base;
}

.circle-img {
  border-radius: 50%;
}

.detail-img {
  height: 275px;
  width: 275px;
  border: 1px solid $border-color-default;
}

.item-img-container {
    width: 75px;
    height: 75px;
    border: 1px solid $border-color-default;
    display: flex;
    justify-content: center;

    &.previewable {
        cursor: zoom-in;

        &:hover:before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            content: "Details";

            color: $white;
            background: $brand-primary;

            padding: 0.5em;
            border-radius: 3px;
        }
    }
}

.item-img {
  max-height: 75px;
  max-width: 75px;
  width: auto;
  height: auto;
}
