.instructions-container {
  border: 1px solid $border-color-default;
  border-radius: $border-radius-base;
  margin: 1rem;
  padding: 2.5rem;
  text-align: center;

  p {
    margin-bottom: 5px;
  }
}