.list-group {
  &.load-message {
    text-align: center;
    font-size: 1.25em;
    padding: .5em 0 .5em 0;
  }
}

.list-placeholder {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  opacity: .5;

  .icon-load {
    animation: 2s linear 0s normal none infinite spin;
  }
}

.selectable {
  .list-group-item {
    cursor: pointer;
  }
}


.list-item-header {
  color: $shade-dark;
  font-weight: bold;
}

.list-item-description {
}

.list-item-attribution {
  color: $shade-light;
  font-weight: bold;
}


/*
 * Status: deprecated
 * Currently only used on download modal
*/
.list-group-subitem {
  padding: 1.5rem;
  margin: 0 0 0 3rem;
  display: flex;
  align-items: center;
  border-left: 1px solid $border-color-default;
  border-right: 1px solid $border-color-default;
  border-bottom: 1px solid $border-color-default;
  > * {
    margin: 0 5px;
  }
  p {
    margin: 0;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  &.selectable {
    cursor: pointer;
  }
  &.download {
    margin: 0 0 0 6em;
  }
}

.list-group-item {
  padding: 1rem;
  border-bottom: 1px solid $border-color-default;
  display: flex;
  align-items: center;
  position: relative;

  & > :not(:first-child) {
    margin-left: 1rem;
  }

  p {
    margin: 0;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .list-group-right {
    display: flex;
    margin-left: auto;
    text-align: right;

    > * {
      vertical-align: middle;
    }
  }

  .list-group-left {
    display: flex;
    flex-direction: column;
  }

  .list-group-link {
    flex: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.wrap {
    align-items: flex-start;
  }

  &.selectable {
    cursor: pointer;
  }

  &.active {
    background-color: $off-white;
  }

  &.no-border {
    border: none;
  }
}


.list-group-item-row {
  display: flex;
  flex: 1;

  ~ .list-group-item-row {
    margin-top: 5px;
  }
}

// List group item with stacked children
// Child elements will list out into rows instead of columns
.list-group-item.list-group-item-stacked {
  flex-direction: column;
  align-items: flex-start;

  > * {
    flex: none;
    flex-basis: auto; // ie11 fix, use auto instead of 100%
    align-self: stretch;
  }
}

.list-group-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal !important;
  padding-right: 1rem;

  p, span {
    display: inline;
  }

  @include respond-to('sm-up') {
    //max-width: 275px;
  }
}

.angular-ui-tree-placeholder {
    background: lighten($brand-tertiary, 35%);
    border: 2px dashed $brand-tertiary;
    width: 40rem;
    position: relative;
}

rf-scene-item {
    display: block;
}
