.login-block {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba($gray, .9);
  width: 90%;
  max-width: 330px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px 0 rgba(black, .35);

  img {
    max-height: 70px;
    display: block;
    margin: 20px auto 50px;
  }

  .form-action {
    margin-top: 60px;
    text-align: center;
  }

  .form-control {
    background: $gray-dark;
    border-color: $gray-darker;
    color: $white;

    &:focus, &:hover {
      background: $gray-darker;
      border-color: $gray-darker;
    }
  }

  .form-group {
    margin-bottom: 30px;
  }
}

#auth0-lock-container-1,
#auth0-lock-container-2,
#auth0-lock-container-3 {
  .auth0-lock-header-logo {
    margin: 18px 0px 11px;
  }
  .auth0-lock-widget {
    box-shadow: 0 0 40px -5px #111118;
  }
  .auth0-lock.auth0-lock {
    .auth0-lock-name {
      display: none;
    }
    .auth0-lock-overlay {
      .auth0-lock-badge-bottom {
        display: none;
      }
    }
  }
  .auth0-lock-widget-container {
    .auth0-lock-header-bg {
      background: $gray-dark;
      color: $white;
      .auth0-lock-header-bg-blur {
        display: none;
      }
    }
    .a0-email {
      .a0-input-box {
        border-color: $gray-darker;
        background-color: $gray-dark;
        .a0-icon-budicon-5 {
          color: $white
        }
      }
      input {
        background-color: $gray-dark;
        border-color: $gray-darker;
        color: $white;

        &:focus, &:hover {
            background: $gray-darker;
        }
      }
    }
    .a0-password {
      .a0-input-box {
        border-color: $gray-darker;
        background-color: $gray-dark;
        .a0-icon-budicon {
          color: $white
        }
      }
      input {
        background-color: $gray-dark;
        border-color: $gray-darker;
        color: $white;

        &:focus, &:hover {
            background: $gray-darker;
        }
      }
    }
    .a0-mode {
      form {
        .a0-body-content {
          background: $gray-dark;
          border-radius: 0 0 0 0;
        }
      }
    }
    .a0-instructions,
    .a0-switch span,
    .a0-forgot-pass,
    .a0-separator,
    .a0-all,
    .a0-last-time {
      color: $white
    }
    .a0-footer {
      display: none;
    }
  }
}
