.map {
  height: 100%;
  z-index: 1;
}

// @TODO: Determine if this breaks something
.leaflet-tile-container {
  pointer-events: auto;
}

.leaflet-tile{
    pointer-events: auto;
}

.leaflet-top.leaflet-right .map-control-panel {
  margin: 0;
  background: $shade-dark;
  padding: 1rem;
  min-width: 13rem;

  .leaflet-control-zoom {
    margin: 0 0 1rem;
    float: right;
    display: inline-block;
    box-shadow: none;
    border-radius: 0;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .btn {
    display: inline-block;
    background: $shade-normal;
    border: 1px solid $shade-dark !important;
    color: $shade-light;
    border-radius: $border-radius-base !important;
    vertical-align: middle;
    line-height: 1.1;
    height: 25px;
    width: 25px;
    padding: 0;

    &:hover {
      display: inline-block;
      background: $shade-normal;
      border: 1px solid $shade-dark !important;
      color: #fff;
      border-radius: $border-radius-base !important;
      vertical-align: middle;
      line-height: 1.1;
      height: 25px;
      width: 25px;
    }
  }

  .btn-block {
    display: block !important;
    width: 100%;

    &:hover {
      width: 100%;
    }
  }

  hr {
    border-top-color: $shade-normal;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

/* Preview maps displayed on pages such as library, my scenes */
.map-preview-container {
  width: 100%;
  height: 250px;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* 
 * safari fix for map not displaying
 */
.main > rf-map-container {
  position: relative;
  display: flex;
  flex: 1;

  .leaflet-container {
    display: flex;
    flex: 1;
    height: auto;
    min-height: 100%;
  }
}
