nav {

  a {
    display: block;
    color: $shade-light;
    padding: .8rem 0;
    font-weight: 600;
  }

  .sidebar & {

    a {
      padding: 1.5rem 0;

      &:hover {
        color: $brand-secondary;
      }

      &.active {
        color: $brand-secondary;
      }
    }
  }

  .form-group {
    margin: 0.5rem 0.5rem 0.5rem 2rem;
  }
}
