$pagination-font-size:          14px !default;
$pagination-line-height-base:        1.428571429 !default; // 20/14
$pagination-line-height-computed:    floor(($pagination-font-size * $pagination-line-height-base)) !default; // ~20px

$pagination-border-radius-base:        4px !default;

$pagination-padding-base-vertical:     6px !default;
$pagination-padding-base-horizontal:   12px !default;

$pagination-bg: $white;
$pagination-hover-bg: $white;
$pagination-color: $gray-lighter;
$pagination-hover-color: $brand-secondary;
$pagination-border: $gray-lighter;
$pagination-hover-border: $brand-secondary;
$pagination-active-color: $white;
$pagination-active-bg: $brand-secondary;
$pagination-active-border: $brand-secondary;
$pagination-disabled-color: $gray-lightest;
$pagination-disabled-bg: $white;
$pagination-disabled-border: $gray-lightest;
$cursor-disabled: default;

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: $pagination-line-height-computed 0;
  border-radius: $pagination-border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: $pagination-padding-base-vertical $pagination-padding-base-horizontal;
      line-height: $pagination-line-height-base;
      text-decoration: none;
      color: $pagination-color;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        @include border-left-radius($pagination-border-radius-base);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-right-radius($pagination-border-radius-base);
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      z-index: 2;
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $pagination-disabled-color;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
      cursor: $cursor-disabled;
    }
  }
}
