.panel {
  border: 1px solid #ccc;
  border-radius: $border-radius-base;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;

  &.panel-warning {
    border-color: $warning;
  }

  &.panel-danger {
    border-color: $danger;
  }

  &.panel-off-white {
    border: none;
    background-color: rgba($shade-light, .1);
  }
}

.panel-body {
  padding: 2rem;

  .row {
    margin-bottom: 0;
  }

  .btn {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

.panel-title {
  @extend .font-base;
  font-size: 1.6rem;
  margin: 0;
}