.panel {
  border: 1px solid #ccc;
  border-radius: 2px;

  .panel-body {
    padding: 2rem;
    &.centered {
      text-align: center;
    }
    h5 {
      margin: 0 0 1rem 0;
      color: $shade-light;
    }
  }
}

.panel-warning {
  border-color: $warning;
}

.panel-danger {
  border-color: $danger;
}
