.panel {
  border: 1px solid #ccc;
  border-radius: 2px;
  display: block;
  width: 100%;

  &.panel-warning {
    border-color: $warning;
  }

  &.panel-danger {
    border-color: $danger;
  }

  &.panel-off-white {
    border: none;
    background-color: rgba($shade-light, .1);
  }
}

.panel-body {
  padding: 2rem;

  .btn {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}