.shapefilter-container {
    width: 100%;
    display: flex;
    position: relative;
}

.shapefilter-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 8px;
    background: $shade-dark;
    flex-direction: row;
    border-radius: $border-radius-base;
    cursor: pointer;
}

.shapefilter-button-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.shapefilter-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shapefilter-input-actions {
    display: flex;
    flex-direction: row;
    flex: 0;
}

.shapefilter-dropdown {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25em;
    min-width: 23.2em;
    width: 100%;
    transform: translateY(100%);
    z-index: 100;
    background: $white;
    color: $text-base;
    border-radius: $border-radius-base;
    border: 1px solid $border-color-default;
    display: flex;
    flex-direction: column;
}

.shapefilter-dropdown-content {
    flex: 1;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5em;
}

.shapefilter-search {
    padding: 0.5em;

    .search-form {
        margin-bottom: 0;

        .btn-link {
            padding: 0.8em;
        }
    }
}

.shapefilter-actions {
    padding: .5em;
    display: flex;
    justify-content: space-around;
}

.shapefilter-option {
    padding: 0.5em;
    cursor: pointer;

    &:hover {
        background: lighten($shade-light, 30%);
    }
}
