.m-0 {
  margin: 0;
}

.mt-25 {
  margin-top: 2.5rem;
}

.mb-25 {
  margin-bottom: 2.5rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mt-100 {
  margin-top: 10rem;
}

.mb-100 {
  margin-bottom: 10rem;
}

.p-0 {
  padding: 0;
}

.pt-25 {
  padding-top: 2.5rem;
}

.pb-25 {
  padding-bottom: 2.5rem;
}

.pt-50 {
  padding-top: 5rem;
}

.pb-50 {
  padding-bottom: 5rem;
}

.pt-100 {
  padding-top: 10rem;
}

.pb-100 {
  padding-bottom: 10rem;
}