.inline-tag {
  position: absolute;
  top: 2.5rem;
  transform: translateY(-50%);
  left: -1rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.1;
  white-space: nowrap;
  text-indent: -30rem;
  color: transparent;
  padding: 4px 10px;
  vertical-align: middle;
  min-width: 2.1rem;
  height: 2.1rem;
  border-radius: 1rem;
  transition: text-indent .5s cubic-bezier(0.42, 0, 0.15, 1.24), color .6s ease-in-out, box-shadow .3s ease-in-out;
  z-index: 100;
  overflow: hidden;
  cursor: default;
  box-shadow: 0 0 0 3px rgba(#fff, 1);

  &:hover {
    color: $shade-dark;
    text-indent: 0;
  }

  // for tags within a sidebar
  .sidebar & {
    left: 1rem;
    top: 2rem;
  }
}

.grey-tag {
  background: $shade-light;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.yellow-tag {
  background: $yellow;
}

.green-tag {
  background: $green;
}

.red-tag {
  background: $red;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.inline-tag.aoi-tag {
  color: $brand-secondary;
  border: 1px solid $brand-secondary;
  text-transform: uppercase;
  position: relative;
  left: inherit;
  top: inherit;
  transform: none;
  text-indent: 0;
  box-shadow: none;
  line-height: 1;
  font-size: 10px;
  font-weight: 700;
  height: auto;
  width: auto;
}
