<div class="scene-detail-modal-body">
  <div class="content-row">
    <div class="scene-metadata text-left">
      <div class="scene-metadata-fixed">
        <button type="button" class="close" aria-label="Close" ng-click="$ctrl.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
        <dl>
          <input type="text" class="form-control"
                 ng-attr-title="{{$ctrl.scene.name}}" ng-model="$ctrl.scene.name" readonly>
        </dl>
      </div>
      <div class="scene-metadata-scrollable">
        <dl>
          <button class="btn btn-default"
                  ng-click="$ctrl.startEditing()"
                  ng-if="!$ctrl.editingMetadata && $ctrl.isOwner">
            Edit metadata
          </button>
          <button class="btn btn-light"
                  ng-click="$ctrl.cancelEditing()"
                  ng-if="$ctrl.editingMetadata">
            Cancel
          </button>
          <button class="btn btn-default"
                  ng-click="$ctrl.finishEditing()"
                  ng-if="$ctrl.editingMetadata">
            Save changes
          </button>
        </dl>
        <h5 class="color-dark">Scene properties</h5>
        <dl class="meta-list" ng-if="!$ctrl.editingMetadata && $ctrl.isUploadDone">
          <dt>
            Datasource:
          </dt>
          <dd>
            {{$ctrl.datasource ? $ctrl.datasource.name : 'Loading datasource'}}
          </dd>
          <dt ng-repeat-start="(field, value) in $ctrl.scene.filterFields">
            {{field}}
          </dt>
          <dd ng-repeat-end>{{field !== 'acquisitionDate' ? value : $ctrl.accDateDisplay}}</dd>
          <dt ng-if-start="$ctrl.scene.createdAt">Created Date</dt>
          <dd ng-if-end>{{$ctrl.scene.createdAt | date}}</dd>
          <dt ng-if-start="$ctrl.scene.modifiedAt">Modified Date</dt>
          <dd ng-if-end>{{$ctrl.scene.modifiedAt | date}}</dd>
          <dt ng-if-start="$ctrl.scene.datasource">Datasource</dt>
          <dd ng-if-end>{{$ctrl.scene.datasource.name}}</dd>
          <dt>Visibility</dt>
          <dd>{{$ctrl.scene.visibility}}</dd>
          <dt ng-repeat-start="(field, value) in $ctrl.scene.statusFields">
            {{field}}
          </dt>
          <dd ng-repeat-end>{{value}}</dd>
        </dl>
        <dl class="meta-list" ng-if="$ctrl.editingMetadata">
          <dt>Datasource</dt>
          <dd>
            <ui-select ng-model="$ctrl.selectedDatasource"
                       theme="selectize"
                       title="All datasources"
                       on-select="$ctrl.selectDatasource($item, $model)">
              <ui-select-match
                  placeholder="Search datasources"
                  allow-clear="true">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices
                  repeat="source in $ctrl.sources | filter: $select.search"
              >
                {{source.label || source.name || source.id}}
              </ui-select-choices>
            </ui-select>
          </dd>
          <dt ng-repeat-start="(field, value) in $ctrl.scene.filterFields">
            {{field}}
          </dt>
          <dd ng-repeat-end>
            <input type="number"
                   ng-model="$ctrl.newFilterFields[field]"
                   ng-init="$ctrl.newFilterFields[field] = value"
                   class="form-control scene-detail-field"
                   placeholder="{{field}}"
                   ng-if="field !== 'acquisitionDate'"
                   ng-change="$ctrl.onFilterValChange(field)">
            <div class="dropdown btn-group fixedwidth acc-date-field"
                 ng-click="$ctrl.openDatePickerModal(value)"
                 ng-if="field === 'acquisitionDate'">
              <a class="btn dropdown-label acc-date-label">
                {{$ctrl.accDateDisplay}}
              </a>
              <button type="button" class="btn btn-light dropdown-toggle acc-date-toggle">
                <i class="icon-calendar"></i>
              </button>
            </div>
          </dd>
        </dl>
        <h5 class="color-dark">Scene metadata</h5>
        <dl class="meta-list"  ng-if="!$ctrl.editingMetadata && $ctrl.isUploadDone">
          <dt ng-repeat-start="(metaKey, metaVal) in $ctrl.scene.sceneMetadata">
            {{metaKey}}
          </dt>
          <dd ng-repeat-end>{{metaVal}}</dd>
        </dl>
        <dl class="meta-list"  ng-if="$ctrl.editingMetadata">
          <dt ng-repeat-start="(metaKey, metaVal) in $ctrl.scene.sceneMetadata">
            {{metaKey}}
          </dt>
          <dd ng-repeat-end>
            <input type="text"
                   ng-model="$ctrl.newSceneMetadata[metaKey]"
                   ng-init="$ctrl.newSceneMetadata[metaKey] = metaVal"
                   class="form-control scene-detail-field"
                   placeholder="{{field}}">
          </dd>
        </dl>
      </div>
    </div>
    <div class="scene-preview-container" ng-class="{'image-preview': !$ctrl.repository.service.previewOnMap && $ctrl.thumbnail}">
      <rf-map-container map-id="scene-preview-map" ng-if="$ctrl.repository.service.previewOnMap">
      </rf-map-container>
      <img ng-if="!$ctrl.repository.service.previewOnMap && $ctrl.thumbnail"
           ng-src="{{$ctrl.thumbnail}}">
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn pull-left"
            ng-click="$ctrl.closeWithData(1)">
      Close
    </button>
    <button type="button" class="btn btn-default pull-right"
            ng-click="$ctrl.openDownloadModal()">
      <i class="icon-download"></i> Download
    </button>
  </div>
</div>
