.feature-flags-desc {
  border-bottom: 1px dashed black;
  padding: 0.5em;
}
.feature-flags-name {
  font-weight: bold;
  border-bottom: 1px dashed black;
  padding: 0.5em;
}
.feature-flags-flag {
  border: 1px solid black;
}
.feature-flags-actions {
  padding: 0.5em;
}
