<!-- Once we enable ng-click, 
     for viewing template detail 
     page, we should remove the <a> -->
<a class="TEMP-analysis-link"
   ui-sref="lab.template({
    templateid: $ctrl.templateData.id, template: $ctrl.templateData
  })">
<h5 class="analysis-title">{{$ctrl.templateData.title}}</h5>
<small class="analysis-author">Created by: {{$ctrl.BUILDCONFIG.APP_NAME}}</small>
<div class="analysis-preview">
  <img ng-if="$ctrl.templateData.screenshots[0]"
   ng-src="{{$ctrl.templateData.screenshots[0].url}}">
  <div ng-if="!$ctrl.templateData.screenshots.length"
       class="image-placeholder">
  </div>
</div>
<p class="analysis-description">
  {{$ctrl.templateData.description}}
</p>
</a>
