<div class="panel-body">
  <div class="row">
    <div class="column noflex">
      <img ng-if="$ctrl.templateData.screenshots[0]"
       ng-src="{{$ctrl.templateData.screenshots[0].url}}"
       class="rounded-img item-img">
      <div ng-if="!$ctrl.templateData.screenshots.length"
           class="rounded-img item-img image-placeholder"
           style="height: 75px; width: 75px;">
      </div><br>
      <!-- Temporarily add execute btn until detail page designed -->
      <a ui-sref="lab.startAnalysis({
                    templateid: $ctrl.templateData.id, template: $ctrl.templateData
                  })"
         class="btn btn-primary btn-tiny btn-block">
        Use Template
      </a>
    </div>
    <div class="column">
      <h4 class="panel-title">{{$ctrl.templateData.title}}</h4>
      <p>{{$ctrl.templateData.description}}</p>
      <strong>Created by: {{$ctrl.BUILDCONFIG.APP_NAME}}</strong>
    </div>
  </div>
</div>
