api/target/*
authentication/target/*
batch/target/*
common/target/*
database/target/*
datamodel/target/*
ingest/target/*
migrations/target/*
project/target/*
target/*
tile/target/*
tool/target/*
backsplash/target/*
.idea/*
