<div class="graph" ng-if="(!$ctrl.histogram || $ctrl.histogram.buckets.length > 1) && !$ctrl.error">
    <rf-quick-edit-histogram
        data-plot="$ctrl.plot"
        data-metadata="$ctrl.metadata"
        data-ranges="$ctrl.ranges"
        on-change="$ctrl.onMetadataChange(metadata)"
    ></rf-quick-edit-histogram>
    <div class="graph-loading" ng-if="$ctrl.loading">
        <div class="icon-load animate-spin" ng-class="{'stop': !$ctrl.loading}"></div>
    </div>
    <div ng-if="$ctrl.error">There was an error loading the histogram</div>
</div>
<div
    class="graph graph-placeholder"
    ng-if="$ctrl.histogram && ($ctrl.histogram.buckets.length <= 1 || !$ctrl.histogram.buckets) || $ctrl.error"
>
    <div class="modal-icon color-danger">
        <i class="icon-warning"></i>
    </div>
    <p>Unable to load histogram. <br />Please check that the parameters are valid.</p>
</div>
<div class="parameters">
    <div>
        <button class="btn btn-tiny btn-link" ng-click="$ctrl.onEditClick()">
            Edit parameters...
        </button>
    </div>
    <div>
        <div>Masked: {{ !!$ctrl.editableNodeCount.mask }}</div>
        <div ng-show="$ctrl.editableNodeCount.source">Inputs: {{ $ctrl.editableNodeCount.source }}</div>
        <div ng-show="$ctrl.editableNodeCount.const">
            Constants: {{ $ctrl.editableNodeCount.const }}
        </div>
    </div>
</div>
