<div class="filter">
  <label>{{$ctrl.filter.label}}</label>
  <div class="form-group all-in-one input-dark date-range-select" ng-click="$ctrl.openDateRangePickerModal()">
    <input 
      type="text" 
      class="form-control"
      readonly 
      ng-if="$ctrl.datefilterPreset"
      value="{{$ctrl.datefilterPreset}}"
    >
    <input 
      type="text" 
      class="form-control"
      readonly 
      ng-if="!$ctrl.datefilterPreset"
      value="{{$ctrl.datefilter.start.calendar()}} to {{$ctrl.datefilter.end.calendar()}}"
    >
    <button 
      class="btn btn-small btn-link">
      <span class="sr-only">Set date range</span>
      <i class="icon-calendar" aria-hidden="true"></i>
    </button>
  </div>
  <div class="flex-display align-right columns-center">
    <rf-toggle value="$ctrl.usingUTC" on-change="$ctrl.onSetUTC(value)">
      <label>Use UTC dates</label>
    </rf-toggle>
    <i class="icon-help"
      tooltips
      tooltip-template="Scenes are filtered using the UTC definition of midnight 00:00 GMT. Uncheck this to use your local definition of midnight instead. This may result in you seeing scenes with different UTC dates depending on your timezone."
      tooltop-size="small"
      tooltip-class="rf-tooltip"
      tooltip-side="bottom right"
    ></i>
  </div>
</div>
