@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?91635800');
  src: url('../font/fontello.eot?91635800#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?91635800') format('woff2'),
       url('../font/fontello.woff?91635800') format('woff'),
       url('../font/fontello.ttf?91635800') format('truetype'),
       url('../font/fontello.svg?91635800#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?91635800#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-bucket:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-cross:before { content: '\e804'; } /* '' */
.icon-database:before { content: '\e805'; } /* '' */
.icon-caret-down:before { content: '\e806'; } /* '' */
.icon-caret-up:before { content: '\e807'; } /* '' */
.icon-model:before { content: '\e808'; } /* '' */
.icon-imports:before { content: '\e809'; } /* '' */
.icon-mosaic:before { content: '\e80a'; } /* '' */
.icon-pencil:before { content: '\e80b'; } /* '' */
.icon-resize-full:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-cloud:before { content: '\e80e'; } /* '' */
.icon-sun:before { content: '\e80f'; } /* '' */
.icon-download:before { content: '\e810'; } /* '' */
.icon-locked:before { content: '\e811'; } /* '' */
.icon-unlocked:before { content: '\e812'; } /* '' */
.icon-processing:before { content: '\e813'; } /* '' */
.icon-help:before { content: '\e814'; } /* '' */
.icon-arrows-cw:before { content: '\e815'; } /* '' */
.icon-home:before { content: '\e816'; } /* '' */
.icon-share:before { content: '\e817'; } /* '' */
.icon-arrow-left:before { content: '\e818'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-caret-left:before { content: '\e81a'; } /* '' */
.icon-caret-right:before { content: '\e81b'; } /* '' */
.icon-crosshair:before { content: '\e81c'; } /* '' */
.icon-settings:before { content: '\e81d'; } /* '' */
.icon-eye:before { content: '\e81e'; } /* '' */
.icon-eye-off:before { content: '\e81f'; } /* '' */
.icon-histogram:before { content: '\e820'; } /* '' */
.icon-info:before { content: '\e821'; } /* '' */
.icon-key:before { content: '\e822'; } /* '' */
.icon-project:before { content: '\e823'; } /* '' */
.icon-color-correct:before { content: '\e824'; } /* '' */
.icon-mouse-default:before { content: '\e825'; } /* '' */
.icon-minus:before { content: '\e826'; } /* '' */
.icon-star-filled:before { content: '\e827'; } /* '' */
.icon-star:before { content: '\e828'; } /* '' */
.icon-undo:before { content: '\e829'; } /* '' */
.icon-extent:before { content: '\e82a'; } /* '' */
.icon-warning:before { content: '\e82b'; } /* '' */
.icon-cancel:before { content: '\e82c'; } /* '' */
.icon-exchange:before { content: '\e82d'; } /* '' */
.icon-gripper:before { content: '\e82e'; } /* '' */
.icon-calendar:before { content: '\e830'; } /* '' */
.icon-edit:before { content: '\e831'; } /* '' */
.icon-load:before { content: '\e838'; } /* '' */
.icon-compare:before { content: '\e83a'; } /* '' */
.icon-close:before { content: '\e83b'; } /* '' */
.icon-map-pin:before { content: '\e83f'; } /* '' */
.icon-polygon:before { content: '\e840'; } /* '' */
.icon-duplicate:before { content: '\e842'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-resize:before { content: '\f0b2'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-user:before { content: '\f2bd'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */