<div class="modal-header">
    <button type="button" class="close" aria-label="Close modal" ng-click="$ctrl.dismiss()">
        <i aria-hidden="true" class="icon-cross"> <span class="sr-only">Close modal</span> </i>
    </button>
    <h4 class="modal-title">{{ $ctrl.resolve.content.title }}</h4>
    <p>{{ $ctrl.resolve.content.title }} for node <strong>{{$ctrl.resolve.content.nodeName}}</strong></p>
</div>
<div class="modal-body">
    <div class="modal-inner-container fixed-height">
        <div class="row">
            <div class="column-4 flex-display" ng-repeat="item in $ctrl.results">
                <rf-project-layer-item
                    item="item"
                    project="$ctrl.resolve.project"
                    class="panel panel-off-white project-item"
                    ng-click="$ctrl.setSelected(item)"
                >
                </rf-project-layer-item>
            </div>
        </div>
        <div class="list-group">
            <span class="list-placeholder" ng-show="$ctrl.currentQuery">
                <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></i>
            </span>
            <span
                class="list-placeholder"
                ng-if="!$ctrl.currentQuery && !$ctrl.results.length"
            >
                You have not created any project layers.
            </span>
        </div>
    </div>
    <div class="modal-inner-container compact">
        <div class="row no-margin align-justify columns-center">
            <rf-pagination-count
                start-index="$ctrl.pagination.startingItem"
                end-index="$ctrl.pagination.endingItem"
                total="$ctrl.pagination.count"
                item-name="project layers"
                ng-if="!$ctrl.currentQuery && $ctrl.pagination.count"
            >
            </rf-pagination-count>
            <rf-pagination-controls
                pagination="$ctrl.pagination"
                is-loading="$ctrl.currentQuery"
                on-change="$ctrl.fetchPage(value)"
                ng-show="!$ctrl.currentQuery && !ctrl.fetchError"
            ></rf-pagination-controls>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="footer-section left">
        <button type="button" class="btn" ng-click="$ctrl.dismiss()">Close</button>
    </div>
    <div class="footer-section right"></div>
</div>
