<!-- App Container -->
<div class="container column-stretch">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-static">

      <h5 class="sidebar-title">{{$ctrl.lastSceneResult.count | number}} Results Found</h5>
      <div class="sidebar-actions">
        <button class="btn btn-default btn-square" ng-click="$ctrl.populateInitialSceneList()">
          <i class="icon-arrows-cw"></i>
        </button>
        <button class="btn btn-default btn-square" ng-click="$ctrl.toggleFilterPane()">
          <i class="icon-filter"></i>
        </button>
      </div>
    </div>

    <!-- scene listing -->
    <div class="sidebar-scrollable" id="infscroll">
      <div
          infinite-scroll="$ctrl.getMoreScenes()" infinite-scroll-distance=".5"
          infinite-scroll-disabled="$ctrl.loading || ($ctrl.lastSceneResult && !$ctrl.lastSceneResult.hasNext) || $ctrl.errorMsg"
          infinite-scroll-container="'#infscroll'"
          class="list-group">
        <rf-scene-item
            ng-click="$ctrl.openDetailPane(scene)"
            scene="scene"
            selectable
            selected="$ctrl.isSelected(scene)"
            on-select="$ctrl.setSelected(scene, selected)"
            class="selectable"
            ng-repeat="scene in $ctrl.sceneList track by scene.id">
        </rf-scene-item>
      </div>
      <div class="list-group" ng-show="$ctrl.loading">
        <span class="list-placeholder">
          <i class="icon-load"></i>
        </span>
      </div>
      <div class="list-group" ng-show="!$ctrl.loading && $ctrl.lastSceneResult && !$ctrl.lastSceneResult.hasNext">
        <span class="list-placeholder">
          No more scenes to load
        </span>
      </div>
      <div class="list-group" ng-show="$ctrl.errorMsg">
        <span class="list-placeholder">
          {{$ctrl.errorMsg}}
        </span>
      </div>
      <div class="list-group load-message" ng-show="!$ctrl.loading && $ctrl.lastSceneResult && $ctrl.lastSceneResult.hasNext">
        <a href ng-click="$ctrl.getMoreScenes()">Load More...</a>
      </div>
    </div>

    <div class="sidebar-static">
      <h5>
        <a href class="color-primary"
           ng-click="$ctrl.sceneModal()">
          Selected: {{$ctrl.selectedScenes.size || 'None'}}
        </a>
      </h5>
      <div class="sidebar-actions">
        <button type="button"
                class="btn btn- btn-square"
                ng-disabled="!$ctrl.selectedScenes || $ctrl.selectedScenes.size === 0"
                ng-click="$ctrl.bucketModal()">
          <i class="icon-plus"></i>
          Add to Bucket
        </button>
      </div>
    </div>
  </div>

  <!-- Scene detail view -->
  <div class="sidebar sidebar-extended" ng-if="$ctrl.activeScene">
    <div class="sidebar-static">
      <p>
        <strong class="color-dark">{{$ctrl.activeScene.name}}</strong><br>
        {{$ctrl.activeScene.datasource}}
      </p>
      <div class="sidebar-actions">
        <button class="btn btn-square" ng-click="$ctrl.closeDetailPane()">
          <i class="icon-cross"></i>
        </button>
      </div>
    </div>
    <img ng-if="$ctrl.activeScene.thumbnails[0]"
         ng-attr-src="{{$ctrl.activeScene.thumbnails[0].url}}"
         class="rounded-img detail-img">
    <img ng-if="!$ctrl.activeScene.thumbnails.length"
         src="https://placehold.it/275x275"
         class="rounded-img detail-img">
    <rf-scene-detail class="sidebar-scrollable"
                     scene="$ctrl.activeScene"></rf-scene-detail>
    <div class="sidebar-static">
      <div class="sidebar-actions">
        <button class="btn btn-square btn-default"
                ng-click="$ctrl.toggleSelectAndClosePane()">
          <span ng-if="!$ctrl.isSelected($ctrl.activeScene)">
            <i class="icon-plus"></i>
            Select Scene
          </span>
          <span ng-if="$ctrl.isSelected($ctrl.activeScene)">
            <i class="icon-cross"></i>
            Deselect
          </span>
        </button>
      </div>
    </div>
  </div>

  <!-- Scene filters -->

  <div class="sidebar sidebar-extended map-filters"
       ng-show="$ctrl.showFilterPane && !$ctrl.activeScene">
    <div class="sidebar-static">
      <h5>Filter imagery</h5>
      <div class="sidebar-actions">
        <a href="#">Clear all filters</a>
      </div>
    </div>
    <div class="sidebar-scrollable">
      <div class="content">
        <div class="filter">
          <label>Year</label>
          <div class="filter-item slider-filter">
            <div id="year_slider"></div>
          </div>
        </div>
        <div class="filter">
          <label>Month</label>
          <div class="filter-item month-filter">
            <button type="button" class="btn btn-toggle btn-small active" data-toggle="button" aria-pressed="false" autocomplete="off">Jan</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Feb</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Mar</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Apr</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">May</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Jun</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Jul</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Aug</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Sep</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Oct</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Nov</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Dec</button>
          </div>
        </div>
        <div class="filter">
          <label>Cloud cover</label>
          <div class="filter-item slider-filter">
            <div id="cloud_slider"></div>
          </div>
        </div>
        <div class="filter">
          <label>Sun elevation</label>
          <div class="filter-item slider-filter">
            <div id="sun_slider"></div>
          </div>
        </div>
        <div class="filter">
          <label>Imagery sources</label>
          <div class="filter-item tag-filter">
            <button type="button" class="btn btn-toggle btn-small active" data-toggle="button" aria-pressed="false" autocomplete="off">My Imports</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Raster Foundry Users</button>
            <button type="button" class="btn btn-toggle btn-small active" data-toggle="button" aria-pressed="false" autocomplete="off">NASA</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">Planet Labs</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">satimagingcorp</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">USGS</button>
          </div>
        </div>
        <div class="filter">
          <label>Broadband</label>
          <div class="filter-item tag-filter">
            <button type="button" class="btn btn-toggle btn-small active" data-toggle="button" aria-pressed="false" autocomplete="off">Visible</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">SWIR</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">LWIR</button>
          </div>
        </div>
        <div class="filter">
          <label>Wavelength</label>
          <div class="filter-item tag-filter">
            <!-- Based on http://www.markelowitz.com/Hyperspectral.html -->
            <button type="button" class="btn btn-toggle btn-small active" data-toggle="button" aria-pressed="false" autocomplete="off">.45-.52nm</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">.52-.60nm</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">.63-.69nm</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">.79-.90nm</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">1.55-1.75nm</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">2.08-2.35nm</button>
            <button type="button" class="btn btn-toggle btn-small" data-toggle="button" aria-pressed="false" autocomplete="off">10.4-12.4nm</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <rf-leaflet-map class="map-container"></rf-leaflet-map>
  </div>
</div>
