<!-- App Container -->
<div class="container column-stretch container-not-scrollable">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-static">

      <h5 class="sidebar-title">{{$ctrl.lastSceneResult.count | number}} Results Found</h5>
      <div class="sidebar-actions">
        <button class="btn btn-default btn-square" ng-click="$ctrl.toggleFilterPane()">
          <i class="icon-filter"></i>
        </button>
      </div>
    </div>

    <!-- scene listing -->
    <div class="sidebar-scrollable" id="infscroll">
      <div
          infinite-scroll="$ctrl.getMoreScenes()" infinite-scroll-distance="0.5"
          infinite-scroll-disabled="$ctrl.loadingScenes || ($ctrl.lastSceneResult && !$ctrl.lastSceneResult.hasNext) || $ctrl.errorMsg"
          infinite-scroll-container="'#infscroll'"
          infinite-scroll-immediate-check=false
          class="list-group">
        <rf-scene-item
            ng-click="$ctrl.openDetailPane(scene)"
            scene="scene"
            selectable
            selected="$ctrl.isSelected(scene)"
            on-select="$ctrl.setSelected(scene, selected)"
            class="selectable"
            ng-repeat="scene in $ctrl.sceneList track by scene.id"
            ng-mouseover="$ctrl.setHoveredScene(scene)"
            ng-mouseleave="$ctrl.removeHoveredScene()"
            >
        </rf-scene-item>
      </div>
      <div class="list-group" ng-show="$ctrl.loadingScenes">
        <span class="list-placeholder">
          <i class="icon-load"></i>
        </span>
      </div>
      <div class="list-group"
           ng-show="!$ctrl.loadingScenes && $ctrl.lastSceneResult && !$ctrl.lastSceneResult.hasNext">
        <span class="list-placeholder">
          No more scenes to load
        </span>
      </div>
      <div class="list-group" ng-show="$ctrl.errorMsg">
        <span class="list-placeholder">
          {{$ctrl.errorMsg}}
        </span>
      </div>
      <div class="list-group load-message"
           ng-show="!$ctrl.loadingScenes && $ctrl.lastSceneResult && $ctrl.lastSceneResult.hasNext">
        <a href ng-click="$ctrl.getMoreScenes()">Load More...</a>
      </div>
    </div>

    <div class="sidebar-static">
      <div class="sidebar-actions">
        <a href class="btn"
           ng-class="$ctrl.selectedScenes.size === 0 ? 'disabled' : 'btn-primary'"
           ng-disabled="!$ctrl.selectedScenes || $ctrl.selectedScenes.size === 0"
           ng-click="$ctrl.sceneModal()">
          {{$ctrl.selectedScenes.size || 'No'}} scenes selected
        </a>
      </div>
    </div>
  </div>

  <!-- Scene detail view -->
  <div class="sidebar sidebar-extended" ng-if="$ctrl.activeScene">
    <div class="sidebar-static">
      <p>
        <strong class="color-dark">{{$ctrl.activeScene.name}}</strong><br>
        {{$ctrl.activeScene.datasource}}
      </p>
      <div class="sidebar-actions">
        <button class="btn btn-square" ng-click="$ctrl.closeDetailPane()">
          <i class="icon-cross"></i>
        </button>
      </div>
    </div>
    <rf-scene-detail class="sidebar-scrollable"
                     scene="$ctrl.activeScene"></rf-scene-detail>
    <div class="sidebar-static">
      <div class="sidebar-actions">
        <button class="btn btn-square btn-default"
                ng-click="$ctrl.toggleSelectAndClosePane()">
          <span ng-if="!$ctrl.isSelected($ctrl.activeScene)">
            <i class="icon-plus"></i>
            Select Scene
          </span>
          <span ng-if="$ctrl.isSelected($ctrl.activeScene)">
            <i class="icon-cross"></i>
            Deselect
          </span>
        </button>
      </div>
    </div>
  </div>

  <!-- Scene filters -->

  <div class="sidebar sidebar-extended map-filters"
       ng-show="$ctrl.showFilterPane && !$ctrl.activeScene">
    <rf-filter-pane filters="$ctrl.filters"></rf-filter-pane>
  </div>

  <div class="main">
    <rf-leaflet-map
        footprint="$ctrl.hoveredScene.dataFootprint"
        bypass-fit-bounds="true"
        proposed-bounds="$ctrl.bounds"
        grid="$ctrl.lastGridResult"
        on-view-change="$ctrl.onViewChange(newBounds, zoom)"
        class="map-container"></rf-leaflet-map>
  </div>
</div>
