nav .btn-group {
    display: inline-flex !important;
    margin: 0 1.5rem;
}

.secondary-navbar .navbar-right nav a {
    padding: 2rem 1.5rem;
}
.sidebar.sidebar-dark.not-offset {
    left: 0;
    margin-left: 0;
}

.sidebar > .sidebar {
    border-right: none;
}

.sidebar-content {
    flex-shrink: 0;
}

.sidebar-content.with-padding{
    padding: 1.5rem 1.5rem;
}

.sidebar-content.with-border,{
    border-bottom: 1px solid #ddd;
}
    .sidebar-content.with-border:last-child {
        border-bottom: none;
    }

.lab-workspace {
    background: #aaa;
    height: 100%;
}

.btn-square.really-square {
    width: 4rem;
    height: 4rem;
    line-height: 2rem;
}
.sidebar-content.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebar-content h5 {
    margin: 0;
    flex: 1;
}
.sidebar-content h5 span {
    margin-left: 1.5rem;
}

form.inset {
    padding: 0;
    margin: 0;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.form-btn-row {
    flex: 1;
}
    .form-btn-row .btn-group {
        justify-content: flex-end;
    }

.sidebar-content .form-group:last-of-type {
    margin-bottom: 0;
}
