<div class="classify-node-preview">
  <div class="classify-node-preview-row with-margin">
    <div class="classify-node-setting">Manual</div>
    <div class="classify-node-setting">
      <ng-pluralize count="$ctrl.getClassCount()"
                    when="{
                      'one': '1 Class',
                      'other': '{} Classes'
                    }"
      ></ng-pluralize>
    </div>
  </div>
  <div class="classify-node-preview-row with-border">
    <div class="classify-node-class header">Input Values</div>
    <div class="classify-node-class header">Output Value</div>
  </div>
  <div class="classify-node-preview-row with-border"
       ng-repeat="range in $ctrl.ranges"
  >
    <div class="classify-node-class">{{$ctrl.reclassifyService.rangeObjectToString(range)}}</div>
    <div class="classify-node-class">{{$ctrl.breaks[range.end]}}</div>
  </div>
</div>
<div class="node-controls overlayed">
  <button class="btn btn-primary" ng-click="$ctrl.showReclassifyModal()">Edit Values</button>
</div>
