<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%thread] %-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.azavea.rf" level="${RF_LOG_LEVEL:-INFO}"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
