<div class="list-group text-center"
      ng-show="!$ctrl.isLoading && $ctrl.pagination.show">
  <ul uib-pagination
      items-per-page="$ctrl.pagination.pageSize"
      total-items="$ctrl.pagination.count"
      ng-model="$ctrl.pagination.currentPage"
      max-size="3"
      rotate="true"
      boundary-link-numbers="true"
      force-ellipses="true"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      ng-change="$ctrl.handleOnChange($ctrl.pagination.currentPage)">
  </ul>
</div>
