<div class="admin-list-content column-stretch">
  <div class="admin-list-actions">
    <div class="actions-right">
      <button type="button" class="btn btn-primary"
              ng-click="$ctrl.newOrgModal()"
              ng-disabled="$ctrl.fetching">
        New Organization
      </button>
    </div>
  </div>
  <table class="admin-table admin-platform-org-table">
    <tbody>
      <tr ng-repeat="organization in $ctrl.organizations track by $index">
        <td class="name">
          <div class="avatar user-avatar image-placeholder" ng-if="!organization.logoUri"></div>
          <div ng-if="organization.logoUri">
            <img class="avatar user-avatar" ng-src="{{organization.logoUri}}">
          </div>
          <div>
            <a class="font-600"
               ui-sref="admin.organization({organizationId: organization.id})">
               {{organization.name}}
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-loading" ng-if="$ctrl.fetching">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
  </div>

  <!-- Pagination -->
  <div class="list-group text-center"
       ng-show="!$ctrl.loading && $ctrl.lastOrgResult && $ctrl.pagination.show && !$ctrl.errorMsg">
    <ul uib-pagination
        items-per-page="$ctrl.lastOrgResult.pageSize"
        total-items="$ctrl.pagination.count"
        ng-model="$ctrl.currentPage"
        max-size="4"
        rotate="true"
        boundary-link-numbers="true"
        force-ellipses="true"
        ng-change="$ctrl.fetchOrganizations($ctrl.currentPage, $ctrl.search)">
    </ul>
  </div>
  <!-- Pagination -->
</div>
