<div class="admin-list-content column-stretch">
  <table class="admin-table admin-platform-org-table">
    <tbody>
      <tr ng-repeat="organization in $ctrl.organizations track by $index">
        <td class="name">
          <div class="avatar user-avatar image-placeholder" ng-if="!organization.logoUri"></div>
          <div ng-if="organization.logoUri">
            <img class="avatar user-avatar" ng-src="{{organization.logoUri}}">
          </div>
          <div>
            <a class="font-600"
               ui-sref="admin.organization({organizationId: organization.id})">
               {{organization.name}}
            </a>
          </div>
        </td>
        <td class="roles titlecase">
          {{$ctrl.getUserOrgRole(organization.id)}}
        </td>
        <td class="actions">
          <button class="btn btn-danger btn-small btn-nowrap"
                  ng-if="$ctrl.membershipPending(organization)"
                  ng-click="$ctrl.updateUserMembershipStatus(organization, false)">
            Decline
          </button>
          <button class="btn btn-primary btn-small btn-nowrap"
                  ng-if="$ctrl.membershipPending(organization)"
                  ng-click="$ctrl.updateUserMembershipStatus(organization, true)">
            Accept
          </button>
          <button class="btn btn-default btn-small btn-nowrap"
                  ng-if="!$ctrl.membershipPending(organization)"
                  ng-click="$ctrl.updateUserMembershipStatus(organization, false)">
            Leave Organization
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-loading" ng-if="$ctrl.fetching">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
  </div>
</div>
