<div class="row content stack-sm">
  <div class="column-8">
    <rf-call-to-action-item
      title="No rasters have been shared with the {{$ctrl.team.name}} team"
      class="panel panel-off-white"
      ng-if="!$ctrl.currentQuery && !$ctrl.pagination.count && !$ctrl.search">
      <p class="pb-25">
        When users share rasters with this team, they'll be visible here.
        Rasters shared with this organization will be accessible to all members of this team.
      </p>
    </rf-call-to-action-item>
    <rf-call-to-action-item
        title="No rasters found"
        class="panel panel-off-white"
        ng-if="!$ctrl.currentQuery && !$ctrl.pagination.count && $ctrl.search">
      <p class="pb-25">
        Unable to find any users matching: <strong>{{$ctrl.search}}</strong>
      </p>
    </rf-call-to-action-item>
    <div ng-if="!$ctrl.currentQuery && $ctrl.results.length" class="list-group">
      <rf-scene-item
          previewable
          scene="raster"
          repository="$ctrl.repository"
          ng-repeat="raster in $ctrl.results"
      ></rf-scene-item>
    </div>
    <rf-pagination-controls
      pagination="$ctrl.pagination"
      is-loading="$ctrl.currentQuery"
      on-change="$ctrl.fetchPage(value)"
      ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
    ></rf-pagination-controls>
  </div>
  <div class="column spacer"></div>
  <div class="column-3">
    <rf-sidebar-user-list paginated-response="$ctrl.members" sref="admin.team.users"></rf-sidebar-user-list>
  </div>
  <div class="column-1"></div>
</div>
