<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.closeWithData()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Create Project
    </h4>
    <p>Get started on a new Project</p>
  </div>

  <!--Body for TYPE-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('TYPE')">
    <div class="content">
      <h3 class="modal-content-header">Name your Project</h3>
      <form ng-submit="$ctrl.handleNext()">
        <div class="form-group all-in-one">
          <label for="name"><i class="icon-project"></i></label>
          <input id="name" type="text" class="form-control"
                 placeholder="New project name"
                 ng-model="$ctrl.projectBuffer.name"
          >
        </div>
        <div class="form-group color-danger"
            ng-if="$ctrl.showProjectCreateError && $ctrl.projectCreateErrorText"
        >
            {{$ctrl.projectCreateErrorText}}
        </div>
      </form>
    </div>
    <div class="content">
      <h3 class="modal-content-header">Select a Project type</h3>
      <div class="box-select-row">
        <rf-box-select-item
          title="Standard Project"
          ng-class="{selected: $ctrl.projectAttributeIs('isAOIProject', false)}"
          ng-click="$ctrl.setProjectAttribute('isAOIProject',false)"
        >
          Start a new project and begin importing your own earth observation imagery immediately, or discover publicly available scenes to add to your project.
        </rf-box-select-item>
        <rf-box-select-item
          title="Area of Interest Project"
          ng-class="{selected: $ctrl.projectAttributeIs('isAOIProject', true)}"
          ng-click="$ctrl.setProjectAttribute('isAOIProject',true)"
        >
          Set an area of interest on the map, an update frequency and automatically add new scenes to the project as they are added to {{$ctrl.BUILDCONFIG.APP_NAME}}.
        </rf-box-select-item>
      </div>
    </div>
  </div>

  <!--Body for ADD_SCENES-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('ADD_SCENES')">
    <div class="content">
      <h3 class="modal-content-header">Add Scenes to your Project</h3>
      <p>
        Your Project, <strong>{{$ctrl.project.name}}</strong>, has been created. Now we'll add imagery to your project.
      </p>
      <div class="box-select-row">
        <rf-box-select-item
          title="Search available imagery"
          ng-class="{selected: $ctrl.projectAttributeIs('addType', 'public')}"
          ng-click="$ctrl.setProjectAttribute('addType','public')"
        >
          Jump into the Scene Browser and use your existing imports and publicly available imagery in your project.
        </rf-box-select-item>
        <rf-box-select-item
          title="Import your own"
          ng-class="{selected: $ctrl.projectAttributeIs('addType', 'import')}"
          ng-click="$ctrl.setProjectAttribute('addType','import')"
        >
          Import your own earth observation imagery from a drone, manned aerial vehicle or satellite source directly from your S3 Bucket or your hard drive.
        </rf-box-select-item>
      </div>
    </div>
  </div>

  <!--Default Footer-->
  <div
    ng-if="$ctrl.currentStepIs('TYPE')"
    class="modal-footer"
  >
    <button type="button" class="btn pull-left"
            ng-click="$ctrl.closeWithData(1)">
      Cancel
    </button>

    <button type="button" class="btn"
            ng-if="$ctrl.hasPreviousStep()"
            ng-click="$ctrl.gotoPreviousStep()">
      Back
    </button>
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.handleNext()"
            ng-disabled="$ctrl.isCreatingProject">
      Next
    </button>
  </div>

  <!--Footer for ADD_SCENES-->
  <div ng-if="$ctrl.currentStepIs('ADD_SCENES')"
       class="modal-footer"
  >
    <button type="button" class="btn pull-left"
            ng-click="$ctrl.closeWithData()">
      Add Scenes later
    </button>
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.handleNext()">
      Next
    </button>
  </div>
</div>
