<div class="navbar">
    <div class="navbar-section primary">
        <a ui-sref="home" class="brand">
            <img ng-attr-src="{{ $ctrl.assetLogo }}" style="max-width: 50px" />
        </a>
        <span class="navbar-vertical-divider"></span>
        <nav ng-show="$ctrl.project">
            <span class="navbar-text">{{ $ctrl.project.name }}</span>
        </nav>
        <nav ng-show="$ctrl.projectError">
            <span class="navbar-text"
                >Error loading project.
                <span
                    class="icon-warning"
                    tooltip-class="rf-tooltip"
                    tooltip-side="bottom"
                    tooltips
                    tooltip-template="{{ $ctrl.projectError.data }}"
                ></span>
            </span>
            <button class="btn btn-ghost" ng-click="$ctrl.loadProject()">
                <span class="navbar-text">Retry</span>
            </button>
        </nav>
    </div>

    <div class="navbar-section secondary">
        <nav>
            <div
                ng-if="$ctrl.authService.isLoggedIn && !$ctrl.testNoAuth"
                uib-dropdown
                class="dropdown-my-account"
                on-toggle="toggled($ctrl.optionsOpen)"
            >
                <a href uib-dropdown-toggle>
                    <img
                        ng-if="$ctrl.authService.getProfile().picture"
                        class="avatar tiny"
                        ng-src="{{ $ctrl.authService.getProfile().picture }}"
                    />
                    <div
                        class="avatar image-placeholder"
                        ng-if="$ctrl.authService.getProfile() && !$ctrl.authService.getProfile().picture"
                    ></div>
                    <span class="username">{{ $ctrl.authService.getName() }}</span>
                    <i class="icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                    <li>
                        <a ui-sref="settings.profile"> <i class="icon-settings"></i> Settings </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href ng-click="$ctrl.logout()"> <i class="icon-cancel"></i> Sign out </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div ui-view="navbar-secondary">
    <div class="navbar light-navbar">
        <div class="navbar-section">
            <nav>
                <a
                    ui-sref="shareProject.layers"
                    ng-class="{
                        active: ('shareProject.layers' | includedByState)
                    }"
                >
                    Layers
                </a>
            </nav>
            <nav>
                <a
                    ui-sref="shareProject.analyses"
                    ng-class="{
                       active: ('shareProject.analyses' | includedByState)
                    }"
                >
                    Analyses
                </a>
            </nav>
        </div>
    </div>
</div>
<div class="container column-stretch container-not-scrollable with-secondary-navbar">
    <div class="sidebar" ui-view></div>
    <div class="main">
        <rf-map-container map-id="share">
            <button
                class="map-control-btn"
                title="Show annotations"
                ng-class="{'active': $ctrl.shareService.showingAnnotations}"
                ng-click="$ctrl.shareService.toggleShowingAnnotations()"
                tooltips
                tooltip-template="Toggle layer annotations"
                tooltip-size="small"
                tooltip-class="map-control-tooltip"
                tooltip-side="left"
            >
                <i class="icon-polygon"></i>
            </button>
        </rf-map-container>
    </div>
</div>
