<div class="page-card">
    <div class="page-card-section">
        <h4>{{ $ctrl.layer.name }}</h4>
    </div>
    <div class="horizontal-separator page-card-header">
        <h5>Base Layer</h5>
    </div>
    <div class="form-group" ng-repeat="layerUrl in $ctrl.baseLayer.urls track by $index">
        <label for="published-link">{{ layerUrl.label }}</label>
        <div class="input-group">
            <input
                id="published-link"
                type="text"
                class="form-control"
                value="{{ layerUrl.url }}"
                readonly
            />
            <button
                class="btn btn-link btn-square btn-icon"
                clipboard
                text="layerUrl.url"
                ng-click="$ctrl.onCopyClick($event, layerUrl.url, layerUrl.label)"
                tooltips
                tooltip-size="small"
                tooltip-side="top right"
                tooltip-template="Copy URL"
            >
                <i
                    class="icon-copy color-base"
                    aria-hidden="true"
                    ng-show="$ctrl.copyType !== layerUrl.label"
                    ><span class="sr-only">Copy URL</span></i
                >
                <i
                    class="icon-check color-green"
                    aria-hidden="true"
                    ng-show="$ctrl.copyType === layerUrl.label"
                ></i>
            </button>
        </div>
    </div>
    <div class="horizontal-separator page-card-header" ng-if="$ctrl.analyses && $ctrl.analyses.length">
        <h5>Analysis Layers</h5>
    </div>
    <div ng-if="$ctrl.showAnalyses" ng-repeat="analysis in $ctrl.analyses track by analysis.id">
        <div class="page-card-header">
            <h5>{{ analysis.name }} - {{ analysis.date | date }}</h5>
        </div>
        <div class="form-group" ng-repeat="analysisUrl in analysis.urls track by analysisUrl.label">
            <label for="published-link">{{ analysisUrl.label }}</label>
            <div class="input-group">
                <input
                    id="published-link"
                    type="text"
                    class="form-control"
                    value="{{ analysisUrl.url }}"
                    readonly
                />
                <button
                    class="btn btn-link btn-square btn-icon"
                    clipboard
                    text="analysisUrl.url"
                    ng-click="$ctrl.onCopyClick($event, analysisUrl.url, analysisUrl.label)"
                    tooltips
                    tooltip-size="small"
                    tooltip-side="top right"
                    tooltip-template="Copy URL"
                >
                    <i
                        class="icon-copy color-base"
                        aria-hidden="true"
                        ng-show="$ctrl.copyType !== analysisUrl.label"
                        ><span class="sr-only">Copy URL</span></i
                    >
                    <i
                        class="icon-check color-green"
                        aria-hidden="true"
                        ng-show="$ctrl.copyType === analysisUrl.label"
                    ></i>
                </button>
            </div>
        </div>
    </div>
    <div ng-if="!$ctrl.currentQuery && $ctrl.queryError" class="page-card">
        <div class="page-card-content center">
            <span class="modal-icon">
                <i class="icon-warning color-danger"></i>
            </span>
            <p>There was an error fetching analyses</p>
        </div>
    </div>
    <rf-pagination-controls
        pagination="$ctrl.pagination"
        is-loading="$ctrl.currentQuery"
        on-change="$ctrl.fetchPage(undefined, value)"
        ng-show="$ctrl.showAnalyses"
    ></rf-pagination-controls>
</div>
