<div class="main lab-workspace"></div>
<div class="lab-contextmenu" ng-show="$ctrl.isShowingContextMenu">
    <div>
        <ul>
            <li ng-repeat="item in $ctrl.currentContextMenu track by $index"
                ng-click="item.callback()">
                {{item.label}}
            </li>
        </ul>
    </div>
</div>
<div class="lab-contextmenu measuring">
    <ul>
        <li ng-repeat="item in $ctrl.currentContextMenu track by $index">
            {{item.label}}
        </li>
    </ul>
</div>
