// Base Colors:
$text-base: #7B8391;
$shade-light: #959CAC;  // slightly lighter then $text-base
$shade-normal: #465076; // deep purple
$shade-dark: #353C58;   // deepdeep purple

// @TODO: incorporate dropdown styles into app styles
.main.with-position {
  position: relative;
}

.lab-contextmenu {
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  // Compensates for pointer
  margin-top: -8px;

  &:after {
    content: '';
    top: 100%;
    left: 50%;
    border: 5px solid transparent;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: darken(#464f77, 15%);
    margin-left: -5px;
  }
}

.mousetip {
  position: absolute;
  top: -10000px;
  left: -10000px;
  z-index: 10000;
  margin-left: 18px;
  background: #464f77;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

div.lab-workspace svg {
  cursor: grab;
}

div.lab-workspace.is-dragging svg {
  cursor: grabbing;
}

.lab-control-panel {
  position: absolute;
  top: 0;
  right: 0;
  background: $shade-dark;
  padding: 1rem;
  min-width: 13rem;
  display: flex;
  flex-direction: row;

  .filler {
    flex: 1;
  }

  .btn {
    display: inline-block;
    background: $shade-normal;
    border: 1px solid $shade-dark !important;
    color: $shade-light;
    border-radius: 2px !important;
    vertical-align: middle;
    line-height: 1.1;
    height: 25px;
    width: 25px;
    padding: 0;

    &:hover {
      display: inline-block;
      background: $shade-normal;
      border: 1px solid $shade-dark !important;
      color: #fff;
      border-radius: 2px !important;
      vertical-align: middle;
      line-height: 1.1;
      height: 25px;
      width: 25px;
    }
  }
}
