aside,
.aside {
  padding: 2rem;
  border-radius: $border-radius-base;
  border: 1px solid $border-color-default;

  a {
    font-weight: 400;
  }

  h5 {
    margin: 0;
  }

  ul {
    margin: 0;
  }

  section {
    padding: 0;
    margin-bottom: 2rem;

    &:last-of-type:not(.aside-footer) {
      margin-bottom: 0;
    }
  }

  .aside-footer {
    margin: 0 -2rem -2rem;
    padding: 2rem;
    background: rgba($shade-light, .1);
  }
}

.aside-filters {
  background: rgba($shade-light, .1);
  padding: 0 2rem;

  section {
    padding: 1.5rem 0;
    margin: 0;
    border-bottom: 1px solid $border-color-default;

    &:last-of-type {
      border-bottom: none;
    }
  }

  h5 {
    margin: 0 0 1rem;
  }
}
