/* 
 Fix this.
 the wrapper is preventing the library pages from working correctly. Columns arent stretching.
 If this is removed than map pages become broken. its fucked as is. 
 */
.app-wrapper {
  //height: 100%;
  //display: flex;
  //flex-direction: column;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  .container {
    max-width: initial;
    flex: 1;
    position: relative;

    &.dashboard {
      width: 100%;
	    max-width: 1160px;
      min-height: 100vh;
    }
  }
}

.container {
	width: 100%;
	max-width: 1160px;
	margin: auto;
  display: flex;
}

$navbar-height: 8rem;

.container-not-scrollable {
  height: calc(100vh - #{$navbar-height});
}
