.app-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  .container {
    max-width: initial;
    flex: 1;
    position: relative;

    &.dashboard {
      width: 100%;
	    max-width: 1160px;
      flex: 1;
    }
  }
}

.container {
	width: 100%;
	max-width: 1160px;
	margin: auto;
  display: flex;
}
