.navbar {
  @extend %clearfix;
  background: $shade-normal;
  border-bottom: 1px solid $shade-dark;
  position: relative;
  padding: 0;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    display: flex;
    vertical-align: middle;
    align-items: center;

    a {
      color: $shade-light;
      display: inline-block;
      padding: 2rem 1.4rem;

      &:hover {
        color: $white;
        text-decoration: none;
      }
    }

    a.active {
      color: $white;
      background: $shade-dark;
    }

    a.icon-link {
      color: $brand-primary;
      padding: 1.5rem 2rem;
      font-size: 1.6rem;
    }

    .dropdown {
      display: inline-block;
      margin: 0 1rem;
    }

    .open .dropdown-toggle {
      background: $shade-dark;
      border-radius: $border-radius-base $border-radius-base 0 0;
    }
  }

  .dropdown > a {
    padding: .8rem 1rem;
    border: 1px solid $shade-dark;
    border-radius: $border-radius-base;

    i {
      vertical-align: middle;
    }
  }

  .username {
    @extend .text-overflow-ellipsis;
    padding-left: .5rem;
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }

  &.secondary-navbar {
    background: $shade-dark;
    border-bottom: 1px solid $gray-darker;
    font-size: 1.3rem;
    justify-content: flex-start; //ie11 fix

    .container {
      flex: none; //ie11 fix
    }

    a {
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
    }

    a.active {
      box-shadow: inset 0 -3px $brand-primary;
      border-bottom: 1px solid $brand-primary;
      margin-bottom: -1px;
    }
  }

  .navbar-text,
  .navbar-detail-title {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    color: $white;
    padding: 1rem;
    max-width: 30rem;
  }

  .navbar-detail-title {
    @extend .text-overflow-ellipsis;
  }

  .detail-title-container {
    position: relative;
    display: inline-block;

    .detail-title-edit {
      padding: 5px 3px;
      opacity: .4;
      transition: .2s ease-in-out opacity;
      margin: 0 -5px 0 1rem;
      color: $shade-dark;

      &:hover {
        background-color: $white;
      }
    }

    &:hover .detail-title-edit {
      opacity: 1;
    }
  }

  .dropdown-navbar-detail {
    margin-left: -1.5rem;

    > a.dropdown-toggle {
      padding: .8rem 1rem;
      border: 1px solid $shade-dark;
      border-radius: $border-radius-base;
      color: $white;
    }
  }

  .btn {
    border: none;
    margin-right: 1.4rem;
  }

  .form-group.all-in-one {
    background: none;
    border-color: $shade-dark;
    color: $white;
    margin-left: 1rem;

    .form-control {
      background-color: transparent;
      color: $white;

      &:hover,
      &:focus {
        background-color: $shade-dark;
      }
    }

    .btn {
      margin: 0;
      padding: 4px 8px;
      font-size: 1.8rem;
      color: $white;
      border-color: $shade-dark;

      &:hover,
      &:focus {
        background-color: $shade-dark;
      }
    }
  }
}

.navbar-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.primary {
    flex: 2;
  }

  &.secondary {
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }
}

.brand {
  display: inline-block;
  padding: 1.5rem 1.9rem;
  vertical-align: middle;

  > img {
    height: 29px;
    max-height: 100%;
    vertical-align: middle;
  }
}

.navbar-vertical-divider {
  display: inline-block;
  width: 1px;
  height: 5.9rem;
  background-color: $shade-dark;
  vertical-align: middle;
}

.dropdown-help {
  .help-center {
    font-size: 2rem;
  }
}
