.navbar {
  @extend %clearfix;
  background: $shade-normal;
  position: relative;
  padding: 1rem;
  flex: none;

  nav {
    display: inline-block;
    vertical-align: middle;

    a {
      color: $shade-light;
      display: inline-block;
      padding: 2rem 2.5rem;

      &.icon {
        padding: 2rem 1rem;
      }

      &:hover {
        color: #fff;
        text-decoration: none;
      }

      &.active {
        color: #fff;
      }
    }

    a.icon-link {
      color: $brand-primary;
      padding: 1.5rem 2rem;
      font-size: 1.6rem;
    }

    .dropdown {
      display: inline-block;
    }

    .open .dropdown-toggle {
      background: $shade-dark;
      border-radius: $border-radius-base $border-radius-base 0 0;
    }
  }

  .navbar-text {
    display: inline-block;
    vertical-align: middle;
    padding: 2rem 2.5rem;
    margin: 0;
  }

  .dropdown > a {
    padding: .8rem 1rem;
    margin: 0 1rem;
    border: 1px solid $shade-dark;
    border-radius: $border-radius-base;

    i {
      vertical-align: middle;
    }
  }
  .username {
    padding-left: .5em;
  }

  &.secondary-navbar {
    border-top: 1px solid $shade-dark;
    padding: 0;
  }

  .navbar-detail-title {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    color: #fff;
    padding: 1.5rem;
    max-width: 30rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dropdown-navbar-detail {
    margin-left: -1.5rem;

    > a.dropdown-toggle {
      padding: .8rem 1rem;
      border: 1px solid $shade-dark;
      border-radius: $border-radius-base;
      color: #fff;
    }
  }
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: left;

  @media (min-width: 985px) {
    float: right;
  }
}

.brand {
  display: inline-block;
  padding: 1rem 3rem;
  vertical-align: middle;

  > img {
    max-width: 2.5rem;
  }
}

.navbar-vertical-divider {
  display: inline-block;
  width: 1px;
  height: 4.8rem;
  background-color: $shade-dark;
  vertical-align: middle;
}
