.sidebar {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 40rem;
  padding: 0;
  border-right: 2px solid $border-color-default;
  word-wrap: break-word;

  .dashboard & {
    border-right-width: 1px;
    padding: 4rem 0 0 3rem;
    width: 22rem;
  }

  .dashboard-filter & {
    border-right: 1px solid $border-color-default;
    padding: 2rem;
    width: 25rem;
  }

  .row {
    margin: 0 -1rem;
  }

  .content {
    padding: 1rem 1.5rem;
  }

  hr {
    margin: .5rem 0;
  }

  .btn ~ nav {
    margin: 2rem 0;
  }

  .sub-category {
    padding-left: 2em;
  }
}

.sidebar-static {
  flex: none;
  position: relative;
  border-bottom: 2px solid $border-color-default;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &:first-child {
    border-bottom: 2px solid $border-color-default;
  }

  &:last-child {
    border-top: 2px solid $border-color-default;
    border-bottom: none;
  }

  > div {
    width: 100%;
  }

  p {
    line-height: 1.3;
  }

  .sidebar-actions {
    margin-left: auto;

    > * {
      display: inline-block;
    }

    .btn {
      margin-bottom: 0;
    }

    button, a {
      margin-left: 5px;
    }
  }
}

.sidebar-scrollable {
  overflow: auto;
  flex: 1;
}

.sidebar-category {
  * {
    margin: 0.2em;
  }
}

.sidebar-category-title {
  font-weight: 700;
}

.sidebar-selection {
  cursor: pointer;
  &:hover {
    color: $brand-primary;
  }
}

.sidebar-category-actions {
  * {
    color: $brand-primary;
    &:hover {
      color: $shade-light;
    }
  }
}

.sidebar-separator {
  height: 1em;
  border-bottom: 1px solid $border-color-default;
}

.sidebar-extended {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.map-filters,
.sidebar-dark {
  left: 40rem;
  margin-left: -2px;
  background: $shade-normal;
  border: none;

  .sidebar-static {
    background: $shade-dark;
    border-color: $shade-normal;
  }

  h5, .h5,
  p {
    color: #fff;
  }
}

.hidden {
  display: none;
  &.active {
    display: block;
  }
}

rf-scene-filter-pane {
  display: flex;
  flex-flow: column;
  height: 100%; // firefox overflowing fix
}
