<div class="container dashboard">
  <div class="row content stack-sm">
    <div class="column-8">

      <!-- Dashboard Header -->
      <div class="dashboard-header">
        <h1 class="h3"><i class="icon-project color-light"></i>Projects</h1>
        <div class="flex-fill"></div>
        <a class="btn btn-primary" ng-click="$ctrl.createNewProject()" ng-if="!$ctrl.loading && $ctrl.projectList.length > 0">
          New project
        </a>
      </div>
      <!-- Dashboard Header -->

      <!-- Loading indicator -->
      <div ng-show="$ctrl.loading">
        <span class="list-placeholder h3">
          <i class="icon-load"></i>
        </span>
      </div>
      <!-- Loading indicator -->

      <!-- No project placeholder -->
      <div ng-if="!$ctrl.loading && $ctrl.projectList.length === 0">
        <rf-call-to-action-item title="You haven't created any projects yet" class="panel panel-off-white">
          <p class="pb-25">
            You can create a new project by <strong>importing</strong> your own earth observation
            imagery, or <strong>searching</strong> publicly available scenes for use in your project.
            Then you can <strong>edit</strong> your project to color-correct the scenes and arrange
            them into a perfectly mosaicked basemap.
          </p>
          <a class="btn btn-primary" ng-click="$ctrl.createNewProject()">New project</a>
          <p>
            <a>Getting started with Projects</a>
          </p>
        </rf-call-to-action-item>
      </div>
      <!-- No project placeholder -->

      <!-- Project List -->
      <div ng-if="!$ctrl.loading && $ctrl.projectList.length > 0" class="row stack-xs">
        <div class="column-6 flex-display"
             ng-repeat="project in $ctrl.projectList
                       | filter: {name: $ctrl.projectSearchString}
                       track by project.id">
          <rf-project-item
              class="project-preview panel panel-off-white"
              project="project">
          </rf-project-item>
        </div>

        <!-- Pagination -->
        <div class="list-group text-center"
             ng-show="!$ctrl.loading && $ctrl.lastProjectResult && $ctrl.lastProjectResult.count > $ctrl.lastProjectResult.pageSize && !$ctrl.errorMsg">
          <ul uib-pagination
              items-per-page="$ctrl.lastProjectResult.pageSize"
              total-items="$ctrl.lastProjectResult.count"
              ng-model="$ctrl.currentPage"
              max-size="4"
              rotate="true"
              boundary-link-numbers="true"
              force-ellipses="true"
              ng-change="$ctrl.populateProjectList($ctrl.currentPage)">
          </ul>
        </div>
        <!-- Pagination -->
      </div>
      <!-- Project List -->

    </div>
    <div class="column spacer"></div>
    <div class="column">
      <div class="aside">
        <section>
          <h5>What is a project?</h5>
          <p class="font-size-small">
            A project is a collection of scenes from many different sources where you can then run color corrections and mosaic into a basemap.
          </p>
          <h5>Are my projects public?</h5>
          <p class="font-size-small">Your projects can only be seen by you.</p>
          <h5>How many projects can I have?</h5>
          <p class="font-size-small">You have an unlimited number of projects.</p>
          <h5>Do projects have scene size limits?</h5>
          <p class="font-size-small">Nope. Your projects can have as many scenes as you need.</p>
        </section>
        <section class="aside-footer">
          <h5>Have other questions?</h5>
          <ul class="list-unstyled">
            <li><a>Raster Foundry guide</a></li>
            <li><a>Getting started</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
