<div class="container dashboard">
  <div class="row content stack-sm">
    <div class="column-8">

      <!-- Dashboard Header -->
      <div class="dashboard-header">
        <h3>Projects</h3>
        <div class="flex-fill"></div>
        <rf-search on-search="$ctrl.fetchPage(1, value)"
                   value="$ctrl.search"
                   placeholder="Search for projects"
                   auto-focus="true">
        </rf-search>
        <select class="form-control"
                ng-model="$ctrl.currentOwnershipFilter"
                ng-change="$ctrl.handleOwnershipFilterChange()">
          <option value="owned">Owned by me</option>
          <option value="shared">Shared with me</option>
        </select>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.createNewProject()">
          New project
        </button>
      </div>
      <!-- Dashboard Header -->

      <!-- Dashboard Header -->
      <rf-pagination-count
          ng-if="$ctrl.results.length && !$ctrl.currentQuery"
          start-index="$ctrl.pagination.startingItem"
          end-index="$ctrl.pagination.endingItem"
          total="$ctrl.pagination.count"
          item-name="projects">
        <span ng-if="$ctrl.search">while searching for <strong>{{$ctrl.search}}</strong></span>
      </rf-pagination-count>

      <!-- Loading Indicator, show only when loading -->
      <div class="text-center" ng-show="$ctrl.currentQuery">
        <div>Loading Projects</div>
        <span class="list-placeholder h3">
          <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></i>
        </span>
      </div>
      <!-- Loading indicator -->

      <!-- No project placeholder -->
      <div ng-if="$ctrl.shouldShowPlaceholder() && $ctrl.currentOwnershipFilter === 'owned'">
        <rf-call-to-action-item title="You haven't created any projects yet" class="panel panel-off-white">
          <p class="pb-25">
            You can create a new project by <strong>importing</strong> your own earth observation
            imagery, or <strong>searching</strong> publicly available scenes for use in your project.
            Then you can <strong>edit</strong> your project to color-correct the scenes and arrange
            them into a perfectly mosaicked basemap.
          </p>

          <a class="btn btn-primary" ng-click="$ctrl.createNewProject()">New project</a>
          <p>
            <a ng-href="{{$ctrl.HELPCONFIG.GETTING_STARTED_WITH_PROJECTS}}" target="_blank">Getting started with Projects</a>
          </p>
        </rf-call-to-action-item>
      </div>

      <div ng-if="$ctrl.shouldShowPlaceholder() && $ctrl.currentOwnershipFilter === 'shared'">
        <rf-call-to-action-item title="No projects have been shared with you yet" class="panel panel-off-white">
          <p class="pb-25">
            When other users share projects with you, or a team or organization you are a member of, you'll see them here.
          </p>
        </rf-call-to-action-item>
      </div>
      <div ng-show="!$ctrl.currentQuery && !$ctrl.fetchError && $ctrl.search && !$ctrl.pagination.count">
        <rf-call-to-action-item
            title="Your search didn't return any projects"
            class="panel panel-off-white">
          <p class="pb-25">
            Unable to find any projects matching "{{$ctrl.search}}".
          </p>
        </rf-call-to-action-item>
      </div>
      <div class="cta-row" ng-show="$ctrl.fetchError">
        <rf-call-to-action-item
            title="There was an error fetching projects."
            class="panel panel-off-white">
          <div class="pb-25">
            Please refresh the page and try again.<br />
            If the problem persists, please contact {{$ctrl.BUILDCONFIG.APP_NAME}} support.
          </div>
        </rf-call-to-action-item>
      </div>
      <!-- No project placeholder -->

      <!-- Project List -->
      <div ng-if="!$ctrl.currentQuery && $ctrl.results.length" class="row stack-xs">
        <div class="column-6 flex-display"
             ng-repeat="project in $ctrl.results track by project.id">
          <rf-project-item
              class="panel panel-off-white project-item"
              project="project"
              platform="$ctrl.platform"
              hide-options="$ctrl.currentOwnershipFilter === 'shared' && project.owner.id != $ctrl.user.id"
          >
          </rf-project-item>
        </div>
      </div>
      <!-- Project List -->

      <!-- Pagination -->
      <rf-pagination-controls
          ng-show="!$ctrl.fetchError"
          pagination="$ctrl.pagination"
          is-loading="$ctrl.currentQuery"
          on-change="$ctrl.fetchPage(value)"
      ></rf-pagination-controls>
      <!-- Pagination -->

    </div>
    <div class="column spacer"></div>
    <div class="column">
      <div class="aside">
        <section>
          <h5>What is a project?</h5>
          <p class="font-size-small">
            A project is a collection of scenes from many different sources where you can then run color corrections and mosaic into a basemap.
          </p>
          <h5>Are my projects public?</h5>
          <p class="font-size-small">Your projects can only be seen by you.</p>
          <h5>How many projects can I have?</h5>
          <p class="font-size-small">You have an unlimited number of projects.</p>
          <h5>Do projects have scene size limits?</h5>
          <p class="font-size-small">Nope. Your projects can have as many scenes as you need.</p>
        </section>
        <section class="aside-footer">
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li><a ng-href="{{$ctrl.HELPCONFIG.HELP_HOME}}" target="_blank">Help Center</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
