/* * * *
 * Theme settings
 * Overrides the default settings
 * uncomment @import if using theming
 * * * */

/* * * *
 * Settings
 * * * */
@import
  "settings/colors",
  "settings/variables";

/* * * *
 * Tools
 * * * */
@import
  "tools/mixins";

/* * * *
 * Base
 * * * */
@import
  "base/normalize",
  "base/animation",
  "base/base",
  "base/grid",
  "base/list",
  "base/typography",
  "base/helpers";

/* * * *
 * Layout
 * * * */
@import
  "layout/aside",
  "layout/container",
  "layout/header",
  "layout/footer",
  "layout/main",
  "layout/navbar",
  "layout/sidebar";

/* * * *
 * Components
 * * * */
@import
  "components/alert",
  "components/avatar",
  "components/badge",
  "components/breadcrumb",
  "components/button",
  "components/carousel",
  "components/close",
  "components/color-correct",
  "components/content",
  "components/dropdown",
  "components/filter",
  "components/form",
  "components/icons",
  "components/gradient-bar",
  "components/gradient-dropdown",
  "components/image",
  "components/instructions",
  "components/list-group",
  "components/login",
  "components/map",
  "components/modal",
  "components/nav",
  "components/pagination",
  "components/panel",
  "components/project-item",
  "components/searchselect",
  "components/slider",
  "components/spacing",
  "components/table",
  "components/tags",
  "components/tooltip",
  "components/shapefilter";

/* * * *
 * Pages
 * * * */
@import
  "pages/analysis-library",
  "pages/dashboard",
  "pages/datasources",
  "pages/editor",
  "pages/admin";

/* * * *
 * Shame
 * * * */
@import
  "shame";
