/*
 * app-wide
 */

div.image-placeholder {
  background: #ddd;
  box-sizing: border-box;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  flex-shrink: 0;
  &.block-placeholder {
    display: flex;
  }
  div {
    align-self: center;
  }
}


/*
 * /browse/
 */
.leaflet-top.leaflet-right .map-control-panel .leaflet-control-zoom {
  border: none;
  margin: 0;
}

.leaflet-control-layers.leaflet-control {
  display: none !important;
}

.leaflet-top.leaflet-right .map-control-panel .leaflet-control-zoom-in,
.leaflet-top.leaflet-right .map-control-panel .leaflet-control-zoom-out {
  font-size: 18px;
  line-height: 1;
  padding: 2px;
  height: 25px;

  &:hover {
    line-height: 1;
  }
}

.leaflet-control-attribution.leaflet-control {
  background: #353C58;
  color: #959CAC;
  margin: 2px;
  border-radius: 2px;
  padding: 4px 7px;
  opacity: .9;
  transition: .1s ease-in-out opacity;
  font-family: 'Open Sans', sans-serif;
  max-width: 400px;

  &:hover {
    opacity: 1;
  }

  a {
    color: #959CAC;
    text-decoration: underline;
    font-weight: 400;
  }
}

dl.meta-list > dt {
  margin: 0;
  font-size: 1.3rem;
}

dl.meta-list > dd {
  margin-bottom: 15px;
}

.map-filters {
  z-index: 1001; //puts it above map controls
}
//


/*
 * /library/ All library pages
 */

// Where breadcrumbs exist add back arrow icon


/*
 * /library/scenes/detail/
 */

// Change add to bucket link to add to project, change icon
//


/*
 * /library/projects/detail/
 */

// Update Publish link icon
// Make editor link into button
//


/*
 * /editor/project/
 */

// Action dropdown: remove sync histogram, add icon to color correct
// add icon to color correction in navbar
// make single click on scene open color correct panel
// fix scrolling in color correct mode by adding class `flex-column` to `color-correct-pane`
// wrap secondary navbar navs in `navbar-left/right`
// put `navbar-vertical-divider` inside of `navbar-right`
// Make Scene opacity slider label say "Scene opacity 100%"

rf-project-editor .leaflet-tile {
  border: none;
}

.navbar .btn {
  margin: 12px 0 12px;
  border: none;

  + .btn,
  &:last-of-type {
    margin-left: 20px;
  }

  &:last-of-type {
    margin-right: 20px;
  }
}

.opacity-slider {
  left: calc(35% + 400px);
  transform: translate(-50%);
  padding: 10px;
  margin: 2px 0;
  border-radius: 2px;
  width: 310px;
  height: auto;

  h3 {
    font-size: 1.3rem;
    margin: 0 0 10px;
    text-align: center;
    color: white;
  }

  .rzslider {
    height: 20px;
  }

  .rzslider .rz-ticks .rz-tick .rz-tick-value {
    display: none;
  }
}

.mask-item {
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  position: relative;
}

.mask-actions {
  margin-left: auto;
  position: relative;
  z-index: 1;
  text-align: right;
}

.mosaic-scene-order.content {
  padding-top: 1rem;
}

.mosaic-scene-order .filter {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mosaic-scene-order {

  &.content {
    padding-top: 1rem;
  }

  .filter {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  select.input-dark {
    color: #fff;
    height: 4.1rem;
  }
}

.mosaic-priority-option {
  background: $shade-dark;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 4px;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
}

.flex-column {
  flex-grow: 1;
}
//


/*
 * project modal
 */
.modal-form {
  padding-left: 250px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  flex: none; // fix for safari

  .form-group {
    margin: 1rem;
  }
}


/*
 * Publish modal
 */
.form-group.all-in-one [readonly] {
  background: none;
}

.color-correct-pane {

  .content {
    padding-top: 1rem;
  }

  .filter {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .filter-separator {
    &.offset {
      margin-right: 5rem;
    }
    border-bottom: 1px solid $shade-dark;
    button {
      transform: translateY(-50%) translateX(5.1rem);
      float: right;
      &.active {
        background: $shade-dark;
      }
    }
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

.list-group-item.with-rows {
  flex-direction: column;
  align-items: stretch;
}

.list-group-item-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex: 1;
  .list-group-overflow {
    flex: 1;
    align-self: stretch;
  }
}

.btn.btn-slim {
  padding: 1rem;
}

.max-width {
  margin: 0 auto;
  max-width: 1160px !important;
}

.list-info {
    padding: 2rem;
    background: #f0f0f0;
    border-radius: 2px;
    display: flex;
    .list-info-item {
      margin-left: 2rem;
      &:first-child {
        margin-left: 0;
      }
    }
}

.flex-fill {
  flex: 1 !important;
}

.project-preview-map .map-container{
  max-height: 300px;
}

.sidebar-project {
  position: relative;
  border-bottom: 2px solid #ddd;
  .sidebar-row {
    display: flex;
    align-content: row;
    .sidebar-title {
      margin-left: 1rem;
      flex: 1;
    }
  }
}
.sidebar-header {
  padding: 1.25rem 2rem;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid #ddd;
  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .header-controls {
    flex: 1;
    text-align: right;
    font-size: 1.2rem;
  }
  .inline-tag {
    margin-left: 1rem;
  }
  .sidebar-header-nav-btn {
    padding: 0;
    border: none;
    background: none;
    color: #465076;
    font-size: 2.8rem;
  }
}

.sidebar-list {
  list-style: none;
  display: block;
  margin: 0 0 0 0;
  padding: 0;

  & > li {
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem 1.5rem 1rem;
    &:not(:first-child) {
      padding-top: 0rem;
    }
    &.separator {
      border-bottom: 1px solid #ddd;
      margin-bottom: 1rem;
      margin: 0rem 1rem 0rem 1rem;
      padding: 1.5rem 0 1.5rem 0;
      &:last-of-type{
        border-bottom: none;
      }
      &.separator-primary {
        margin: 0rem;
        padding: 1.5rem 1rem;
        border-bottom: none;
        background: #738FFC;
        color: #fff;
      }
    }
    &.header {
      margin-left: 0;
      padding: 1rem 0 1rem 0;
    }
    .fixedwidth {
      width: 20rem;
    }

    .label {
      flex: 1;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      .text {
        font-weight: normal;
        font-size: 1.2rem;
      }
      .info {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: normal;
      }
    }

    i .icon-info {
      cursor: help;
    }

    .banner {
      padding: 1rem;
      border-radius: 2px;
      color: #fff;
      flex: 1;
      text-align: center;
      div:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }


}
.sidebar-content {
  padding: 1rem;
}
.banner-secondary {
  background: #2FC1D0;
}
.navbar {
  padding-top: 0.7rem;
  padding-bottom: 0.8rem;
}

.icon-load.animated {
  animation: 2s linear 0s normal none infinite spin;
}
.filter-group {
  border-bottom: 1px solid #353C58;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.filter-group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  & > * {
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.filter-group-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  & > * {
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.list-group-item.has-action {
  cursor: pointer;
  &:hover {
    background: #fafafa;
  }
}

.list-group-item.is-disabled {
  opacity: 0.5;
}

.checkbox-container {
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #ccc;
  & i {
    margin: 0;
    padding: 0;
  }
  &.is-checked {
    border: 1px solid #8ca3fd;
    background: #8ca3fd;
    color: #fff;
  }
  &.is-checked.danger {
    border: 1px solid #F98094;
    background: #F98094;
    color: #fff;
  }
}

.filter-adjust-input {
  width: 50px;
  max-width: 50px;
  border: 0px;
  background: rgba(0, 0, 0, 0.14902);
  padding: 0.5rem 0.2rem;
  text-align: center;
  font-size: 1.2rem;
  flex-grow: 0;
  flex-shrink: 0;
  color: #ccc;
}

.histogram-input {
  margin-top: 0.5em;
  .pull-right {
    float: right;
  }
  .btn-group {
    display: inline-flex !important;
  }
}

.rzslider.dark {
  .rz-bubble {
    color: #ccc;
  }
}

.rf-tooltip {
  min-width: 250px;
  text-align: left;
}

.nvd3.nv-line {
  .nv-point {
    display: none;
  }
}

span.no-margin {
  margin: 0 !important;
}
