/* * * *
 * Theme settings
 * Overrides the default settings
 * uncomment @import if using theming
 * * * */
/* @import
 "theme/settings/colors",
 "theme/settings/variables"; */

/* * * *
 * Settings
 * * * */
@import
  "settings/colors",
  "settings/variables";

/* * * *
 * Tools
 * * * */
@import
  "tools/mixins";

/* * * *
 * Base
 * * * */
@import
	"base/normalize",
  "base/animation",
  "base/base",
  "base/typography",
  "base/list",
  "base/grid",
  "base/helpers";

/* * * *
 * Layout
 * * * */
@import
  "layout/container",
  "layout/main",
  "layout/navbar",
  "layout/header",
  "layout/sidebar",
  "layout/aside",
  "layout/footer";

/* * * *
 * Components
 * * * */
@import
  "components/alert",
  "components/spacing",
  "components/breadcrumb",
  "components/button",
  "components/image",
  "components/form",
  "components/nav",
  "components/color-correct",
  "components/avatar",
  "components/dropdown",
  "components/tooltip",
  "components/modal",
  "components/close",
  "components/list-group",
  "components/filter",
  "components/panel",
  "components/badge",
  "components/map",
  "components/login",
  "components/pagination",
  "components/carousel",
  "components/content",
  "components/instructions",
  "components/tags",
  "components/slider";

/* * * *
 * Pages
 * * * */
@import
  "pages/dashboard",
  "pages/editor";

/* * * *
 * Shame
 * * * */
@import
  "shame";

/* * * *
 * Theme styles
 * Overrides default styles
 * uncomment @import if using theming
 * * * */
/* @import
  "theme/core"; */