@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?yc3wrj') format('truetype'),
    url('fonts/icomoon.woff?yc3wrj') format('woff'),
    url('fonts/icomoon.svg?yc3wrj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e94f";
}
.icon-upload:before {
  content: "\e94b";
}
.icon-select-arrows:before {
  content: "\e94c";
}
.icon-copy:before {
  content: "\e94d";
}
.icon-borders:before {
  content: "\e94e";
}
.icon-export:before {
  content: "\e94a";
}
.icon-document:before {
  content: "\e946";
}
.icon-video:before {
  content: "\e947";
}
.icon-support:before {
  content: "\e948";
}
.icon-users:before {
  content: "\e949";
}
.icon-add-node:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e904";
}
.icon-caret-down:before {
  content: "\e906";
}
.icon-caret-left:before {
  content: "\e907";
}
.icon-caret-right:before {
  content: "\e908";
}
.icon-caret-up:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e90a";
}
.icon-cloud:before {
  content: "\e90b";
}
.icon-code:before {
  content: "\e90c";
}
.icon-color-correct:before {
  content: "\e90d";
}
.icon-comment:before {
  content: "\e90e";
}
.icon-compare:before {
  content: "\e90f";
}
.icon-constant:before {
  content: "\e910";
}
.icon-cross:before {
  content: "\e901";
}
.icon-crosshair:before {
  content: "\e912";
}
.icon-database:before {
  content: "\e913";
}
.icon-download:before {
  content: "\e914";
}
.icon-dropbox:before {
  content: "\e915";
}
.icon-duplicate:before {
  content: "\e916";
}
.icon-edit:before {
  content: "\e917";
}
.icon-exchange:before {
  content: "\e918";
}
.icon-extent:before {
  content: "\e919";
}
.icon-eye:before {
  content: "\e91a";
}
.icon-eye-off:before {
  content: "\e91b";
}
.icon-eyedropper:before {
  content: "\e91c";
}
.icon-filter:before {
  content: "\e91d";
}
.icon-function:before {
  content: "\e91e";
}
.icon-gripper:before {
  content: "\e91f";
}
.icon-help:before {
  content: "\e920";
}
.icon-histogram:before {
  content: "\e921";
}
.icon-home:before {
  content: "\e922";
}
.icon-imports:before {
  content: "\e923";
}
.icon-info:before {
  content: "\e924";
}
.icon-input:before {
  content: "\e925";
}
.icon-key:before {
  content: "\e926";
}
.icon-link:before {
  content: "\e927";
}
.icon-load:before {
  content: "\e928";
}
.icon-locked:before {
  content: "\e929";
}
.icon-map:before {
  content: "\e92a";
}
.icon-map-pin:before {
  content: "\e92b";
}
.icon-minus:before {
  content: "\e92c";
}
.icon-model:before {
  content: "\e92d";
}
.icon-mosaic:before {
  content: "\e92e";
}
.icon-mouse-default:before {
  content: "\e92f";
}
.icon-pencil:before {
  content: "\e930";
}
.icon-plus:before {
  content: "\e931";
}
.icon-polygon:before {
  content: "\e932";
}
.icon-processing:before {
  content: "\e933";
}
.icon-project:before {
  content: "\e934";
}
.icon-redo:before {
  content: "\e935";
}
.icon-resize:before {
  content: "\e936";
}
.icon-retry:before {
  content: "\e937";
}
.icon-ruler:before {
  content: "\e938";
}
.icon-save:before {
  content: "\e939";
}
.icon-search:before {
  content: "\e93a";
}
.icon-settings:before {
  content: "\e93b";
}
.icon-share:before {
  content: "\e93c";
}
.icon-source-data:before {
  content: "\e93d";
}
.icon-star:before {
  content: "\e93e";
}
.icon-star-filler:before {
  content: "\e93f";
}
.icon-stats:before {
  content: "\e940";
}
.icon-sun:before {
  content: "\e941";
}
.icon-trash:before {
  content: "\e942";
}
.icon-undo:before {
  content: "\e943";
}
.icon-unlocked:before {
  content: "\e944";
}
.icon-warning:before {
  content: "\e945";
}
