<div class="sidebar-static" >
  <h5>Filters</h5>
  <div class="sidebar-actions">
    <button class="btn btn-default btn-small" ng-click="$ctrl.close()">
      Close
    </button>
  </div>
</div>
<div class="sidebar-scrollable" >
  <div class="content">
    <div class="filter-group">
      <div class="filter">
        <a href ng-click="$ctrl.resetAllFilters()" class="btn btn-toggle btn-small btn-block">Clear all filters</a>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter"
          ng-mouseleave="$ctrl.toggleDrag.toggle = false"
          ng-mouseup="$ctrl.toggleDrag.toggle = false">
        <label>Imagery sources</label>
        <div class="filter-item tag-filter">
          <button class="btn btn-toggle btn-small"
                  ng-click="$ctrl.toggleSourceFilter(id)"
                  ng-class="{'active': filter.enabled}"
                  ng-repeat="(id, filter) in $ctrl.dynamicSourceFilters track by id">
            {{filter.datasource.name}}
          </button>
        </div>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter">
        <label>Cloud cover</label>
        <rzslider rz-slider-model="$ctrl.filterOptions.cloudCover.minModel"
                  rz-slider-high="$ctrl.filterOptions.cloudCover.maxModel"
                  rz-slider-options="$ctrl.filterOptions.cloudCover.options"></rzslider>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter">
        <label>Sun elevation</label>
        <rzslider rz-slider-model="$ctrl.filterOptions.sunElevation.minModel"
                  rz-slider-high="$ctrl.filterOptions.sunElevation.maxModel"
                  rz-slider-options="$ctrl.filterOptions.sunElevation.options"></rzslider>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter">
        <label>Sun azimuth</label>
        <rzslider rz-slider-model="$ctrl.filterOptions.sunAzimuth.minModel"
                  rz-slider-high="$ctrl.filterOptions.sunAzimuth.maxModel"
                  rz-slider-options="$ctrl.filterOptions.sunAzimuth.options"></rzslider>
      </div>
    </div>
  </div>
</div>
