  <div class="project-preview-container">
    <rf-static-map map-id="{{$ctrl.project.id}}-big-preview" ng-if="$ctrl.project" class="project-preview-map"></rf-static-map>
  </div>
  <div class="container dashboard">
    <div class="main">
      <div class="row content stack-sm">
        <div class="column-8" ng-if="!$ctrl.loading">

          <!-- Dashboard Header -->
          <a class="breadcrumb" ui-sref="projects.list"><i class="icon-arrow-left"></i> Projects</a>
          <div class="dashboard-header">
            <button class="btn btn-tiny page-title-edit"
                    ng-click="$ctrl.toggleProjectNameEdit()"
                    ng-show="!$ctrl.$parent.selectedScenes.size && !$ctrl.isEditingProjectName && !$ctrl.isSavingProjectNameEdit">
              <i class="icon-pencil"></i>
            </button>
            <h1 class="h3 page-title">
            <span ng-hide="$ctrl.isEditingProjectName">
              {{$ctrl.project.name}}
              <i class="icon-load" ng-show="$ctrl.isSavingProjectNameEdit"></i>
              </span>
            </h1>
            <div class="color-danger" ng-if="$ctrl.showError">
              There was an error renaming the project.
              <button class="btn btn-tiny" type="submit"
                      ng-click="$ctrl.dismissErrorMessage()">
                <i class="icon-cross color-danger"></i>
              </button>
            </div>
            <div class="dashboard-header-reveal" ng-hide="!$ctrl.isEditingProjectName">
            <div ng-if="$ctrl.isEditingProjectName">
              <form class="ng-pristine ng-valid">
                <div class="form-group all-in-one">
                  <input id="name" type="text" class="form-control"
                         placeholder="Edit project name" ng-model="$ctrl.editedProjectName"
                         ng-attr-autofocus="{{$ctrl.isEditingProjectName || undefined }}">
                  <button class="btn btn-link flex-last" type="submit"
                          ng-click="$ctrl.saveProjectNameEdit()"
                          ng-if="!$ctrl.isSavingProjectNameEdit">
                    Save
                  </button>
                  <button class="btn btn-link" type="submit"
                          ng-click="$ctrl.cancelProjectNameEdit()"
                          ng-if="!$ctrl.isSavingProjectNameEdit">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
            </div>
            <a ui-sref="projects.edit({projectid: $ctrl.project.id})"
               class="btn btn-primary btn-small">
              <i class="icon-edit"></i> Edit project
            </a>
          </div>
          <!-- Dashboard Header -->

          <!-- Scene List -->
          <div class="list-group">
            <rf-scene-item
                scene="scene"
                ng-repeat="scene in $ctrl.sceneList track by scene.id"
                ng-click="$ctrl.openSceneDetailModal(scene)">
              <a class="link-light" ng-click="$ctrl.removeScene(scene, $event)">Remove from Project</a>
            </rf-scene-item>
          </div>
          <!-- Scene List -->

          <!-- Pagination -->
          <div class="list-group text-center"
               ng-show="!$ctrl.loading && $ctrl.lastSceneResult && $ctrl.lastSceneResult.count > $ctrl.lastSceneResult.pageSize && !$ctrl.errorMsg">
            <ul uib-pagination
                items-per-page="$ctrl.lastSceneResult.pageSize"
                total-items="$ctrl.lastSceneResult.count"
                ng-model="$ctrl.currentPage"
                max-size="4"
                rotate="true"
                boundary-link-numbers="true"
                force-ellipses="true"
                ng-change="$ctrl.populateSceneList($ctrl.currentPage)">
            </ul>
          </div>
          <!-- Pagination -->

          <!-- No scenes placeholder -->
          <div ng-if="!$ctrl.loading && $ctrl.lastSceneResult && $ctrl.lastSceneResult.count === 0"
               class="list-group">
            <span class="list-placeholder">You haven't added any scenes to this Project.</span>
          </div>
          <!-- No scenes placeholder -->

          <!-- Reload? Scene list -->
          <div class="list-group" ng-show="$ctrl.errorMsg">
            <span class="list-placeholder">
              {{$ctrl.errorMsg}}
              <a ng-click="$ctrl.populateSceneList(1)">Try again</a>
            </span>
          </div>
          <!-- Reload? Scene list -->
        </div>

        <!-- Loading Indicator -->
        <div class="column-8" ng-if="$ctrl.loading">
          <div class="list-group">
            <div class="list-placeholder">
              <i class="icon-load"></i>
            </div>
          </div>
        </div>
        <!-- Loading Indicator -->

        <div class="column spacer"></div>
        <div class="column">
          <div class="aside">

            <!-- Project metadata -->
            <section>
              <ul class="list-unstyled m-0">
                <li>Last edited on {{ $ctrl.project.modifiedAt | date : 'shortDate' }}</li>
                <li>
                  <ng-pluralize count="$ctrl.lastSceneResult.count"
                                when="{'one': '1 scene', 'other': '{} scenes'}">
                  </ng-pluralize>
                </li>
              </ul>
            </section>
            <!-- Project metadata -->

            <!-- Project Actions -->
            <section class="aside-footer">
              <ul class="list-unstyled m-0">
                <li>
                  <a class="link-light" ui-sref="projects.edit.browse({projectid: $ctrl.project.id})"><i class="icon-plus"></i> Add scenes</a>
                </li>
                <li>
                  <a class="link-light" ng-click="$ctrl.openImportModal()"><i class="icon-plus"></i> Import scenes</a>
                </li>
                <li>
                  <a class="link-light" ng-click="$ctrl.publishModal()"><i class="icon-share"></i> Share</a>
                </li>
                <hr>
                <li>
                  <a class="link-danger" ng-click="$ctrl.deleteProject()"><i class="icon-trash"></i>Delete</a>
                </li>
              </ul>
            </section>
            <!-- Project Actions -->

          </div>
        </div>
      </div>
    </div>
  </div>
