@import "../../../../assets/styles/sass/settings/_colors.scss";

.measure-dropdown-control {
  position: absolute;
  transform: translateX(-100%);
  left: -1em;
  top: 1em;
}

.export-dropdown-control {
  position: absolute;
  left: -1em;
  top: 15em;
  transform: translateX(-100%);
}

.m-popup-title{
    font-size: 18px;
}

.m-popup-result {
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: normal;
}

.m-popup-number{
    font-size: 18px;
    font-style: italic;
}

.export-control-body {
  p {
    padding: 0 0.5em;
  }

  button {
    margin-bottom: 1em;
  }

  .lab-export-cancel {
    margin-left: 0.5em;
  }

  .lab-export-confirm {
    margin-right: 0.5em;
  }

  .node-select-dropdown {
    background-color: $shade-normal;
  }

  .btn-node-select {
    margin-left: 0.5rem;
    width: 153px;
  }
}
