<div class="map-container"></div>
<div class="map-container-controls">
  <button class="btn btn-default btn-square btn-small"
          title="Zoom In"
          ng-click="$ctrl.zoomIn()">
    <span class="icon-plus"></span>
  </button>
  <div class="map-zoom" title="Current Zoom">{{$ctrl.zoomLevel}}</div>
  <button class="btn btn-default btn-square btn-small"
          title="Zoom Out"
          ng-click="$ctrl.zoomOut()">
    <span class="icon-minus"></span>
  </button>
  <div class="filler"></div>
  <div class="map-control">
    <button class="btn btn-default btn-square btn-small"
            title="Layers"
            ng-click="$ctrl.toggleLayerPicker($event)">
      <span class="icon-project"></span>
    </button>
    <div class="dropdown-control layer-picker"
         ng-show="$ctrl.layerPickerOpen"
         ng-click="$ctrl.cancelPropagation($event)">
      <div class="layer-picker-title">Basemap and Layers</div>
      <div class="dropdown-arrow"></div>
      <div class="layer-picker-body">
        <div class="layer-picker-option"
             ng-repeat="layer in $ctrl.basemapKeys"
             ng-style="$ctrl.getBasemapStyle(layer)"
             ng-click="$ctrl.setBasemap(layer)"
             ng-attr-title="{{layer}}"
        >
          <div class="layer-picker-label"></div>
          <button class="btn btn-default btn-square"
                  ng-class="{'hide-icon': $ctrl.mapWrapper.currentBasemap !== layer}">
            <span class="icon-check" ></span>
          </button>
        </div>
        <div class="layer-picker-divider"></div>
        <div class="layer-picker-option"
             ng-click="$ctrl.toggleLayer(layerId)"
             ng-repeat="layerId in $ctrl.toggleableLayers()">
          <div class="layer-picker-label">
            {{layerId}}
          </div>
          <button class="btn btn-default btn-square">
            <span class="icon-check" ng-class="{'hide-icon': !$ctrl.layerEnabled(layerId)}"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="filler"></div>
    <button class="btn btn-default btn-square btn-small"
            title="Measure"
            ng-click="$ctrl.toggleMeasurePicker($event)">
      <span class="icon-ruler"></span>
    </button>
    <div class="measure-dropdown-control layer-picker"
         ng-show="$ctrl.measurePickerOpen">
      <div class="layer-picker-title">Pick Measurement</div>
      <div class="dropdown-arrow"></div>
      <div class="layer-picker-body">
        <div class="layer-picker-option"
             ng-click="$ctrl.toggleMeasure('Polygon')">
          <div class="layer-picker-label">
            Area
          </div>
        </div>
        <div class="layer-picker-option"
             ng-click="$ctrl.toggleMeasure('Polyline')">
          <div class="layer-picker-label">
            Distance
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filler"></div>
  <button class="btn btn-square btn-small"
          title="Compare"
          ng-class="{'btn-default': !$ctrl.comparing,
                     'btn-tertiary': $ctrl.comparing}"
          ng-click="$ctrl.onCompareClick()">
    <span class="icon-compare"></span>
  </button>
  <div class="filler"></div>
  <button class="btn btn-default btn-square btn-small"
          title="Export"
          ng-click="$ctrl.toggleQuickExport($event)"
          ng-if="$ctrl.enableNodeExport">
    <span class="icon-export"></span>
  </button>
  <div class="layer-picker export-dropdown-control"
       ng-if="$ctrl.quickExportOpen && $ctrl.enableNodeExport">
    <div class="layer-picker-title">Define an area to export analysis result</div>
    <div class="dropdown-arrow"></div>
    <div class="layer-picker-body export-control-body">
      <p>Draw an area of interest to export the analysis result as *.geotiff format.</p>
      <!-- Export only the analysis result for async -->
      <!-- <div uib-dropdown>
        <label>Node to export</label>
        <button type="button" class="btn btn-ghost btn-node-select" uib-dropdown-toggle ng-disabled="disabled">
          <span class="pull-left">{{$ctrl.selectedNode ? $ctrl.selectedNode.label : ''}}</span>
          <span class="icon-caret-down pull-right"></span>
        </button>
        <ul class="dropdown-menu node-select-dropdown" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="node in $ctrl.nodeArray">
            <a href="#" ng-click="$ctrl.onNodeSelect(node)">{{node.label}}</a>
          </li>
        </ul>
      </div> -->
      <div class="dropdown btn-group fixedwidth" uib-dropdown uib-dropdown-toggle>
        <label class="pull-left">Zoom level</label>
        <a class="btn dropdown-label export-dropdown">
         {{$ctrl.getCurrentResolution().value}} ({{$ctrl.getCurrentResolution().label}}<sup>2</sup>)
        </a>
        <button type="button" class="btn btn-default dropdown-toggle">
          <i class="icon-caret-down"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
          <li ng-repeat="res in $ctrl.availableResolutions" role="menuitem">
            <a ng-click="$ctrl.updateResolution(res.value)">{{res.value}} ({{res.label}})</a>
          </li>
        </ul>
      </div>
      <div>
        <p>{{$ctrl.exportNotice}}</p>
      </div>
      <div ng-if="$ctrl.isCreatingExport">
        <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.isCreatingExport}">
        </span>
        Loading
      </div>
      <button
        class="btn btn-light pull-left lab-export-cancel"
        ng-click="$ctrl.onExportCancel()"
        ng-if="$ctrl.exportConfirmed && !$ctrl.isCreatingExport">
        Close
      </button>
      <button
        class="btn btn-light pull-left lab-export-cancel"
        ng-click="$ctrl.onExportCancel()"
        ng-if="!$ctrl.exportConfirmed">
        Cancel
      </button>
      <button
        class="btn btn-primary pull-right lab-export-confirm"
        ng-if="!$ctrl.exportConfirmed"
        ng-click="$ctrl.onExportConfirm()"
        ng-disabled="!($ctrl.hasExportBbox && $ctrl.selectedNode)">Confirm</button>
    </div>
  </div>
  <div class="filler"></div>
  <button class="btn btn-default btn-square btn-small"
          title="Close"
          ng-click="$ctrl.onLabMapClose()">
    <span class="icon-close"></span>
  </button>
</div>
