<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Create a Tool
    </h4>
  </div>

  <!-- Body for DATASOURCE_SELECT-->
  <div class="modal-body">
    <div class="content">
      <p>

      </p>
      <form>
        <div class="form-group">
          <label for="name">Tool Name</label>
          <input id="name" type="text" class="form-control"
                 placeholder="New tool name"
                 ng-model="$ctrl.toolBuffer.title"
                 ng-disabled="$ctrl.isProcessing">
        </div>
        <div class="form-group">
          <label for="name">Tool Description</label>
          <input id="name" type="text" class="form-control"
                placeholder="New tool description"
                ng-model="$ctrl.toolBuffer.description"
                ng-disabled="$ctrl.isProcessing">
        </div>
        <div class="form-group">
          <label for="name">Tool Definition</label>
          <p>
            Enter an algebraic expression that represents the operation the tool should compute. Here are some hints:
            <ul>
              <li><strong>Allowed Operations</strong> - Most standard arithmetic, comparison, and trigonometric operations are supported.</li>
              <li><strong>Raster Source</strong> - denoted by a symbol (e.g. <strong>NIR</strong> or <strong>SWIR</strong>)</li>
              <li><strong>Constant</strong> - denoted by a symbol prepended with an underscore (e.g. <strong>_G</strong> or <strong>_NF</strong>)</li>
              <li><strong>Constant with a default</strong> - denoted as above but with an added assignment, wrapped in parentheses (e.g. <strong>(_G=1)</strong> or <strong>(_NF=0.167)</strong>)</li>
            </ul>
          </p>
          <textarea id="name"
                    class="form-control"
                    placeholder="New tool formula"
                    ng-model="$ctrl.definitionExpression"
                    rows=2
                    ng-disabled="$ctrl.isProcessing"></textarea>
        </div>
        <div ng-if="$ctrl.currentParsingError" class="color-danger text-center form-group">
          {{$ctrl.currentParsingError}}
        </div>
        <div class="form-group">
          <label for="name">Make this tool publicly available?</label>
          <rf-toggle value="$ctrl.toolIsPublic()" on-change="$ctrl.onVisibilityChange(value)">
            <i class="icon-check"></i>
          </rf-toggle>
        </div>
        <div ng-if="$ctrl.currentError" class="color-danger text-center form-group">
          {{$ctrl.currentError}}
        </div>
      </form>
    </div>
  </div>

  <!--Footer for SUCCESS-->
  <div class="modal-footer">
    <button type="button" class="btn pull-left"
            ng-disabled="$ctrl.isProcessing"
            ng-click="$ctrl.dismiss()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary"
            ng-if="!$ctrl.isProcessing"
            ng-click="$ctrl.createTool()"
            ng-disabled="!$ctrl.isValid()">
      Create Tool
    </button>
    <div class="btn btn-primary disabled" ng-if="$ctrl.isProcessing">
      Processing
    </div>
  </div>
</div>
