<div class="sidebar-overlay" ng-show="$ctrl.drawing"></div>
<div class="sidebar-static">
  <div class="sidebar-header">
    <h5 class="sidebar-title">Sharing</h5>
  </div>
</div>
<div class="sidebar-scrollable">
  <div class="list-group">
    <div class="list-group-item sidebar-actions-group">
      <label>Project Visibility</label>
      <div class="list-group-right btn-group">
        <button class="btn btn-default"
                ng-repeat="policy in $ctrl.sharePolicies"
                ng-if="policy.enabled"
                ng-click="$ctrl.onPolicyChange(policy)"
                ng-class="{'active': policy.active}"
                ng-disabled="!policy.enabled">
          {{policy.label}}
        </button>
      </div>
    </div>
    <div class="list-group-item sidebar-actions-group">
      <label>Share Page</label>
      <div class="list-group-right btn-group">
        <button class="btn btn-default"
                clipboard text="$ctrl.shareUrl">
          Copy
        </button>
        <button class="btn btn-default"
                ng-click="$ctrl.onSharePageOpen()">
          Open
        </button>
      </div>
    </div>
    <div class="list-group-item sidebar-actions-group">
      <label>ZXY Tile Layer URL</label>
      <div class="list-group-right btn-group">
        <button clipboard text="$ctrl.tileLayerUrls.standard" class="btn btn-default">
          Copy
        </button>
      </div>
    </div>
    <div class="list-group-item sidebar-actions-group">
      <label>ArcGIS Tile Layer URL</label>
      <div class="list-group-right btn-group">
        <button clipboard text="$ctrl.tileLayerUrls.arcGIS" class="btn btn-default">
          Copy
        </button>
      </div>
    </div>
    <div class="list-group-item sidebar-actions-group">
      <label>Map Token</label>
      <div class="list-group-right btn-group">
        <button clipboard text="$ctrl.mapToken.id" class="btn btn-default">
          Copy
        </button>
      </div>
    </div>
  </div>
</div>
