<div class="container dashboard">
  <div class="main">
    <div class="row content stack-sm">
      <div class="column-3">
          <label class="h5" for="search-input">Search analyses templates</label>
          <rf-search on-search="$ctrl.search(value)"
                     placeholder="Search for templates"
                     auto-focus="true">
          </rf-search>
          <h5>Categories</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="link-light">Agriculture</a></li>
            <li><a href="#" class="link-light">Aggregates</a></li>
            <li><a href="#" class="link-light">Energy</a></li>
            <li><a href="#" class="link-light">Environment</a></li>
            <li><a href="#" class="link-light">Infrastructure</a></li>
            <li><a href="#" class="link-light">Forestry</a></li>
          </ul>
          <div class="aside aside-filters">
            <section>
              <h5>Not seeing the analysis you need?</h5>
              <p>
                Build the analysis of your dreams in the lab.
              </p>
              <a ng-click="$ctrl.openTemplateCreateModal()">
                Go to the lab now.
              </a>
            </section>
          </div>
      </div>
      <div class="column spacer bordered"></div>
      <div class="column-8">

        <!-- Loading indicator -->
        <div ng-show="$ctrl.loading">
          <span class="list-placeholder h3">
            <i class="icon-load animate-spin"></i>
          </span>
        </div>
        <!-- Loading indicator -->

        <div class="font-size-small pagination-count"
           ng-if="!$ctrl.searchString"
        >
          Showing <strong>{{$ctrl.pagination.startingItem}} - {{$ctrl.pagination.endingItem}}</strong> of <strong>{{$ctrl.pagination.count}}</strong> templates
        </div>

        <div class="font-size-small pagination-count"
           ng-if="$ctrl.searchString"
        >
           Showing results for "<strong>{{$ctrl.searchString}}</strong>"
        </div>

        <!-- Temporarily removed ng-click until after demo done and detail page designed. -->
        <div class="analysis-grid">
          <rf-template-item
              class="analysis-block"
              ng-repeat="templateData in $ctrl.templateList | filter: {title: $ctrl.searchString}"
              template-data="templateData"
              ng-click=""
          ></rf-template-item>
        </div>

        <!-- Pagination -->
        <div class="list-group text-center"
             ng-show="!$ctrl.loading && $ctrl.lastTemplateResponse && $ctrl.pagination.show && !$ctrl.errorMsg &&!$ctrl.searchString">
          <ul uib-pagination
              items-per-page="$ctrl.lastTemplateResponse.pageSize"
              total-items="$ctrl.pagination.count"
              ng-model="$ctrl.currentPage"
              max-size="4"
              rotate="true"
              boundary-link-numbers="true"
              force-ellipses="true"
              ng-change="$ctrl.fetchTemplateList($ctrl.currentPage)">
          </ul>
        </div>
        <!-- Pagination -->
      </div>
    </div>
  </div>
</div>
