<div class="app-width-container">
  <div class="row content stack-sm">
    <div class="column">
      <div class="vertical-container">
        <label>Search templates</label>
        <rf-search
          on-search="$ctrl.fetchPage(1, value)"
          value="$ctrl.search"
          placeholder="Search for templates"
          auto-focus="true"
        >
        </rf-search>
      </div>
      <div class="vertical-container">
        <label>Filter templates</label>
        <select
          class="form-control"
          ng-model="$ctrl.currentOwnershipFilter"
          ng-change="$ctrl.handleOwnershipFilterChange()"
        >
          <option value="">All</option>
          <option value="owned">Owned by me</option>
          <option value="shared">Shared with me</option>
        </select>
      </div>
    </div>
    <div class="column-spacer"></div>
    <div class="column-9">
      <div class="text-center" ng-show="$ctrl.currentQuery">
        <div>Loading Templates</div>
        <span class="list-placeholder h3">
          <i
            class="icon-load animate-spin"
            ng-class="{'stop': !$ctrl.currentQuery}"
          ></i>
        </span>
      </div>
      <!-- Loading indicator -->

      <rf-pagination-count
        ng-if="!$ctrl.currentQuery && !$ctrl.fetchError && $ctrl.pagination.count"
        start-index="$ctrl.pagination.startingItem"
        end-index="$ctrl.pagination.endingItem"
        total="$ctrl.pagination.count"
        item-name="templates"
      >
        <span ng-if="$ctrl.search">while searching for <strong>{{ $ctrl.search }}</strong></span>
      </rf-pagination-count>

      <!--
        Temporarily removed ng-click until after demo done and detail page designed.
      -->
      <rf-template-item
        class="panel panel-off-white"
        ng-repeat="template in $ctrl.results"
        template-data="template"
        on-template-delete="$ctrl.onTemplateDelete(templateId)"
        on-share-click="$ctrl.onTemplateShareClick(template)"
      ></rf-template-item>
      <div
        ng-if="!$ctrl.currentQuery && !$ctrl.search && $ctrl.pagination && !$ctrl.pagination.count"
      >
        <rf-call-to-action-item
          ng-if="$ctrl.currentOwnershipFilter === 'owned'"
          title="You haven't created any analysis templates yet"
          class="panel panel-off-white"
        >
        </rf-call-to-action-item>
        <rf-call-to-action-item
          ng-if="$ctrl.currentOwnershipFilter !== 'owned'"
          title="No templates have been shared with you yet"
          class="panel panel-off-white"
        >
          <p class="pb-25">
            If another user shares a template with you, you'll find it here.
          </p>
        </rf-call-to-action-item>
      </div>

      <div
        ng-show="!$ctrl.currentQuery && !$ctrl.fetchError && $ctrl.search && !$ctrl.pagination.count"
      >
        <rf-call-to-action-item
          title="Your search didn't return any templates"
          class="panel panel-off-white"
        >
          <p class="pb-25">
            We weren't able to find any templates matching "{{ $ctrl.search }}".
          </p>
        </rf-call-to-action-item>
      </div>
      <div class="cta-row" ng-show="!$ctrl.currentQuery && $ctrl.fetchError">
        <rf-call-to-action-item
          title="There was an error fetching templates."
          class="panel panel-off-white"
        >
          <div class="pb-25">
            Please refresh the page and try again.<br />
            If the problem persists, please contact
            {{ $ctrl.BUILDCONFIG.APP_NAME }} support.
          </div>
        </rf-call-to-action-item>
      </div>

      <!-- Pagination -->
      <rf-pagination-controls
        pagination="$ctrl.pagination"
        is-loading="$ctrl.currentQuery"
        on-change="$ctrl.fetchPage(value)"
        ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
      ></rf-pagination-controls>
      <!-- Pagination -->
    </div>
  </div>
</div>
