html {
	font-size: 62.5%;
}

body {
	font-family: $font-base;
	color: $base;
	@include font-size(13);
}

a {
	@include transition(.2s, all, ease-in-out);
}

img {
	max-width: 100%;
}

hr {
	border-color: $gray-lightest;
}

.display-block {
	display: block !important;
}

.display-inline-block {
	display: inline-block !important;
}

.display-inline {
	display: inline !important;
} 

.vertical-align-parent {
	display: table;
	width: 100%;
	.vertical-align-child {
		display: table-cell;
		min-height: 100%;
		vertical-align: middle;
	}
}

.justified-components {
	.justified {
		display: table-cell;
		width: 1%;
	}
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

/* .togglable {
	cursor: pointer;
} */