form {
	.form-group {
		margin-bottom: 20px;
		text-align: left;
	}
	
	label {
		font-weight: 500;
	}

	.form-action {

		.btn {
			margin-bottom: 10px;
		}
	}
}


/// Floating Labels
///
.form-group.floating-label {
	position: relative;
	
	%float-label {
		top: -20px;
		left: 0;
		@include font-size(12);
	}

	label {
		position: absolute;
		top: 11px;
	  left: 9px;
		transition: .4s all cubic-bezier(0.68, -0.55, 0.47, 1.55);
		
		&.float-label {
			@extend %float-label;
		}
	}

	&:hover label {
		@extend %float-label;
	}

	.form-control:focus + label {
		@extend %float-label;
	}
}

/// input, textarea, select all need .form-control
///
.form-control {
	background: $off-white;
	box-shadow: none;
	height: 40px;
	border-radius: 4px;
	border-color: $gray-lightest;
	transition: .4s ease all;
	color: $gray-light;
	@include font-size(14);

	&:focus, &:hover {
		outline: none;
		box-shadow: none;
		border: 1px solid $gray-lighter;
	}
}

select.form-control {
	z-index: 1;
	position: relative;
}

input[type="color"] {
	background: $off-white;
	border: 1px solid $gray-lightest;
	border-radius: 4px;
	margin-left: 4px;
	margin-right: 4px;

	&:focus, &:hover {
		outline: none;
		box-shadow: none;
		border: 1px solid $gray-lightest;
	}
}

/// readonly, disabled 
///
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
	background: lighten($gray-lightest, 5%) !important;
}

/// select groups
///	Useage: <div class="select-group"><input class="form-control"><select class="form-control"></select></div>
///
.select-group {
	@extend .clearfix;
	input,
	select {
		float: left;
	}

	input {
		width: 50%;
	}

	select {
		width: 50%;
	}

	input.form-control {
		margin-right: -3px;
		position: relative;
		z-index: 2;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
}


/// Checkbox Styles
/// Usage: <div class="checkbox"><input type="checkbox"><label> ...</label></div>
///
.checkbox {
	position: relative;
	display: inline-block;
	
	label {
		padding: 0;
		&:before {
			content: '';
			position: relative;
			display: inline-block;
			width: 20px;
			height: 20px;
			background: $off-white;
			border: 1px solid $gray-lightest;
			border-radius: 4px;
			margin-right: 5px;
			color: $white;
			line-height: 1.6;
			vertical-align: middle;
			text-align: center;
			transition: .4s ease-in-out all;
			@include font-size(12);
		}
	}

	input[type="checkbox"] {
		position: absolute;
		margin: 0;
		right: 0;
		width: 100%;
		min-width: 30px;
		height: 100%;
		z-index: 1;
		cursor: pointer;
		@include opacity(0);

		&:checked + label:before {
			content: '\e810';
			font-family: "raster-foundry";
			background: $brand-primary;
			border-color: $brand-primary-dark;
		}

		&:hover + label:before  {
			border-color: $brand-primary-dark;
		}
	}

	&.active {
		
		input[type="checkbox"] {
			
			+ label:before {
				content: '\e810';
				font-family: "raster-foundry";
				background: $brand-primary;
				border-color: $brand-primary-dark;
			}

			&:hover + label:before  {
				border-color: $brand-primary-dark;
			}
		}
	}

	+ .checkbox {
		margin-left: 15px;
	}
}

/// Warning Checkbox
.checkbox.warning {

	input[type="checkbox"]:checked + label:before {
		background: $brand-warning;
		border-color: $brand-warning-dark;
	}

	input[type="checkbox"]:hover + label:before {
		border-color: $brand-warning-dark;
	}

	&.active {

		input[type="checkbox"] + label:before {
			background: $brand-warning;
			border-color: $brand-warning-dark;
		}

		input[type="checkbox"]:hover + label:before {
			border-color: $brand-warning-dark;
		}
	}
}

.checkbox.btn-combo {
	.btn {
		display: none;
		margin-right: 5px;
	  vertical-align: middle;
	  margin-top: -10px;
	  margin-bottom: -11px;
	}

	&.active .btn {
		display: inline-block;
	}
}


/// Radio Styles
/// Usage: <div class="radio"><input type="radio"><label> ...</label></div>
///
.radio {
	position: relative;
	display: inline-block;
	
	label {
		padding: 0;
		&:before {
			content: '';
			position: relative;
			display: inline-block;
			width: 20px;
			height: 20px;
			background: $off-white;
			border: 1px solid $gray-lightest;
			border-radius: 100%;
			margin-right: 5px;
			color: $white;
			line-height: 1.5;
			vertical-align: middle;
			text-align: center;
			transition: .4s ease-in-out all;
			@include font-size(12);
		}
	}

	input[type="radio"] {
		position: absolute;
		margin: 0;
		right: 0;
		width: 100%;
		min-width: 30px;
		height: 100%;
		z-index: 1;
		cursor: pointer;
		@include opacity(0);

		&:checked + label:before {
			content: '\2022';
			font-family: "raster-foundry";
			background: $brand-primary;
			border-color: $brand-primary-dark;
		}

		&:hover + label:before  {
			border-color: $brand-primary-dark;
		}
	}

	&.active {
		
		input[type="radio"] {
			
			+ label:before {
				content: '\2022';
				font-family: "raster-foundry";
				background: $brand-primary;
				border-color: $brand-primary-dark;
			}

			&:hover + label:before  {
				border-color: $brand-primary-dark;
			}
		}
	}

	+ .radio {
		margin-left: 15px;
	}
}