<div class="sidebar-overlay" ng-show="$ctrl.drawing"></div>
<rf-draw-toolbar
  ng-if="$ctrl.drawing"
  map-id="edit"
  geom="$ctrl.aoiPolygons"
  options="$ctrl.drawOptions"
  on-save="$ctrl.onAoiSave(polygons)"
  on-cancel="$ctrl.onAoiCancel()"></rf-draw-toolbar>
<div class="sidebar-header">
  <a class="btn sidebar-header-nav-btn" ui-sref="projects.edit">
    <i class="icon-arrow-left"></i>
  </a>
  <h5 class="sidebar-title">AOI Parameters</h5>
</div>
<ul class="sidebar-list" ng-if="$ctrl.project">
  <li class="separator separator-primary">
    <div class="label">
      Area of Interest
      <div class="info">Required</div>
    </div>
    <button class="btn btn-default fixedwidth"
            ng-click="$ctrl.startDrawing()">
      Edit Area of Interest
    </button>
    <i class="icon-info"></i>
  </li>
  <li class="separator">
    <span class="label">Filters</span>
    <button class="btn btn-light fixedwidth" ng-click="$ctrl.toggleFilters()">
      Adjust Filters
    </button>
    <i class="icon-info"></i>
  </li>
  <li class="separator">
    <span class="label">Update frequency</span>
    <div class="dropdown btn-group fixedwidth" uib-dropdown uib-dropdown-toggle>
      <a class="btn dropdown-label">
        {{$ctrl.getCurrentFrequency()}}
      </a>
      <button type="button" class="btn btn-light dropdown-toggle">
        <i class="icon-caret-down"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
        <li ng-repeat="frequency in $ctrl.updateFrequencies" role="menuitem">
          <a ng-click="$ctrl.updateFrequency(frequency.value)">{{frequency.label}}</a>
        </li>
      </ul>
    </div>
    <i class="icon-info"></i>
  </li>
  <li class="separator">
    <span class="label">Start time</span>
    <div class="dropdown btn-group fixedwidth" ng-click="$ctrl.openDatePickerModal()">
      <a class="btn dropdown-label" >
        {{$ctrl.getCurrentStartTime()}}
      </a>
      <button type="button" class="btn btn-light dropdown-toggle">
        <i class="icon-calendar"></i>
      </button>
    </div>
    <i class="icon-info"></i>
  </li>
</ul>
<div class="sidebar-content" ng-if="$ctrl.project">
  <button class="btn btn-primary btn-block"
          type="button"
          ng-click="$ctrl.saveParameters()"
          ng-disabled="!$ctrl.aoiPolygons"
  >
    Start AOI Monitoring
  </button>
</div>
<div class="sidebar sidebar-extended map-filters"
     ng-show="$ctrl.showFilters">
  <rf-aoi-filter-pane
    ng-if="$ctrl.showFilters"
    data-opened="$ctrl.showFilters"
    filters="$ctrl.aoiParameters"
    on-filter-change="$ctrl.onFilterChange(changes)"
  ></rf-aoi-filter-pane>
</div>
