<div class="sidebar-overlay" ng-show="$ctrl.drawing"></div>
<div class="sidebar-header">
  <a class="btn sidebar-header-nav-btn" ui-sref="projects.edit">
    <i class="icon-arrow-left"></i>
  </a>
  <h5 class="sidebar-title">AOI Parameters</h5>
</div>
<ul class="sidebar-list" ng-if="$ctrl.project">
  <li class="separator">
    <rf-shape-filter
        class="aoi-shape-filter"
        data-filter="$ctrl.shapeParams"
        data-shape="$ctrl.shape"
        on-filter-change="$ctrl.onShapeChange(filter, filterParams)"
    ></rf-shape-filter>
    <i class="icon-info"></i>
  </li>
  <li class="separator">
    <span class="label">Filters</span>
    <button class="btn btn-light fixedwidth" ng-click="$ctrl.toggleFilters()">
      Adjust Filters
    </button>
    <i class="icon-info"></i>
  </li>
  <li class="separator">
    <span class="label">Update frequency</span>
    <div class="dropdown btn-group fixedwidth" uib-dropdown uib-dropdown-toggle>
      <a class="btn dropdown-label">
        {{$ctrl.getCurrentFrequency()}}
      </a>
      <button type="button" class="btn btn-light dropdown-toggle">
        <i class="icon-caret-down"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
        <li ng-repeat="frequency in $ctrl.updateFrequencies" role="menuitem">
          <a ng-click="$ctrl.updateFrequency(frequency.value)">{{frequency.label}}</a>
        </li>
      </ul>
    </div>
    <i class="icon-info"></i>
  </li>
  <li class="separator">
    <span class="label">Start time</span>
    <div class="dropdown btn-group fixedwidth"
         ng-click="$ctrl.openDatePickerModal()"
         ng-disabled="$ctrl.disableStartTimeChange"
         ng-class="{'div-disabled': $ctrl.disableStartTimeChange}">
      <a class="btn dropdown-label" >
        {{$ctrl.getCurrentStartTime()}}
      </a>
      <button type="button" class="btn btn-light dropdown-toggle">
        <i class="icon-calendar"></i>
      </button>
    </div>
    <i class="icon-info"
       tooltips
       tooltip-template="{{$ctrl.startTimeTooltip}}"
       tooltip-size="small"
       tooltip-class="rf-tooltip" tooltip-side="bottom">
    </i>
  </li>
  <li class="separator" ng-if="$ctrl.projectAoi">
    <span class="label">AOI is active</span>
    <rf-toggle value="$ctrl.projectAoi.isActive" on-change="$ctrl.toggleAoiActive()">
    </rf-toggle>
  </li>
</ul>
<div class="sidebar-content" ng-if="$ctrl.project">
  <button class="btn btn-block"
          type="button"
          ng-click="$ctrl.saveParameters()"
          ng-disabled="!$ctrl.shape || $ctrl.isSavingParameters() || $ctrl.unsupportedAois"
          ng-class="{
                 'btn-primary': !$ctrl.error,
                 'btn-warning': $ctrl.error
                 }">
    <span ng-show="!$ctrl.error && $ctrl.lastAoiResponse.count === 1">Save AOI changes</span>
    <span ng-show="!$ctrl.error && $ctrl.lastAoiResponse.count === 0">Start AOI Monitoring</span>
    <span ng-show="$ctrl.unsupportedAois">This AOI must be modified using the API directly</span>
    <span ng-show="$ctrl.error">Error saving changes. Retry?</span>
    <span ng-show="$ctrl.isSavingParameters()"
          class="icon-load animate-spin"
          ng-class="{'stop': !$ctrl.isSavingParameters()}"
    ></span>
    <span ng-show="$ctrl.saveSuccessful" class="icon-check"></span>
    <span ng-show="$ctrl.error" class="icon-refresh"></span>
  </button>
</div>
<div class="sidebar sidebar-extended sidebar-dark"
     ng-show="$ctrl.showFilters">
  <rf-aoi-filter-pane
    ng-if="$ctrl.showFilters"
    data-opened="$ctrl.showFilters"
    filters="$ctrl.aoiParameters"
    on-filter-change="$ctrl.onFilterChange(changes)"
    on-close-filter-pane="$ctrl.onCloseFilterPane(showFilterPane)"
  ></rf-aoi-filter-pane>
</div>
