<div class="sidebar-header">
  <a class="btn sidebar-header-nav-btn" ui-sref="projects.edit">
    <i class="icon-arrow-left"></i>
  </a>
  <h5 class="sidebar-title">AOI Parameters</h5>
</div>
<ul class="sidebar-list">
  <li class="separator separator-primary">
    <div class="label">
      Area of Interest
      <div class="info">Required</div>
    </div>
    <button class="btn btn-default fixedwidth">
      Edit Area of Interest
    </button>
    <i class="icon-info"></i>
  </li>
  <li class="separator">
    <span class="label">Filters</span>
    <button class="btn btn-light fixedwidth" ng-click="$ctrl.toggleFilters()">
      Adjust Filters
    </button>
    <i class="icon-info"></i>
  </li>
  <li class="separator">
    <span class="label">Update frequency</span>
    <div class="dropdown btn-group fixedwidth" uib-dropdown>
      <a class="btn dropdown-label">

      </a>
      <button type="button" class="btn  dropdown-toggle" uib-dropdown-toggle>
        <i class="icon-caret-down"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
        <li ng-repeat="frequency in $ctrl.updateFrequencies" role="menuitem">
          {{frequency.label}}
        </li>
      </ul>
    </div>
    <i class="icon-info"></i>
  </li>
  <li class="separator">
    <span class="label">Update method</span>
    <div class="dropdown btn-group fixedwidth" uib-dropdown>
      <a class="btn dropdown-label">
      </a>
      <button type="button" class="btn  dropdown-toggle" uib-dropdown-toggle>
        <i class="icon-caret-down"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
        <li role="menuitem">Added when found</li>
        <li role="menuitem">Added when approved</li>
      </ul>
    </div>
    <i class="icon-info"></i>
  </li>
  <li class="separator">
    <span class="label">Start time</span>
    <div class="dropdown btn-group fixedwidth">
      <a class="btn dropdown-label" >
        Edit
      </a>
      <button type="button" class="btn  dropdown-toggle" uib-dropdown-toggle>
        <i class="icon-calendar"></i>
      </button>
    </div>
    <i class="icon-info"></i>
  </li>
</ul>
<div class="sidebar-content">
  <button class="btn btn-primary btn-block" type="button">
    Start AOI Monitoring
  </button>
</div>
<div class="sidebar sidebar-extended map-filters"
     ng-show="$ctrl.showFilters">
  <rf-aoi-filter-pane ng-if="$ctrl.showFilters"
                  data-opened="$ctrl.showFilters"
                  filters="$ctrl.filters"></rf-aoi-filter-pane>
</div>
