<div class="sidebar-actions-group" ng-show="$ctrl.selected.size === 0 ">
    <a class="btn btn-small btn-transparent" ui-sref="project.layer.scenes">
        <i class="icon-caret-left"></i>Back
    </a>
    <div class="flex-fill"></div>
    <button class="btn btn-small btn-transparent" ng-click="$ctrl.showFilterPane = true">
        Filter...
    </button>
    <!-- <select class="btn btn-small btn-transparent" -->
    <!-- ng-model="$ctrl.ordering"> -->
    <!-- <option value="">Newest</option> -->
    <!-- <option value="manual">Manual</option> -->
    <!-- <option value="date">Date</option> -->
    <!-- </select> -->
    <button
        class="btn btn-small btn-transparent"
        ng-click="$ctrl.visibleScenes.size > 0 && $ctrl.hideAll()"
        ng-disabled="$ctrl.visibleScenes.size === 0"
        title="Hide all visible scene boundaries on map"
    >
        Hide all
    </button>
</div>
<div class="selected-actions-group" ng-show="$ctrl.selected.size > 0">
    <rf-selected-actions-bar
        checked="$ctrl.allVisibleSelected()"
        on-click="$ctrl.selectAll()"
        action-text="$ctrl.selectText"
    >
        <button class="btn btn-transparent" ng-click="$ctrl.addScenesToLayer()"
            >Add to layer</button
        >
    </rf-selected-actions-bar>
</div>
<div class="list-group" ng-if="!$ctrl.fetchingScenes">
    <div
        class="list-group-item"
        ng-if="$ctrl.currentRepository && !$ctrl.currentRepository.service.defaultRepository"
    >
        <div class="alert alert-default">
            <div class="alert-message"
                >Any scenes added from this repository will also appear in your imports</div
            >
        </div>
    </div>
    <div class="list-group-item" ng-if="$ctrl.sceneCount !== '0'">
        <strong class="color-dark">
            1 - {{ $ctrl.sceneList.length }} of {{ $ctrl.sceneCount }} scenes
        </strong>
    </div>
    <div class="list-group-item" ng-if="$ctrl.fetchError">
        <strong class="color-danger">
            There was an error fetching scenes
        </strong>
        <button type="button" class="btn btn-secondary" ng-click="$ctrl.fetchNextScenes()">
            Try again <i icon="icon-refresh"></i>
        </button>
    </div>
</div>
<div class="list-group" ng-if="$ctrl.fetchingScenes">
    <div class="list-group-item">
        <i
            class="icon-load animate-spin"
            ng-class="{'stop': !$ctrl.fetchingScenes}"
            ng-show="$ctrl.fetchingScenes"
        ></i>
        <strong class="color-dark">
            Loading scenes...
        </strong>
    </div>
</div>
<div
    class="list-group"
    ng-if="$ctrl.sceneList &&
            $ctrl.sceneList.length === 0 &&
            !$ctrl.fetchingScenes &&
            !$ctrl.fetchError"
>
    <div class="list-group-item">
        <strong class="color-dark">
            No scenes match this filter
        </strong>
    </div>
</div>
<div class="sidebar-scrollable list-group">
    <rf-project-scene-item
        ng-repeat="scene in $ctrl.sceneList track by $index"
        scene="scene"
        selected="$ctrl.isSelected(scene)"
        on-select="$ctrl.onSelect(scene)"
        processing="$ctrl.scenesBeingAdded.has(scene.id)"
        is-previewable="true"
    >
        <div
            class="btn btn-text btn-transparent"
            ng-repeat="action in $ctrl.sceneActions.get(scene.id) | filter: {menu: false}"
            ng-title="{{ action.title }}"
            ng-click="action.callback()"
            tooltips
            tooltip-template="{{ action.tooltip }}"
            tooltip-size="small"
            tooltip-class="rf-tooltip"
            tooltip-side="left"
            tooltip-hidden="{{ !action.tooltip }}"
        >
            <i ng-class="action.icon" ng-if="action.icon"></i>
            <i ng-class="icon.icon" ng-if="icon.isActive()" ng-repeat="icon in action.icons"></i>
        </div>
        <button
            class="btn btn-text btn-transparent"
            uib-dropdown
            ng-show="($ctrl.sceneActions.get(scene.id) | filter: {menu: true}).length > 0"
            uib-dropdown-toggle
        >
            <i class="icon-menu"></i>
            <ul class="dropdown-menu dropdown-menu-light drop-left" uib-dropdown-menu role="menu">
                <li
                    role="menuitem"
                    ng-repeat="action in $ctrl.sceneActions.get(scene.id) | filter: {menu: true}"
                >
                    <a
                        href
                        ng-click="action.callback()"
                        ng-show="action.name"
                        ng-attr-title="{{ action.title }}"
                        >{{ action.name }}</a
                    >
                    <span class="menu-separator" ng-show="action.separator"></span>
                </li>
            </ul>
        </button>
    </rf-project-scene-item>
    <div class="sidebar-content">
        <button
            class="btn btn-block btn-secondary"
            ng-show="$ctrl.sceneList.length"
            ng-disabled="!$ctrl.hasNext || $ctrl.fetchingScenes"
            ng-click="$ctrl.fetchNextScenes()"
        >
            Load More Scenes
            <i
                class="icon-load animate-spin"
                ng-class="{'stop': !$ctrl.fetchingScenes}"
                ng-show="$ctrl.fetchingScenes"
            ></i>
        </button>
    </div>
</div>
<div class="sidebar project-side-modal" ng-show="$ctrl.showFilterPane" style="z-index: 1001">
    <rf-scene-filter-pane
        data-opened="$ctrl.showFilterPane"
        data-repositories="$ctrl.repositories"
        on-repository-change="$ctrl.onRepositoryChange(fetchScenes, repository)"
    >
    </rf-scene-filter-pane>
</div>
