<div class="modal-header">
	<button type="button" class="close" aria-label="Close"
          ng-click="$ctrl.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
	<h4 class="modal-title">
    Delete Datasource
  </h4>
</div>
<div class="modal-body">
	<div ng-if="$ctrl.checkInProgress">
		<span class="icon-load animate-spin"
					ng-class="{'stop': !$ctrl.checkInProgress}"
		></span>
		Checking for uploads and scenes associated with this datasource...
	</div>
  <div ng-bind-html="$ctrl.deleteMsg"></div>
</div>
<div class="modal-footer">
	<div class="pull-left">
    <button type="button" class="btn"
            ng-click="$ctrl.dismiss()">
      Cancel
    </button>
  </div>
  <button
		type="button"
		class="btn btn-primary"
    ng-click="$ctrl.close()"
		ng-disabled="!$ctrl.allowDelete">
    Confirm
  </button>
</div>
