<div class="modal-header">
	<button type="button" class="close" aria-label="Close"
          ng-click="$ctrl.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
	<h4 class="modal-title">
    Delete Datasource
  </h4>
	<p>Something here.</p>
</div>
<div class="modal-body">
  <div ng-bind-html="$ctrl.resolve.content"></div>
</div>
<div class="modal-footer">
	<div class="pull-left">
    <button type="button" class="btn"
            ng-click="$ctrl.dismiss()">
      Cancel
    </button>
  </div>
  <button type="button"  class="btn btn-primary"
          ng-click="$ctrl.close()">
    Confirm
  </button>
</div>
