*, *:after, *:before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: $font-base;
  height: 100%;
}

body {
	font-size: 14px;
	font-size: 1.4rem;
	color: $text-base;
  height: 100%;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid $border-color-default;
  clear: both;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: $link-color;

  &:hover {
    color: darken($link-color, 10%);
    cursor: pointer;
  }

  &:not([class]):hover {
    text-decoration: underline;
  }

  &:disabled, &.disabled, &[disabled] {
    opacity: .5;
    cursor: not-allowed;

    &:hover {
      color: $shade-light;
    }
  }
}
