*, *:after, *:before {
	box-sizing: border-box;
}

html { 
	font-size: 62.5%; 
	font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
	font-size: 14px; 
	font-size: 1.4rem;
	color: $text-base;
  height: 100%;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: $brand-primary;

  &:hover {
    color: darken($brand-primary, 10%);
    cursor: pointer;
  }

  &:not([class]):hover {
    text-decoration: underline;
  }

  &:disabled, &.disabled, &[disabled] {
    opacity: .5;
    cursor: not-allowed;

    &:hover {
      color: $shade-light;
    }
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #ddd;
  clear: both;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
