%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// Color helpers
.color-primary {
  color: $brand-primary !important;
}

.color-secondary {
  color: $brand-secondary !important;
}

.color-warning {
  color: $warning !important;
}

.color-danger {
  color: $danger !important;
}

.color-dark {
  color: $shade-dark !important;
}

.color-light {
  color: $shade-light !important;
}

.color-white {
  color: #fff !important;
}

.color-green {
  color: $green !important;
}

// background helpers
.bg-primary {
  background-color: $brand-primary !important;
}

.bg-secondary {
  background-color: $brand-secondary !important;
}

.bg-warning {
  background-color: $warning !important;
}

.bg-danger {
  background-color: $danger !important;
}

// link helpers
.link-primary {
  color: $brand-primary !important;
  &:hover {
    color: darken($brand-primary, 5%) !important;
  }
}

.link-secondary {
  color: $brand-secondary !important;
  &:hover {
    color: darken($brand-secondary, 5%) !important;
  }
}

.link-warning {
  color: $warning !important;
  &:hover {
    color: darken($warning, 5%) !important;
  }
}

.link-danger {
  color: $danger !important;
  &:hover {
    color: darken($danger, 5%) !important;
  }
}

.link-light {
  color: $shade-light !important;
  &:hover {
    color: darken($shade-light, 5%) !important;
  }
}

.no-hover {
  text-decoration: none !important;
}

.hide {
  display: none !important;
}

// responsive hiding
@include respond-to(md-down) {
  .hide-md {
    display: none;
  }
}

@include respond-to(sm-down) {
  .hide-sm {
    display: none;
  }
}

@include respond-to(xs) {
  .hide-xs {
    display: none;
  }
}

.invisible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// Only display content to screen readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Flexbox helpers
.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%; // firefox overflow fix
}

.flex-display {
  display: flex !important;
}

.flex-none {
  flex: none !important;
}

// Text overflow
.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// spacing
.nomargin,
.no-margin {
  margin: 0 !important;
}

.nopadding,
.no-padding {
  padding: 0 !important;
}