%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// Color helpers
.color-primary {
  color: $brand-primary;
}

.color-secondary {
  color: $brand-secondary;
}

.color-warning {
  color: $warning;
}

.color-danger {
  color: $danger;
}

.color-dark {
  color: $shade-dark;
}

// background helpers
.bg-primary {
  background-color: $brand-primary;
}

.bg-secondary {
  background-color: $brand-secondary;
}

.bg-warning {
  background-color: $warning;
}

.bg-danger {
  background-color: $danger;
}

// link helpers
.link-primary {
  color: $brand-primary;
  &:hover {
    color: darken($brand-primary, 5%);
  }
}

.link-secondary {
  color: $brand-secondary;
  &:hover {
    color: darken($brand-secondary, 5%);
  }
}

.link-warning {
  color: $warning;
  &:hover {
    color: darken($warning, 5%);
  }
}

.link-danger {
  color: $danger;
  &:hover {
    color: darken($danger, 5%);
  }
}

.hide {
  display: none !important;
}

.invisible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// Only display content to screen readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
