dl {
  @extend %clearfix;
}

dl > dt {
  font-weight: 600;
  clear: both;
  margin: 5px 0;
}

dl > dd {
  margin-bottom: 10px;
  margin-left: 0;
}

.list-unstyled {
  padding: 0;
  list-style-type:  none;

  li {
    margin: .75rem 0;
  }
}