@mixin heading-tags {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    @content;
  }
}

@include heading-tags {
  margin-bottom: 1rem;
  line-height: 1.2;
  font-family: $font-header;
  color: $shade-dark;
}

h1, h2, h3,
.h1, .h2, .h3 {
  margin-top: 2rem;
}

h4, h5, h6,
.h4, .h5, .h6 {
  margin-top: 1.3rem;
}

h1, .h1 {
  font-size: 3.9rem;
}

h2, .h2 {
  font-size: 3.1rem;
}

h3, .h3 {
  font-size: 2.5rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.6rem;
}

h6, .h6 {
  font-size: 1.3rem;
}

p, .p {
  @extend .font-base;
  font-size: 1.4rem;
  line-height: 1.8;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.font-size-small {
  font-size: 1.3rem;
}

.font-base {
  font-family: $font-base;
}

.font-alt {
  font-family: $font-header;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-none {
  text-transform: none;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.font-400 {
  font-weight: 400;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}
