$navbar-height: 8rem;
$secondary-navbar-height: 7rem;

.container-not-scrollable {
  height: calc(100vh - #{$navbar-height});
  &.with-header {
    height: calc(100vh - #{$navbar-height} - #{$secondary-navbar-height})
  }
}

.opacity-slider {
  bottom: 0;
  position: absolute;
  left: calc(50% - 310px);
  height: 8rem;
  width: 30%;
  z-index: 9999;
  background: #465076;
  padding: 0.5rem 2rem 2rem 2rem;
  transform: translateX(50%);
  h3 {
    margin: 0 0 0.5rem 0;
    color: #959CAC;
  }
}
