<span class="navbar-vertical-divider"></span>
<span ng-if="$ctrl.analysis.title">
  <span class="navbar-detail-title"
        ng-attr-title="{{$ctrl.analysis.title}}">
    {{$ctrl.analysis.title}}
  </span>
</span>
<span class="detail-title-container" ng-if="$ctrl.analysis.name && !$ctrl.editing">
  <button class="btn btn-tiny pate-title-edit detail-title-edit"
          ng-show="!$ctrl.updating"
          ng-click="$ctrl.toggleEdit()">
    <span class="icon-pencil"></span>
  </button>
  <span ng-show="$ctrl.updating" class="icon-load animate-spin" ng-class="{'stop': !$ctrl.updating}"></span>
  <span class="navbar-detail-title" ng-attr-title="{{$ctrl.analysis.name}}">
    {{$ctrl.analysis.name}}
  </span>
</span>
<span ng-if="$ctrl.editing">
  <form class="inline-form" ng-submit="$ctrl.finishEdit()">
    <div class="form-group all-in-one">
      <input id="name" type="text" class="form-control" placeholder="Edit Analysis Name"
             ng-model="$ctrl.nameBuffer" ng-attr-autofocus="{{$ctrl.editing || undefined }}"
             ng-disabled="$ctrl.updating">
      <button class="btn btn-link flex-last" ng-if="!$ctrl.updating">
        <span class="sr-only">Save</span>
        <span class="icon-save"></span>
      </button>
      <button type="button" class="btn btn-link" ng-click="$ctrl.toggleEdit()" ng-if="!$ctrl.updating">
        <span class="sr-only">Cancel</span>
        <span class="icon-cancel"></span>
      </button>
    </div>
  </form>
</span>
<span ng-if="!$ctrl.analysis && !this.updating">
  <span class="navbar-detail-title">
    <span class="icon-load animate-spin" ng-class="{'stop': $ctrl.analysis || this.updating}"></span>
    Loading Analysis...
  </span>
</span>
