<div class="container dashboard">
  <div class="main">
    <div class="row content stack-sm">
      <div class="column-8">
        <div class="dashboard-header">
          <h1 class="h3">Home</h1>
        </div>
        <rf-call-to-action-item title="Projects & Imports" class="panel panel-off-white">
          <p class="pb-25">
            Import your own geospatial imagery or browse publicly available data to use in a project.
          </p>
          <a class="btn btn-primary" ui-sref="projects.list">View Projects</a>
          <button class="btn btn-default" ng-click="$ctrl.openCreateProjectModal()">Create a new Project</button>
          <p><a ng-href="{{$ctrl.HELPCONFIG.GETTING_STARTED_WITH_PROJECTS}}" target="_blank">Getting started with Projects</a></p>
        </rf-call-to-action-item>
        <div class="row stack-sm">
          <div class="column-6 flex-display">
            <rf-call-to-action-item title="Analyze" class="panel panel-off-white">
              <p class="pb-25">
                Use on-demand analysis and get the most out of your imagery.
              </p>
              <button class="btn btn-default"
                      ng-click="$ctrl.openTemplateCreateModal()">
                Create a new Template
              </button>
              <div class="hide-sm"></div>
              <p>
                <a ui-sref="lab.browse.templates">Browse Templates</a>
                <br>
                <a ui-sref="lab.browse.analyses">Browse your Analyses</a>
              </p>
            </rf-call-to-action-item>
          </div>
          <div class="column-6 flex-display">
            <rf-call-to-action-item title="Develop" class="panel panel-off-white">
              <p class="pb-25">
                Leverage {{$ctrl.BUILDCONFIG.APP_NAME}}'s powerful API to create your own imagery applications.
              </p>
              <a class="btn btn-default" ui-sref="user.settings.api-tokens">Manage API Tokens</a>
              <div class="hide-sm"></div>
              <p>
                <a ng-href="{{$ctrl.HELPCONFIG.DEVELOPER_RESOURCES}}" target="_blank">Developer Resources</a>
                <br>
                <a ng-href="{{$ctrl.HELPCONFIG.API_DOCS_URL}}" target="_blank">API Documentation</a>
              </p>
            </rf-call-to-action-item>
          </div>
        </div>
      </div>
      <div class="column spacer"></div>
      <div class="column">
        <div class="aside">
          <section>
            <h5>Account</h5>
            <p>
              Hello, <strong>{{$ctrl.authService.getProfile().nickname}}</strong>
            </p>
            <a class="btn btn-light" ui-sref="user.settings.profile">Manage account</a>
          </section>
          <section ng-if="$ctrl.blogPosts && $ctrl.blogPosts.length">
            <h5>From our blog</h5>
            <ul class="list-unstyled">
              <li ng-repeat="post in $ctrl.blogPosts">
                <a ng-href="https://blog.rasterfoundry.com/{{post.uniqueSlug}}"
                   target="about:blank">{{post.title}}</a>
              </li>
            </ul>
          </section>
          <section class="aside-footer">
            <h5>Help</h5>
            <ul class="list-unstyled">
              <li><a ng-href="{{$ctrl.HELPCONFIG.HELP_HOME}}" target="_blank">Help Center</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
