<div class="container dashboard">
  <div class="main">
    <div class="row content stack-sm">
      <div class="column-8">
        <div class="dashboard-header">
          <h1 class="h3">Home</h1>
        </div>
        <rf-call-to-action-item title="Projects & Imports" class="panel panel-off-white">
          <p class="pb-25">
            <strong>Import</strong> your own observation imagery or <strong>find</strong> publicly available imagery for use in a project. Use the Editor to color correct and arrange imagery, creating the perfect basemap.
          </p>
          <a class="btn btn-primary" ui-sref="projects.list">View Projects</a>
          <button class="btn btn-default" ng-click="$ctrl.openCreateProjectModal()">Create a new Project</button>
          <p><a href="https://help.rasterfoundry.com/creating-projects" target="_blank">Getting started with Projects</a></p>
        </rf-call-to-action-item>
        <div class="row stack-sm">
          <div class="column-6 flex-display">
            <rf-call-to-action-item title="Tools" feature-flag="tools-ui" class="panel panel-off-white">
              <p class="pb-25">
                Use the Raster Foundry Tools to build custom processing tasks and get the most out of your imagery.
              </p>
              <a class="btn btn-secondary" ui-sref="market.search">Browse Tools</a>
              <div class="hide-sm"></div>
              <button class="btn btn-default">Create a new Tool</button>
              <p>
                <a href="https://help.rasterfoundry.com/working-with-tools" target="_blank">Getting started with Tools</a>
              </p>
            </rf-call-to-action-item>
          </div>
          <div class="column-6 flex-display">
            <rf-call-to-action-item title="Develop" class="panel panel-off-white">
              <p class="pb-25">
                Leverage Raster Foundry's powerful API and infrastructure to create your own imagery application.
              </p>
              <a class="btn btn-tertiary" ui-sref="settings.tokens.api">Manage API Tokens</a>
              <div class="hide-sm"></div>
              <button class="btn btn-default">API Documentation</button>
              <p>
                <a href="https://help.rasterfoundry.com/developer-resources" target="_blank">Developer Resources</a>
              </p>
            </rf-call-to-action-item>
          </div>
        </div>
      </div>
      <div class="column spacer"></div>
      <div class="column">
        <div class="aside">
          <section>
            <h5>Account</h5>
            <p>
              Hello, <strong>{{$ctrl.authService.profile().nickname}}</strong>
            </p>
            <a class="btn btn-light" ui-sref="settings.profile">Manage account</a>
          </section>
          <section>
            <h5>From our blog</h5>
            <ul class="list-unstyled">
              <li ng-repeat="post in $ctrl.blogPosts">
                <a ng-href="https://blog.rasterfoundry.com/{{post.uniqueSlug}}"
                   target="about:blank">{{post.title}}</a>
              </li>
            </ul>
          </section>
          <section class="aside-footer">
            <h5>Help</h5>
            <ul class="list-unstyled">
              <li><a href="https://help.rasterfoundry.com/" target="_blank">Help Center</a></li>
              <li><a href="https://docs.rasterfoundry.com/" target="_blank">API Documentation</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
