
.icon-search:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-bucket:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-cross:before { content: '\e804'; } /* '' */
.icon-database:before { content: '\e805'; } /* '' */
.icon-caret-down:before { content: '\e806'; } /* '' */
.icon-caret-up:before { content: '\e807'; } /* '' */
.icon-model:before { content: '\e808'; } /* '' */
.icon-imports:before { content: '\e809'; } /* '' */
.icon-mosaic:before { content: '\e80a'; } /* '' */
.icon-pencil:before { content: '\e80b'; } /* '' */
.icon-resize-full:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-cloud:before { content: '\e80e'; } /* '' */
.icon-sun:before { content: '\e80f'; } /* '' */
.icon-download:before { content: '\e810'; } /* '' */
.icon-locked:before { content: '\e811'; } /* '' */
.icon-unlocked:before { content: '\e812'; } /* '' */
.icon-processing:before { content: '\e813'; } /* '' */
.icon-help:before { content: '\e814'; } /* '' */
.icon-load:before { content: '\e838'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */