<div class="form-group search-form">
  <i class="icon-search input-icon"></i>
  <input id="search-input"
         class="form-control"
         ng-attr-placeholder="{{$ctrl.placeholder || 'Search'}}"
         ng-model="$ctrl.searchText"
         ng-model-options="{
           debounce: 500
         }"
         ng-disabled="$ctrl.disabled"
         ng-change="$ctrl.onSearch({value: $ctrl.searchText})"/>
  <button type="button" class="btn btn-tiny clear-search" ng-click="$ctrl.clearSearch()">
    <span class="sr-only">Clear search</span>
    <i class="icon-cross"></i>
  </button>
</div>
