<div class="container dashboard">
  <div class="row content stack-sm">
    <div class="column-8">

      <!-- Dashboard Header -->
      <div class="dashboard-header">
        <h1 class="h3">Datasources</h1>
        <div class="flex-fill"></div>
        <rf-search on-search="$ctrl.search(value)"
                   placeholder="Search for datasources"
                   auto-focus="true">
        </rf-search>
        <a class="btn btn-primary" ng-click="$ctrl.createDatasourceModal()">
          New datasource
        </a>
      </div>
      <!-- Dashboard Header -->

      <!-- Loading Indicator, show only when loading datasources-->
      <div class="text-center" ng-show="$ctrl.isLoadingDatasources">
        <div>Loading Datasources</div>
        <span class="list-placeholder h3">
          <i class="icon-load animate-spin"></i>
        </span>
      </div>
      <!-- Loading indicator -->

      <!-- Datasources empty state -->
      <div class="cta-row" ng-if="$ctrl.shouldShowPlaceholder()">
        <rf-call-to-action-item 
          title="You haven't created any datasources yet"
          class="panel panel-off-white">
          <div class="cta-flex-text">
            You can create a new datasource by linking Raster Foundry with various kinds of imagery sources like your comptuer, Amazon S3 Buckets, DropBox, and many other sources.
          </div>
          <div class="cta-button-row">
            <a class="btn btn-primary">Create a new Datasource</a>
          </div>
          <div class="cta-text">
            <a>Getting started with Datasources</a>
          </div>
        </rf-call-to-action-item>
      </div>
      <!-- Datasources empty state -->

      <!-- Datasource List -->
      <div class="list-group" ng-show="$ctrl.shouldShowList()">
        <rf-datasource-item
          ng-repeat="datasource in $ctrl.datasources.results | filter: {name: $ctrl.searchString}"
          datasource="datasource"
        >
        </rf-datasource-item>
      </div>
      <!-- Datasource List -->

      <!-- Datasource pagination -->
      <div class="list-group text-center"
          ng-show="$ctrl.shouldShowPagination()">
        <ul uib-pagination
            items-per-page="$ctrl.pageSize"
            total-items="$ctrl.datasources.count"
            ng-model="$ctrl.currentPage"
            max-size="4"
            rotate="true"
            boundary-link-numbers="true"
            force-ellipses="true"
            ng-change="$ctrl.loadDatasources($ctrl.currentPage)">
        </ul>
      </div>
      
      <!-- Placeholder, show only when loading is complete and no datasources were found-->
      <div class="cta-row" ng-if="$ctrl.shouldShowPlaceholder()">
        <rf-call-to-action-item title="You haven't created any datasources yet">
          <div class="cta-flex-text">
            You can create a new datasource by linking {{$ctrl.BUILDCONFIG.APP_NAME}} with various kinds of imagery sources like your comptuer, Amazon S3 Buckets, DropBox, and many other sources.
          </div>
          <div class="cta-button-row">
            <a class="btn btn-primary">Create a new Datasource</a>
          </div>
          <div class="cta-text">
            <a>Getting started with Datasources</a>
          </div>
        </rf-call-to-action-item>
      </div>

    </div>
    <div class="column spacer"></div>
    <div class="column">
      <div class="aside">
        <section>
          <h5>What is a datasource?</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, ea! Minus magni impedit.</p>
        </section>
      </div>
    </div>
  </div>
</div>
