<div class="container dashboard">
  <div class="row content stack-sm">
    <div class="column-8">

      <!-- Dashboard Header -->
      <div class="dashboard-header">
        <h1 class="h3">Datasources</h1>
        <div class="flex-fill"></div>
        <rf-search on-search="$ctrl.fetchPage(1, value)"
                   value="$ctrl.search"
                   placeholder="Search for datasources"
                   auto-focus="true">
        </rf-search>
        <a class="btn btn-primary" ng-click="$ctrl.createDatasourceModal()">
          New datasource
        </a>
      </div>
      <!-- Dashboard Header -->
      <rf-pagination-count
          ng-if="$ctrl.datasources.length && !$ctrl.currentQuery"
          start-index="$ctrl.pagination.startingItem"
          end-index="$ctrl.pagination.endingItem"
          total="$ctrl.pagination.count"
          item-name="datasources">
        <span ng-if="$ctrl.search">while searching for <strong>{{$ctrl.search}}</strong></span>
      </rf-pagination-count>

      <!-- Loading Indicator, show only when loading datasources-->
      <div class="text-center" ng-show="$ctrl.currentQuery">
        <div>Loading Datasources</div>
        <span class="list-placeholder h3">
          <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></i>
        </span>
      </div>
      <!-- Loading indicator -->

      <!-- Datasources empty state -->
      <div class="cta-row" ng-if="$ctrl.shouldShowPlaceholder()">
        <rf-call-to-action-item
          title="You haven't created any datasources yet"
          class="panel panel-off-white">
          <div class="cta-flex-text">
            You can create a new datasource by linking {{$ctrl.BUILDCONFIG.APP_NAME}} with various kinds of imagery sources
            like your computer, Amazon S3 Buckets, DropBox, and many other sources.
          </div>
          <div class="cta-button-row">
            <a class="btn btn-primary">Create a new Datasource</a>
          </div>
          <div class="cta-text">
            <a>Getting started with Datasources</a>
          </div>
        </rf-call-to-action-item>
      </div>
      <div class="cta-row" ng-show="$ctrl.shouldShowEmptySearch()">
        <rf-call-to-action-item
            title="Your search didn't return any datasources"
            class="panel panel-off-white">
          <div class="cta-flex-text">
            We weren't able to find any datasources matching "{{$ctrl.search}}".
          </div>
        </rf-call-to-action-item>
      </div>
      <div class="cta-row" ng-show="$ctrl.fetchError">
        <rf-call-to-action-item
            title="There was an error fetching your datasources."
            class="panel panel-off-white">
          <div class="cta-flex-text">
            Please refresh the page and try again.<br />
            If the problem persists, please contact {{$ctrl.BUILDCONFIG.APP_NAME}} support.
          </div>
        </rf-call-to-action-item>
      </div>
      <!-- Datasources empty state -->

      <!-- Datasource List -->
      <div class="list-group" ng-if="!ctrl.currentQuery && $ctrl.datasources.length">
        <rf-datasource-item
          ng-repeat="datasource in $ctrl.datasources"
          datasource="datasource"
        >
        </rf-datasource-item>
      </div>
      <!-- Datasource List -->


      <!-- Datasource pagination -->
      <rf-pagination-controls
          ng-show="!$ctrl.fetchError"
          pagination="$ctrl.pagination"
          is-loading="$ctrl.currentQuery"
          on-change="$ctrl.fetchPage(value)"
      ></rf-pagination-controls>

      <!-- Placeholder, show only when loading is complete and no datasources were found-->
      <div class="cta-row" ng-if="$ctrl.shouldShowPlaceholder()">
        <rf-call-to-action-item title="You haven't created any datasources yet">
          <div class="cta-flex-text">
            You can create a new datasource by linking {{$ctrl.BUILDCONFIG.APP_NAME}} with various kinds of imagery sources like your comptuer, Amazon S3 Buckets, DropBox, and many other sources.
          </div>
          <div class="cta-button-row">
            <a class="btn btn-primary">Create a new Datasource</a>
          </div>
          <div class="cta-text">
            <a>Getting started with Datasources</a>
          </div>
        </rf-call-to-action-item>
      </div>

    </div>
    <div class="column spacer"></div>
    <div class="column">
      <div class="aside">
        <section>
          <h5>What is a datasource?</h5>
          <p>
            Datasources contain information that is common to imagery that comes from a set of published imagery. Right now we store
            sets of band selections for common visualizations on them.
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
