<rf-pagination-count
    ng-if="$ctrl.pagination.count"
    start-index="$ctrl.pagination.startingItem"
    end-index="$ctrl.pagination.endingItem"
    total="$ctrl.pagination.count"
    item-name="rasters">
</rf-pagination-count>
<div class="text-center" ng-show="$ctrl.loading">
  <div>Loading Imports</div>
  <span class="list-placeholder h3">
    <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.loading}"></i>
  </span>
</div>
<div class="list-group">
  <rf-scene-item
      previewable
      scene="scene"
      repository="$ctrl.repository"
      ng-repeat="scene in $ctrl.importList track by scene.id">
    <rf-item-action-buttons class="btn-group"
                            actions="$ctrl.sceneActions"
                            item="scene"
    >
    </rf-item-action-buttons>
  </rf-scene-item>
</div>
<div class="list-group text-center">
  <rf-pagination-controls
    pagination="$ctrl.pagination"
    is-loading="$ctrl.currentQuery"
    on-change="$ctrl.populateImportList(value)"
    ng-show="$ctrl.shouldShowImportList()"
  ></rf-pagination-controls>
</div>

<!-- No imports placeholder -->
<div ng-if="$ctrl.shouldShowImportBox()">
  <rf-call-to-action-item
    ng-if="$ctrl.ownershipType == 'owned'"
    title="You haven't imported any scenes"
    class="panel panel-off-white">
    <p class="pb-25">
      Every scene that you import will be listed here. After you have imported one or more scenes,
      you can return to this page to view them.
    </p>

    <a class="btn btn-primary" ng-click="$ctrl.importModal()">Import scenes</a>
    <p>
      <a>Getting started with Imports</a>
    </p>
  </rf-call-to-action-item>
  <rf-call-to-action-item
    ng-if="$ctrl.ownershipType == 'shared'"
    title="No raster data has been shared with you yet"
    class="panel panel-off-white">
    <p class="pb-25">
      Once another user shares raster data with you or with organizations or teams you're a part of, you'll be able to see it here.
    </p>
  </rf-call-to-action-item>
</div>
<!-- No imports placeholder -->

<div class="list-group" ng-if="$ctrl.errorMsg">
  <span class="list-placeholder">
    {{$ctrl.errorMsg}}
    <a href ng-click="$ctrl.populateImportList(1)">Try again</a>
  </span>
</div>
