<div class="text-center" ng-show="$ctrl.loading">
  <div>Loading Imports</div>
  <span class="list-placeholder h3">
    <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.loading}"></i>
  </span>
</div>
<div class="list-group">
  <rf-scene-item
      previewable
      scene="scene"
      repository="$ctrl.repository"
      ng-repeat="scene in $ctrl.importList track by scene.id">
    <div class="btn-group" ng-if="$ctrl.sceneActions && $ctrl.sceneActions.length">
      <button type="button"
              class="btn btn-small"
              ng-class="$ctrl.getActionButtonClass(action)"
              ng-repeat="action in $ctrl.sceneActions"
              ng-click="$ctrl.onActionClick($event, action, scene)">
        <span class="sr-only">
          {{action.label}}
        </span>
        <i class="{{action.iconClass}}"></i>
      </button>
    </div>
  </rf-scene-item>
</div>
<div class="list-group text-center"
     ng-if="$ctrl.shouldShowImportList()">
  <ul uib-pagination
      items-per-page="$ctrl.lastSceneResult.pageSize"
      total-items="$ctrl.lastSceneResult.count"
      ng-model="$ctrl.currentPage"
      max-size="4"
      rotate="true"
      boundary-link-numbers="true"
      force-ellipses="true"
      ng-change="$ctrl.populateImportList($ctrl.currentPage)">
  </ul>
</div>

<!-- No imports placeholder -->
<div ng-if="$ctrl.shouldShowImportBox()">
  <rf-call-to-action-item
    title="You haven't imported any scenes"
    class="panel panel-off-white">
    <p class="pb-25">
      Every scene that you import will be listed here. After you have imported one or more scenes,
      you can return to this page to view them.
    </p>

    <a class="btn btn-primary" ng-click="$ctrl.importModal()">Import scenes</a>
    <p>
      <a>Getting started with Imports</a>
    </p>
  </rf-call-to-action-item>
</div>
<!-- No imports placeholder -->

<div class="list-group" ng-if="$ctrl.errorMsg">
  <span class="list-placeholder">
    {{$ctrl.errorMsg}}
    <a href ng-click="$ctrl.populateImportList(1)">Try again</a>
  </span>
</div>
