<div class="color-correct-pane flex-column sidebar-dark">
  <div class="sidebar-header">
    <a class="btn sidebar-header-nav-btn" ui-sref="projects.edit.advancedcolor">
      <i class="icon-arrow-left"></i>
    </a>
    <h5 class="sidebar-title">Advanced Color Correction</h5>
    <div class="header-controls">
      <button class="btn btn-ghost btn-small link-histogram-reset"
                type="button"
                ng-click="$ctrl.$parent.resetCorrection()">Reset Changes</button>
    </div>
  </div>
  <div class="sidebar-scrollable">
    <div class="content histogram-filters">
      <div class="filter-item tag-filter">
        <div class="filter-group-header">
        <h5>Histogram and Clipping</h5>
        <i class="icon-info"
           tooltips
           tooltip-template="The histogram visualizes every pixel in the project from dark to light
                             (left to right). You can change extreme darks and lights to be less
                             extreme by setting a min/max value that the pixels are allowed to be.
                             The effect of this is a more vibrant and realistic image.
                             "
           tooltip-size="small"
           tooltip-class="rf-tooltip"
           tooltip-side="bottom"></i>
        </div>
      </div>
      <div class="color-filters-container">
        <rf-channel-histogram data="$ctrl.histogramData"
                              on-change="$ctrl.onHistogramChange(clipping)"
                              corrections="$ctrl.correction">
        </rf-channel-histogram>
        <div class="histogram-overlay" ng-show="$ctrl.loadingHistogram || !$ctrl.histogramData.length">
          <div class="list-group" ng-show="!$ctrl.loadingHistogram && $ctrl.histogramData && !$ctrl.histogramData.length">
            Scenes in this project do not support histograms,<br />
            or they contain no data.<br />
            Cloud optimized geotif support is coming soon.
          </div>
          <div class="list-group" ng-show="!$ctrl.histogramData || $ctrl.loadingHistogram">
            <span class="list-placeholder">
              <i class="icon-load animate-spin" ng-class="{'stop': $ctrl.histogramData && !$ctrl.loadingHistogram}"></i>
            </span>
          </div>
        </div>
      </div>

        <!-- Color Correction -->
        <!-- Sigmoidal correction-->
        <div class="filter-group">
          <div class="filter-group-header">
            <rf-toggle-old data-model="$ctrl.correction.sigmoidalContrast.enabled"
                       on-change="$ctrl.storeToggle(value, 'sigmoidalContrast', ['alpha', 'beta'])">
            </rf-toggle-old>
            <h5>Sigmoidal Contrast</h5>
            <i class="icon-info"
               tooltips
               tooltip-template="
                Sigmoidal adjustments alter the contrast and brightness of an image by mimicking the way humans see color.
                It can be especially effective in imagery where the output is too dark or bright to see details.
               "
               tooltip-size="small"
               tooltip-class="rf-tooltip"
               tooltip-side="bottom"></i>
          </div>
          <div class="filter-group-body" ng-show="$ctrl.correction.sigmoidalContrast.enabled">
            <div class="filter">
              <label>Threshold</label>
              <rzslider class="dark"
                        rz-slider-model="$ctrl.correction.sigmoidalContrast.alpha"
                        rz-slider-options="$ctrl.alphaOptions"
              ></rzslider>
              <input class="filter-adjust-input"
                     type="number"
                     min=0
                     max=1
                     step=0.01
                     ng-model="$ctrl.correction.sigmoidalContrast.alpha"
                     ng-model-options="{ debounce: 500, updateOn: 'change blur' }"
                     ng-change="$ctrl.onFilterChange()">
            </div>
            <div class="filter">
              <label>Contrast</label>
              <rzslider class="dark"
                        rz-slider-model="$ctrl.correction.sigmoidalContrast.beta"
                        rz-slider-options="$ctrl.betaOptions"
              ></rzslider>
              <input class="filter-adjust-input"
                     type="number"
                     min=0
                     max=10
                     step=0.01
                     ng-model="$ctrl.correction.sigmoidalContrast.beta"
                     ng-model-options="{ debounce: 500, updateOn: 'change blur' }"
                     ng-change="$ctrl.onFilterChange()">
            </div>
          </div>
        </div>

        <!-- Gamma correction-->
        <div class="filter-group">
          <div class="filter-group-header">
            <rf-toggle-old data-model="$ctrl.correction.gamma.enabled"
                       on-change="$ctrl.storeToggle(value, 'gamma', ['redGamma', 'greenGamma', 'blueGamma'])">
            </rf-toggle-old>
            <h5>Color Balance</h5>
            <i class="icon-info"
               tooltips
               tooltip-template="
                Adjusting the the RGB gamma values will brighten or darken mid-tones.
                Gamma adjustments are effective in reducing atmospheric haze in the blue and green bands.
               "
               tooltip-size="small"
               tooltip-class="rf-tooltip"
               tooltip-side="bottom"></i>
          </div>
          <div class="filter-group-body" ng-show="$ctrl.correction.gamma.enabled">
            <div class="filter">
              <label>
                Red
                <i class="icon-locked color-white" ng-if="$ctrl.gammaLinkToggle"></i>
              </label>
              <rzslider class="dark"
                        rz-slider-model="$ctrl.correction.gamma.redGamma"
                        rz-slider-options="$ctrl.redGammaOptions"
              ></rzslider>
              <input class="filter-adjust-input"
                     type="number"
                     min=0
                     max=2
                     step=0.01
                     ng-model="$ctrl.correction.gamma.redGamma"
                     ng-model-options="{ debounce: 500, updateOn: 'change blur' }"
                     ng-change="$ctrl.onGammaFilterChange($ctrl.correction.gamma.redGamma)">
            </div>
            <div class="filter">
              <label>
                Green
                <i class="icon-locked color-white" ng-if="$ctrl.gammaLinkToggle"></i>
              </label>
              <rzslider class="dark"
                        rz-slider-model="$ctrl.correction.gamma.greenGamma"
                        rz-slider-options="$ctrl.greenGammaOptions"
              ></rzslider>
              <input class="filter-adjust-input"
                     type="number"
                     min=0
                     max=2
                     step=0.01
                     ng-model="$ctrl.correction.gamma.greenGamma"
                     ng-model-options="{ debounce: 500, updateOn: 'change blur' }"
                     ng-change="$ctrl.onGammaFilterChange($ctrl.correction.gamma.greenGamma)">
            </div>
            <div class="filter">
              <label>
                Blue
                <i class="icon-locked color-white" ng-if="$ctrl.gammaLinkToggle"></i>
              </label>
              <rzslider class="dark"
                        rz-slider-model="$ctrl.correction.gamma.blueGamma"
                        rz-slider-options="$ctrl.blueGammaOptions"
              ></rzslider>
              <input class="filter-adjust-input"
                     type="number"
                     min=0
                     max=2
                     step=0.01
                     ng-model="$ctrl.correction.gamma.blueGamma"
                     ng-model-options="{ debounce: 500, updateOn: 'change blur' }"
                     ng-change="$ctrl.onGammaFilterChange($ctrl.correction.gamma.blueGamma)">
            </div>
            <div class="filter-group-option">
              <label class="color-white">Link Sliders</label>
              <rf-toggle-old data-model="$ctrl.gammaLinkToggle" on-change="$ctrl.gammaLinkToggled()"></rf-toggle-old>
            </div>
          </div>
        </div>

        <!-- Saturation correction -->
        <div class="filter-group">
          <div class="filter-group-header">
            <rf-toggle-old data-model="$ctrl.correction.saturation.enabled"
                       on-change="$ctrl.storeToggle(value, 'saturation', ['saturation'])">
            </rf-toggle-old>
            <h5 class="h5">Saturation</h5>
          </div>
          <div class="filter-group-body" ng-show="$ctrl.correction.saturation.enabled">
            <div class="filter">
              <label>Saturation</label>
              <rzslider class="dark"
                        rz-slider-model="$ctrl.correction.saturation.saturation"
                        rz-slider-options="$ctrl.saturationOptions"></rzslider>
              <input class="filter-adjust-input"
                     type="number"
                     step="1"
                     ng-model="$ctrl.correction.saturation.saturation"
                     ng-model-options="{ debounce: 500, updateOn: 'change blur' }"
                     ng-change="$ctrl.onFilterChange()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
