<div class="app-width-container">
  <div class="row content stack-sm">
    <div class="column">
        <rf-search on-search="$ctrl.fetchPage(1, value)"
                   value="$ctrl.search"
                   placeholder="Search for analyses"
                   auto-focus="true">
        </rf-search>
        <div class="aside aside-filters">
          <section>
            <h5>Create a new analysis</h5>
            <button type="button"
                    class="btn btn-default btn-block"
                    ui-sref="^.templates">
              New analysis
            </button>
          </section>
        </div>
    </div>
    <div class="column-spacer"></div>
    <div class="column-9">
      <!-- Loading indicator -->
      <div class="text-center" ng-show="$ctrl.currentQuery">
        <div>Loading Analyses</div>
        <span class="list-placeholder h3">
          <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></i>
        </span>
      </div>
      <!-- Loading indicator -->

      <rf-pagination-count
          ng-if="!$ctrl.currentQuery && $ctrl.analyses && $ctrl.analyses.length"
          start-index="$ctrl.pagination.startingItem"
          end-index="$ctrl.pagination.endingItem"
          total="$ctrl.pagination.count"
          item-name="analyses">
        <span ng-if="$ctrl.search">while searching for <strong>{{$ctrl.search}}</strong></span>
      </rf-pagination-count>

      <div ng-if="!$ctrl.currentRequest && !$ctrl.fetchError &&
                  $ctrl.pagination && !$ctrl.pagination.count && !$ctrl.search">
        <rf-call-to-action-item title="You have not created any analyses" class="panel panel-off-white">
          <p class="pb-25">
            Create a new analyses from a template to begin
          </p>
        </rf-call-to-action-item>
      </div>
      <div ng-show="!$ctrl.currentRequest && !$ctrl.fetchError && !$ctrl.pagination.count && $ctrl.search">
        <rf-call-to-action-item
            title="Your search didn't return any analyses"
            class="panel panel-off-white">
          <p class="pb-25">
            Unable to find any analyses matching "<strong>{{$ctrl.search}}</strong>".
          </p>
        </rf-call-to-action-item>
      </div>
      <div class="cta-row" ng-show="$ctrl.fetchError">
        <rf-call-to-action-item
            title="There was an error fetching analyses."
            class="panel panel-off-white">
          <div class="pb-25">
            Please refresh the page and try again.<br />
            If the problem persists, please contact {{$ctrl.BUILDCONFIG.APP_NAME}} support.
          </div>
        </rf-call-to-action-item>
      </div>

      <!-- Temporarily removed ng-click until after demo done and detail page designed. -->
      <table class="paginated-results-table"
             ng-if="!$ctrl.currentQuery && $ctrl.pagination && $ctrl.pagination.count">
        <tr class="header">
          <th>
            <rf-sorting-header direction="$ctrl.sortingDirection"
                               on-sort-change="$ctrl.onSortChange('name')"
                               is-active="$ctrl.sortingField === 'name'"
            >Name</rf-sorting-header>
          </th>
          <th class="date-column">
            <rf-sorting-header direction="$ctrl.sortingDirection"
                               on-sort-change="$ctrl.onSortChange('modifiedAt')"
                               is-active="$ctrl.sortingField === 'modifiedAt'">
              Last Modified
            </rf-sorting-header>
          </th>
          <th>
          </th>
          <th class="action-column">
            <button type="button" class="btn btn-danger"
                    ng-click="$ctrl.deleteSelected()"
                    ng-disabled="!$ctrl.selected.size"
            >Delete selected</button>
          </th>
        </tr>
        <tr ng-repeat="analysis in $ctrl.analyses" class="row-hover-controls">
          <td><a ui-sref="lab.analysis({analysisid: analysis.id, analysis: analysis})">
            {{analysis.name || 'Untitled analysis'}}
          </a></td>
          <td>{{analysis.modifiedAt | date : 'longDate'}}</td>
          <td>
            <a
              ng-click="$ctrl.onAnalysisExportModalClick(analysis)"
              ng-if="$ctrl.analysesExports[analysis.id] && $ctrl.analysesExports[analysis.id] > 0">
              Exports
            </a>
          </td>
          <td class="row-controls">
            <label class="checkbox" ng-class="{active: $ctrl.selected.has(analysis.id)}">
              <input type="checkbox"
                     ng-checked="$ctrl.selected.has(analysis.id)"
                     ng-click="$ctrl.toggleAnalysisSelection(analysis.id)"
              >
            </label>
          </td>
        </tr>
      </table>

      <!-- Pagination -->
      <rf-pagination-controls
          ng-show="!$ctrl.fetchError"
          pagination="$ctrl.pagination"
          is-loading="$ctrl.currentQuery"
          on-change="$ctrl.fetchPage(value)"
      ></rf-pagination-controls>
      <!-- Pagination -->
    </div>
</div>
