<div class="container-admin-header">
  <div class="admin-header">
    <rf-editable-logo
      uri="$ctrl.organization.logoUri"
      show-placeholder="$ctrl.fetching"
    ></rf-editable-logo>
    <div class="admin-logo-text" ng-if="!$ctrl.fetching">
      <h4 class="admin-logo-name"
          ng-if="!$ctrl.isEditTeamName">
          <a class="parent"
             ui-sref="admin.platform({platformId: $ctrl.platform.id})"
             ng-if="$ctrl.authService.isEffectiveAdmin($ctrl.platform.id)"
           >
            {{$ctrl.platform.name}}
          </a>
          <i class="icon-caret-right"
             ng-if="$ctrl.authService.isEffectiveAdmin($ctrl.platform.id)"
          ></i>
          <a ui-sref="admin.organization({organizationId: $ctrl.organization.id})" class="parent">
            {{$ctrl.organization.name}}
          </a>
          <i class="icon-caret-right"></i>
          {{$ctrl.team.name}}
        <button class="btn-transparent btn-admin-name-edit-small"
                type="button"
                ng-click="$ctrl.toggleTeamNameEdit()"
                ng-if="$ctrl.isEffectiveAdmin">
          <span class="icon-pencil"></span>
        </button>
      </h4>
      <div ng-if="$ctrl.isEditTeamName">
        <form class="inline-form" ng-submit="$ctrl.finishTeamNameEdit()">
          <div class="form-group all-in-one form-admin-name-edit-header">
            <input id="name"
                   type="text"
                   class="form-control"
                   ng-init="$ctrl.nameBuffer = $ctrl.team.name"
                   ng-model="$ctrl.nameBuffer">
            <button class="btn btn-link flex-last node-header-eidt-group">
              <span class="icon-save node-label-name"</span>
            </button>
            <button type="button" class="btn btn-link node-header-eidt-group" ng-click="$ctrl.toggleTeamNameEdit()">
              <span class="icon-cancel node-label-name"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="admin-logo-text" ng-if="$ctrl.fetching">
      <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
    </div>
  </div>

  <div class="admin-tabs">
    <div class="admin-tab"
      ui-sref="admin.team.projects"
      ui-sref-active="active"
    >
      Projects
      <span class="tab-count">{{$ctrl.projects.count}}</span>
    </div>
    <div class="admin-tab"
        ui-sref="admin.team.rasters"
        ui-sref-active="active"
    >
      Raster Data
      <span class="tab-count">{{$ctrl.rasters.count}}</span>
    </div>
    <!-- <div class="admin-tab"
        ui-sref="admin.team.vectors"
        ui-sref-active="active"
    >
      Vector Data
      <span class="tab-count">{{$ctrl.vectors.count}}</span>
    </div>
    <div class="admin-tab"
        ui-sref="admin.team.datasources"
        ui-sref-active="active"
    >
      Datasources
      <span class="tab-count">{{$ctrl.datasources.count}}</span>
    </div>
    <div class="admin-tab"
        ui-sref="admin.team.templates"
        ui-sref-active="active"
    >
      Templates
      <span class="tab-count">{{$ctrl.templates.count}}</span>
    </div>
    <div class="admin-tab"
        ui-sref="admin.team.analyses"
        ui-sref-active="active"
    >
      Analyses
      <span class="tab-count">{{$ctrl.analyses.count}}</span>
    </div> -->
    <div class="flex-fill"></div>
    <div class="admin-tab"
         ui-sref="admin.team.users"
         ui-sref-active="active"
    >
      People
      <span class="tab-count">{{$ctrl.members.count}}</span>
    </div>
    <!-- <div class="admin-tab" -->
    <!-- ui-sref="admin.team.settings" -->
    <!-- ui-sref-active="active" -->
    <!-- > -->
    <!-- Team Settings -->
    <!-- </div> -->
  </div>
</div>
<ui-view></ui-view>
