<div class="rf-dropdown-container" >
  <button type="button"
          class="btn"
          ng-class="$ctrl.options.buttonClasses || ['btn-small']"
          ng-class="{active: $ctrl.open}"
          ng-click="$ctrl.toggleDropdown($event)"
          ng-transclude>
  </button>
  <div class="rf-dropdown" ng-show="$ctrl.open">
    <div class="rf-dropdown-item"
         ng-click="item.callback()"
         ng-class="item.classes || []"
         ng-repeat="item in $ctrl.options.items track by $index">
      {{item.label}}
    </div>
  </div>
</div>
