<div class="sidebar-scrollable list-group">
    <rf-pagination-count
        ng-if="!$ctrl.currentQuery && !$ctrl.fetchError && $ctrl.pagination.count"
        start-index="$ctrl.pagination.startingItem"
        end-index="$ctrl.pagination.endingItem"
        total="$ctrl.pagination.count"
        item-name="layers"
    >
    </rf-pagination-count>
    <rf-list-item ng-repeat="layer in $ctrl.layerList track by layer.id">
        <item-title>
            <strong ng-attr-title="{{ layer.name }}">{{ layer.name }}</strong>
        </item-title>
        <item-date>{{ layer.createdAt | date }}</item-date>
        <item-actions>
            <rf-list-item-actions actions="$ctrl.layerActions.get(layer.id)">
            </rf-list-item-actions>
            <div
                class="btn btn-text btn-transparent"
                clipboard
                text="$ctrl.layerUrls.get(layer.id)._url"
                ng-attr-title="{{ $ctrl.layerUrls.get(layer.id)._url }}"
                ng-click="$ctrl.onCopied()"
            >
                <i class="icon-copy"></i>
            </div>
        </item-actions>
    </rf-list-item>
    <div
        class="modal-inner-container small text-center sidebar-top-margin"
        ng-if="$ctrl.currentQuery"
    >
        <span class="modal-icon">
            <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></i>
        </span>
        <h2>Loading layers</h2>
    </div>
    <div
        class="modal-inner-container small text-center sidebar-top-margin"
        ng-if="$ctrl.layerList && !$ctrl.layerList.length && !$ctrl.currentQuery"
    >
        <span class="modal-icon"><i class="icon-info"></i></span>
        <div>
            <h2>This project has no layers</h2>
        </div>
    </div>
    <div
        class="modal-inner-container small text-center sidebar-top-margin"
        ng-if="$ctrl.fetchError && !$ctrl.currentQuery"
    >
        <span class="modal-icon color-danger"><i class="icon-warning"></i></span>
        <div>
            <h2>There was an error fetching layers for this project</h2>
        </div>
    </div>
    <rf-pagination-controls
        pagination="$ctrl.pagination"
        is-loading="$ctrl.currentQuery"
        on-change="$ctrl.fetchPage(value)"
        ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
    ></rf-pagination-controls>
</div>
