/* 
 * Do we use this module anywhere? Is this styling important?
 */

.cta-row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}

.cta-item {
  flex: 1;
  background: #eee;
  padding: 2rem;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  margin: 0 2rem 2rem 0;
  border-radius: 4px;
  min-width: 380px;
  h2, h3 {
    margin: 0 0 1rem 0;
  }
  .cta-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
.cta-flex-text {
  flex: 1;
  margin-bottom: 3rem;
}
.cta-button-row {
  margin: 1rem 0 2rem 0;
  line-height: 3.5;
}
