<div class="app-width-container">
  <div class="row content stack-sm">
    <div class="column">
        <rf-search on-search="$ctrl.search(value)"
                   placeholder="Search for tools"
                   auto-focus="true"
                   disabled="true">
        </rf-search>
        <div class="aside aside-filters">
          <section>
            <h5>Create a new tool</h5>
            <p>
              Build the tool of your dreams in the {{$ctrl.BUILDCONFIG.APP_NAME}} lab.
            </p>
            <a class="btn btn-default btn-block" ng-click="$ctrl.openToolCreateModal()">New tool</a>
          </section>
        </div>
    </div>
    <div class="column-spacer"></div>
    <div class="column-9">
      <!-- Loading indicator -->
      <div ng-show="$ctrl.loading">
        <span class="list-placeholder h3">
          <i class="icon-load animate-spin"></i>
        </span>
      </div>
      <!-- Loading indicator -->

      <div class="font-size-small pagination-count"
         ng-if="!$ctrl.searchString"
      >
        Showing <strong>{{$ctrl.pagination.startingItem}} - {{$ctrl.pagination.endingItem}}</strong> of <strong>{{$ctrl.pagination.count}}</strong> tools
      </div>

      <div class="font-size-small pagination-count"
         ng-if="$ctrl.searchString"
      >
         Showing results for "<strong>{{$ctrl.searchString}}</strong>"
      </div>

      <!-- Temporarily removed ng-click until after demo done and detail page designed. -->
      <table class="paginated-results-table">
        <tr class="header">
          <th>Name</th>
          <th>Last Modified</th>
          <th>Privacy</th>
        </tr>
        <tr ng-repeat="tool in $ctrl.toolList | filter: {title: $ctrl.searchString}">
          <td><a ui-sref="lab.tool({toolid: tool.id, tool: tool})">{{tool.name || 'Untitled tool'}}</a></td>
          <td>{{tool.modifiedAt | date : 'longDate'}}</td>
          <td>{{$ctrl.formatToolVisibility(tool.visibility)}}</td>
        </tr>
      </table>

      <!-- Pagination -->
      <div class="list-group text-center"
           ng-show="!$ctrl.loading && $ctrl.lastToolResponse && $ctrl.pagination.show && !$ctrl.errorMsg &&!$ctrl.searchString">
        <ul uib-pagination
            items-per-page="$ctrl.lastToolResponse.pageSize"
            total-items="$ctrl.pagination.count"
            ng-model="$ctrl.currentPage"
            max-size="4"
            rotate="true"
            boundary-link-numbers="true"
            force-ellipses="true"
            ng-change="$ctrl.fetchToolList($ctrl.currentPage)">
        </ul>
      </div>
      <!-- Pagination -->
    </div>
</div>
