<div class="row content stack-sm">
  <div class="column-8">
    <div class="dashboard-header">
      <h1 class="h3 page-title">Organizations</h1>
    </div>
    <button type="button"
            class="btn"
            ng-click="$ctrl.userModal()">
      User Modal
    </button>
    <button type="button"
            class="btn"
            ng-click="$ctrl.teamModal()">
      Team Modal
    </button>
    <button type="button"
            class="btn"
            ng-click="$ctrl.organizationModal()">
      Organization Modal
    </button>
  </div>
</div>
