<div class="color-correct-pane">
  <div class="sidebar-static">
    <a href ng-click="$ctrl.resetCorrection()" class="link-histogram-reset">Reset Changes</a>
    <div class="sidebar-actions">
      <a href class="btn btn-default btn-small" ng-click="$ctrl.$state.go('^.scenes')">Back</a>
    </div>
  </div>
  <div ng-show="!$ctrl.errorLoadingHistogram" class="sidebar-static histogram">
    <rf-channel-histogram data="$ctrl.data"></rf-channel-histogram>
    <a ng-click="" class="btn btn-link btn-block">Make source histogram</a>
  </div>
  <div ng-show="$ctrl.errorLoadingHistogram" class="sidebar-static">
    Error loading histogram
  </div>
  <div class="sidebar-scrollable">
    <rf-color-correct-adjust
        correction="$ctrl.correction"
        on-correction-change="$ctrl.onCorrectionChange(newCorrection)"
        reset="$ctrl.resetToggle"
        class="color-correct-panel">
    </rf-color-correct-adjust>
  </div>
</div>
