<div class="container column-stretch dashboard-filter wide">
  <div class="sidebar">
    <div class="sidebar-scrollable">
      <div feature-flag="market-search" class="sidebar-category">
        <div class="sidebar-category-title">
          Search Terms
        </div>
        <div class="sidebar-category-contents">
          <button class="btn btn-tag"
                  ng-repeat="searchTerm in $ctrl.searchTerms"
                  ng-click="$ctrl.removeSearchTerm($index)">
            {{searchTerm}}
            <i class="icon-cross" ></i>
          </button>
        </div>
        <div class="sidebar-category-actions">
          <a href ng-click="$ctrl.clearSearch()">Clear All</a>
        </div>
      </div>
      <div feature-flag="market-search" class="sidebar-separator"></div>
      <div class="sidebar-category">
        <div class="sidebar-category-title">
          Tags
        </div>
        <div class="sidebar-category-contents">
          <div class="sidebar-selection"
               ng-repeat="tag in $ctrl.toolTagList">
            <input id="search-tag-{{$id}}" type="checkbox" ng-change="$ctrl.handleTagChange(tag)" ng-checked="tag.selected" ng-model="tag.selected"/>
            <label for="search-tag-{{$id}}">{{tag.tag}}</label>
          </div>
        </div>
        <div class="sidebar-category-actions">
          <a href ng-click="$ctrl.viewMoreTags()">View More</a>
        </div>
      </div>
      <div class="sidebar-separator"></div>
      <div class="sidebar-category">
        <div class="sidebar-category-title">
          Category
        </div>
        <div class="sidebar-category-contents">
          <div class="sidebar-selection"
               ng-repeat="category in $ctrl.toolCategoryList">
            <input id="search-category-{{$id}}" type="checkbox" ng-change="$ctrl.handleCategoryChange(category)" ng-checked="category.selected" ng-model="category.selected">
            <label for="search-category-{{$id}}">{{category.category}}</label>
          </div>
        </div>
        <div class="sidebar-category-actions">
          <a href ng-click="$ctrl.viewMoreCategories()">View More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="content">
      <div class="row stack-sm">
        <h1 class="h3 page-title">
          <a>Showing {{$ctrl.pagination.startingItem}} - {{$ctrl.pagination.endingItem}} of {{$ctrl.pagination.count}} results</a>
        </h1>
      </div>
      <div class="row stack-sm">
        <div class="column">
          <div class="embedded-scrollable">
            <div class="list-group">
              <rf-tool-item
                  ng-repeat="toolData in $ctrl.toolList"
                  tool-data="toolData"
                  ng-click="$ctrl.navTool(toolData)"
              ></rf-tool-item>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group text-center"
           ng-show="!$ctrl.loading && $ctrl.queryResult && $ctrl.pagination.show && !$ctrl.errorMsg">
        <ul uib-pagination
            items-per-page="$ctrl.queryResult.pageSize"
            total-items="$ctrl.queryResult.count"
            ng-model="$ctrl.currentPage"
            max-size="4"
            rotate="true"
            boundary-link-numbers="true"
            force-ellipses="true"
            ng-change="$ctrl.populateToolList($ctrl.currentPage)">
        </ul>
      </div>
    </div>
  </div>
</div>
