<div class="navbar secondary-navbar">
  <div class="navbar-section">
    <nav>
    <a href
       class=""
       ui-sref="projects.edit.scenes"
       ng-class="{
              active: ('projects.edit.scenes' | includedByState) ||
                      ('projects.edit.browse' | includedByState)
              }"
       data-title="Scenes">
      <i class="icon-project"></i>
      <span>Scenes</span>
    </a>
    <a href
       class=""
       ui-sref="projects.edit.colormode"
       ng-class="{
         active: ('projects.edit.colormode' | includedByState) ||
                 ('projects.edit.advancedcolor' | includedByState)
       }"
       data-title="Color mode">
      <i class="icon-color-correct"></i>
      <span>Color mode</span>
    </a>
    <a href
       class=""
       ui-sref="projects.edit.annotate"
       ui-sref-active="active"
       data-title="Annotations">
      <i class="icon-polygon"></i>
      <span>Annotations</span>
    </a>
    <a href
       class=""
       ui-sref="projects.edit.exports"
       ui-sref-active="active"
       data-title="Exports">
      <i class="icon-download"></i>
      <span>Exports</span>
    </a>
    <a href
       class=""
       ui-sref="projects.edit.sharing"
       ui-sref-active="active"
       data-title="Share">
      <i class="icon-share"></i>
      <span>Publish</span>
    </a>
    <a href
       ng-click="$ctrl.openShareModal()"
       data-title="Share"
       ng-if="$ctrl.projectOwnerId === $ctrl.actingUserId">
      <i class="icon-key"></i>
      <span>Permissions</span>
    </a>
    </nav>
  </div>
</div>
<div class="container column-stretch container-not-scrollable">
  <div class="sidebar" ui-view>
  </div>

  <!-- Main map area -->
  <div class="main">
    <rf-map-container map-id="edit"
                      ng-show="!$ctrl.showPreviewMap"
                      initial-center="$ctrl.initialCenter"
                      initial-zoom="$ctrl.initialZoom"
    ></rf-map-container>
    <rf-map-container map-id="preview"
                      ng-if="$ctrl.showPreviewMap"
                      initial-center="$ctrl.center"
                      initial-zoom="$ctrl.zoom"
    ></rf-map-container>
  </div>
  <!-- Main map area -->
</div>
