<div class="container-admin-header">
  <div class="admin-header">
    <div class="admin-logo image-placeholder" ng-if="!$ctrl.orgLogoUri.length && !$ctrl.isSuperOrAdmin || $ctrl.fetching"></div>
    <div class="admin-logo image-placeholder editable-image-placeholder"
         ng-if="!$ctrl.orgLogoUri.length && $ctrl.isSuperOrAdmin && !$ctrl.fetching"
         ng-click="$ctrl.addLogoModal()"
    ></div>
    <div class="admin-logo editable-image-always"
         ng-if="$ctrl.orgLogoUri.length && $ctrl.isSuperOrAdmin && !$ctrl.fetching"
         ng-click="$ctrl.addLogoModal()"
    >
      <img ng-attr-src="{{$ctrl.orgLogoUri}}">
    </div>
    <div class="admin-logo"
         ng-if="$ctrl.orgLogoUri.length && !$ctrl.isSuperOrAdmin && !$ctrl.fetching">
      <img ng-attr-src="{{$ctrl.orgLogoUri}}">
    </div>
    <div class="admin-logo-text" ng-if="!$ctrl.fetching">
      <h1 class="admin-logo-name h3">
        {{$ctrl.organization.name}}
      </h1>
      <div>
        Organization Management
      </div>
    </div>
    <div class="admin-logo-text" ng-if="$ctrl.fetching">
      <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
    </div>
  </div>

  <div class="admin-tabs">
    <!-- <div class="admin-tab" -->
    <!-- ui-sref="admin.organization.metrics" -->
    <!-- ui-sref-active="active" -->
    <!-- > -->
    <!-- Metrics -->
    <!-- </div> -->
    <div class="admin-tab"
         ui-sref="admin.organization.users"
         ui-sref-active="active"
    >
      User Management
    </div>
    <div class="admin-tab"
         ui-sref="admin.organization.teams"
         ui-sref-active="active"
    >
      Teams
    </div>
    <!-- <div class="admin-tab" -->
    <!-- ui-sref="admin.organization.settings" -->
    <!-- ui-sref-active="active" -->
    <!-- > -->
    <!-- Organization Settings -->
    <!-- </div> -->
  </div>
</div>
<ui-view></ui-view>
