<div class="admin-header">
    <rf-editable-logo
      uri="$ctrl.organization.logoUri"
      can-edit="$ctrl.isEffectiveAdmin"
      show-placeholder="$ctrl.fetching"
      on-edit="$ctrl.addLogoModal()"
      update-trigger="$ctrl.logoUpdateTrigger"
    ></rf-editable-logo>
  <div class="admin-logo-text" ng-if="!$ctrl.fetching">
    <h4 class="admin-logo-name"
        ng-if="!$ctrl.isEditOrgName">
      <a class="parent"
         ui-sref="admin.platform({platformId: $ctrl.platform.id})"
         ng-if="$ctrl.authService.isEffectiveAdmin($ctrl.platform.id)"
      >
        {{$ctrl.platform.name}}
      </a>
      <i class="icon-caret-right"
         ng-if="$ctrl.authService.isEffectiveAdmin($ctrl.platform.id)"
      ></i>
      <div>{{$ctrl.organization.name}}</div>
      <button class="btn-tiny btn-transparent btn-admin-name-edit-small"
              type="button"
              ng-click="$ctrl.toggleOrgNameEdit()"
              ng-if="$ctrl.isEffectiveAdmin">
        <span class="icon-pencil"></span>
      </button>
    </h4>
    <div ng-if="$ctrl.isEditOrgName">
      <form class="inline-form" ng-submit="$ctrl.finishOrgNameEdit()">
        <div class="form-group all-in-one form-admin-name-edit-header">
          <input id="name"
                 type="text"
                 class="form-control"
                 ng-init="$ctrl.nameBuffer = $ctrl.organization.name"
                 ng-model="$ctrl.nameBuffer">
          <button class="btn btn-link flex-last node-header-eidt-group">
            <span class="sr-only">Save</span>
            <span class="icon-save node-label-name"</span>
          </button>
          <button type="button" class="btn btn-link node-header-eidt-group" ng-click="$ctrl.toggleOrgNameEdit()">
            <span class="sr-only">Cancel</span>
            <span class="icon-cancel node-label-name"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="admin-logo-text" ng-if="$ctrl.fetching">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
  </div>
</div>

<div class="admin-tabs">
  <div class="admin-tab"
    ui-sref="admin.organization.projects"
    ui-sref-active="active"
  >
    Projects
    <span class="tab-count">{{$ctrl.projects.count}}</span>
  </div>
  <div class="admin-tab"
      ui-sref="admin.organization.rasters"
      ui-sref-active="active"
  >
    Raster Data
    <span class="tab-count">{{$ctrl.rasters.count}}</span>
  </div>
  <!-- <div class="admin-tab"
      ui-sref="admin.organization.vectors"
      ui-sref-active="active"
  >
    Vector Data
    <span class="tab-count">{{$ctrl.vectors.count}}</span>
  </div>
  <div class="admin-tab"
      ui-sref="admin.organization.datasources"
      ui-sref-active="active"
  >
    Datasources
    <span class="tab-count">{{$ctrl.datasources.count}}</span>
  </div>
  <div class="admin-tab"
      ui-sref="admin.organization.templates"
      ui-sref-active="active"
  >
    Templates
    <span class="tab-count">{{$ctrl.templates.count}}</span>
  </div>
  <div class="admin-tab"
      ui-sref="admin.organization.analyses"
      ui-sref-active="active"
  >
    Analyses
    <span class="tab-count">{{$ctrl.analyses.count}}</span>
  </div> -->
  <!-- <div class="admin-tab" -->
  <!-- ui-sref="admin.organization.metrics" -->
  <!-- ui-sref-active="active" -->
  <!-- > -->
  <!-- Metrics -->
  <!-- </div> -->
  <div class="flex-fill"></div>
  <div class="admin-tab"
       ui-sref="admin.organization.users"
       ui-sref-active="active"
  >
    People
    <span class="tab-count">{{$ctrl.members.count}}</span>
  </div>
  <div class="admin-tab"
       ui-sref="admin.organization.teams"
       ui-sref-active="active"
  >
    Teams
    <span class="tab-count">{{$ctrl.teams.count}}</span>
  </div>
  <div class="admin-tab"
       ui-sref="admin.organization.settings"
       ui-sref-active="active"
       ng-if="$ctrl.isEffectiveAdmin"
  >
    <i class="icon-settings" title="Organization Settings"></i>
  </div>
  <!-- <div class="admin-tab" -->
  <!-- ui-sref="admin.organization.settings" -->
  <!-- ui-sref-active="active" -->
  <!-- > -->
  <!-- Organization Settings -->
  <!-- </div> -->
</div>
<ui-view></ui-view>
