<div class="container-admin-header">
  <div class="admin-header">
    <div class="admin-logo image-placeholder" ng-if="!$ctrl.orgLogoUri.length"></div>
    <div class="admin-logo"
         ng-mouseenter="$ctrl.isSuperOrAdmin && $ctrl.onLogoHovered(true)"
         ng-if="!(!$ctrl.fetching && $ctrl.onLogoHover) && $ctrl.orgLogoUri.length">
      <img ng-attr-src="{{$ctrl.orgLogoUri}}">
    </div>
    <div class="admin-logo-overlay"
         ng-click="$ctrl.addLogoModal()"
         ng-mouseleave="$ctrl.isSuperOrAdmin && $ctrl.onLogoHovered(false)"
         ng-if="!$ctrl.fetching && $ctrl.onLogoHover && $ctrl.isSuperOrAdmin">
      <p>{{$ctrl.orgLogoUri.length ? 'Change' : 'Add'}}</p>
    </div>
    <div class="admin-logo-text" ng-if="!$ctrl.fetching">
      <h1 class="admin-logo-name h3">
        {{$ctrl.organization.name}}
      </h1>
      <div>
        Organization Management
      </div>
    </div>
    <div class="admin-logo-text" ng-if="$ctrl.fetching">
      <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
    </div>
  </div>

  <div class="admin-tabs">
    <!-- <div class="admin-tab" -->
    <!-- ui-sref="admin.organization.metrics" -->
    <!-- ui-sref-active="active" -->
    <!-- > -->
    <!-- Metrics -->
    <!-- </div> -->
    <div class="admin-tab"
         ui-sref="admin.organization.users"
         ui-sref-active="active"
    >
      User Management
    </div>
    <div class="admin-tab"
         ui-sref="admin.organization.teams"
         ui-sref-active="active"
    >
      Teams
    </div>
    <!-- <div class="admin-tab" -->
    <!-- ui-sref="admin.organization.settings" -->
    <!-- ui-sref-active="active" -->
    <!-- > -->
    <!-- Organization Settings -->
    <!-- </div> -->
  </div>
</div>
<ui-view></ui-view>
