<div class="admin-list-content column-stretch">
  <div ng-if="$ctrl.errorMsg">
    <p>
      {{$ctrl.errorMsg}}
    </p>
  </div>
  <div class="admin-list-actions" ng-if="!$ctrl.errorMsg && $ctrl.users.length">
    <div>
      <rf-search on-search="$ctrl.debouncedSearch(value)"
                 placeholder="Search for users"
                 auto-focus="true"
                 disabled="$ctrl.fetching || !$ctrl.users.length"
      ></rf-search>
      <rf-pagination-count
        start-index="$ctrl.pagination.startingItem"
        end-index="$ctrl.pagination.endingItem"
        total="$ctrl.pagination.count"
        item-name="users"
      ></rf-pagination-count>
    </div>
    <div class="actions-right">
      <button type="button" class="btn btn-primary"
              ng-click="$ctrl.addUserModal()"
              ng-disabled="$ctrl.fetching">
        Add Users
      </button>
    </div>
  </div>
  <rf-call-to-action-item
    title="No users are in this organization yet"
    class="panel panel-off-white"
    ng-if="!$ctrl.users.length && !$ctrl.fetching">
    <p class="pb-25">
      The {{$ctrl.organization.name}} organization does not have any users yet.
      When it does, they'll be shown here.
    </p>

    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.addUserModal()"
    >
      Add Users
    </button>
  </rf-call-to-action-item>
  <table class="admin-table admin-org-user-table" ng-if="!$ctrl.fetching && $ctrl.users.length">
    <tbody>
      <tr ng-repeat="user in $ctrl.users track by $index">
        <td class="username">
          <div class="avatar user-avatar image-placeholder" ng-if="!user.profileImageUri"></div>
          <div ng-if="user.profileImageUri">
            <img class="avatar user-avatar" ng-src="{{user.profileImageUri}}">
          </div>
          <div class="font-600">
            {{user.name || user.email || user.id}}
          </div>
        </td>
        <td class="emails" ng-class="{'color-light': !user.email}">
          {{user.email || 'No email available'}}
        </td>
        <td class="roles titlecase">
            {{$ctrl.getUserGroupRole(user)}}
        </td>
        <td class="actions">
          <rf-dropdown data-options="user.options" ng-if="user.showOptions && !user.buttonType">
            <span class="icon-caret-down h4"></span>
          </rf-dropdown>
          <div class="btn-group">
            <button type="button" class="btn btn-danger btn-small"
                    ng-click="$ctrl.updateUserMembershipStatus(user, false)"
                    ng-if="user.showOptions && user.buttonType === 'requested'">
              Deny
            </button>
            <button type="button" class="btn btn-primary btn-small"
                    ng-click="$ctrl.updateUserMembershipStatus(user, true)"
                    ng-if="user.showOptions && user.buttonType === 'requested'">
              Approve
            </button>
          </div>
          <button type="button" class="btn btn-light btn-small"
                  ng-click="$ctrl.updateUserMembershipStatus(user, false)"
                  ng-if="user.showOptions && user.buttonType === 'invited'">
            Cancel
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-loading" ng-if="$ctrl.fetching">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
  </div>
  <!-- Pagination -->
  <div class="list-group text-center"
        ng-show="!$ctrl.loading && $ctrl.lastUserResult && $ctrl.pagination.show && !$ctrl.errorMsg">
    <ul uib-pagination
        items-per-page="$ctrl.lastUserResult.pageSize"
        total-items="$ctrl.pagination.count"
        ng-model="$ctrl.currentPage"
        max-size="4"
        rotate="true"
        boundary-link-numbers="true"
        force-ellipses="true"
        ng-change="$ctrl.fetchUsers($ctrl.currentPage, $ctrl.search)">
    </ul>
  </div>
  <!-- Pagination -->
</div>
