// Brand Colors:
$brand-primary: #738FFC;
$brand-secondary: #2FC1D0;
$brand-tertiary: #53B1E0;

// Base Colors:
$text-base: #7B8391;
$shade-light: #959CAC;
$shade-normal: #465076;
$shade-dark: #353C58;

// grays:
$gray: #38394f;
$gray-light: lighten($gray, 10%); //#4d4f6d
$gray-lighter: lighten($gray, 35%); //#8c8dad
$gray-lightest: #ddd;
$gray-dark: darken($gray, 2%); //#343549
$gray-darker: #1b1c31;
$link-color: $brand-primary;

// whites
$white: #fff;
$off-white: #f3f3f3;

// Action Colors:
$warning: #E69348;
$danger: #F98094;

$green: #81C784;
$yellow: #FFCA28;
$red: #E57373;