<!-- Static Sidebar -->
<div class="sidebar-project">
  <div class="sidebar-static">
    <div class="sidebar-header">
      <a class="btn sidebar-header-nav-btn" ng-click="$ctrl.onGoToParent()">
        <i class="icon-arrow-left"></i>
      </a>
      <h5 class="sidebar-title">Import Annotations</h5>
    </div>
    <div class="list-group" ng-show="!$ctrl.uploadData">
      <div class="color-danger font-700 text-center annotation-upload-error" ng-if="$ctrl.uploadAnnotationsError">
        {{$ctrl.uploadAnnotationsError}}
      </div>
      <div class="list-group-item">
        <label class="btn btn-primary btn-block btn-upload-label"
               for="geojson-btn-upload"
               ng-click="$ctrl.onUploadClick()">
          <input type="file"
                 accept="*.geojson"
                 multiple
                 id="geojson-btn-upload"
                 class="btn-upload"/>
          Upload GeoJSON
        </label>
      </div>
      <div class="list-group-item">
        <label class="btn btn-primary btn-block btn-upload-label"
               for="shapefile-btn-upload"
               ng-click="$ctrl.onUploadClick()">
          <input type="file"
                 accept="*.zip"
                 multiple
                 id="shapefile-btn-upload"
                 class="btn-upload"/>
          Upload Zipped Shapefile
        </label>
      </div>
    </div>
    <div class="list-group" ng-show="$ctrl.uploadData">
      <div class="list-group-item">
        <strong>
          Select property names:
        </strong>
      </div>
    </div>
  </div>
  <div class="list-group" ng-if="$ctrl.uploadData || $ctrl.hasShapefileProps">
    <div class="list-group-item">
      <div>
        <span title="Machine made"><strong>Machine made</strong></span>
      </div>
      <div class="list-group-right">
        <rf-toggle value="$ctrl.isMachineData" on-change="$ctrl.isMachineMade()">
        </rf-toggle>
      </div>
    </div>
    <div class="list-group-item">
      <span title="Label name"><strong>Label name</strong></span>
      <div class="list-group-right">
        <div class="dropdown btn-group fixedwidth upload" uib-dropdown uib-dropdown-toggle>
          <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.label !== null">
            {{$ctrl.matchKeys.label || 'Choose a column'}}
          </a>
          <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.label === null">
            Use default val
          </a>
          <button type="button" class="btn btn-primary dropdown-toggle">
            <i class="icon-caret-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
            <li role="menuitem">
              <a ng-click="$ctrl.updateKeySelection('label', null)">Use default val</a>
            </li>
            <li ng-repeat="p in $ctrl.dataProperties" role="menuitem">
              <a ng-click="$ctrl.updateKeySelection('label', p)">{{p}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="list-group-item" ng-if="$ctrl.matchKeys.label === null">
      <span title="Default Label"><strong>Default Label</strong></span>
      <div class="list-group-right">
        <input type="text" class="form-control "
               placeholder="No Default"
               ng-model="$ctrl.defaultKeys['label']"
               ng-init="$ctrl.defaultKeys['label'] = 'Unlabeled'">
      </div>
    </div>
    <div class="list-group-item">
      <span title="Description"><strong>Description</strong></span>
      <div class="list-group-right">
        <div class="dropdown btn-group fixedwidth upload" uib-dropdown uib-dropdown-toggle>
          <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.description !== null">
            {{$ctrl.matchKeys.description || 'Choose a column'}}
          </a>
          <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.description === null">
            Use default val
          </a>
          <button type="button" class="btn btn-primary dropdown-toggle">
            <i class="icon-caret-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
            <li role="menuitem">
              <a ng-click="$ctrl.updateKeySelection('description', null)">Use default val</a>
            </li>
            <li ng-repeat="p in $ctrl.dataProperties" role="menuitem">
              <a ng-click="$ctrl.updateKeySelection('description', p)">{{p}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="list-group-item" ng-if="$ctrl.matchKeys.description === null">
      <span title="Default Label"><strong>Default Description</strong></span>
      <div class="list-group-right">
        <input type="textarea" class="form-control "
               placeholder="No Description"
               ng-model="$ctrl.defaultKeys['description']"
               ng-init="$ctrl.defaultKeys['description'] = 'No Description'">
      </div>
    </div>
    <div class="list-group-item" ng-if="$ctrl.isMachineData && $ctrl.hasShapefileProps">
      <span title="Confidence"><strong>Machine Made</strong></span>
      <div class="list-group-right">
        <div class="dropdown btn-group fixedwidth upload" uib-dropdown uib-dropdown-toggle>
          <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.isMachine !== null">
            {{$ctrl.matchKeys.isMachine || 'Choose a column'}}
          </a>
          <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.isMachine === null">
            No indication
          </a>
          <button type="button" class="btn btn-primary dropdown-toggle">
            <i class="icon-caret-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
            <li role="menuitem">
              <a ng-click="$ctrl.updateKeySelection('isMachine', null)">No indication</a>
            </li>
            <li ng-repeat="p in $ctrl.dataProperties" role="menuitem">
              <a ng-click="$ctrl.updateKeySelection('isMachine', p)">{{p}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="list-group-item" ng-if="$ctrl.isMachineData">
      <span title="Confidence"><strong>Confidence</strong></span>
      <div class="list-group-right">
        <div class="dropdown btn-group fixedwidth upload" uib-dropdown uib-dropdown-toggle>
          <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.confidence !== null">
            {{$ctrl.matchKeys.confidence || 'Choose a column'}}
          </a>
          <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.confidence === null">
            No confidence rating
          </a>
          <button type="button" class="btn btn-primary dropdown-toggle">
            <i class="icon-caret-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
            <li role="menuitem">
              <a ng-click="$ctrl.updateKeySelection('confidence', null)">No confidence rating</a>
            </li>
            <li ng-repeat="p in $ctrl.dataProperties" role="menuitem">
              <a ng-click="$ctrl.updateKeySelection('confidence', p)">{{p}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="list-group-item"  ng-if="$ctrl.isMachineData">
      <span title="Quality"><strong>Quality</strong></span>
      <div class="list-group-right">
        <div class="dropdown btn-group fixedwidth upload" uib-dropdown uib-dropdown-toggle>
          <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.quality !== null">
            {{$ctrl.matchKeys.quality || 'Choose a column'}}
          </a>
          <a class="btn dropdown-label" ng-show="$ctrl.matchKeys.quality === null">
            Use default val
          </a>
          <button type="button" class="btn btn-primary dropdown-toggle">
            <i class="icon-caret-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
            <li role="menuitem">
              <a ng-click="$ctrl.updateKeySelection('quality', null)">Use default val</a>
            </li>
            <li ng-repeat="p in $ctrl.dataProperties" role="menuitem">
              <a ng-click="$ctrl.updateKeySelection('quality', p)">{{p}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="list-group-item" ng-if="$ctrl.isMachineData && $ctrl.matchKeys.quality === null">
      <span title="Default Quality"><strong>Default Quality</strong></span>
      <div class="list-group-right">
        <div class="dropdown btn-group fixedwidth upload" uib-dropdown uib-dropdown-toggle>
          <a class="btn dropdown-label">{{$ctrl.defaultKeys['quality'] || 'None'}}</a>
          <button type="button" class="btn btn-primary dropdown-toggle">
            <i class="icon-caret-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
            <li role="menuitem">
              <a ng-click="$ctrl.defaultKeySelection('quality', 'YES')">YES</a>
            </li>
            <li role="menuitem">
              <a ng-click="$ctrl.defaultKeySelection('quality', 'NO')">NO</a>
            </li>
            <li role="menuitem">
              <a ng-click="$ctrl.defaultKeySelection('quality', 'MISS')">MISS</a>
            </li>
            <li role="menuitem">
              <a ng-click="$ctrl.defaultKeySelection('quality', 'UNSURE')">UNSURE</a>
            </li>
            <li role="menuitem">
              <a ng-click="$ctrl.defaultKeySelection('quality', null)">None</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <button class="btn btn-primary btn-block"
                type="button"
                ng-disabled="!$ctrl.enableImport"
                ng-attr-title="{{$ctrl.enableImport ? 'Import' : 'Make a selection for every required column.'}}"
                ng-click="$ctrl.onImportClick()">
          Import
        </button>
      </div>
    </div>
  </div>
