<div class="container column-stretch dashboard">
  <div class="main">
    <div class="row content stack-sm">
      <div class="column">
        <div id="preview">
          <h1 class="h3 page-title">
            {{$ctrl.tool.title}}
          </h1>
        </div>
        <div>
          <div uib-carousel
               active="$ctrl.activeSlide"
               template-url="carousel.html"
               ng-if="$ctrl.tool && $ctrl.testScreenshots.length"
          >
            <div uib-slide
                 index="$index"
                 ng-repeat="screenshot in $ctrl.testScreenshots track by screenshot.id">
              <img ng-src="{{screenshot.url}}">
            </div>
          </div>
          <div ng-if="$ctrl.tool && $ctrl.testScreenshots.length === 0"
               class="image-placeholder" style="height: 480px; width: 800px;">
               <div>No tool preview is available</div>
          </div>
        </div>
        <div class="horizontal-separator"></div>
        <div id="description" class="tool-detail-section">
          <div class="tool-detail-header">
            <h5>Description</h5>
          </div>
          <div>
            <p>
              {{$ctrl.tool.description}}
            </p>
          </div>
        </div>
        <div id="upload-info" class="tool-detail-section">
          <table class="upload-info">
            <tr>
              <th>
                Created By
              </th>
              <th>
                Creation date
              </th>
              <th>
                Last modified
              </th>
            </tr>
            <tr>
              <td>
                Raster Foundry
              </td>
              <td>
                {{$ctrl.tool.createdAtFormatted}}
              </td>
              <td>
                {{$ctrl.tool.modifiedAtFormatted}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="requirements" class="tool-detail-section">
          <div class="tool-detail-header">
            <h5>Requirements for use</h5>
          </div>
          <div>
            <p>
              {{$ctrl.tool.requirements}}
            </p>
          </div>
        </div>
        <div id="tags" class="tool-detail-section">
          <div class="tool-detail-header">
            <h5>Tags</h5>
          </div>
          <div class="sidebar-category">
            <button class="btn btn-tag"
                    ng-repeat="tag in $ctrl.toolData.tags">
              {{tag}}
            </button>
          </div>
        </div>
        <div id="category" class="tool-detail-section">
          <div class="tool-detail-header">
            <h5>Categories</h5>
          </div>
          <div class="sidebar-category">
            <button class="btn btn-tag"
                    ng-repeat="category in $ctrl.toolData.categories">
              {{category}}
            </button>
          </div>
        </div>
        <div id="license" class="tool-detail-section">
          <div class="tool-detail-header">
            <h5>Usage License</h5>
            <p ng-show="!$ctrl.tool.license">
              No license information was provided. If this work was prepared by
              Raster Foundry as part of the official Tool Catalog, it is
              considered a Raster Foundry work and usage should follow the general
              <a>terms of use</a>
            </p>
            <p ng-show="$ctrl.tool.license">
              {{$ctrl.tool.license}}
            </p>
          </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="tool-detail-section">
          <div class="tool-detail-header">
            <h3>Compatible Data Sources</h3>
          </div>
          <div>
          </div>
        </div>
        <div class="tool-detail-section">
          <div class="tool-detail-header">
            <h3>Similar Tools</h3>
          </div>
          <div class="list-group">
            <rf-tool-item
                ng-repeat="toolData in $ctrl.similarQueryResult.results"
                tool-data="toolData"
            ></rf-tool-item>
          </div>
        </div>
      </div>
      <div class="column-3">
        <div class="content">
          <button class="btn btn-flat" style="width: 100%;">Save to My tools</button>
          <div class="panel">
            <div class="panel-body centered">
              <h5>Free to use</h5>
              <a ui-sref="lab.run({toolid: $ctrl.tool.id})" class="btn btn-primary">Execute Tool</a>
            </div>
          </div>
          <div class="reference-list">
            <div class="reference">
              Preview
            </div>
            <div class="reference">
              Description
            </div>
            <div class="reference">
              Upload Info
            </div>
            <div class="reference">
              Requirements
            </div>
            <div class="reference">
              Tags
            </div>
            <div class="reference">
              Category
            </div>
            <div class="reference">
              License
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Find another way to inject the carousel template into the angular cache -->
<script type="text/ng-template" id="carousel.html">
  <div class="carousel-inner" ng-transclude></div>
  <button class="btn left carousel-control" ng-click="prev()"
          ng-class="{ disabled: isPrevDisabled() }"
          ng-show="slides.length > 1">
    < Previous
  </button>
  <button class="btn right carousel-control"
          ng-click="next()" ng-class="{ disabled: isNextDisabled() }"
          ng-show="slides.length > 1">
    Next >
  </button>
  <ol class="carousel-indicators" ng-show="slides.length > 1">
    <li ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
      <span class="sr-only">
        slide {{ $index + 1 }} of {{ slides.length }}
        <span ng-if="isActive(slide)">, currently active</span>
      </span>
    </li>
  </ol>
</script>
