// @TODO: need to incorporate a full width table style for upload info

table.upload-info {
    width: 100%;
    th {
        text-align: left;
        padding-bottom: 0.5rem;
    }
}

.reference-list {
    margin-top: 1.5rem;
    .reference {
        margin-bottom: 1.5rem;
    }
}
