@import "../../../../../assets/styles/sass/settings/_colors.scss";
.sidebar.annotate {
  outline: none;
}

div.list-group-item.btn-clear-annotation {
  padding-left: 0px;
  padding-right: 0px;
}

button.btn.btn-primary.btn-block.btn-clear-annotation {
  margin-left: 0px;
  margin-right: 0px;
}

div.sidebar-project.no-annotation {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar-project.no-annotation,
.list-group-item.no-annotation{
  border-style: none;
}

div.list-group-item.no-annotation {
  padding-left: 0px;
  padding-right: 0px;
}

.panel.panel-off-white.no-annotation {
  height: 75px;
  border: 1px solid $gray-lightest;
  background-color: $off-white;
}
.panel.panel-off-white.no-annotation p {
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
}

.list-group-item.filter-annotations {
  border-style: none;
  padding-left: 0px;
  padding-right: 0px;
}

.list-group-item.filter-annotations p {
  flex-direction: row;
}

.list-group-right.column-6.nogutter.filter-annotations-select select{
  width: 190px;
  height: 32px;
}

.list-group-right.column-6.nogutter.filter-annotations-select select:disabled{
  cursor: not-allowed;
}

.leaflet-popup-tip {
  background-color: $shade-normal;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-content {
  background-color: $shade-normal;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}

.leaflet-popup-content-wrapper{
  width: 250px;
}

.leaflet-popup-label {
  color: white;
  margin-right: 0px;
  width: 211px;
}

.annotate-marker{
  background: rgba($brand-primary, 0.8);
  border-radius: 50%;
  border: 2px solid rgba($shade-dark, 1);
}

.annotate-clone-marker {
  background: rgba($red, 0.5);
  border-radius: 50%;
  border: 2px solid rgba($red, 0.8);
}

.annotate-highlight-marker {
  background: rgba($red, 0);
  border-radius: 50%;
  border: 2px solid rgba($red, 0.8);
}

.annotate-hover-marker {
  background: rgba($brand-primary, 0.8);
  border-radius: 50%;
  border: 2px solid rgba($red, 1);
}

rf-annotate-sidebar-item{
  outline: none;
  .list-group-item.list-sidebar-drawn-annotations{
    border: 1px solid $gray-lightest;
  }
  &.sidebar-item-hover,
  &.sidebar-item-click{
    .list-group-item.list-sidebar-drawn-annotations{
      border: 1px solid $brand-primary;
    }
  }
}
