@import "../../../../../assets/styles/sass/settings/_colors.scss";
.sidebar-project.no-annotation,
.list-group-item.no-annotation{
    border-style: none;
}

.panel.panel-off-white.no-annotation {
    height: 75px;
    border: 1px solid #e9e9ea;
    background-color:#f5f7f7;
}
.panel.panel-off-white.no-annotation p {
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
}

.list-group-item.filter-annotations {
    border-style: none;
}

.list-group-item.filter-annotations p {
    flex-direction: row;
}

.list-group-right.column-6.nogutter.filter-annotations-select select{
    width: 190px;
    height: 32px;
}

.list-group-right.column-6.nogutter.filter-annotations-select select:disabled{
    cursor: not-allowed;
}

.leaflet-popup-tip {
   background-color: $shade-dark;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-content {
    background-color: $shade-dark;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.leaflet-popup-content-wrapper{
    width: 250px;
}

.leaflet-popup-label {
    color: white;
    margin-right: 0px;
    width: 211px;
}
