<!-- Annotate Toolbar Component -->
<rf-annotate-toolbar
  map-id="edit"
  is-labeling="$ctrl.isLabeling"
  on-shape-creating="$ctrl.onShapeCreating(isCreating)"
  on-shape-created="$ctrl.onAddShapeToDrawLayer(shapeLayer, shapeType)">
</rf-annotate-toolbar>
<!-- Annotate Toolbar Component -->

<!-- Static Sidebar -->
<div class="sidebar-project">
  <div class="sidebar-header">
    <a class="btn sidebar-header-nav-btn" ui-sref="projects.edit">
    <i class="icon-arrow-left"></i>
    </a>
    <h5 class="sidebar-title">Annotations</h5>
  </div>
  <ul class="sidebar-list">
    <li>
      <div class="label">
        <span class="text">This is some text about annotating.</span>
      </div>
      <div class="list-group-right column-6 nogutter btn-group">
        <button
          class="btn btn-primary btn-block"
          type="button"
          ng-click="$ctrl.importLocalAnnotations()"
          ng-disabled="$ctrl.isCreating">
          Import
        </button>
        <button
          class="btn btn-primary btn-block"
          type="button"
          ng-click="$ctrl.onAnnotationsExport(geoJsonAnnotation)"
          ng-disabled="$ctrl.isCreating">
          Export
        </button>
      </div>
    </li>
  </ul>
</div>
<div class="sidebar-project no-annotation">
<div class="list-group"
     ng-if="!$ctrl.annoToExport.features.length">
  <div class="list-group-item no-annotation">
    <div class="panel panel-off-white no-annotation">
      <p>No annotations have been made</p>
    </div>
  </div>
</div>
</div>
<!-- Static Sidebar -->

<!-- Scrollable Sidebar -->
<div class="sidebar-scrollable">
  <div ng-if="$ctrl.annoToExport.features.length">
      <div class="list-group">
        <div class="list-group-item filter-annotations">
          <div>
            <span><strong>Filter by label</span></strong>
          </div>
          <div class="list-group-right column-6 nogutter filter-annotations-select">
            <select
              ng-init="$ctrl.filterLabel = {'name': 'All'}"
              ng-model="$ctrl.filterLabel"
              ng-change="$ctrl.onFilterChange($ctrl.filterLabel)"
              ng-options="label.name for label in $ctrl.labelInputs track by label.name"
              ng-disabled="$ctrl.isCreating">
            </select>
          </div>
        </div>
      </div>
      <div class="list-group"
           ng-repeat="annotation in $ctrl.annoToExport.features | filter: $ctrl.labelFilter"
           ng-mouseenter="$ctrl.annotationSidebarMouseHover($event, annotation, true)"
           ng-mouseleave="$ctrl.annotationSidebarMouseHover($event, annotation, false)">
        <rf-annotate-sidebar-item
          map-id="edit"
          data="$ctrl.annoToExport"
          annotation="annotation"
          shape-type="$ctrl.drawnShapeType"
          label-inputs="$ctrl.labelInputs"
          on-cancel-add-annotation="$ctrl.onCancelAddAnnotation(id)"
          on-add-annotation="$ctrl.onAddAnnotation(id, label, description)"
          on-update-annotation-start="$ctrl.onUpdateAnnotationStart()"
          on-delete-annotation="$ctrl.onDeleteAnnotation(id, label)"
          on-cancel-update-annotation="$ctrl.onCancelUpdateAnnotation(id)"
          on-update-annotation-finish="$ctrl.onUpdateAnnotationFinish(layer, id, label, oldLabel, description)">
        </rf-annotate-sidebar-item>
      </div>
  </div>
</div>
<!-- Scrollable Sidebar -->
